workflows/templates/10281_Generate_Post_Event_Reports_with_GPT_4_Email_Delivery_Database_Storage.json
{
  "_templateId": 10281,
  "_templateName": "Generate Post-Event Reports with GPT-4, Email Delivery & Database Storage",
  "_templateDescription": "Streamline your post-event analysis with this smart n8n workflow. Triggered by a simple webhook, it instantly gathers attendee and engagement data from your event platform, calculates key metrics, and uses AI to generate a polished, professional report. The final summary is emailed to stakeholders and saved securely in a database — all without manual effort. Perfect for conferences, webinars, and corporate events. 📧📈\n\nKey Features  \nWebhook triggered** – Starts instantly via HTTP POST request  \nMulti-source data collection** – Fetches attendees & engagement metrics  \nAdvanced analytics** – Calculates attendance rates, engagement scores, top sessions  \nAI-powered insights** – Uses GPT-4 to generate professional reports  \nAuto-email delivery** – Sends report to stakeholders  \nDatabase archiving** – Saves reports to PostgreSQL  \n\nWhat it Analyzes  \nAttendance rates & check-ins  \nAverage session time  \nEngagement scores (polls, Q&A, networking)  \nTop performing sessions  \nAttendee breakdown (by role & company)  \nAI-generated insights & recommendations  \n\nWorkflow Process  \nThe Webhook Trigger node starts the workflow when an HTTP POST request is received with event details.  \nGet Attendees (GET)** pulls the list of registered and checked-in participants from your event system.  \nGet Engagement Metrics (GET)** retrieves interaction data like poll responses, Q&A activity, and session views.  \nProcess Metrics** calculates key stats: attendance rate, average session duration, engagement score, and ranks top sessions.  \nAI Generate Report** uses GPT-4 to create a clear, professional summary with insights and recommendations based on the data.  \nAI Agent** coordinates data flow and prepares the final report structure using chat model and memory tools.  \nSave to Database (Insert)** stores the full report and raw metrics in PostgreSQL for future reference.  \nSend Report Email** automatically emails the AI-generated report to the specified recipient.  \nSend Response** returns a confirmation back to the triggering system via webhook.  \n\nSetup Instructions  \nImport this JSON into n8n  \nConfigure credentials:  \n  Event API (for GET requests)  \n  OpenAI (GPT-4)  \n  SMTP (for email delivery)  \n  PostgreSQL (for data storage)  \nTrigger via webhook with event data  \nReceive comprehensive report via email within minutes!  \n\nPrerequisites  \nEvent platform with REST API (for attendee & engagement data)  \nOpenAI API key (GPT-4 access)  \nSMTP server credentials (Gmail, SendGrid, etc.)  \nPostgreSQL database with write access  \n\nExample Webhook Payload  \n{\n  \"eventId\": \"evt_123\",\n  \"eventName\": \"Tech Summit 2025\",\n  \"eventDate\": \"2025-10-29\",\n  \"email\": \"manager@company.com\"\n}\n\nModification Options  \nAdd custom metrics in the Process Metrics node (e.g., NPS score, feedback sentiment)  \nChange AI tone in AI Generate Report (formal, executive summary, or creative)  \nModify email template in Send Report Email with your branding  \nConnect to different data sources by updating GET nodes  \nAdd Slack or Teams notification after Send Report Email  \n\n\nReady to automate your event reporting?  \nGet in touch with us for custom n8n workflows!",
  "_templateCreatedAt": "2025-10-29T14:39:52.384Z",
  "_templateTotalViews": 2,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-21T08:16:12.866Z",
  "id": "emSWwmKVuZ5u4kGh",
  "meta": {
    "instanceId": "dd69efaf8212c74ad206700d104739d3329588a6f3f8381a46a481f34c9cc281",
    "templateCredsSetupCompleted": true
  },
  "name": "AI-Powered Post-Event Report & Summary Generator",
  "tags": [],
  "nodes": [
    {
      "id": "40f721fb-9648-4923-a897-db0901ddd7b2",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -592,
        -80
      ],
      "webhookId": "6295dc5d-b2bd-45e0-b859-28f027870a6b",
      "parameters": {
        "path": "event-report",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 1
    },
    {
      "id": "69ee8fd6-b823-4bd9-b8a0-185feb4634d4",
      "name": "Get Attendees",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -368,
        -176
      ],
      "parameters": {
        "url": "https://oneclick.com/GetAttendees",
        "options": {}
      },
      "typeVersion": 4.1
    },
    {
      "id": "08cf380e-2ab1-49ab-806b-a677c8250a3c",
      "name": "Get Engagement Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -368,
        16
      ],
      "parameters": {
        "url": "https://oneclick.com/GetEngagement",
        "options": {}
      },
      "typeVersion": 4.1
    },
    {
      "id": "874ce067-4545-4d7a-9f05-f7d19e2706bf",
      "name": "Process Metrics",
      "type": "n8n-nodes-base.code",
      "position": [
        -144,
        -80
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "c61d0bca-ff64-46c5-a9e8-a74b6c11d38c",
      "name": "AI Generate Report",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        160,
        144
      ],
      "parameters": {
        "model": "=gpt-4o-mini",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.7
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "openAiApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "43cfaa09-76a3-41f8-a907-dc55b893d266",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        432,
        -176
      ],
      "webhookId": "462313f0-1066-449e-b6bb-51254d2f0774",
      "parameters": {
        "options": {},
        "subject": "=Event Report: {{ $('Process Metrics').first().json.eventName }}",
        "toEmail": "user@example.com",
        "fromEmail": "user@example.com"
      },
      "credentials": {
        "smtp": {
          "id": "credential-id",
          "name": "smtp Credential"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "6ec7c1e0-89ab-469b-9e7c-4c789f3858c2",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "position": [
        432,
        16
      ],
      "parameters": {
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "="
        },
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "columns": {
          "value": {},
          "schema": [],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "credential-id",
          "name": "postgres Credential"
        }
      },
      "typeVersion": 2.4
    },
    {
      "id": "0013804f-9eb8-422b-8224-e7fac9b68423",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        656,
        -80
      ],
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ { \n  success: true, \n  message: 'Report generated successfully',\n  eventId: $('Process Metrics').first().json.eventId,\n  reportSent: true\n} }}"
      },
      "typeVersion": 1
    },
    {
      "id": "e97cfa0a-3df5-4a64-88d6-ec9988b59271",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        80,
        -80
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 2.2
    },
    {
      "id": "725e3338-5236-4013-8caf-bf0a287b9259",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -208
      ],
      "parameters": {
        "width": 160,
        "height": 288,
        "content": "Start via HTTP POST request"
      },
      "typeVersion": 1
    },
    {
      "id": "3c4fe130-d1e5-4327-9cde-d0bdafbdc856",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -304
      ],
      "parameters": {
        "width": 384,
        "height": 480,
        "content": "Fetches attendees & engagement metrics"
      },
      "typeVersion": 1
    },
    {
      "id": "d9c2e32b-e18d-4b1b-beec-4d25f4da5eb7",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -304
      ],
      "parameters": {
        "width": 448,
        "height": 464,
        "content": "Sends report to stakeholders\n\nSaves reports to PostgreSQL"
      },
      "typeVersion": 1
    },
    {
      "id": "68aac399-61b4-4e2b-b966-3a93a9121961",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -208
      ],
      "parameters": {
        "width": 256,
        "height": 288,
        "content": "Uses GPT-4 to generate professional reports"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "58d015a9-dfd8-418b-92be-61f190f62e19",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Attendees": {
      "main": [
        [
          {
            "node": "Process Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Metrics": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Attendees",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Engagement Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report Email": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Generate Report": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Engagement Metrics": {
      "main": [
        [
          {
            "node": "Process Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
