workflows/templates/11606_Clone_and_change_your_voice_with_Elevenlabs_and_Telegram.json
{
  "_templateId": 11606,
  "_templateName": "Clone and change your voice 🤖🎙️with Elevenlabs and Telegram",
  "_templateDescription": "This workflow creates a voice AI assistant accessible via Telegram that leverages ElevenLabs* powerful voice synthesis technology. Users can either clone their own voice or transform their voice using pre-existing voice models, all through simple voice messages sent to a Telegram bot.\n\n*ONLY FOR STARTER, CREATOR, PRO PLAN\n\nThis workflow allows users to:\nClone their voice by sending a voice message to a Telegram bot (creates a new voice profile on ElevenLabs)\nChange their voice to a cloned voice and save the output to Google Drive\n\nFor Best Results\n\nImportant Considerations for Best Results:\nFor optimal voice cloning via Telegram voice messages:\n\n\n1. Recording Quality & Environment\nRecord in a quiet room with minimal echo and background noise\nUse a consistent microphone position (10-15cm from mouth)\nEnsure clear audio without distortion or clipping\n\n2. Content Selection & Variety\nSend 1 voice messages totaling 5-10 minutes of speech\nInclude diverse vocal sounds, tones, and natural speaking cadence\nUse complete sentences rather than isolated words\n\n3. Audio Consistency\nMaintain consistent volume, tone, and distance from microphone\nAvoid interruptions, laughter, coughs, or background voices\nSpeak naturally without artificial effects or filters\n\n4. Technical Preparation\nEnsure Telegram isn't overly compressing audio (use HQ recording)\nRecord all messages in the same session with same conditions\nInclude both neutral speech and varied emotional expressions\n\nHow it works\n\nTrigger  \n   The workflow starts with a Telegram trigger that listens for incoming messages (text, voice notes, or photos).\n\nAuthorization check  \n   A Code node checks whether the sender’s Telegram user ID matches your predefined ID. If not, the process stops.\n\nMessage routing  \n   A Switch node routes the message based on its type:\n   Text → Not processed further in this flow.\n   Voice message → Sent to the “Get audio” node to retrieve the audio file from Telegram.\n   Photo → Not processed further in this flow.\n\nTwo main options  \n   From the “Get audio” node, the workflow splits into two possible paths:\n   Option 1 – Clone voice  \n     The audio file is sent to ElevenLabs via an HTTP request to create a new cloned voice. The voice ID is returned and can be saved for later use.\n   Option 2 – Voice changer  \n     The audio is sent to ElevenLabs for speech-to-speech conversion using a pre-existing cloned voice (voice ID must be set in the node parameters). The resulting audio is saved to Google Drive.\n\nOutput  \n   Cloned voice ID (for Option 1).  \n   Converted audio file uploaded to Google Drive (for Option 2).\n\nSet up steps\n\nTelegram bot setup  \n   Create a bot via BotFather and obtain the API token.  \n   Set up the Telegram Trigger node with your bot credentials.\n\nAuthorization configuration  \n   In the “Sanitaze” Code node, replace XXX with your Telegram user ID to restrict access.\n\nElevenLabs API setup  \n   Get an API key from ElevenLabs.  \n   Configure the HTTP Request nodes (“Create Cloned Voice” and “Generate cloned audio”) with:\n     API key in the Xi-Api-Key header.  \n     Appropriate endpoint URLs (including voice ID for speech-to-speech).\n\nGoogle Drive setup (for Option 2)  \n   Set up Google Drive OAuth2 credentials in n8n.  \n   Specify the target folder ID in the “Upload file” node.\n\nVoice ID configuration  \n   For voice cloning: The voice name can be customized in the “Create Cloned Voice” node.  \n   For voice changing: Replace XXX in the “Generate cloned audio” node URL with your ElevenLabs voice ID.\n\nTest the workflow  \n   Activate the workflow.  \n   Send a voice note from your authorized Telegram account to trigger cloning or voice conversion.\n\n👉 Subscribe to my new YouTube channel. Here I’ll share videos and Shorts with practical tutorials and FREE templates for n8n.\n\nNeed help customizing?  \nContact me for consulting and support or add me on Linkedin. ",
  "_templateCreatedAt": "2025-12-08T13:42:12.200Z",
  "_templateTotalViews": 74,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-21T08:17:02.229Z",
  "id": "mP0xzDliHhlMDrkO",
  "meta": {
    "instanceId": "a4bfc93e975ca233ac45ed7c9227d84cf5a2329310525917adaf3312e10d5462"
  },
  "name": "Clone and change your voice with Elevenlabs and Telegram",
  "tags": [],
  "nodes": [
    {
      "id": "9b7cade6-0ae6-45db-97a7-af3a4f6e2665",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        464
      ],
      "parameters": {
        "color": 6,
        "width": 400,
        "height": 152,
        "content": "```json\n[\n  {\n    \"voice_id\": \"XXXXXX\",\n    \"requires_verification\": false\n  }\n]\n```"
      },
      "typeVersion": 1
    },
    {
      "id": "2fc4eba3-e421-4763-be45-055a76c2c2a4",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -368,
        656
      ],
      "webhookId": "1daf438f-124b-444c-81ff-5e072dfb2a82",
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "6ca06f33-a05c-422f-a50c-c0940c40a075",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        272,
        640
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Text",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text}}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Audio",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "7b2cb4dc-dd9d-43b2-b4db-f0de858f46cc",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Immagine",
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "98d80a35-3004-4bad-95b8-e87fc9270083",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.photo[0] }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {}
      },
      "executeOnce": false,
      "typeVersion": 3.2,
      "alwaysOutputData": false
    },
    {
      "id": "861dea14-c58b-4585-9568-eb532a4e431d",
      "name": "Sanitaze",
      "type": "n8n-nodes-base.code",
      "position": [
        -48,
        656
      ],
      "parameters": {
        "jsCode": "if ($input.first().json.message.from.id !== XXX) { // Replace with your Telegram user ID\n    return { unauthorized: true };\n} else {\n    // Return the original data when authorized\n    return $input.all();\n}\n"
      },
      "typeVersion": 2
    },
    {
      "id": "0d1b850c-8ae6-4a07-8d89-53a6c9b51ed8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        544
      ],
      "parameters": {
        "color": 7,
        "width": 336,
        "height": 272,
        "content": "## STEP 1 - Sanitaze\nReplace XXXX with your Telegram user ID"
      },
      "typeVersion": 1
    },
    {
      "id": "fd9cd60d-8a1d-4197-a537-d3f1331ca248",
      "name": "Get audio",
      "type": "n8n-nodes-base.telegram",
      "position": [
        624,
        656
      ],
      "webhookId": "5f577807-d531-4b2e-8db2-4ee08fed59b4",
      "parameters": {
        "fileId": "={{ $json.message.voice.file_id }}",
        "resource": "file",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "154c90f8-6794-4982-97a7-8dfdccae8473",
      "name": "Create Cloned Voice",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1072,
        480
      ],
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/voices/add",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "multipart-form-data",
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "XXX"
            },
            {
              "name": "files",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "2f9dc078-bb6f-4d63-b612-9968e5f5721a",
      "name": "Generate cloned audio",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1088,
        864
      ],
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/speech-to-speech/XXX",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendQuery": true,
        "contentType": "multipart-form-data",
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "genericAuthType": "httpHeaderAuth",
        "queryParameters": {
          "parameters": [
            {
              "name": "output_format",
              "value": "mp3_44100_128"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "15c633e4-9ccd-42da-aa2b-f44050aed786",
      "name": "Upload file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1328,
        864
      ],
      "parameters": {
        "name": "=cloned_{{ $json.result.file_path.match(/[^/]+$/)[0] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "options": {},
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1J7_S0zPgUukmKWJglMepvf429vfQsidL",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1J7_S0zPgUukmKWJglMepvf429vfQsidL",
          "cachedResultName": "Elevenlabs"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "credential-id",
          "name": "googleDriveOAuth2Api Credential"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "ffc1771a-47b5-44d4-a4b7-607dd9eb0e42",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        320
      ],
      "parameters": {
        "color": 7,
        "width": 704,
        "height": 352,
        "content": "## OPTION 1  - CLONE YOUR VOICE\nClone and save your voice on ElevenLabs by sending a voice message from Telegram. Get your unique Voice ID.\n\nGo to Developers, create your [ElevenLabs API Key](https://try.elevenlabs.io/ahkbf00hocnu). Set Header Auth (Name: xi-api-key, Value: YOUR_API_KEY)"
      },
      "typeVersion": 1
    },
    {
      "id": "56f552ab-0c68-4f03-9155-f70aaf5c1833",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        704
      ],
      "parameters": {
        "color": 7,
        "width": 704,
        "height": 352,
        "content": "## OPTION 2 - VOICE CHANGER\nChange your voice to one from your ElevenLabs library and save the audio file to Google Drive. If you want this, connect GEt audio node to this node \n\nGo to Developers, create your [ElevenLabs API Key](https://try.elevenlabs.io/ahkbf00hocnu). Set Header Auth (Name: xi-api-key, Value: YOUR_API_KEY)"
      },
      "typeVersion": 1
    },
    {
      "id": "381944a4-240b-432f-ac0f-d8992c3d02b5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        544
      ],
      "parameters": {
        "color": 7,
        "width": 576,
        "height": 272,
        "content": "## STEP 2 - Get audio file\nIF you send and audio file from Telegram, get it"
      },
      "typeVersion": 1
    },
    {
      "id": "f8950472-e05a-4b8d-b371-5a95bc8bc04c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        32
      ],
      "parameters": {
        "width": 944,
        "height": 480,
        "content": "## Clone and change your voice with Elevenlabs and Telegram\n\n\nThis workflow creates a voice AI assistant accessible via Telegram that leverages [ElevenLabs](https://try.elevenlabs.io/ahkbf00hocnu) powerful voice synthesis technology. Users can either **clone their own voice** or **transform their voice** using pre-existing voice models, all through simple voice messages sent to a Telegram bot.\n\n### **How it works:**\n\nThe workflow is triggered by incoming Telegram messages and filters them by type. Authorized users can send voice messages that are routed to an audio-processing branch. Depending on the selected option, the audio is either sent to ElevenLabs to **clone the voice** and generate a new voice ID or used for **voice transformation** with an existing cloned voice. The converted or cloned audio is then stored in Google Drive, and the cloned voice ID is returned for later reuse.\n\n### **Setup steps:**\n\nCreate and configure a Telegram bot using BotFather, then link it to the Telegram Trigger node. Restrict access by adding your Telegram user ID in the authorization Code node. Obtain your ElevenLabs API key and set it in the HTTP Request nodes for both cloning and speech-to-speech conversion. If using Google Drive for output storage, connect OAuth2 credentials and define the upload folder. Set or replace the appropriate voice ID in node parameters, then test the workflow by sending a voice message from your authorized Telegram account.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "94a254db-83d3-453d-af40-927547ea3388",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        -448
      ],
      "parameters": {
        "width": 704,
        "height": 736,
        "content": "## MY NEW YOUTUBE CHANNEL\n\n👉 [Subscribe to my new **YouTube channel**](https://youtube.com/@n3witalia). Here I’ll share videos and Shorts with practical tutorials and **FREE templates for n8n**.\n\n[![image](https://n3wstorage.b-cdn.net/n3witalia/youtube-n8n-cover.jpg)](https://youtube.com/@n3witalia)"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "message": {
            "chat": {
              "id": 7360449246,
              "type": "private",
              "username": "n3witalia",
              "first_name": "n3w Italia"
            },
            "date": 1764939497,
            "from": {
              "id": 7360449246,
              "is_bot": false,
              "username": "n3witalia",
              "first_name": "n3w Italia",
              "language_code": "it"
            },
            "voice": {
              "file_id": "AwACAgQAAxkBAAICk2ky1ul_enjcpnMTwKm5xUe-AAH3tAACYR8AAuEVkFFY0r0Q6FZTbTYE",
              "duration": 4,
              "file_size": 86599,
              "mime_type": "audio/ogg",
              "file_unique_id": "AgADYR8AAuEVkFE"
            },
            "message_id": 659
          },
          "update_id": 976113433
        }
      }
    ]
  },
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "9fc1a7a2-e87e-415b-8fcc-44509c19362d",
  "connections": {
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Get audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitaze": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get audio": {
      "main": [
        [
          {
            "node": "Create Cloned Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Sanitaze",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate cloned audio": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
