workflows/templates/13654_Scan_WhatsApp_receipt_photos_and_track_expenses_using_Wati_and_GPT_4o.json
{
  "_templateId": 13654,
  "_templateName": "Scan WhatsApp receipt photos and track expenses using Wati and GPT-4o",
  "_templateDescription": "Transform messy receipt photos into a structured, searchable expense database in seconds. This workflow automates the entire journey from a WhatsApp message to a live Google Sheets entry by combining WATI for communication, OpenAI Vision for extraction, and automated reporting logic.\n\n🎯 What This Workflow Does\n\nTurns a simple WhatsApp photo or text command into a professional expense management system:\n\n📝 Captures Receipt Assets  \n  Receives an image or text command via WATI Trigger from the user's phone.\n\n🚦 Smart Message Routing  \n  A Switch node detects the input type:\n  Image: Routes to the AI scanning branch for receipt processing.\n  Text (\"report\"): Routes to the reporting branch to generate monthly summaries.\n\n👁️ Vision AI Analysis  \n  OpenAI GPT-4o \"looks\" at the receipt image to extract the merchant name, total amount, currency, and date.\n\n☁️ Base64 Data Processing  \n  A specialized Code node uses getBinaryDataBuffer to convert receipt images into a high-speed data URL, ensuring OpenAI always receives the actual image instead of a placeholder.\n\n📊 Automated Logging & Reporting\n  Logging: Appends validated data to Google Sheets with automated month categorization.\n  Reporting: Aggregates totals by category and sends a visual dashboard back to WhatsApp.\n\n✨ Key Features\n\nZero-Manual Entry:** AI extracts 100% of the data from the photo, including currency codes and spending categories.\nVisual Progress Reports:** The workflow generates formatted WhatsApp reports with visual percentage bars (███░░).\nAutomatic Month Tracking:** Uses Luxon date expressions to derive \"Month\" names automatically from receipt dates.\nDual-Mode Trigger:** Handles both new expense logging and historical data retrieval within a single WhatsApp chat.\nRobust Error Handling:** Includes logic to catch \"filesystem\" errors and ensure binary data is properly converted for the AI.\n\n💼 Perfect For\n\nSmall Business Owners:** Tracking business expenses on the go without saving paper receipts.\nFreelancers:** Quickly logging billable expenses for client reimbursement.\nPersonal Finance Users:** Maintaining a real-time budget directly from their primary messaging app.\nTeams:** Allowing multiple employees to \"WhatsApp\" their receipts to a central company sheet.\n\n🔧 What You'll Need\n\nRequired Integrations\n\nWATI** – To receive WhatsApp messages and send automated replies.\n\nOpenAI API** – GPT-4o Vision for image analysis and structured JSON extraction.\n\nGoogle Sheets** – To host the master expense database.\n\nOptional Customizations\n\nCurrency Conversion:** Add a node to convert all foreign expenses into your local currency automatically.\nBudget Alerts:** Set a threshold to notify you via WhatsApp if your monthly total exceeds a specific limit.\n\n🚀 Quick Start\n\nImport Template – Copy the JSON and import it into your n8n instance.\nSet Credentials – Connect your WATI, OpenAI, and Google Sheets accounts.\nConfigure Sheet – Ensure your Google Sheet has headers for:\n   timestamp\n   phone\n   vendor\n   amount\n   currency\n   date\n   category\n   month\nTest Scanning – Send a photo of a receipt to your WATI number.\nRequest Report – Type report in WhatsApp to see your spending breakdown.\n\n🎨 Customization Options\n\nCategory Mapping:** Modify the OpenAI prompt to use categories specific to your tax filing needs (e.g., \"Office Supplies,\" \"Travel\").\nFiltering Logic:** Adjust the Build Monthly Report code to show weekly instead of monthly summaries.\nMulti-User Support:** The workflow is already built to filter data based on the sender's phone number.\n\n📈 Expected Results\n\n90% reduction in time spent on monthly expense reconciliation.\n100% accuracy in date and amount extraction using GPT-4o Vision.\nReal-time visibility into spending habits without ever opening a spreadsheet.\nZero lost receipts by logging them the moment they are received.\n\n🏆 Use Cases\n\nBusiness Travel\nA consultant snaps photos of taxi and meal receipts during a trip; by the time they land, their expense sheet is already populated and categorized.\n\nPersonal Budgeting\nA user types report at the end of the week to instantly see what percentage of their budget went to \"Food\" vs \"Entertainment\".\n\nSubscription Management\nUpload screenshots of digital invoices to track monthly software costs and recurring bills.\n\n💡 Pro Tips\n\nClear Lighting:** For best AI extraction, ensure the receipt text is clear and not folded.\nKeyword Commands:** You can add more keywords like summary or last week by expanding the Route Message switch node.\nJSON Validation:** The Parse & Validate node ensures that even if the AI adds extra text, only the clean data is saved.\n\nReady to automate your expenses? Import this template and connect your WATI number to start scanning receipts today!\n`",
  "_templateCreatedAt": "2026-02-24T12:28:11.825Z",
  "_templateTotalViews": 0,
  "_templateCategory": [],
  "_fetchedAt": "2026-04-05T05:06:49.030Z",
  "meta": {
    "instanceId": "277842713620d9f5554de3b1518b865a152c8c4db680008bd8aec536fc18b4a8",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "3bf367ea-63dc-4547-aec6-5b7fd658608c",
      "name": "📋 Flow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        16
      ],
      "parameters": {
        "width": 500,
        "height": 374,
        "content": "## 📊 WhatsApp Expense Tracker – AI Receipt Scanner\n\n**How it works:**\n1. User sends a receipt photo (or text command) on WhatsApp via WATI\n2. n8n receives the webhook, detects if it's an image or text\n3. If image → OpenAI Vision extracts vendor, amount, date, category\n4. Extracted data is appended to Google Sheets\n5. If user sends `report` → monthly summary is pulled from Sheets and sent back\n\n**Setup needed:** WATI credentials, OpenAI API key, Google Sheets OAuth"
      },
      "typeVersion": 1
    },
    {
      "id": "ab271019-dd04-4b53-b6ab-78b8025ca94a",
      "name": "Sticky – Receive & Route",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        400
      ],
      "parameters": {
        "color": 7,
        "width": 548,
        "height": 484,
        "content": "### 1️⃣ Webhook + Route\n**WATI Trigger** receives incoming WhatsApp messages.\n**Switch** checks: image → receipt scan | `report` text → monthly report | anything else → help message."
      },
      "typeVersion": 1
    },
    {
      "id": "0f4b6bab-89b4-4d75-957b-d767139da255",
      "name": "Sticky – AI Scan",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        336
      ],
      "parameters": {
        "color": 7,
        "width": 808,
        "height": 420,
        "content": "### 2️⃣ Download & Scan Receipt\n**Get a media file** downloads the receipt image binary from WATI.\n**Prepare Image Code** converts the binary to a base64 data URL so OpenAI Vision can read it.\n**OpenAI GPT-4o** analyses the image and returns structured JSON."
      },
      "typeVersion": 1
    },
    {
      "id": "a81dbf8b-d435-4327-a6ff-2772794b8693",
      "name": "Sticky – Log & Confirm",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        336
      ],
      "parameters": {
        "color": 7,
        "width": 404,
        "height": 416,
        "content": "### 3️⃣ Log to Sheets + Confirm\n**Google Sheets – Append** logs the row: timestamp, phone, vendor, amount, currency, date, category, description, month.\n**WATI – Confirm** sends a session message back to the user with the logged expense summary."
      },
      "typeVersion": 1
    },
    {
      "id": "7cdee34e-1fc5-4f2c-8ca3-c62fa4f5a28f",
      "name": "Sticky – Report",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        784
      ],
      "parameters": {
        "color": 7,
        "width": 724,
        "height": 283,
        "content": "### 4️⃣ Monthly Report\n**Google Sheets – Read** fetches ALL rows, filtered in the Code node by current month.\n**Build Report Code** aggregates totals per category with visual % bars.\n**WATI – Send Report** replies with the formatted breakdown."
      },
      "typeVersion": 1
    },
    {
      "id": "01fbe3f8-b96b-4ee0-bcf2-1b867556711f",
      "name": "Route Message",
      "type": "n8n-nodes-base.switch",
      "position": [
        528,
        640
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Image Receipt",
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "2960fec3-8599-4a2d-a77c-a9204a6a9fad",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "image"
                  }
                ]
              },
              "renameOutput": true
            },
            {
              "outputKey": "Monthly Report",
              "conditions": {
                "options": {
                  "version": 1,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "ed5d4131-7461-4dbb-8ffa-6c70749a42c3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "={{ $json.text }}"
                  }
                ]
              },
              "renameOutput": true
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "88893515-d634-49d0-b457-f8b230a08a7e",
      "name": "Parse & Validate Expense",
      "type": "n8n-nodes-base.code",
      "position": [
        1520,
        528
      ],
      "parameters": {
        "jsCode": "// 1. Get the raw text content from the OpenAI extraction node\n// Note: We access .choices[0].message.content because it's a Chat Completion\nconst rawContent = $input.first().json.choices[0].message.content\nconst parsed = JSON.parse(rawContent);\n\n// 2. Reference the correct Trigger name (Wati Trigger1)\nconst triggerNode = $('Wati Trigger').first();\nconst phone = triggerNode.json.waId || triggerNode.json.from || 'unknown';\nconst senderName = triggerNode.json.senderName || 'User';\n\n// 3. Create the expense object\nconst now = new Date();\nconst expenseRow = {\n  timestamp: now.toISOString(),\n  phone: phone,\n  senderName: senderName,\n  vendor: parsed.vendor || parsed.merchant || 'Unknown Vendor',\n  amount: parsed.amount || parsed.total || 0,\n  currency: parsed.currency || 'INR',\n  date: parsed.date || now.toISOString().split('T')[0],\n  category: parsed.category || 'Other',\n  description: parsed.description || ''\n};\n\nreturn { json: expenseRow };"
      },
      "typeVersion": 2
    },
    {
      "id": "411fe9db-8c1f-4319-bd11-d93161178880",
      "name": "Google Sheets – Log Expense",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1808,
        528
      ],
      "parameters": {
        "columns": {
          "value": {
            "date ": "={{ $json.date }}",
            "month": "={{ DateTime.fromISO($json.date).monthLong }}",
            "phone": "={{ $json.phone }}",
            "amount": "={{ $json.amount }}",
            "vendor": "={{ $json.vendor }}",
            "category": "={{ $json.category }}",
            "currency": "={{ $json.currency }}",
            "timestamp": "={{ $json.timestamp }}",
            "description": "={{ $json.description }}"
          },
          "schema": [
            {
              "id": "timestamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "vendor",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "amount",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "currency",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date ",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "date ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "month",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "month",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IgLWByzBp46IeTnxt_5I4jpmJh31Z0TIh7gBpoQjCSQ/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1IgLWByzBp46IeTnxt_5I4jpmJh31Z0TIh7gBpoQjCSQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IgLWByzBp46IeTnxt_5I4jpmJh31Z0TIh7gBpoQjCSQ/edit?usp=drivesdk",
          "cachedResultName": "wati - expense"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kz2DdSp11rxqwlFt",
          "name": "Google Sheets account - Deepanshi"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "5a3cccd1-35bd-4851-a1bc-b8051261c0ab",
      "name": "Google Sheets – Read This Month",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1008,
        912
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IgLWByzBp46IeTnxt_5I4jpmJh31Z0TIh7gBpoQjCSQ/edit#gid=0",
          "cachedResultName": "Expenses"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1IgLWByzBp46IeTnxt_5I4jpmJh31Z0TIh7gBpoQjCSQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IgLWByzBp46IeTnxt_5I4jpmJh31Z0TIh7gBpoQjCSQ/edit?usp=drivesdk",
          "cachedResultName": "wati - expense"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Kz2DdSp11rxqwlFt",
          "name": "Google Sheets account - Deepanshi"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "8a7e4899-b4f3-4f17-87b1-6d9d59f8a116",
      "name": "Build Monthly Report",
      "type": "n8n-nodes-base.code",
      "position": [
        1216,
        912
      ],
      "parameters": {
        "jsCode": "// ── Build Monthly Report ──────────────────────────────────────────\n// Reads all rows, filters to current month, aggregates by category.\n\nconst allRows = $input.all();\nconst now = new Date();\nconst currentMonth = now.toISOString().substring(0, 7); // YYYY-MM\nconst callerPhone = $('Wati Trigger').first().json.waId\n\n// Filter only this month & this user's expenses\nconst rows = allRows.filter(r => {\n  const rowMonth = r.json.month || (r.json.timestamp || '').substring(0, 7);\n  const rowPhone = r.json.phone || '';\n  return rowMonth === currentMonth && rowPhone === callerPhone;\n});\n\nconst monthLabel = now.toLocaleString('default', { month: 'long', year: 'numeric' });\n\nif (!rows || rows.length === 0) {\n  return [{ json: { reportText: `📊 No expenses recorded for *${monthLabel}* yet.\\n\\nSnap a receipt photo to start tracking!` } }];\n}\n\n// Aggregate by category\nconst categoryTotals = {};\nlet grandTotal = 0;\nlet currency = 'USD';\n\nfor (const row of rows) {\n  const cat = row.json.category || 'Other';\n  const amt = parseFloat(row.json.amount) || 0;\n  currency = row.json.currency || currency;\n  categoryTotals[cat] = (categoryTotals[cat] || 0) + amt;\n  grandTotal += amt;\n}\n\n// Build formatted WhatsApp message with visual bars\nconst lines = [`📊 *Monthly Expense Report*`, `📅 *${monthLabel}*`, ''];\n\nconst sorted = Object.entries(categoryTotals).sort((a, b) => b[1] - a[1]);\nfor (const [cat, total] of sorted) {\n  const pct = grandTotal > 0 ? ((total / grandTotal) * 100) : 0;\n  const filledBars = Math.round(pct / 10);\n  const bar = '█'.repeat(filledBars) + '░'.repeat(10 - filledBars);\n  lines.push(`${bar} *${cat}*`);\n  lines.push(`  ${currency} ${total.toFixed(2)}  (${pct.toFixed(1)}%)`);\n  lines.push('');\n}\n\nlines.push(`━━━━━━━━━━━━━━━━━━`);\nlines.push(`💰 *Total Spent: ${currency} ${grandTotal.toFixed(2)}*`);\nlines.push(`🧾 *Receipts logged: ${rows.length}*`);\nlines.push('');\nlines.push('Snap a receipt photo to log a new expense!');\n\nreturn [{ json: { reportText: lines.join('\\n'), grandTotal, currency, count: rows.length } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "47eef0fa-7eb6-495b-8ba4-d78bf81c92ff",
      "name": "Prepare Image for OpenAI1",
      "type": "n8n-nodes-base.code",
      "position": [
        1136,
        528
      ],
      "parameters": {
        "jsCode": "// Get the item and its binary data reference\nconst item = $input.first();\nconst binaryPropertyName = 'data'; // Ensure this matches your binary field name\nconst binaryData = item.binary?.[binaryPropertyName];\n\nif (!binaryData) {\n  throw new Error(`No binary data found in property \"${binaryPropertyName}\".`);\n}\n\n// Retrieve the actual file buffer from n8n's storage\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryPropertyName);\n\n// Convert that buffer into a real Base64 string\nconst base64String = buffer.toString('base64');\nconst mimeType = binaryData.mimeType || 'image/jpeg';\n\nreturn {\n  json: {\n    mimeType: mimeType,\n    // This will now contain the ACTUAL image code, not \"filesystem-v2\"\n    dataUrl: `data:${mimeType};base64,${base64String}`\n  }\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "de8d0d89-cccb-4599-afff-ddb08b4f261b",
      "name": "OpenAI – Extract Receipt Data2",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1312,
        528
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 600,\n  \"temperature\": 0.1,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"You are a receipt scanning assistant. Extract the following details from this receipt image and return ONLY a raw JSON object — no explanation, no markdown, no code fences. Just the JSON.\\n\\n{\\n  \\\"vendor\\\": \\\"name of the shop, restaurant or business\\\",\\n  \\\"amount\\\": total final amount paid as a number only (no currency symbol),\\n  \\\"currency\\\": \\\"3-letter ISO currency code based on the country e.g. INR, USD, EUR, GBP\\\",\\n  \\\"date\\\": \\\"date on the receipt in YYYY-MM-DD format\\\",\\n  \\\"category\\\": \\\"pick exactly one from: Food, Transport, Utilities, Shopping, Healthcare, Entertainment, Other\\\",\\n  \\\"description\\\": \\\"one short sentence summarising what was purchased\\\"\\n}\\n\\nRules:\\n- amount must be a number, not a string\\n- If any field is not visible or unclear, set it to null\\n- Never add extra fields\\n- Never wrap in markdown or code blocks\\n- Return only the JSON, nothing else\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $json.dataUrl }}\",\n            \"detail\": \"high\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "nodeCredentialType": "openAiApi"
      },
      "credentials": {
        "openAiApi": {
          "id": "8IkhtT3EbXygnvcr",
          "name": "Mediajade"
        },
        "httpHeaderAuth": {
          "id": "GKgCj9WxmYpiz70D",
          "name": "Stripe Header Auth"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "6387db9f-7a4d-403a-9017-761e6dd4b5a2",
      "name": "Wati Trigger",
      "type": "n8n-nodes-wati.watiTrigger",
      "position": [
        336,
        656
      ],
      "webhookId": "ceb8d7d4-0ea8-4491-9bec-89f94a3feb35",
      "parameters": {
        "event": "messageReceived"
      },
      "credentials": {
        "watiApi": {
          "id": "LeAm3lDk4hC1D2Qy",
          "name": "wati - templates"
        }
      },
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "id": "f920680d-354a-41e5-871a-d8eee6847aeb",
      "name": "Get a media file1",
      "type": "n8n-nodes-wati.wati",
      "position": [
        912,
        528
      ],
      "parameters": {
        "operation": "getMedia",
        "mediaFileUrl": "={{ $json.data }}"
      },
      "credentials": {
        "watiApi": {
          "id": "LeAm3lDk4hC1D2Qy",
          "name": "wati - templates"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "60f3a0b8-afad-445b-bdd6-7000bef1e452",
      "name": "Send Expenditure message",
      "type": "n8n-nodes-wati.wati",
      "position": [
        2016,
        528
      ],
      "parameters": {
        "target": "={{ $('Wati Trigger').item.json.waId }}",
        "messageText": "=✅ *Expense Logged Successfully!*\n\n🏪 *Vendor:* {{ $('Parse & Validate Expense').item.json.vendor }}\n💰 *Amount:* {{ $('Parse & Validate Expense').item.json.currency }} {{ $('Parse & Validate Expense').item.json.amount }}\n🗂️ *Category:* {{ $('Parse & Validate Expense').item.json.category }}\n📅 *Date:* {{ $('Parse & Validate Expense').item.json.date }}\n📝 *Details:* {{ $('Parse & Validate Expense').item.json.description }}\n\nYour expense has been saved! \nType *report* to view your monthly summary 📊"
      },
      "credentials": {
        "watiApi": {
          "id": "LeAm3lDk4hC1D2Qy",
          "name": "wati - templates"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "f7e8beab-a370-420a-af95-b03d0a044c3a",
      "name": "Send Expenditure Report - month",
      "type": "n8n-nodes-wati.wati",
      "position": [
        1424,
        912
      ],
      "parameters": {
        "target": "={{ $('Wati Trigger').item.json.waId }}",
        "messageText": "={{ $('Build Monthly Report').item.json.reportText }}"
      },
      "credentials": {
        "watiApi": {
          "id": "LeAm3lDk4hC1D2Qy",
          "name": "wati - templates"
        }
      },
      "typeVersion": 1
    }
  ],
  "pinData": {
    "Wati Trigger": [
      {
        "id": "699d91010f41e0ed0044ca2c",
        "data": null,
        "text": "report",
        "type": "text",
        "waId": "917024935915",
        "owner": false,
        "created": "2026-02-24T11:52:33.1741628Z",
        "sourceId": null,
        "ticketId": "699d5bece335b461449f4b91",
        "avatarUrl": null,
        "eventType": "message",
        "forwarded": false,
        "listReply": null,
        "sourceUrl": null,
        "timestamp": "1771933951",
        "assignedId": null,
        "senderName": "Deepanshi Singhal",
        "sourceType": 7,
        "buttonReply": null,
        "operatorName": null,
        "statusString": "SENT",
        "operatorEmail": null,
        "conversationId": "699d5becb12153808a3300f0",
        "messageContact": null,
        "replyContextId": "",
        "whatsappMessageId": "wamid.HBgMOTE3MDI0OTM1OTE1FQIAEhggQUNDNjAzRjM1Q0UxQkZFNjJGNjJBOUIyODRFRkQ0NzgA",
        "frequentlyForwarded": false,
        "interactiveButtonReply": null
      }
    ]
  },
  "connections": {
    "Wati Trigger": {
      "main": [
        [
          {
            "node": "Route Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message": {
      "main": [
        [
          {
            "node": "Get a media file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets – Read This Month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a media file1": {
      "main": [
        [
          {
            "node": "Prepare Image for OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Monthly Report": {
      "main": [
        [
          {
            "node": "Send Expenditure Report - month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Expense": {
      "main": [
        [
          {
            "node": "Google Sheets – Log Expense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image for OpenAI1": {
      "main": [
        [
          {
            "node": "OpenAI – Extract Receipt Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets – Log Expense": {
      "main": [
        [
          {
            "node": "Send Expenditure message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI – Extract Receipt Data2": {
      "main": [
        [
          {
            "node": "Parse & Validate Expense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets – Read This Month": {
      "main": [
        [
          {
            "node": "Build Monthly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
