workflows/templates/13789_Log_workflow_errors_to_Slack_and_Google_Sheets.json
{
  "_templateId": 13789,
  "_templateName": "Log workflow errors to Slack and Google Sheets",
  "_templateDescription": "Who’s it for\nThis template is for teams using n8n in production who want immediate visibility into workflow failures. It’s ideal for DevOps teams, automation engineers, and operations teams who need reliable error monitoring, alerting, and historical logs without building custom observability tooling.\n\nWhat it does / How it works\nThis workflow automatically captures and logs errors whenever any other n8n workflow fails.\n\nHere’s how it works:\n\nThe Error Trigger node activates automatically when a workflow execution fails.\nIt captures key error details:\n   Workflow name  \n   Execution URL  \n   Last node executed  \n   Error message\nA formatted alert message is generated.\nThe error summary is immediately sent to a designated slack channel for real-time visibility.\nAt the same time, the full error details are appended as a new row in a Google Sheets document for long-term tracking and analysis.\n\nAll of this runs automatically with no manual intervention.\n\nRequirements\nTo use this workflow, you’ll need:\n\nSlack API credentials  \nGoogle Sheets OAuth2 credentials  \nA Slack channel for workflow alerts (e.g. #alerts-n8n-workflows)  \nA Google Sheet with columns for:\n  Workflow name  \n  Execution URL  \n  Node name  \n  Error message  \n\nHow to set up\nImport this workflow into your n8n instance.\nConnect your Slack credentials in the Slack node.\nSelect the Slack channel where alerts should be sent.\nConnect your Google Sheets credentials.\nReplace the Google Sheet ID with your own error log sheet.\nEnsure the column mappings match your sheet structure.\nActivate the workflow.\n\nOnce enabled, it will automatically monitor all workflows for failures.\n\nHow to customize the workflow\nYou can easily adapt this template to your needs:\n\nChange the Slack message format in the Set message node.\nLog additional metadata (execution time, environment, tags, etc.).\nAdd more notification channels (Email, PagerDuty, Microsoft Teams).\nExtend logging to databases or observability tools.\n\nWhy use this template\n🚀 Instant visibility into workflow failures  \n🧠 Centralized error history for debugging and audits  \n🔁 Fully automated, no manual checks required  \n🛠️ Easy to extend as your automation stack grows  \n\nThis template helps you keep your n8n automations reliable, observable, and production-ready.",
  "_templateCreatedAt": "2026-03-02T05:45:30.791Z",
  "_templateTotalViews": 0,
  "_templateCategory": [],
  "_fetchedAt": "2026-04-05T05:06:07.323Z",
  "meta": {
    "instanceId": "ae21f7ff983ee929f98e8d7968bbd21b49d1a44f2e129169348ba847d37dd5ac",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "6ea74f53-4751-410c-9731-a2b253b6673c",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -544,
        -256
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "b5ba806f-9fa2-4287-8b26-091d34e20750",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        -96,
        -256
      ],
      "webhookId": "6f5d9996-9dc1-40bc-997f-abffe5b4fb19",
      "parameters": {
        "text": "={{ $json.message }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#alerts-n8n-workflows"
        },
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "6L8H0qlbz4iNwx5m",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "08d30ea9-049c-4b5e-bce1-488bea5f1cc4",
      "name": "Set message",
      "type": "n8n-nodes-base.set",
      "position": [
        -304,
        -256
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=:warning: [prod] workflow `{{$json[\"workflow\"][\"name\"]}}` failed to run! &lt;{{ $json.execution.url }}|execution&gt;\n\nerror message from node: {{ $json.execution.lastNodeExecuted }}\n {{ $json.execution.error.message }}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "id": "211af477-e53e-47da-9f85-e0af1f1fe1e1",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -96,
        -16
      ],
      "parameters": {
        "columns": {
          "value": {
            "url": "{{ $json.execution.url }}",
            "node": "{{ $json.execution.lastNodeExecuted }}",
            "workflow": "{{$json[\"workflow\"][\"name\"]}}",
            "error message": "{{ $json.execution.error.message }}"
          },
          "schema": [
            {
              "id": "workflow",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "workflow",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "url",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "node",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "node",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "error message",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "error message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16NKSpoO7Ib5cKbWsTtlrcod8a_0P6TBUivf-E9E-i9U/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "16NKSpoO7Ib5cKbWsTtlrcod8a_0P6TBUivf-E9E-i9U",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16NKSpoO7Ib5cKbWsTtlrcod8a_0P6TBUivf-E9E-i9U/edit?usp=drivesdk",
          "cachedResultName": "workflow error logs"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5ewVvwFTLDlJ7YzJ",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "01a479c2-d204-46d1-b9ff-de49bc3f937b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1200,
        -368
      ],
      "parameters": {
        "width": 576,
        "height": 416,
        "content": "## n8n Workflow Error Logger\n### How it works\n1. This workflow activates automatically when another n8n workflow fails.\n2. It captures essential error details, including the failing workflow's name, execution link, and the specific error message\n3. A summary message is prepared with these details.\n4. The error summary is immediately posted to a designated Slack channel.\n5. Concurrently, the full error details are appended as a new row in a specified Google Sheet for record-keeping and analysis.\n\n### Setup\n- [ ] Connect your Slack account.\n- [ ] Select the Slack channel where error alerts should be sent (e.g., `#alerts-n8n-workflows`).\n- [ ] Connect your Google Sheets account.\n- [ ] Select the Google Sheet and worksheet for logging workflow errors.\n- [ ] Activate this workflow to start monitoring for errors."
      },
      "typeVersion": 1
    },
    {
      "id": "2b432ca2-7095-4dd8-8785-691d560b80f3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -320
      ],
      "parameters": {
        "color": 7,
        "width": 400,
        "height": 208,
        "content": "## identify error"
      },
      "typeVersion": 1
    },
    {
      "id": "06ae8bcc-2c77-422d-8cc5-becb0b9b3fe1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -320
      ],
      "parameters": {
        "color": 7,
        "height": 464,
        "content": "## log error"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Slack": {
      "main": [
        []
      ]
    },
    "Set message": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Set message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
