workflows/templates/13887_Analyze_YouTube_videos_and_auto_generate_AI_reports_in_Google_Docs_with_DeepSeek.json
{
  "_templateId": 13887,
  "_templateName": "Analyze YouTube videos and auto-generate AI reports in Google Docs with DeepSeek",
  "_templateDescription": "A compact n8n workflow that accepts a YouTube link or uploaded video, pulls a transcript via Supadata.ai, runs a language-model-based video analysis agent to produce a structured report, extracts a title/metadata, then creates and updates a Google Doc with the analysis. It's designed to automate transcription → analysis → document creation for fast, repeatable video reviews.\n\nHow it works\n\nTrigger — Upload File or YouTube Link  \n   A form trigger receives a youtube_url or an uploaded file/webhook event.\n\nTranscription — Transcription using Supadata.ai  \n   Calls the transcription API using the x-api-key header to retrieve the video transcript/text.\n\nAnalysis — Analyser  \n   The transcript is passed to the Analyser LangChain agent which runs a tailored prompt (expert video analyst) and generates a plain-text report.\n\nMetadata extraction — File Name Detector  \n   The information extractor parses the analyser output to extract structured attributes such as the Title.\n\nAggregation & Merge  \n   Merge/Aggregate nodes combine the analysis and extracted fields into a single payload.\n\nDocument Creation  \n   Creating New File creates a Google Docs document using the extracted Title, and Updating Content in File inserts the analyser output into the document.\n\nOptional Follow-ups  \n   Additional nodes can forward the document link, send it to Slack, or store metadata in a database.\n\nQuick Setup Guide\n👉 Demo & Setup Video\n👉 Course\n\nNodes of interest\n\nUpload File or YouTube Link**  \n  formTrigger (webhook) — Entry point for user-supplied links or files.\n\nTranscription using Supadata.ai**  \n  httpRequest — Fetches transcript from https://api.supadata.ai/... and requires the x-api-key header.\n\nOpenRouter Chat Model / OpenRouter Chat Model1**  \n  lmChatOpenRouter — Language model nodes connected to the Analyser and File Name Detector using the model  \n  deepseek/deepseek-r1-distill-llama-70b.\n\nAnalyser**  \n  LangChain agent node that contains the expert analysis prompt and generates a full plain-text report from the transcript.  \n  Configuration includes hasOutputParser: true and retry enabled.\n\nFile Name Detector**  \n  LangChain information extractor that extracts structured attributes like Title from the analysis output.\n\nMerge / Aggregate**  \n  Combines outputs from analysis and extraction into a single payload used for document creation.\n\nCreating New File / Updating Content in File**  \n  Google Docs nodes used to create and update documents using googleDocsOAuth2Api credentials.\n\nWhat you’ll need (credentials)\n\nOpenRouter account**  \n  Used by OpenRouter Chat Model nodes. API key stored in the openRouterApi credential.\n\nSupadata.ai API key**  \n  Added in the HTTP header x-api-key in the transcription request.\n\nGoogle Docs OAuth2**  \n  googleDocsOAuth2Api credential used for creating and updating Google Docs.\n\nOptional integrations**  \n  Slack webhook, Google Drive, or database credentials if adding notifications or persistent storage.\n\nRecommended settings & best practices\n\nPrompt control**  \n  Keep the Analyser prompt explicit about required sections, output style, and how to handle missing transcripts.\n\nRetries & timeouts**  \n  Enable retries for long-running model or HTTP calls. Configure proper HTTP request timeouts.\n\nRate limits**  \n  Respect transcription and model provider rate limits. Add throttling if needed.\n\nInput validation**  \n  Validate the youtube_url before processing and handle transcript failures gracefully.\n\nChunk transcripts**  \n  Split long transcripts into chunks before sending to the LLM to avoid context limit issues.\n\nLogging & audit**  \n  Store transcripts, analysis results, and metadata for debugging and traceability.\n\nSecurity**  \n  Store API keys as n8n credentials rather than plaintext.\n\nDocument naming**  \n  Sanitize the extracted Title to prevent invalid filename characters.\n\nMonitoring**  \n  Add error notifications via email or Slack for failed runs.\n\nCustomization ideas\n\nAlternative transcription providers**  \n  Replace Supadata.ai with AssemblyAI, Whisper (self-hosted), or YouTube captions.\n\nMultiple output formats**  \n  Export results to Google Docs, PDF, or JSON metadata.\n\nSpeaker diarization**  \n  Include speaker labels and timestamps in the analysis.\n\nSummaries & highlights**  \n  Add TL;DR summaries and timestamped key moments.\n\nContent classification**  \n  Use additional LLM nodes to detect sentiment, category, or compliance issues.\n\nThumbnail generation**  \n  Capture frames from the video to generate thumbnails.\n\nWebhook callbacks**  \n  Send the document link to Slack, email, or other systems.\n\nModel routing**  \n  Use smaller models for short videos and higher-quality models for long videos.\n\nHuman review pipeline**  \n  Create a review queue for manual verification before publishing results.\n\nTags\n\nvideo-analysis  \ntranscription  \nn8n  \nlangchain  \nautomations  \ngoogle-docs  \nopenrouter  \nsupadata  \nreporting  \nworkflow",
  "_templateCreatedAt": "2026-03-05T10:09:52.284Z",
  "_templateTotalViews": 0,
  "_templateCategory": [],
  "_fetchedAt": "2026-04-05T05:05:40.850Z",
  "id": "8fuVkZJz7WDCfzBf",
  "meta": {
    "instanceId": "4764540811cbb8d2e1efff249fe019f120efdfc1d1ad5d0e40382bf91ca0b3dc",
    "templateCredsSetupCompleted": true
  },
  "name": "Video Analysis Agent",
  "tags": [],
  "nodes": [
    {
      "id": "7c913788-7b16-4275-9d9e-192d4a0a4fa4",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        992,
        448
      ],
      "parameters": {
        "model": "deepseek/deepseek-r1-distill-llama-70b",
        "options": {}
      },
      "credentials": {
        "openRouterApi": {
          "id": "XqmOhDzsviwgQ01g",
          "name": "OpenRouter account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "e4006991-464c-4d50-bbe9-03de8d2fea3a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1440,
        240
      ],
      "parameters": {},
      "typeVersion": 3.1
    },
    {
      "id": "3e1437d6-4d15-4977-8274-88a4fa99cf7d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        48
      ],
      "parameters": {
        "color": 5,
        "width": 524,
        "height": 580,
        "content": "### Transcribing\nThe workflow starts by accepting a YouTube link or uploaded video.  \nIt then sends the video to the transcription API to convert the audio into text.  \nThis transcript becomes the input for the AI analysis.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "dacfd15e-41cb-4306-853e-881724b09608",
      "name": "Transcription using Supadata.ai",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        512,
        240
      ],
      "parameters": {
        "url": "=https://api.supadata.ai/v1/youtube/transcript?url={{ $json.youtube_url }}/TLEz9eiSc5s?v=dQw4w9WgXcQ&text=true",
        "options": {},
        "sendQuery": true,
        "sendHeaders": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "<API Key>"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "980b720d-2188-4745-917e-872548d176dc",
      "name": "Analyser",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        736,
        240
      ],
      "parameters": {
        "text": "=You are an expert video analyst AI. Your task is to analyze the provided video content or transcript: {{ $json.text }}{{ $json.content }} and generate a professional, structured, and detailed report. Do not use any markdown symbols, special characters, bullet points, or formatting styles like asterisks, hashes, or hyphens. The report should be clean, plain text, and clearly organized using labeled sections.\n\nThe report must include the following sections:\n\nExecutive Summary\nProvide a brief and concise overview of the video's main message or purpose. Summarize the core idea conveyed.\n\nKey Topics and Themes\nList and describe the main subjects or themes addressed in the video. Explain the context and relevance of each.\n\nImportant Insights\nHighlight critical points, facts, statistics, or conclusions drawn in the video. Mention any notable arguments, findings, or perspectives.\n\nContent Structure\nDescribe how the video is organized. Note the structure such as introduction, main segments, transitions, and conclusion. Include any recurring formats or styles used.\n\nTechnical Quality\nEvaluate the overall production quality of the video. Include observations on visual clarity, audio quality, background music, camera work, editing, pacing, and visual aids used.\n\nRecommendations\nProvide suggestions for improvement or actionable takeaways. Include guidance for content creators to enhance impact or for viewers to maximize value from the content.\n\nIf the video content or transcript is missing or unavailable, clearly indicate that an analysis cannot be performed due to lack of information.\n\nMaintain a professional, neutral, and objective tone throughout the report. Ensure the content is easy to read and informative for all audiences.\n\n",
        "options": {},
        "promptType": "define",
        "hasOutputParser": true
      },
      "retryOnFail": true,
      "typeVersion": 1.8
    },
    {
      "id": "fa8fecd6-400a-4ea6-b442-1fab38831b6e",
      "name": "File Name Detector",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        1072,
        240
      ],
      "parameters": {
        "text": "={{ $json.output }}",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        },
        "attributes": {
          "attributes": [
            {
              "name": "Title",
              "required": true,
              "description": "Document Title"
            }
          ]
        }
      },
      "retryOnFail": true,
      "typeVersion": 1
    },
    {
      "id": "c12b64f7-2fb1-41db-b67f-61be8d3bc26e",
      "name": "Creating New File",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        1888,
        240
      ],
      "parameters": {
        "title": "={{ $json.Title[0] }}",
        "folderId": "191GOMY_IVzDJtDeHc5j65MOUWpC623LD"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "JViWJO2WM046KeZP",
          "name": "Google Docs account"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "42992016-bdab-482a-8812-c6e9eb30b090",
      "name": "Updating Content in File",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        2112,
        240
      ],
      "parameters": {
        "actionsUi": {
          "actionFields": [
            {
              "text": "={{ $('Analyser').item.json.output }}",
              "action": "insert"
            }
          ]
        },
        "operation": "update",
        "documentURL": "={{ $json.id }}"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "JViWJO2WM046KeZP",
          "name": "Google Docs account"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "6fdbc4de-e634-46e9-8035-27cd022554d8",
      "name": "Upload File or YouTube Link",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        288,
        240
      ],
      "webhookId": "60dfe2a1-5710-4d24-aed0-056215a0188e",
      "parameters": {
        "options": {},
        "formTitle": "Video Link",
        "formFields": {
          "values": [
            {
              "fieldLabel": "youtube_url",
              "placeholder": "Enter YouTube URL (optional)"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "b944f1cf-fee2-49ae-82e9-67e0aa511a57",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1664,
        240
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "renameField": true,
              "outputFieldName": "Title",
              "fieldToAggregate": "output.Title"
            },
            {
              "renameField": true,
              "outputFieldName": "Summary",
              "fieldToAggregate": "output"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "b6a8ba7b-b6a3-4e5f-bd53-e97d7aef7d45",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        48
      ],
      "parameters": {
        "color": 5,
        "width": 716,
        "height": 580,
        "content": "### Analyzing\nThe transcript is passed to an AI agent that acts as a video analyst.  \nIt reads the full transcript, extracts insights, and generates a structured analysis report along with key metadata like the title.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "54ecec92-8033-4e93-8c85-7ddc0c7730eb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1424,
        48
      ],
      "parameters": {
        "color": 5,
        "width": 924,
        "height": 580,
        "content": "### Storing\nFinally, the workflow creates a Google Docs file using the extracted title.  \nThe generated analysis report is inserted into the document, allowing easy sharing, documentation, and future reference.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "440cdb11-7a50-40b0-9e0b-0fc91314848a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        48
      ],
      "parameters": {
        "width": 492,
        "height": 788,
        "content": "A compact n8n workflow that accepts a YouTube link or uploaded video, pulls a transcript via Supadata.ai, runs a language-model-based video analysis agent to produce a structured report, extracts a title/metadata, then creates and updates a Google Doc with the analysis. It's designed to automate transcription → analysis → document creation for fast, repeatable video reviews.\n\n---\n# How it works\n\n1. **Trigger — Upload File or YouTube Link**  \n2. **Transcription — Transcription using Supadata.ai**  \n3. **Analysis — Analyser**  \n4. **Metadata extraction — File Name Detector**  \n5. **Aggregation & Merge**  \n6. **Document Creation**  \n\n# Quick Setup Guide\n👉 [Demo & Setup Video](https://drive.google.com/file/d/1g0rY7bbZrsFLnZjDfhXURR5WViywnYNw/view?usp=sharing)\n👉 [Course](https://www.udemy.com/course/n8n-automation-mastery-build-ai-powered-enterprise-ready/?referralCode=2EAE71591D3BEB80F2CC)\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "205ddaf8-8d55-4256-92f2-87c971f2aa63",
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyser": {
      "main": [
        [
          {
            "node": "File Name Detector",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Creating New File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creating New File": {
      "main": [
        [
          {
            "node": "Updating Content in File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Name Detector": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "File Name Detector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload File or YouTube Link": {
      "main": [
        [
          {
            "node": "Transcription using Supadata.ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcription using Supadata.ai": {
      "main": [
        [
          {
            "node": "Analyser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
