workflows/templates/14081_Generate_bulk_Google_Slides_certificates_as_PDFs_and_email_them_with_Gmail.json
{
  "_templateId": 14081,
  "_templateName": "Generate bulk Google Slides certificates as PDFs and email them with Gmail",
  "_templateDescription": "This workflow automates the bulk generation and delivery of personalized certificates using Google Sheets, Google Slides, Google Drive, and Gmail. \n\nKey Advantages\n\n1. ✅ Full Automation\n\nThe workflow fully automates the certificate generation and distribution process, from reading participant data to delivering the final PDF certificates via email, eliminating repetitive manual tasks.\n\n2. ✅ Bulk Certificate Generation\n\nBy reading data directly from Google Sheets, the workflow can generate and send personalized certificates for many recipients in bulk, making it ideal for courses, events, webinars, or training programs.\n\n3. ✅ Dynamic Personalization\n\nEach certificate is automatically customized using placeholders in a Google Slides template, allowing the workflow to dynamically insert details such as the recipient’s name, certificate ID, or date.\n\n4. ✅ Automated PDF Export\n\nAfter personalization, the workflow automatically converts the generated Google Slides document into a PDF file, ensuring a professional and standardized certificate format.\n\n5. ✅ Seamless Email Delivery\n\nCertificates are automatically sent to recipients via Gmail, with the generated PDF attached, ensuring fast and reliable delivery without manual intervention.\n\n6. ✅ Process Tracking and Control\n\nThe workflow updates the corresponding row in Google Sheets after sending the certificate, marking it as processed. This prevents duplicate sends and provides clear visibility into which certificates have already been delivered.\n\n7. ✅ Automatic File Cleanup\n\nTemporary Google Slides files created during the generation process are automatically deleted after use, keeping Google Drive clean and organized.\n\n8. ✅ Rate-Limit Safe Processing\n\nA built-in wait step helps control the processing speed, reducing the risk of hitting Google API limits and ensuring stable execution when handling large batches of certificates.\n\n9. ✅ Easily Customizable\n\nThe workflow is modular and can be easily adapted to generate other types of documents such as invoices, reports, badges, diplomas, or event confirmations by simply modifying the Google Slides template and sheet structure.\n\nHow it works\n\nThis workflow automates the process of generating personalized certificates in bulk from a Google Slides template and emailing them to recipients.\n\nTrigger & Data Source: The workflow is started manually (\"Test workflow\"). It first reads data from a Google Sheet (named \"Certifications\") that contains the recipient list, including their name, email, and a unique ID number (\"N.\"). It filters this sheet to only process rows where the \"Sent\" column is empty.\n\nBatch Processing: The data is passed to a \"Split In Batches\" node, which processes the recipients one at a time to ensure each certificate is handled individually and to prevent API rate limits.\n\nCertificate Generation (Per Recipient):\n    Copy Template: For each person, the workflow creates a unique copy of a master Google Slides presentation (the certificate template). The copy is named using the recipient's ID (e.g., Certificate_1).\n    Personalize Slides: It then sends a request to the Google Slides API to replace placeholder text within the copied presentation. It replaces [Name], [Date], and [N] with the recipient's actual data.\n    Export to PDF: The personalized Google Slides file is exported as a PDF.\n    Save PDF: The generated PDF is saved to a specified folder (\"n8n\") in Google Drive. The filename includes the recipient's ID (e.g., certificate_1.pdf).\n\nNotification & Cleanup:\n    Send Email: A Gmail node sends a congratulatory email to the recipient's address. The previously generated PDF is automatically attached to this email.\n    Mark as Processed: The workflow updates the original Google Sheet, placing an \"x\" in the \"Sent\" column for the processed row to prevent duplicate processing in the future.\n    Delete Temp File: Finally, the unique copy of the Google Slides presentation (the intermediate file) is deleted from Google Drive, leaving only the final PDF.\n\nLoop & Pacing: After processing one recipient, the workflow waits for 10 seconds before moving to the next person in the list. This \"Wait\" node acts as a throttle to avoid overwhelming the Google APIs.\nSet up steps\n\nTo make this workflow work for you, you need to configure the following elements:\n\nPrepare the Google Sheets Source:\n    Create a Google Sheet with the following columns: N., First Name, Last Name, Email, Sent.\n    Populate the sheet with your recipient data. Leave the Sent column blank for new entries.\n    In the workflow: Update the documentId in the Read File and Mark as Processed nodes to point to your specific Google Sheet.\n\nPrepare the Google Slides Template:\n    Create a Google Slides presentation to serve as your certificate template.\n    In the slides, insert the placeholder texts exactly as they appear in the workflow: [Name], [Date], and [N]. These are the strings that will be replaced.\n    In the workflow: Find the Copy Slides Template node and replace the xxx in the URL with the file ID of your Google Slides template. (The template ID is the long string in the middle of the presentation's URL).\n\nConfigure Google Drive Folders:\n    Decide where in Google Drive you want the final PDFs to be saved.\n    In the workflow: In the Save PDF to Drive node, update the folderId property to the ID of your target folder.\n\nAuthenticate Google Services:\n    The workflow uses three separate Google credentials (Drive, Slides, Sheets, Gmail). You must connect each node to your own Google account by creating or selecting the appropriate OAuth2 credentials within n8n for:\n        googleDriveOAuth2Api\n        googleSlidesOAuth2Api\n        googleSheetsOAuth2Api\n        gmailOAuth2\n\nVerify Gmail Content:\n    Review the HTML email body in the Send a message node. You can modify the text, colors, and the LinkedIn link as needed. Ensure the attachment is set to use the binary data from the Export to PDF node.\n\n👉 Subscribe to my new YouTube channel. Here I’ll share videos and Shorts with practical tutorials and FREE templates for n8n.\n\nNeed help customizing?  \nContact me for consulting and support or add me on Linkedin.",
  "_templateCreatedAt": "2026-03-16T09:45:03.414Z",
  "_templateTotalViews": 1,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:42:53.764Z",
  "id": "2ihlAZ1ciTaRcK4D",
  "meta": {
    "instanceId": "a4bfc93e975ca233ac45ed7c9227d84cf5a2329310525917adaf3312e10d5462",
    "templateCredsSetupCompleted": true
  },
  "name": "Bulk certificate generator with Google Slides",
  "tags": [],
  "nodes": [
    {
      "id": "7e27628a-143d-4695-a7d5-99c16cf41706",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        496,
        272
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "d31e2c79-a934-4e43-a867-8698907d28c5",
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1024,
        272
      ],
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "typeVersion": 3
    },
    {
      "id": "2f920ad0-869f-425f-93cc-ef74b7e4323d",
      "name": "Copy Slides Template",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1280,
        288
      ],
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/xxx/copy",
        "method": "POST",
        "options": {},
        "jsonBody": "={{ JSON.stringify({ name: 'Certificate_' + $json['N.'] }) }}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HEy5EuZkgPZVEa9w",
          "name": "Google Drive account (n3w.it)"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "60648c15-95db-48b4-9eee-3b1666285bfc",
      "name": "Replace Template Placeholders",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1488,
        288
      ],
      "parameters": {
        "url": "=https://slides.googleapis.com/v1/presentations/{{ $json.id }}:batchUpdate",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"replaceAllText\": {\n        \"containsText\": { \"text\": \"[Name]\", \"matchCase\": false },\n        \"replaceText\": \"{{ $('Process One at a Time').item.json['First Name'] }} {{ $('Process One at a Time').item.json['Last Name'] }}\"\n      }\n    },\n    {\n      \"replaceAllText\": {\n        \"containsText\": { \"text\": \"[Date]\", \"matchCase\": false },\n        \"replaceText\": \"{{ $now.format('dd/LL/yyyy') }}\"\n      }\n    },\n    {\n      \"replaceAllText\": {\n        \"containsText\": { \"text\": \"[N]\", \"matchCase\": false },\n        \"replaceText\": \"#{{ $('Process One at a Time').item.json['N.'] }}\"\n      }\n    }\n  ]\n}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSlidesOAuth2Api"
      },
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "HuT9vQXbjmHQ0YQD",
          "name": "Google Slides account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "4f13e912-7e8f-4e4f-9295-9535bcd9ed40",
      "name": "Export to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1712,
        288
      ],
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Copy Slides Template').item.json.id }}/export?mimeType=application/pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        },
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSlidesOAuth2Api"
      },
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "HuT9vQXbjmHQ0YQD",
          "name": "Google Slides account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "616681e9-bf9d-4713-913f-b84ddeee1d1f",
      "name": "Save PDF to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1280,
        960
      ],
      "parameters": {
        "name": "=certificate_{{ $('Process One at a Time').item.json['N.'] }}.pdf",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "options": {},
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1tkCr7xdraoZwsHqeLm7FZ4aRWY94oLbZ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tkCr7xdraoZwsHqeLm7FZ4aRWY94oLbZ",
          "cachedResultName": "n8n"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HEy5EuZkgPZVEa9w",
          "name": "Google Drive account (n3w.it)"
        }
      },
      "typeVersion": 3,
      "alwaysOutputData": true
    },
    {
      "id": "57962326-14e2-49bb-b46e-40ada76f8d99",
      "name": "Mark as Processed",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1520,
        960
      ],
      "parameters": {
        "columns": {
          "value": {
            "Sent": "x",
            "row_number": "={{ $('Process One at a Time').item.json.row_number }}"
          },
          "schema": [
            {
              "id": "N.",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "N.",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "First Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Last Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Sent",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Sent",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fHcfilCPpI4aAiJFQC3cPIAdJMmctMubz3kcOeai1yA/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1fHcfilCPpI4aAiJFQC3cPIAdJMmctMubz3kcOeai1yA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fHcfilCPpI4aAiJFQC3cPIAdJMmctMubz3kcOeai1yA/edit?usp=drivesdk",
          "cachedResultName": "Certifications"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYR6a64Qecd6t8Hb",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "c3db4aa9-ff10-4054-81bb-232bb7c874cd",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1280,
        608
      ],
      "webhookId": "35ae9b92-da2f-4aa6-a942-8a929f50e66a",
      "parameters": {
        "sendTo": "={{$('Process One at a Time').item.json['Email']}}",
        "message": "=\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4; padding: 40px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff; border-radius:8px; overflow:hidden;\">\n\n          <!-- Header -->\n          <tr>\n            <td style=\"background-color:#ff6d5a; padding: 32px 40px; text-align:center;\">\n              <h1 style=\"margin:0; color:#ffffff; font-size:24px; font-weight:bold;\">🎉 Congratulations!</h1>\n            </td>\n          </tr>\n\n          <!-- Body -->\n          <tr>\n            <td style=\"padding: 40px 40px 24px 40px; color:#333333; font-size:15px; line-height:1.7;\">\n              <p style=\"margin:0 0 16px 0;\">Dear <strong>{{$('Process One at a Time').item.json['First Name']}} {{$('Process One at a Time').item.json['Last Name']}}</strong>,</p>\n              <p style=\"margin:0 0 16px 0;\">Congratulations on successfully completing the <strong>n8n course</strong>!</p>\n              <p style=\"margin:0 0 16px 0;\">It has been a pleasure having you on this learning journey. Your commitment and dedication throughout the course have been truly commendable, and we hope the knowledge and skills you gained will make a real difference in your day-to-day work.</p>\n              <p style=\"margin:0 0 16px 0;\">Please find attached your <strong>official certificate of completion</strong>. We encourage you to share it proudly — you've earned it.</p>\n              <p style=\"margin:0 0 16px 0;\">Thank you for being part of this program, and we wish you all the best in your automation journey.</p>\n            </td>\n          </tr>\n\n          <!-- CTA -->\n          <tr>\n            <td style=\"padding: 0 40px 40px 40px; text-align:center;\">\n              <p style=\"margin:0 0 24px 0; color:#333333; font-size:15px;\">Share your achievement on LinkedIn and let the world know!</p>\n              <a href=\"https://www.linkedin.com\" style=\"background-color:#ff6d5a; color:#ffffff; text-decoration:none; padding:14px 32px; border-radius:6px; font-size:15px; font-weight:bold; display:inline-block;\">Share on LinkedIn</a>\n            </td>\n          </tr>\n\n          <!-- Footer -->\n          <tr>\n            <td style=\"background-color:#f4f4f4; padding: 24px 40px; text-align:center; border-top:1px solid #e0e0e0;\">\n              <p style=\"margin:0; color:#999999; font-size:12px;\">This email was sent by n3w Italia · <a href=\"https://n3w.it\" style=\"color:#ff6d5a; text-decoration:none;\">n3w.it</a></p>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        },
        "subject": "Your n8n Certificate"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "nyuHvSX5HuqfMPlW",
          "name": "Gmail account (n3w.it)"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "14b280e9-b95d-4fba-8990-be9881a950fd",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1984,
        944
      ],
      "parameters": {},
      "typeVersion": 3.2
    },
    {
      "id": "08598641-28bd-4baa-8c6b-021e5c1485e7",
      "name": "Wait 10s",
      "type": "n8n-nodes-base.wait",
      "position": [
        2240,
        944
      ],
      "webhookId": "bulk-cert-wait",
      "parameters": {
        "amount": 10
      },
      "typeVersion": 1.1
    },
    {
      "id": "57f6a4e7-b234-4514-8608-4beec902ce5b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        144
      ],
      "parameters": {
        "color": 7,
        "width": 656,
        "height": 304,
        "content": "## STEP 2 - Template\nReplace xxx with the Google Slides base template file id [like this](https://docs.google.com/presentation/d/1YWYsNfq4FeHP03MSYFz1cobVczBHWxwEW95BE4w0FHc/edit?slide=id.p#slide=id.p).\nAfter personalization, the workflow automatically converts the generated Google Slides document into a **PDF file**"
      },
      "typeVersion": 1
    },
    {
      "id": "b8e5e740-7d8c-4293-b39d-d119c6aad242",
      "name": "Delete Temp Slide",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1744,
        960
      ],
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Copy Slides Template').item.json.id }}",
        "method": "DELETE",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSlidesOAuth2Api"
      },
      "credentials": {
        "googleSlidesOAuth2Api": {
          "id": "HuT9vQXbjmHQ0YQD",
          "name": "Google Slides account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "43d185ba-e4ea-4abe-b86d-b9d1045e4830",
      "name": "Read File",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        752,
        272
      ],
      "parameters": {
        "options": {},
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Sent"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fHcfilCPpI4aAiJFQC3cPIAdJMmctMubz3kcOeai1yA/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1fHcfilCPpI4aAiJFQC3cPIAdJMmctMubz3kcOeai1yA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fHcfilCPpI4aAiJFQC3cPIAdJMmctMubz3kcOeai1yA/edit?usp=drivesdk",
          "cachedResultName": "Certifications"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JYR6a64Qecd6t8Hb",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "336bcffe-1625-4882-8838-14ccbab5ce9e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        144
      ],
      "parameters": {
        "color": 7,
        "width": 528,
        "height": 304,
        "content": "## STEP 1 - DB\nClone [this Sheet](https://docs.google.com/spreadsheets/d/1fHcfilCPpI4aAiJFQC3cPIAdJMmctMubz3kcOeai1yA/edit?usp=sharing). The workflow can generate and send personalized certificates for many recipients in bulk, making it ideal for courses, events, webinars, or training programs."
      },
      "typeVersion": 1
    },
    {
      "id": "dc1f88c2-1c9e-408a-920f-c291b51e2858",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        -384
      ],
      "parameters": {
        "width": 672,
        "height": 480,
        "content": "## Bulk certificate generator with Google Slides\n\n\n### How it works\n\nThis workflow bulk-generates personalized certificates by reading recipient data from Google Sheets and processing only rows that have not been marked as sent. For each recipient, it creates a copy of a Google Slides certificate template, replaces placeholders such as name, date, and certificate number, exports the personalized slide deck as a PDF, saves it to Google Drive, emails it through Gmail, updates the source sheet to mark the row as processed, and deletes the temporary Slides file. A batch loop plus a 10-second wait keeps processing stable and helps avoid Google API rate limits.\n\n### Setup steps\n\nSet up a Google Sheet with recipient data and columns for certificate number, name, email, and sent status, then point the workflow’s Google Sheets nodes to that document. Create a Google Slides template with the exact placeholders `[Name]`, `[Date]`, and `[N]`, update the template file ID in the copy step, and choose the Google Drive folder where generated PDFs will be stored. After that, connect valid Google OAuth2 credentials for Drive, Slides, Sheets, and Gmail in n8n, then review the Gmail node content and confirm the PDF attachment is sourced from the export step.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "308eda62-8989-4d70-8781-9da27efc2b46",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        480
      ],
      "parameters": {
        "color": 7,
        "width": 656,
        "height": 304,
        "content": "## STEP 3 - Email\nCertificates are automatically sent to recipients"
      },
      "typeVersion": 1
    },
    {
      "id": "54863914-ad67-4fee-939c-ac670c4a26cf",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        816
      ],
      "parameters": {
        "color": 7,
        "width": 656,
        "height": 304,
        "content": "## STEP 4 - Save to Google Drive\nTemporary Google Slides files created during the generation process are automatically deleted after use, keeping **Google Drive clean and organized**."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "126885b7-4e9d-4f57-9275-332dc333853f",
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Process One at a Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export to PDF": {
      "main": [
        [
          {
            "node": "Save PDF to Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Temp Slide": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mark as Processed": {
      "main": [
        [
          {
            "node": "Delete Temp Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save PDF to Drive": {
      "main": [
        [
          {
            "node": "Mark as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Slides Template": {
      "main": [
        [
          {
            "node": "Replace Template Placeholders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One at a Time": {
      "main": [
        [],
        [
          {
            "node": "Copy Slides Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Template Placeholders": {
      "main": [
        [
          {
            "node": "Export to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
