workflows/templates/14156_Auto_publish_new_WordPress_posts_to_Pinterest_with_PinBridge.json
{
  "_templateId": 14156,
  "_templateName": "Auto-publish new WordPress posts to Pinterest with PinBridge",
  "_templateDescription": "This workflow automatically turns WordPress posts into Pinterest publish jobs using PinBridge as the publishing layer.\n\nIt is designed for bloggers, publishers, affiliate sites, and content teams that already publish to WordPress and want a repeatable way to distribute that content to Pinterest without manually copying titles, descriptions, links, and images every time a post goes live.\n\nThe workflow starts by querying PinBridge for existing Pins, aggregates their titles, then fetches published WordPress posts from the WordPress REST API. From there, it filters out posts that do not have featured media and skips posts whose titles already exist in PinBridge, which gives the workflow a simple duplicate-protection layer. For posts that pass that filter, the workflow builds a publish-ready payload, validates the required fields, downloads the featured image, uploads that image through PinBridge, submits the Pinterest publish job, and returns a structured success or invalid result.\n\nThe goal is not just to publish. The goal is to publish in a way that is operationally clean, easy to review, and safer to run repeatedly.\n\nWhat problem this workflow solves\n\nA common WordPress-to-Pinterest workflow usually looks like this:\n\na post is published in WordPress\nthe title already exists\nthe link already exists\nthe featured image already exists\nbut Pinterest publishing still happens manually\n\nThat manual step creates several problems:\n\npublishing is inconsistent\nsome posts are missed completely\nmetadata gets copied differently every time\nduplicate publishing becomes easy when you rerun the process\nscaling beyond a handful of posts becomes annoying\n\nThis workflow solves that by turning WordPress into the content source and PinBridge into the publishing layer, with n8n sitting in the middle as the orchestrator.\n\nWhen you run the workflow, it does the following:\n\nLists existing Pins from PinBridge\nAggregates their titles into a reference list\nFetches published posts from WordPress\nSkips posts that do not have featured media\nSkips posts whose titles already exist in PinBridge\nBuilds a Pinterest-ready payload from the post\nValidates that the required fields are present\nDownloads the featured image\nUploads the image to PinBridge\nSubmits the Pin publish job through PinBridge\nReturns a success or invalid result\n\nThat gives you a practical operational loop with a built-in first layer of duplicate protection.\n\nWhy PinBridge is used here\n\nThis workflow is intentionally built around PinBridge instead of direct Pinterest API plumbing.\n\nPinBridge is the publishing layer in the middle. In this workflow:\n\nWordPress** is the content source\nn8n** is the orchestration layer\nPinBridge** is the publishing layer that receives the image asset and submits the Pinterest publish job\n\nThat separation keeps the workflow focused on the things n8n should be doing:\n\nreading content from the CMS\nfiltering and validating data\nchecking whether a post appears to have already been published\ndownloading media\npassing a clean payload into the publishing layer\nhandling the returned job submission result\n\ninstead of forcing the workflow to become a full Pinterest delivery implementation.\n\nWhat this workflow does differently from the simpler version\n\nThis updated version adds an important protection step before WordPress posts are processed:\n\nExisting Pin title check\n\nThe workflow starts with the List pins node, which loads existing Pins from PinBridge.\n\nThen the Published Titles aggregate node collects those titles into a single list.\n\nLater, inside Skip Posts Without Featured Media, the workflow checks two things at once:\n\nthe WordPress post has featured media\nthe cleaned WordPress post title is not already present in the aggregated PinBridge title list\n\nThat means this workflow is no longer just “publish latest posts.” It is now closer to:\n\npublish posts that have images and do not already appear to be published to Pinterest\n\nThis is still lightweight duplicate protection, not a perfect deduplication system, but it is a meaningful improvement for a community template.\n\nWhat you need before you begin\n\nYou need five things before importing and running this workflow:\n\nAn n8n instance\nA WordPress site with REST API access\nA WordPress credential in n8n\nA PinBridge account\nA connected Pinterest account and the target board ID you want to publish to\n\nStep 1: Create your PinBridge account\n\nCreate your PinBridge account first.\n\nGo to pinbridge.io and register. A free account is enough to start testing the workflow.\n\nYou will need:\n\na PinBridge API key\nthe connected Pinterest account you want to publish to\n\nTo connect the Pinterest account inside PinBridge, go to:\n\nApp &gt; Accounts &gt; Connect &gt; Give Access\n\nMake sure the correct Pinterest account is connected before you continue.\n\nStep 2: Create a PinBridge API key\n\nInside PinBridge, create an API key that will be used by the n8n workflow.\n\nTo create a new key, go to:\n\nApp &gt; API Keys &gt; Create\n\nWhen creating the key:\n\ngive it a clear name such as n8n-wordpress-publish\nstore it securely\ndo not hardcode it into random HTTP nodes\nuse the PinBridge n8n credential field instead\n\nAfter the key is created, go into n8n and create the PinBridge credential used by the PinBridge nodes in this workflow.\n\nStep 2.5: Install the PinBridge n8n community node\n\nBefore this workflow can run, your n8n instance must have the PinBridge community node installed.\n\nThis workflow uses the following PinBridge nodes:\n\nList pins**\nUpload Image to PinBridge**\nPublish to Pinterest**\n\nIf the PinBridge node is not installed, these nodes will either be missing or show as unknown after import.\n\nInstall from the n8n UI\n\nIf your n8n instance allows community nodes:\n\nOpen Settings\nGo to Community Nodes\nClick Install\nEnter the PinBridge package name:\n   n8n-nodes-pinbridge\nConfirm the installation\nRestart n8n if your environment requires it\n\nAfter installation, re-open the workflow and confirm that the PinBridge nodes load correctly.\n\nInstall in self-hosted n8n from the command line\n\nIf you manage your own n8n instance, install the package in your n8n environment:\n\nnpm install n8n-nodes-pinbridge\n\nThen restart your n8n instance.\n\nIf you are running n8n in Docker, the exact installation method depends on how your container is built. In that case, add the package to your custom image or persistent community-node setup, then restart the container.\n\nVerify the installation\n\nAfter the node is installed, search for PinBridge when adding a new node in n8n.\n\nYou should see the PinBridge node available. If you do not, the installation is not complete yet, or your n8n instance has not been restarted properly.\n\nStep 3: Prepare your WordPress site\n\nThis workflow reads posts from the standard WordPress REST API using this pattern:\n\n/wp-json/wp/v2/posts?status=publish&_embed=wp:featuredmedia\n\nThat means your WordPress site must allow your n8n credential to read:\n\npublished posts\nembedded featured media\n\nAt minimum, the workflow needs access to:\n\npost title\nrendered excerpt\npermalink\nfeatured image information\n\nIf your WordPress site blocks REST API access, uses a custom security layer, or has media access restrictions, make sure your n8n credential can successfully read posts before continuing.\n\nStep 4: Import the workflow into n8n\n\nImport the workflow JSON into your n8n instance.\n\nAfter import, open the workflow and go through the credentialed nodes.\n\nYou will need to connect:\n\nthe WordPress credential\nthe PinBridge credential\n\nDo not assume imported placeholder credential IDs will work automatically. They will not.\n\nStep 5: Configure the WordPress source URL\n\nOpen the Get Latest WordPress Posts node and update the URL if needed.\n\nThe current workflow uses a direct HTTP request to:\n\nhttps://www.nomadmouse.com/wp-json/wp/v2/posts?status=publish&_embed=wp:featuredmedia\n\nIf you are using your own site, replace that domain with your own WordPress domain.\n\nThis node is currently set up to fetch all published posts with embedded featured media data.\n\nStep 6: Configure the target Pinterest account and board\n\nOpen the Publish to Pinterest node.\n\nYou must configure:\n\nthe correct accountId\nthe correct boardId\n\nThis workflow publishes to a single fixed board.\n\nThat means every qualifying WordPress post will be submitted to the same Pinterest board unless you later add routing logic.\n\nThe publish node also appends UTM parameters to the post link automatically:\n\n?utm_source=pinterest&utm_medium=social\n\nThat is useful if you want cleaner attribution in your analytics.\n\nWorkflow logic, node by node\n\nThis section explains exactly how the current workflow behaves.\n\n1. Manual Trigger\nThe workflow starts manually.\n\nThis is the right choice for a community template because it makes first-run testing easier and keeps the setup predictable.\n\nYou can later replace it with:\n\na schedule trigger\na webhook trigger\na cron-based polling flow\n\n2. List pins\nThis PinBridge node loads the existing Pins that are already known to PinBridge.\n\nThis is the first important difference from the earlier version of the template.\n\nThe workflow now begins by checking what has already been published.\n\n3. Published Titles\nThis aggregate node collects the titles returned by List pins into a single list.\n\nThat list is later used to decide whether a WordPress post should be skipped.\n\n4. Get Latest WordPress Posts\nThis node fetches published WordPress posts from the WordPress REST API with embedded featured media.\n\nThis is the source of content for the rest of the workflow.\n\n5. Skip Posts Without Featured Media\nDespite the name, this node now does two checks:\n\nit verifies that the WordPress post has featured media with a usable source URL\nit verifies that the cleaned WordPress post title is not already present in the PinBridge title list\n\nIf either of those checks fails, the post is not processed further.\n\nThis means the workflow now skips:\n\nposts without featured images\nposts that appear to already be published based on title matching\n\n6. Build Pin Payload from Post\nThis node maps WordPress fields into a Pinterest-ready payload.\n\nIt builds:\n\npost_id\ntitle\ndescription\nlink_url\nimage_url\nalt_text\n\nA practical note: the actual image used for download later comes from the embedded media path in the Download Featured Image node, not from the image_url field created here. In this workflow, image_url mainly exists to support validation and payload completeness.\n\n7. Validate Required Fields\nThis node verifies that the workflow has the minimum data needed to continue.\n\nThe required fields are:\n\ntitle\ndescription\nlink_url\nimage_url\n\nIf any are missing, the workflow goes to the invalid branch instead of attempting the publish process.\n\n8. Download Featured Image\nThis node downloads the full-size WordPress featured image as a file.\n\nThat file is what gets sent into PinBridge as the asset upload input.\n\n9. Upload Image to PinBridge\nThis sends the downloaded featured image into PinBridge.\n\nThis is the handoff point between WordPress media and the Pinterest publishing layer.\n\n10. Publish to Pinterest\nThis submits the Pin publish job using PinBridge.\n\nThe node uses:\n\nthe fixed accountId\nthe fixed boardId\nthe post title\nthe excerpt-based description\nthe canonical link with appended UTM parameters\nthe alt text\nthe dominant color field if present\n\nAt this stage, the workflow is recording successful job submission, not final downstream delivery confirmation.\n\nThat distinction matters.\n\n11. Build Success Result\nIf the publish request succeeds, the workflow builds a clean result object containing:\n\npost_id\ntitle\nlink_url\njob_id\nstatus = submitted\nsubmitted_at\nerror_message = ''\n\nThis gives you a structured output you can later log, store, or notify from.\n\n12. Build Invalid Result\nIf required fields are missing, the workflow creates an invalid result object instead of attempting submission.\n\nThat protects the publishing path from clearly incomplete content.\n\nWhy this workflow still stops at job submission\n\nThis is deliberate.\n\nThis template is focused on the WordPress-to-PinBridge submission phase, not the full async lifecycle.\n\nThat keeps the first version understandable and easy to run.\n\nA separate workflow should handle:\n\nwebhook verification\nfinal publish confirmation\npublish failure notifications\nretries\npost-submission auditing\n\nThat separation is cleaner and more realistic operationally.\n\nExpected first-run behavior\n\nWhen you run the workflow for the first time:\n\nexisting PinBridge titles are loaded first\nWordPress posts with no featured image are skipped\nWordPress posts whose titles already exist in PinBridge are skipped\nvalid new posts are converted into publish jobs\nsuccessful submissions return a PinBridge job_id\ninvalid posts return an invalid result object\n\nThis means not every WordPress post fetched from the API will go through the publish path.\n\nThat is intentional.\n\nHow to test safely\n\nDo not start by pointing this at a very large live content set and assuming the filter is perfect.\n\nStart with a small controlled test:\n\none post with a featured image and a new title\none post with no featured image\none post whose title already matches an existing Pin title\n\nThen run the workflow manually.\n\nA good outcome looks like this:\n\nthe no-image post is skipped\nthe already-published-title post is skipped\nthe new post is submitted successfully and returns a job_id\n\nThat proves the key branches are working.\n\nCommon setup mistakes\n\nThe WordPress domain was not replaced\nIf you import this template and leave the original WordPress URL in place, you will be reading the wrong site.\n\nThe post title match logic is too strict or too loose\nThis workflow uses title matching as a duplicate-protection shortcut.\n\nThat is useful, but not perfect.\n\nIf two unrelated posts share the same title, the newer one may be skipped.\nIf the title changes slightly, the workflow may treat it as new.\n\nThis is acceptable for a starter template, but you should know the limitation.\n\nThe board ID is wrong\nA board name is not enough. Use the real board ID expected by PinBridge.\n\nThe wrong PinBridge account ID is used\nIf the account context is wrong, the publish node may fail even though the rest of the workflow looks fine.\n\nThe post excerpt is empty\nThis workflow builds the description from the rendered WordPress excerpt. If your site does not use excerpts consistently, you may want to add a fallback from post content later.\n\nThe featured image path in the payload differs from the actual download source\nThe Build Pin Payload from Post node currently stores image_url from _links, while the actual download node uses _embedded'wp:featuredmedia'.media_details.sizes.full.source_url.\n\nThat works in the current flow because the download node uses the embedded media URL directly, but it is something you should be aware of if you refactor later.\n\nRecommended extensions after initial success\n\nOnce the base workflow is working, the best next extensions are:\n\nAdd schedule-based polling\nRun the workflow every 15 minutes, every hour, or on your editorial cadence.\n\nAdd stronger duplicate protection\nInstead of title matching only, track:\n\nWordPress post ID\ncanonical URL\nstored publish state in Google Sheets, Airtable, or a database\n\nAdd board routing\nMap WordPress categories or tags to different Pinterest boards.\n\nAdd final status handling\nUse a separate workflow to receive PinBridge webhook callbacks, verify signatures, and record the final publish state.\n\nAdd notifications\nSend a Slack or Telegram message after each successful submission or failure.\n\nAdd excerpt fallback logic\nIf a post has no excerpt, derive a safe short description from the rendered content.\n\nMinimum data contract for successful runs\n\nA post is publishable only if all of the following are true:\n\nthe post exists\nthe post has a title\nthe post has a usable excerpt-based description\nthe post has a permalink\nthe post has featured media\nthe featured image can be downloaded\nthe post title does not already appear in the existing PinBridge title list\nthe PinBridge credential is valid\nthe PinBridge account ID is correct\nthe target board ID is correct\n\nIf any of those are false, the post should not be treated as publish-ready.\n\nSummary\n\nThis workflow is a practical WordPress-to-Pinterest starter template with a built-in lightweight duplicate check.\n\nIt uses:\n\nWordPress** as the content source\nn8n** as the orchestration layer\nPinBridge** as the Pinterest publishing layer\n\nCompared to the earlier version, this one adds an important operational improvement: it checks existing PinBridge titles before attempting to publish new WordPress posts.\n\nThat makes it more useful as a real starter workflow, not just a happy-path demo.\n\nIf your WordPress site is reachable, your posts have featured images and excerpts, your PinBridge credential is configured, and your Pinterest account and board are correct, you should be able to run this workflow successfully from start to finish.\n\nQuick setup checklist\n\nBefore running the workflow, confirm all of the following:\n\nPinBridge account created\nPinBridge API key created\nPinBridge credential added in n8n\nPinBridge community node installed\nWordPress credential added in n8n\nthe WordPress domain in the HTTP request node is correct\ncorrect Pinterest account ID entered in the publish node\ncorrect target board ID entered in the publish node\nWordPress REST API is reachable\nthe test post has:\n  title\n  permalink\n  featured image\n  usable excerpt\nexisting PinBridge titles can be listed successfully\n\nIf all of that is true, the workflow is ready to run.\n",
  "_templateCreatedAt": "2026-03-18T12:22:38.102Z",
  "_templateTotalViews": 0,
  "_templateCategory": [],
  "_fetchedAt": "2026-04-05T05:04:52.706Z",
  "meta": {
    "instanceId": "6a6847ac2a077f8c4be90f29048ef6606c84d2c531025adef678c7e064dfa88a",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "c4e5be13-21a3-4801-8999-a5b04c4e7aa8",
      "name": "Get Latest WordPress Posts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        928,
        576
      ],
      "parameters": {
        "url": "=https://www.mywordpresssite.com/wp-json/wp/v2/posts?status=publish&_embed=wp:featuredmedia",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi"
      },
      "credentials": {
        "wordpressApi": {
          "id": "BjywLbBsBM7Vgdvr",
          "name": "Anna Carter Creds"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "046ba645-ed8e-429d-968f-2f6dabab655b",
      "name": "Build Pin Payload from Post",
      "type": "n8n-nodes-base.set",
      "position": [
        1888,
        560
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "wp-post-id",
              "name": "post_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "wp-title",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title.rendered.replace(/<[^>]*>/g, '').trim() }}"
            },
            {
              "id": "wp-description",
              "name": "description",
              "type": "string",
              "value": "={{ ($json.excerpt && $json.excerpt.rendered ? $json.excerpt.rendered.replace(/<[^>]*>/g, '').trim() : '').slice(0, 450) }}"
            },
            {
              "id": "wp-link",
              "name": "link_url",
              "type": "string",
              "value": "={{ $json.link }}"
            },
            {
              "id": "wp-image",
              "name": "image_url",
              "type": "string",
              "value": "={{ $json._links['wp:featuredmedia'][0].href }}"
            },
            {
              "id": "wp-alt",
              "name": "alt_text",
              "type": "string",
              "value": "={{ $json._links['wp:featuredmedia'][0].alt_text || $json.title.rendered.replace(/<[^>]*>/g, '').trim() }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "6714ee0a-89ae-4ee9-8b6e-2357c44ed602",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "position": [
        2128,
        560
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-title",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ !!$json.title }}",
              "rightValue": true
            },
            {
              "id": "has-description",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ !!$json.description }}",
              "rightValue": true
            },
            {
              "id": "has-link",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ !!$json.link_url }}",
              "rightValue": true
            },
            {
              "id": "has-image",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ !!$json.image_url }}",
              "rightValue": true
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "8ab13a76-8445-42a3-a602-027df76f5fa3",
      "name": "Upload Image to PinBridge",
      "type": "n8n-nodes-pinbridge.pinBridge",
      "position": [
        2880,
        544
      ],
      "parameters": {
        "resource": "assets"
      },
      "credentials": {
        "pinBridgeApi": {
          "id": "HICnfZ48TdazdxaF",
          "name": "PinBridge Key Production"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "42ead53d-de04-4d88-bc04-1080291f5fca",
      "name": "Publish to Pinterest",
      "type": "n8n-nodes-pinbridge.pinBridge",
      "position": [
        3120,
        544
      ],
      "parameters": {
        "title": "={{ $('Build Pin Payload from Post').item.json.title }}",
        "altText": "={{ $('Build Pin Payload from Post').item.json.alt_text }}",
        "boardId": "1124281563167437941",
        "linkUrl": "={{ $('Build Pin Payload from Post').item.json.link_url }}?utm_source=pinterest&utm_medium=social",
        "accountId": "e3ebfe81-3854-4f56-a016-9e7fb4d7fcf7",
        "description": "={{ $('Build Pin Payload from Post').item.json.description }}",
        "dominantColor": "={{ $('Build Pin Payload from Post').item.json.dominant_color }}"
      },
      "credentials": {
        "pinBridgeApi": {
          "id": "HICnfZ48TdazdxaF",
          "name": "PinBridge Key Production"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "58122451-ba1c-4575-902f-b4b717b4ea5e",
      "name": "Build Success Result",
      "type": "n8n-nodes-base.set",
      "position": [
        3360,
        544
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "success-post-id",
              "name": "post_id",
              "type": "string",
              "value": "={{ $('Build Pin Payload from Post').item.json.post_id }}"
            },
            {
              "id": "success-title",
              "name": "title",
              "type": "string",
              "value": "={{ $('Build Pin Payload from Post').item.json.title }}"
            },
            {
              "id": "success-link",
              "name": "link_url",
              "type": "string",
              "value": "={{ $('Build Pin Payload from Post').item.json.link_url }}"
            },
            {
              "id": "success-job-id",
              "name": "job_id",
              "type": "string",
              "value": "={{ $json.id }}"
            },
            {
              "id": "success-status",
              "name": "status",
              "type": "string",
              "value": "submitted"
            },
            {
              "id": "success-timestamp",
              "name": "submitted_at",
              "type": "string",
              "value": "={{ $now }}"
            },
            {
              "id": "success-error",
              "name": "error_message",
              "type": "string",
              "value": ""
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "a0e1e84b-821c-4ac7-b9ac-b571d4e54e6e",
      "name": "Build Invalid Result",
      "type": "n8n-nodes-base.code",
      "position": [
        2096,
        1024
      ],
      "parameters": {
        "jsCode": "return [{ json: { status: 'invalid', error_message: 'Post is missing one or more required fields: title, description, link_url, image_url', post_id: $json.post_id || '' } }];"
      },
      "typeVersion": 2
    },
    {
      "id": "4c8987bd-ae1b-4411-88d9-f3aef5584385",
      "name": "Download Featured Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2640,
        544
      ],
      "parameters": {
        "url": "={{ $('Get Latest WordPress Posts').item.json._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "fa7c50c3-819f-4e23-aa6e-ecd617ebd868",
      "name": "List pins",
      "type": "n8n-nodes-pinbridge.pinBridge",
      "position": [
        448,
        576
      ],
      "parameters": {
        "operation": "list"
      },
      "credentials": {
        "pinBridgeApi": {
          "id": "HICnfZ48TdazdxaF",
          "name": "PinBridge Key Production"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "c3f82872-68df-4c11-a4f7-c930fdf46f74",
      "name": "Published Titles",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        688,
        576
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "1cfc59cd-f39c-45a1-8ce3-248f1564ac67",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        208,
        576
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "56ed507b-a60a-4520-a8f5-4f8cced117ce",
      "name": "Skip Posts Invalid Posts",
      "type": "n8n-nodes-base.if",
      "position": [
        1344,
        576
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-featured-media",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ !!$json._embedded && !!$json._embedded['wp:featuredmedia'] && !!$json._embedded['wp:featuredmedia'][0] && !!$json._embedded['wp:featuredmedia'][0].source_url && !$('Published Titles').first().json.title.includes($json.title.rendered.replace(/<[^>]*>/g, '').trim()) }}",
              "rightValue": true
            },
            {
              "id": "37df239c-9840-4e2c-a436-2ebdbcf893d2",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "f7185abb-5066-4cf7-9a1d-3326d6e996a4",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        -256
      ],
      "parameters": {
        "color": 2,
        "width": 860,
        "height": 448,
        "content": "# Publish WordPress posts to Pinterest with duplicate protection\n\nThis template uses **WordPress as the content source**, **n8n as the orchestration layer**, and **PinBridge as the publishing layer**.\n\n### How it works\n1. Load existing PinBridge pins\n2. Aggregate their titles\n3. Fetch published WordPress posts\n4. Skip posts that are **invalid**\n5. Build a Pinterest-ready payload\n6. Validate the required fields\n7. Download the featured image\n8. Upload the image to PinBridge\n9. Submit the Pinterest publish job\n10. Return a structured success or invalid result\n"
      },
      "typeVersion": 1
    },
    {
      "id": "4d9b6869-e0ad-4a6e-b211-c82d0eb418c2",
      "name": "Sticky Note - Setup",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        -256
      ],
      "parameters": {
        "color": 2,
        "width": 760,
        "height": 440,
        "content": "## Setup checklist\n\nBefore running this workflow, replace placeholders and connect credentials:\n\n- Add a **WordPress** credential\n- Add a **PinBridge** credential\n- Replace `https://www.mywordpresssite.com`\n- Confirm the target **Pinterest account ID**\n- Confirm the target **board ID**\n- Confirm your WordPress REST API returns published posts with `_embed=wp:featuredmedia`\n\n\nThis workflow appends `?utm_source=pinterest&utm_medium=social` to the destination URL in the publish step for better analytics.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "8cf28038-8ece-4e54-9436-0c6a72a1dd6d",
      "name": "Sticky Note - Existing pins and source posts",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        304
      ],
      "parameters": {
        "color": 4,
        "width": 904,
        "height": 448,
        "content": "## Build the reference set and fetch source posts\n\n`List pins` loads existing PinBridge pins.\n\n`Published Titles` aggregates existing titles into a single list that the workflow uses as a lightweight duplicate-protection layer.\n\n`Get Latest WordPress Posts` then fetches published posts with embedded featured media from the WordPress REST API.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "8d76d1fe-ebc7-4e20-96d4-092ae32410eb",
      "name": "Sticky Note - Skip invalid posts",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1120,
        304
      ],
      "parameters": {
        "width": 588,
        "height": 448,
        "content": "## Skip invalid posts early\n\n`Skip Posts Invalid Posts` is the first protection layer.\n\nA post continues only when:\n- featured media exists with a usable source URL\n- the cleaned WordPress title is **not** already published by this workflow\n\nPosts that fail this check are treated as **invalid** and skipped.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "39b9567d-7b04-40d5-a103-5557900056af",
      "name": "Sticky Note - Build and validate payload",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        304
      ],
      "parameters": {
        "color": 6,
        "width": 668,
        "height": 456,
        "content": "## Build a publish-ready payload\n\n`Build Pin Payload from Post` maps WordPress data into:\n- `post_id` | `title` | `description` | `link_url` | `image_url` | `alt_text`\n\n\n`Validate Required Fields` then checks that the minimum publish fields are present before the workflow touches any external publish steps.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "0c074d13-fce2-4db0-8441-9823ac2aafb5",
      "name": "Sticky Note - Publish path",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        304
      ],
      "parameters": {
        "color": 5,
        "width": 1048,
        "height": 452,
        "content": "## Valid posts: download, upload, submit\n\nFor valid posts, the workflow:\n1. Downloads the full-size featured image\n2. Uploads the image asset to PinBridge\n3. Submits the Pinterest publish job\n4. Builds a structured success result\n"
      },
      "typeVersion": 1
    },
    {
      "id": "0a3e6072-9786-481f-9b7f-f5f8cd5007e3",
      "name": "Sticky Note - Invalid result branch",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2064,
        816
      ],
      "parameters": {
        "color": 3,
        "width": 540,
        "height": 376,
        "content": "## Invalid result branch\n\nIf required fields are missing after payload construction, `Build Invalid Result` returns a structured object instead of attempting submission.\n\nThis keeps incomplete content away from the publishing path and makes the workflow easier to review during testing.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "13067a5d-9d30-402c-88c1-ef41a182feb1",
      "name": "Sticky Note - Scope",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1872,
        -256
      ],
      "parameters": {
        "color": 2,
        "width": 708,
        "height": 448,
        "content": "## What this template covers\n\nThis template is intentionally scoped to:\n- list existing pins\n- fetch WordPress posts\n- skip invalid or already-published posts\n- submit new publish jobs\n- return structured results\n\n\nA separate workflow should handle webhook callbacks, final publish confirmation, retries, notifications, and reporting.\n"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "List pins": {
      "main": [
        [
          {
            "node": "Published Titles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List pins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Published Titles": {
      "main": [
        [
          {
            "node": "Get Latest WordPress Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Pinterest": {
      "main": [
        [
          {
            "node": "Build Success Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Featured Image": {
      "main": [
        [
          {
            "node": "Upload Image to PinBridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Posts Invalid Posts": {
      "main": [
        [
          {
            "node": "Build Pin Payload from Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Download Featured Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Invalid Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to PinBridge": {
      "main": [
        [
          {
            "node": "Publish to Pinterest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest WordPress Posts": {
      "main": [
        [
          {
            "node": "Skip Posts Invalid Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pin Payload from Post": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
