workflows/templates/14167_Scrape_search_and_browse_the_web_with_a_Firecrawl_AI_agent_webhook.json
{
  "_templateId": 14167,
  "_templateName": "Scrape, search and browse the web with a Firecrawl AI agent webhook",
  "_templateDescription": "Turn any prompt into structured web data. Send a POST request with a natural language prompt and an optional JSON schema, and get back clean, structured results scraped from the web by an AI agent powered by Firecrawl.\n\nUse Cases\n\nData Enrichment**: Feed company names or URLs from your CRM and get back structured firmographic data (industry, funding, team size, tech stack).\nLead Generation**: Ask the agent to find pricing, contact pages, or product details for a list of competitors.\nMarket Research**: Extract structured pricing plans, feature comparisons, or product catalogs from any website.\nContent Aggregation**: Pull structured news, events, or job postings from across the web on a schedule.\nSales Intelligence**: Enrich prospect lists with company info, recent news, or tech stack details before outreach.\n\nHow It Works\n\nPOST /webhook/scrape-agent\n\nReceive Scrape Request receives a POST request with prompt and an optional output_schema.\nValidate Output Schema checks the schema. If none is provided, it falls back to a permissive default. If the schema is malformed, it returns a clear error via Return Schema Error.\nResearch & Extract Web Data takes the prompt and uses the full Firecrawl toolkit to research the web:\n   Search (/search): Finds relevant pages and sources across the web.\n   Scrape (/scrape): Extracts clean, structured content from any URL.\n   Browser (context, create, execute, list, delete): Gives the agent full browser navigation powers to interact with JavaScript-heavy pages, click through elements, and extract data that static scraping cannot reach.\n   \n   This combination gives the AI agent complete web navigation capabilities. It can discover sources, read pages, and interact with dynamic content autonomously.\nFormat Response to Schema (Structured Output Parser) formats the agent's response to match the provided (or default) schema.\nReturn Structured Results sends the structured JSON back to the caller.\n\nSetup Requirements\n\nFirecrawl API Key**: Sign up at firecrawl.dev and grab your API key. Connect it in the Firecrawl credential nodes.\nLLM Provider**: Configure your Primary Chat Model and Fallback Chat Model nodes (e.g., OpenRouter, OpenAI, Anthropic). The template uses two model nodes for reliability, plus a separate Parser Chat Model for the output parser.\nn8n Instance**: Self-hosted or cloud. Make sure the webhook node is set to accept POST requests.\n\nAPI Reference\n\nEndpoint\n\nPOST https://your-n8n-instance/webhook/scrape-agent\n\nRequest Body\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| prompt | string | Yes | Natural language instruction for the agent |\n| output_schema | object | No | JSON Schema defining the desired output structure |\n\nResponse\n\nReturns a JSON object matching the provided schema, or a flexible object if no schema was given.\n\nTesting Examples\n\n1. Basic Request (No Schema)\n\nThe agent decides the output structure on its own.\n\ncurl -X POST \"https://your-n8n-instance/webhook/scrape-agent\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"prompt\": \"Find the latest pricing for Firecrawl\"\n  }' | jq\n\nExpected output: A JSON object with whatever structure the agent finds most appropriate for the data. Since no schema was provided, the internal default ({ \"type\": \"object\", \"additionalProperties\": true }) is used.\n\n2. Request With a Custom Schema\n\nYou define exactly the shape of data you want back.\n\ncurl -X POST \"https://your-n8n-instance/webhook/scrape-agent\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"prompt\": \"Find the latest pricing for Firecrawl\",\n    \"output_schema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"source\": { \"type\": \"string\" },\n        \"plans\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"name\": { \"type\": \"string\" },\n              \"price\": { \"type\": \"string\" },\n              \"credits\": { \"type\": \"string\" },\n              \"highlights\": {\n                \"type\": \"array\",\n                \"items\": { \"type\": \"string\" }\n              }\n            }\n          }\n        }\n      }\n    }\n  }' | jq\n\nExpected output:\n\n{\n  \"output\": {\n    \"source\": \"https://www.firecrawl.dev/pricing\",\n    \"plans\": [\n      {\n        \"name\": \"Free\",\n        \"price\": \"$0 (one-time)\",\n        \"credits\": \"500 credits (one-time)\",\n        \"highlights\": [\n          \"Scrape up to 500 pages\",\n          \"2 concurrent requests\",\n          \"Low rate limits\",\n          \"No credit card required\"\n        ]\n      },\n      {\n        \"name\": \"Hobby\",\n        \"price\": \"$16/month (billed yearly, save $38)\",\n        \"credits\": \"3,000 credits / month\",\n        \"highlights\": [\n          \"Scrape up to 3,000 pages\",\n          \"5 concurrent requests\",\n          \"Basic support\",\n          \"$9 per extra 1k credits\"\n        ]\n      }\n    ]\n  }\n}\n\n3. Invalid Schema (String Instead of Object)\n\ncurl -X POST \"https://your-n8n-instance/webhook/scrape-agent\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"prompt\": \"Find the latest pricing for Firecrawl\",\n    \"output_schema\": \"not a valid schema\"\n  }' | jq\n\nExpected output:\n\n{\n  \"error\": true,\n  \"message\": \"Invalid output_schema: must be a JSON object with a valid 'type' property (object, array, string, number, boolean)\",\n  \"example_schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"name\": { \"type\": \"string\" },\n      \"price\": { \"type\": \"number\" }\n    }\n  }\n}\n\n4. Invalid Schema (Array Instead of Object)\n\ncurl -X POST \"https://your-n8n-instance/webhook/scrape-agent\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"prompt\": \"Find the latest pricing for Firecrawl\",\n    \"output_schema\": [1, 2, 3]\n  }' | jq\n\nExpected output: Same error response as above.\n\n5. Invalid Schema (Missing type Property)\n\ncurl -X POST \"https://your-n8n-instance/webhook/scrape-agent\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"prompt\": \"Find the latest pricing for Firecrawl\",\n    \"output_schema\": {\n      \"properties\": {\n        \"name\": { \"type\": \"string\" }\n      }\n    }\n  }' | jq\n\nExpected output: Same error response as above.\n\n6. Invalid Schema (Invalid type Value)\n\ncurl -X POST \"https://your-n8n-instance/webhook/scrape-agent\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\n    \"prompt\": \"Find the latest pricing for Firecrawl\",\n    \"output_schema\": {\n      \"type\": \"banana\"\n    }\n  }' | jq\n\nExpected output: Same error response as above.\n\nWorkflow Architecture\n\nReceive Scrape Request (POST)\n  |\n  v\nValidate Output Schema\n  |--- Error --&gt; Return Schema Error (error JSON)\n  |--- Success --&gt; Research & Extract Web Data (AI Agent)\n                     |\n                     |--- Primary Chat Model\n                     |--- Fallback Chat Model\n                     |--- Search & Scrape:\n                     |      - Search the Web (/search)\n                     |      - Scrape Webpage Content (/scrape)\n                     |--- Browser Tool:\n                     |      - Get Browser Context\n                     |      - Create Browser Session\n                     |      - Execute Browser Code\n                     |      - List Browser Sessions\n                     |      - Delete Browser Session\n                     |\n                     v\n                   Return Structured Results\n                     |\n                     |--- Format Response to Schema (Output Parser)\n                            |\n                            |--- Parser Chat Model\n\nSchema Validation Logic\n\nThe Validate Output Schema node runs this validation before passing data to the agent:\n\nIf output_schema is missing or null, the default permissive schema is used: { \"type\": \"object\", \"additionalProperties\": true }.\nIf output_schema is present, it must be a JSON object (not a string, array, or primitive).\nIt must have a type property with a valid value: object, array, string, number, or boolean.\nIf validation fails, the workflow returns an error response with a helpful message and example schema.\n\nCustomization Ideas\n\nAdd authentication**: Protect the webhook with an API key header check in the Validate Output Schema node.\nAdd memory**: Connect a memory node to the Research & Extract Web Data agent for multi-turn conversations.\nChain with other workflows**: Call this webhook from other n8n workflows to enrich data in pipelines.\nSwap LLM providers**: Replace the model nodes with any supported provider (OpenAI, Anthropic, Google, etc.).\nLog requests**: Add a Google Sheets or database node after the webhook to log all queries and results.\n\nNotes\n\nThe Format Response to Schema node (Structured Output Parser) requires the schema to be passed as a JSON string. The expression {{ JSON.stringify($('Validate Output Schema').item.json.output_schema) }} handles this conversion.\nThe agent has access to Firecrawl's full toolkit: search, scrape, and browser automation. With all three connected, the agent has complete web navigation powers. It can discover sources via search, extract content via scrape, and interact with dynamic JavaScript-heavy pages via the browser. It autonomously decides which tools to use based on the prompt.\nResponse times vary depending on the complexity of the prompt and how many pages the agent needs to visit. Simple lookups take a few seconds; deep research can take longer.",
  "_templateCreatedAt": "2026-03-18T19:06:35.875Z",
  "_templateTotalViews": 2,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:42:51.652Z",
  "id": "hn1y61DcnIr8E6pE",
  "meta": {
    "instanceId": "ba63db282a94e75c9ed970aa4cb5b2f9d6030188b3dfa060dd78ea9e1993f61a",
    "templateCredsSetupCompleted": true
  },
  "name": "Scrape, search and browse the web via a single AI agent webhook",
  "tags": [],
  "nodes": [
    {
      "id": "6f21b809-debb-4a9f-8be8-b0e6b392226b",
      "name": "Create browser session in Firecrawl",
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "position": [
        432,
        144
      ],
      "parameters": {
        "resource": "Browser",
        "operation": "browserCreate",
        "requestOptions": {}
      },
      "credentials": {
        "firecrawlApi": {
          "id": "2SnLAelRpQ8H5tju",
          "name": "Firecrawl account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "082064e1-c41d-4f71-964b-f125ec856e7d",
      "name": "Execute browser code in Firecrawl",
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "position": [
        592,
        144
      ],
      "parameters": {
        "code": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Code', ``, 'string') }}",
        "timeout": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timeout__Seconds_', ``, 'number') }}",
        "resource": "Browser",
        "operation": "browserExecute",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', ``, 'string') }}",
        "requestOptions": {}
      },
      "credentials": {
        "firecrawlApi": {
          "id": "2SnLAelRpQ8H5tju",
          "name": "Firecrawl account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "b74273d7-6d14-4bc8-b6e6-6de9232bddda",
      "name": "List browser sessions in Firecrawl",
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "position": [
        752,
        144
      ],
      "parameters": {
        "resource": "Browser",
        "operation": "browserList",
        "requestOptions": {}
      },
      "credentials": {
        "firecrawlApi": {
          "id": "2SnLAelRpQ8H5tju",
          "name": "Firecrawl account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "01c3fb8d-f5d7-4966-8746-2118401463ff",
      "name": "Delete browser session in Firecrawl",
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "position": [
        928,
        144
      ],
      "parameters": {
        "resource": "Browser",
        "operation": "browserDelete",
        "sessionId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Session_ID', ``, 'string') }}",
        "requestOptions": {}
      },
      "credentials": {
        "firecrawlApi": {
          "id": "2SnLAelRpQ8H5tju",
          "name": "Firecrawl account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "40657040-12cf-4275-8d15-acba7238a17f",
      "name": "Receive Scrape Request",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -640,
        -544
      ],
      "webhookId": "48e70613-6302-4edc-9364-921e1e95929f",
      "parameters": {
        "path": "scrape-agent",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2.1
    },
    {
      "id": "0f39a3a1-1d5a-47fe-8b74-83d587b997a3",
      "name": "Validate Output Schema",
      "type": "n8n-nodes-base.code",
      "onError": "continueErrorOutput",
      "position": [
        -416,
        -544
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\n// No schema provided, use permissive default\nif (!body.output_schema) {\n  return [{\n    json: {\n      prompt: body.prompt,\n      output_schema: {\n        type: \"object\",\n        additionalProperties: true\n      }\n    }\n  }];\n}\n\n// Validate the provided schema\nconst schema = body.output_schema;\n\nif (typeof schema !== \"object\" || Array.isArray(schema)) {\n  throw new Error(\"output_schema must be a JSON object\");\n}\n\nif (!schema.type) {\n  throw new Error(\"output_schema must have a 'type' property\");\n}\n\nconst validTypes = [\"object\", \"array\", \"string\", \"number\", \"boolean\"];\nif (!validTypes.includes(schema.type)) {\n  throw new Error(`output_schema.type must be one of: ${validTypes.join(\", \")}`);\n}\n\n// Schema is valid, pass it through\nreturn [{\n  json: {\n    prompt: body.prompt,\n    output_schema: schema\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "0903dfbc-c138-40fe-9a87-d3694ed51436",
      "name": "Return Schema Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -224,
        -416
      ],
      "parameters": {
        "options": {},
        "respondWith": "json",
        "responseBody": "{\n  \"error\": true,\n  \"message\": \"Invalid output_schema: must be a JSON object with a valid 'type' property (object, array, string, number, boolean)\",\n  \"example_schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"name\": { \"type\": \"string\" },\n      \"price\": { \"type\": \"number\" }\n    }\n  }\n}"
      },
      "typeVersion": 1.5
    },
    {
      "id": "82e3a5be-9725-40b7-bee2-368726713fbe",
      "name": "Research & Extract Web Data",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        128,
        -560
      ],
      "parameters": {
        "text": "={{ $('Receive Scrape Request').item.json.body.prompt }}",
        "options": {
          "maxIterations": 40,
          "systemMessage": "Use Firecrawl's tools to search, then scrape whatever the user's prompt requires. Make sure to answer the user's query in the best way possible. Consider using search to find the URL before trying to scrape if the user does not specify one.\n\nWhen using the search tool, at least one source must be selected (web, images, or news).\n\nDo not use the search tool if you already have the URL.\n\nIMPORTANT:\nIf a URL is provided, try using the scrape tool before using the search tool.\nIf the website has heavy JavaScript or problems while fetching data (such as requiring interaction for pagination or clicking through elements), only then use the browser feature. Check the \"Browser Context\" tool to get full context on how to use the tools.\n\nDo not answer with Markdown. Your answer should be structured using spaces and line breaks, never Markdown."
        },
        "promptType": "define",
        "needsFallback": true,
        "hasOutputParser": true
      },
      "typeVersion": 3.1
    },
    {
      "id": "92ffe9b8-8c5c-4156-a7d5-03415c2d3dcd",
      "name": "Return Structured Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        560,
        -560
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1.5
    },
    {
      "id": "eaf5dd9e-082a-42a3-8143-320b7286c173",
      "name": "Primary Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        0,
        -416
      ],
      "parameters": {
        "model": "anthropic/claude-sonnet-4.6",
        "options": {}
      },
      "credentials": {
        "openRouterApi": {
          "id": "sUeQtILma9E44HnE",
          "name": "OpenRouter account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "07ae88e2-8486-4360-9ef9-0638053ba616",
      "name": "Fallback Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        160,
        -416
      ],
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "credentials": {
        "openRouterApi": {
          "id": "sUeQtILma9E44HnE",
          "name": "OpenRouter account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "a14721c8-cb72-4921-bc90-a9da27f18892",
      "name": "Parser Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        512,
        -304
      ],
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "credentials": {
        "openRouterApi": {
          "id": "sUeQtILma9E44HnE",
          "name": "OpenRouter account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "8b67b773-b64c-4668-8f94-d145f7c88a4b",
      "name": "Scrape Webpage Content",
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "position": [
        144,
        -80
      ],
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "parsers": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parsers', ``, 'string') }}",
        "operation": "scrape",
        "requestOptions": {}
      },
      "credentials": {
        "firecrawlApi": {
          "id": "2SnLAelRpQ8H5tju",
          "name": "Firecrawl account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "dccd37aa-511d-4534-bbff-a2f7df7ed65a",
      "name": "Search the Web",
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "position": [
        288,
        -80
      ],
      "parameters": {
        "limit": 3,
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "sources": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sources', ``, 'string') }}",
        "resource": "MapSearch",
        "operation": "search",
        "requestOptions": {}
      },
      "credentials": {
        "firecrawlApi": {
          "id": "2SnLAelRpQ8H5tju",
          "name": "Firecrawl account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "cf4da2e2-4c05-4cfe-8732-282acce7ee4e",
      "name": "Get Browser Context",
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "position": [
        320,
        288
      ],
      "parameters": {
        "resource": "Browser",
        "requestOptions": {},
        "descriptionType": "manual",
        "toolDescription": "Browser context in Firecrawl. ALWAYS use this before using browser tools."
      },
      "credentials": {
        "firecrawlApi": {
          "id": "2SnLAelRpQ8H5tju",
          "name": "Firecrawl account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "e6c532b8-7674-4e03-a137-9361e4dd66bf",
      "name": "Format Response to Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        528,
        -400
      ],
      "parameters": {
        "autoFix": true,
        "schemaType": "manual",
        "inputSchema": "={{ JSON.stringify($('Validate Output Schema').item.json.output_schema) }}"
      },
      "typeVersion": 1.3
    },
    {
      "id": "e01a83ec-40fc-4f61-9417-6ab8228bc12a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -1312
      ],
      "parameters": {
        "width": 624,
        "height": 688,
        "content": "## Firecrawl Scrape Agent\n\nSend a POST request with a natural language prompt and an optional JSON schema. An AI agent uses Firecrawl to research the web and return clean, structured data matching your schema.\n\n**Use cases:** data enrichment, lead generation, market research, competitor analysis, content aggregation.\n\n## How it works\n\n1. **Receive Scrape Request** accepts a POST with a `prompt` and optional `output_schema`.\n2. **Validate Output Schema** checks if the schema is valid JSON. If missing, a permissive default is used. If malformed, a clear error is returned immediately.\n3. **Research & Extract Web Data** takes the prompt and autonomously uses Firecrawl tools (scrape, search, browser automation) to find the requested information.\n4. **Format Response to Schema** parses the agent's raw output into structured JSON matching the provided or default schema.\n5. **Return Structured Results** sends the final JSON back to the caller.\n\n## Setup steps\n\n1. **Firecrawl API key:** Sign up at [firecrawl.dev](https://www.firecrawl.dev) and connect your key to all Firecrawl credential nodes.\n2. **LLM providers:** Configure the Primary Chat Model and Fallback Chat Model nodes with your preferred provider (OpenRouter, OpenAI, Anthropic, etc.). Also set up the Parser Chat Model used by the output formatter.\n3. **Activate the workflow** and copy your webhook URL.\n4. **Test it:** Send a simple POST with just a `prompt` field to confirm everything works.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "aed1789f-b333-4496-94cc-0eaa382c5dbf",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -704,
        -608
      ],
      "parameters": {
        "color": 7,
        "width": 624,
        "height": 304,
        "content": "## Input & Validation"
      },
      "typeVersion": 1
    },
    {
      "id": "49105162-8265-4b2a-97b9-c9894c228861",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -608
      ],
      "parameters": {
        "color": 7,
        "width": 512,
        "height": 304,
        "content": "## AI Agent & LLM Models"
      },
      "typeVersion": 1
    },
    {
      "id": "d67e8b7d-ab12-470d-a6e9-ae2234bcad76",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        -608
      ],
      "parameters": {
        "color": 7,
        "width": 336,
        "height": 416,
        "content": "## Output & Response"
      },
      "typeVersion": 1
    },
    {
      "id": "5fc2d6ca-ce9d-4a45-9d14-9ff08615c589",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -176
      ],
      "parameters": {
        "color": 7,
        "width": 1136,
        "height": 640,
        "content": "## Firecrawl Tools"
      },
      "typeVersion": 1
    },
    {
      "id": "405d99ee-5f86-4157-8ee1-bd89f28eaca2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        112
      ],
      "parameters": {
        "color": 5,
        "width": 784,
        "height": 320,
        "content": "## Browser Tool"
      },
      "typeVersion": 1
    },
    {
      "id": "8892d2fa-9eeb-4a92-958d-93edc1ff2a9b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        96,
        -128
      ],
      "parameters": {
        "color": 4,
        "width": 304,
        "height": 224,
        "content": "## Search & Scrape"
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "ac5cd590-f371-402e-b62e-53f87f59039f",
  "connections": {
    "Search the Web": {
      "ai_tool": [
        [
          {
            "node": "Research & Extract Web Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parser Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Format Response to Schema",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Primary Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research & Extract Web Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research & Extract Web Data",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Get Browser Context": {
      "ai_tool": [
        [
          {
            "node": "Research & Extract Web Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Receive Scrape Request": {
      "main": [
        [
          {
            "node": "Validate Output Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Webpage Content": {
      "ai_tool": [
        [
          {
            "node": "Research & Extract Web Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Validate Output Schema": {
      "main": [
        [
          {
            "node": "Research & Extract Web Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Schema Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response to Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Research & Extract Web Data",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Research & Extract Web Data": {
      "main": [
        [
          {
            "node": "Return Structured Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute browser code in Firecrawl": {
      "ai_tool": [
        [
          {
            "node": "Research & Extract Web Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List browser sessions in Firecrawl": {
      "ai_tool": [
        [
          {
            "node": "Research & Extract Web Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create browser session in Firecrawl": {
      "ai_tool": [
        [
          {
            "node": "Research & Extract Web Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete browser session in Firecrawl": {
      "ai_tool": [
        [
          {
            "node": "Research & Extract Web Data",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}
