workflows/templates/14405_Research_e_commerce_products_with_Firecrawl_and_AI_for_a_full_market_report.json
{
  "_templateId": 14405,
  "_templateName": "Research e-commerce products with Firecrawl and AI for a full market report",
  "_templateDescription": "What this workflow does\n\nThis AI agent researches any product across e-commerce marketplaces and generates a full market analysis report from a single chat message. Tell it what you're looking for, your budget, and optionally the region — it handles the rest.\n\nThe agent will:\nSearch across marketplaces (Amazon, Noon, Jumia, AliExpress, and more)\nScrape the top product pages for real pricing, ratings, and reviews\nAnalyze the data and return a structured report including market overview, top products with links, buying insights, common complaints, and a recommendation with market gap analysis for sellers\n\nKey features\n\nMulti-marketplace support**: Amazon (.com, .eg, .sa, .ae), Noon, Jumia, AliExpress, eBay\nRegional awareness**: Automatically detects Egypt, Saudi Arabia, UAE, or defaults to global search\nBilingual**: Works in English and Arabic (Egyptian dialect)\nCurrency-aware**: Uses EGP, SAR, AED, or USD based on user input\nMarket gap analysis**: Identifies selling opportunities, not just buying recommendations\n\nExample prompts\n\n\"Research the best wireless earbuds under $30\"\n\"ابحثلي عن أحسن ماكينة قهوة في مصر أقل من 2500 جنيه\"\n\"Find the best robot vacuum on Amazon under $200\"\n\"ابحثلي عن أحسن powerbank في السعودية أقل من 100 ريال\"\n\nHow it works\n\nUser sends a product research request via the chat trigger\nThe AI Agent plans a search strategy based on product, budget, and region\nFirecrawl Search finds relevant product and review pages across the web\nFirecrawl Scrape extracts detailed product data from the top results\nThe AI analyzes everything and generates a structured report with actionable insights\n\nSet up steps (takes 2 minutes)\n\nFirecrawl API key: Sign up free at firecrawl.dev and add your API key to both Firecrawl nodes\nLLM API key: Add your OpenAI or OpenRouter API key to the Chat Model node. Recommended model: any model with a large context window (e.g., Gemini 2.5 Flash, GPT-4o)\nStart researching: Click \"Open Chat\" and type your product research query\n\nWho is this for\n\nE-commerce sellers doing product research\nDropshippers finding winning products\nAffiliate marketers comparing products\nAnyone who wants to shop smarter\n\nBuilt with\n\nn8n AI Agent node\nFirecrawl (Search + Scrape)\nCompatible with OpenAI, OpenRouter, Google Gemini, and other LLM providers",
  "_templateCreatedAt": "2026-03-27T22:02:57.005Z",
  "_templateTotalViews": 0,
  "_templateCategory": [],
  "_fetchedAt": "2026-04-05T05:04:02.893Z",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Product Research Agent powered by Firecrawl",
  "tags": [],
  "nodes": [
    {
      "id": "d55bbcfa-40c4-46b1-b8c0-5e9b441868a9",
      "name": "💬 Chat Input",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -704,
        -144
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1.4
    },
    {
      "id": "14e3fcef-6af5-4136-b6de-700b88d5bede",
      "name": "🧠 Product Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        112,
        -144
      ],
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a Product Research Agent specialized in e-commerce market analysis.\n\nWhen the user asks you to research a product:\n\n1. SEARCH: Use Firecrawl Search with a specific query like:\n   \"best [product name] under [price] [year] review\"\n   Example: \"best wireless earbuds under $30 2025 review\"\n   DO NOT search directly on Amazon. Instead search for review articles and comparison pages that list multiple products with prices and ratings.\n\n2. SCRAPE: Scrape ONLY the top 2 results from the search. These review pages typically contain data about 5-10 products in one page, which is more efficient than scraping individual Amazon listings.\n\n3. ANALYZE: From the scraped review articles, extract product data and generate this report:\n\n📊 MARKET OVERVIEW\n- Number of products found\n- Price range (min / avg / max)\n- Average rating\n\n🏆 TOP 3 PRODUCTS\n- Product name, price, rating, key strength\n- Include purchase link if available\n\n💡 KEY INSIGHTS\n- Most common features customers want\n- What separates best-sellers from budget options\n\n⚠️ COMMON COMPLAINTS\n- Top 3 recurring issues from reviews\n- Red flags to avoid\n\n✅ RECOMMENDATION\n- Best product to BUY (best value)\n- Best niche opportunity to SELL (market gap)\n\nRules:\n- Respond in the same language the user writes in\n- If user writes in Arabic, respond in Egyptian Arabic\n- Keep reports concise and actionable\n- Always include source URLs\n- If scrape data is insufficient, still provide analysis based on whatever data you found\n- NEVER say you cannot generate a report. Always provide the best analysis possible with available data.\n\nREGIONAL MARKETPLACE GUIDE:\nWhen the user mentions a region or country, use these marketplaces:\n\nEgypt (مصر):\n- amazon.eg (Amazon Egypt)\n- noon.com/egypt\n- jumia.com.eg\n\nSaudi Arabia (السعودية):\n- noon.com/saudi\n- amazon.sa\n- jarir.com\n- extra.com\n\nUAE (الإمارات):\n- noon.com/uae\n- amazon.ae\n\nGlobal / No region specified:\n- amazon.com\n- aliexpress.com\n- ebay.com\n\nSEARCH STRATEGY:\n- If user specifies a marketplace: search directly on that site\n  Example query: \"wireless earbuds site:amazon.eg\"\n- If user specifies only a country: search on ALL marketplaces for that country\n  Example query: \"best wireless earbuds amazon.eg OR noon.com/egypt\"\n- If user says nothing about location: search global review sites for comparison articles\n  Example query: \"best wireless earbuds under $30 2025 review\"\n\nCURRENCY HANDLING:\n- If user mentions EGP/جنيه → prices in Egyptian Pounds\n- If user mentions SAR/ريال → prices in Saudi Riyals  \n- If user mentions AED/درهم → prices in UAE Dirhams\n- If no currency specified → prices in USD"
        },
        "promptType": "define"
      },
      "typeVersion": 3.1
    },
    {
      "id": "80108843-89c4-4758-9bf9-68135bae3a7c",
      "name": "🧠 Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -160,
        256
      ],
      "parameters": {
        "sessionKey": "product-research-agent",
        "sessionIdType": "customKey"
      },
      "typeVersion": 1.3
    },
    {
      "id": "22448363-6b99-4172-a609-222c058e1e7e",
      "name": "🔍 Search Marketplaces",
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "position": [
        448,
        448
      ],
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "resource": "MapSearch",
        "operation": "search",
        "requestOptions": {}
      },
      "credentials": {
        "firecrawlApi": {
          "id": "",
          "name": ""
        }
      },
      "typeVersion": 1
    },
    {
      "id": "859e5e3c-0b04-4d3a-88ac-548176f4cd11",
      "name": "📄 Scrape Product Pages",
      "type": "@mendable/n8n-nodes-firecrawl.firecrawlTool",
      "position": [
        656,
        448
      ],
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "operation": "scrape",
        "scrapeOptions": {
          "options": {
            "formats": {
              "format": [
                {}
              ]
            },
            "headers": {}
          }
        },
        "requestOptions": {}
      },
      "credentials": {
        "firecrawlApi": {
          "id": "",
          "name": ""
        }
      },
      "typeVersion": 1
    },
    {
      "id": "f49bb345-9cb4-4602-87d7-78debc4b8178",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1488,
        -400
      ],
      "parameters": {
        "width": 496,
        "height": 480,
        "content": "📦 AI Product Research Agent\n━━━━━━━━━━━━━━━━━━━━━━━━━\nBuilt for the n8n x Firecrawl Community Challenge (April 2026)\n\n🔍 What it does:\nResearches any product across global & regional marketplaces \nand generates a comprehensive market analysis report.\n\n✨ Features:\n- Multi-marketplace: Amazon, Noon, Jumia, AliExpress & more\n- Regional awareness: Egypt, Saudi Arabia, UAE, Global\n- Bilingual: English & Arabic (Egyptian dialect)\n- Full report: Pricing, ratings, insights, complaints & recommendations\n- Market gap analysis for sellers\n\n🛠 Setup (3 steps):\n1. Add your Firecrawl API key (free at firecrawl.dev)\n2. Add your OpenAI/OpenRouter API key\n3. Click \"Open Chat\" and start researching!\n\n👤 Built by: Osama Goda (@osamagoda)\n🌐 makeaiagents.dev"
      },
      "typeVersion": 1
    },
    {
      "id": "a886cb6c-cf9d-45f7-835c-e98ab498a4aa",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        -400
      ],
      "parameters": {
        "color": 7,
        "width": 384,
        "height": 432,
        "content": "💬 INPUT\n━━━━━━\nUser sends a product research \nrequest via chat.\n\nExamples:\n- \"Research wireless earbuds under $30\"\n- \"ابحثلي عن أحسن ماكينة قهوة في مصر أقل من 2500 جنيه\"\n- \"Find best phone cases on Amazon\""
      },
      "typeVersion": 1
    },
    {
      "id": "0c6504c9-2a69-49b3-a9bf-172fd88e41bf",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -480
      ],
      "parameters": {
        "color": 7,
        "width": 432,
        "height": 464,
        "content": "🧠 AI AGENT\n━━━━━━━━━\nOrchestrates the full research workflow:\n\n1. Receives user query\n2. Plans search strategy based on region/marketplace\n3. Calls Firecrawl tools to gather data\n4. Analyzes results with AI\n5. Generates structured report\n\nSupports:\n- Automatic marketplace detection by country\n- Currency handling (USD, EGP, SAR, AED)\n- Bilingual responses (EN/AR)"
      },
      "typeVersion": 1
    },
    {
      "id": "6181c29a-c411-430f-83ff-b17edeada992",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        368
      ],
      "parameters": {
        "color": 7,
        "width": 656,
        "height": 304,
        "content": "🔥 FIRECRAWL TOOLS\n━━━━━━━━━━━━━━━━\nSearch: Finds product pages across \nthe web and marketplaces\n\nScrape: Extracts detailed product \ndata (name, price, rating, reviews)\nin clean markdown format\n\n💡 Credits: ~8-10 per research\n(1 search + 2 scrapes)"
      },
      "typeVersion": 1
    },
    {
      "id": "5ed5d2da-de40-43bf-8e18-909f0081fe43",
      "name": "🤖 Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        -416,
        256
      ],
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": ""
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "connections": {
    "💬 Chat Input": {
      "main": [
        [
          {
            "node": "🧠 Product Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Gemini 2.5 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "🧠 Product Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Search Marketplaces": {
      "ai_tool": [
        [
          {
            "node": "🧠 Product Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "🧠 Product Research Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "📄 Scrape Product Pages": {
      "ai_tool": [
        [
          {
            "node": "🧠 Product Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}
