workflows/templates/3670_Medical_Q_A_Chatbot_for_Urology_using_RAG_with_Pinecone_and_GPT_4o.json
{
  "_templateId": 3670,
  "_templateName": "Medical Q&A Chatbot for Urology using RAG with Pinecone and GPT-4o",
  "_templateDescription": "Medical Q&A Chatbot for Urology using RAG with Pinecone and GPT-4o\n\nThis template provides an AI-powered Q&A assistant for the Urology domain using Retrieval-Augmented Generation (RAG). It uses Pinecone for vector search and GPT-4o for conversational responses.\n\n🧠 Use Case\n\nThis chatbot is designed for clinics or medical pages that want to automate question answering for Urology-related conditions. It uses a vector store of domain knowledge to return verified responses.\n\n🔧 Requirements\n\n✅ OpenAI API key (GPT-4o or GPT-4o-mini)\n✅ Pinecone account with an active index\n✅ Verified Urology documents embedded into Pinecone\n\n⚙️ Setup Instructions\n\nCreate a Pinecone vector index and connect it using the Pinecone credentials node.\nUpload Urology-related documents to embed using the Create Embeddings for Urology Docs node.\nCustomize the chatbot system message to reflect your medical specialty.\nDeploy this chatbot on your website or link it with Telegram via the chat trigger node.\n\n🛠️ Components\n\nchatTrigger: Listens for user messages and starts the workflow.\nMedical AI Agent: GPT-based agent guided by domain-specific instructions.\nRAG Tool Vector Store: Fetches relevant documents from Pinecone using vector search.\nMemory Buffer: Maintains conversation context.\nCreate Embeddings for Urology Docs: Encodes documents into vector format.\n\n📝 Customization\n\nYou can replace the knowledge base with any other medical domain by:\nUpdating the documents stored in Pinecone.\nModifying the system prompt in the AI Agent node.\n\n📣 CTA\n\nThis chatbot is ideal for clinics, medical consultants, or educational websites wanting a reliable AI assistant in Urology.\n",
  "_templateCreatedAt": "2025-04-23T10:20:39.925Z",
  "_templateTotalViews": 2637,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:43:18.264Z",
  "id": "q07AalYfXfiMc0p2",
  "meta": {
    "instanceId": "2b69b24ad1a51b447e1a0d6f8c70b16aca715ccfaf123eb531f92865766fce1c",
    "templateCredsSetupCompleted": true
  },
  "name": "Medical Q&A Assistant for Urology using RAG with Pinecone and GPT-4o",
  "tags": [],
  "nodes": [
    {
      "id": "58bf7bd0-00c7-4d7a-98f3-e18d053afa9f",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        100,
        -20
      ],
      "webhookId": "27dd7366-236c-4050-9fe0-575818987a21",
      "parameters": {
        "public": true,
        "options": {},
        "initialMessages": "Dr. Hiep - Urologist - Phone: 090xxxxxxx\nInformation provided by a certified urologist\n\n"
      },
      "typeVersion": 1.1
    },
    {
      "id": "6f689a95-9b4b-45c1-b407-023b05610ed9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        540,
        -20
      ],
      "parameters": {
        "text": "=Input content: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are an AI expert specializing in Andrology and Urology.\n\nYour role is to provide user-friendly, medically relevant answers **based entirely on information gathered from the Vector Database**.\n\n⚠️ DO NOT create or assume any outside or fabricated information.\n\n🗣️ Tone & Style:\n- ✅ Clear, simple and informative\n- 🧑‍⚕️ Friendly and easy to understand for non-physician users\n- ❌ Avoid overly clinical or doctor-to-doctor language\n\n📌 Response guidelines:\n- Look at the information content of the previously asked KH for each answer, to synthesize information and make accurate suggestions\n- ❌ Do not speculate or make assumptions\n- ✅ Use only verified vector-based data (collected context)\n- 📝 Format your response with bullet points with emojis/symbols:\n- 📌 Common causes: ...\n- 💊 Symptoms may include: ...\n- ⚠️ Note: ...\n- 🚫 DO NOT provide a treatment plan or prescription medicine\n\n❓After answering, gently ask 1–2 follow-up questions to gather more context for the user. Avoid the stiff Q&A style — use friendly, caring expressions such as:\n- \"Have you tried anything to relieve the discomfort?\"\n- \"Can you share how long you've had this condition?\"\nUse open-ended questions, such as: Are there any other issues that you're concerned about that we'd like you to address.\n\nLeave the customer:\n- Would you like me to summarize the issues you're describing, and send the content back to you...\nWhen the customer wants to see the doctor or make an appointment, send the information:\n👨‍⚕️ To make an appointment, you can:\n\nContact Dr. Hiep directly, CK II - Andrology - Urology. Zalo: 0777471932\nHave information about the symptoms you are experiencing ready to help your doctor better understand your condition.\n\n🚫 If the vector data does not include relevant information:\nReply politely:\n**\"I do not have enough information to answer this question at this time. Please consider consulting another reliable source or a medical professional.\"**\n\n✅ **Always end your response with a professional Call to Action (CTA):\n\nTôi là trợ lý AI. Để được tư vấn chuyên môn, vui lòng liên hệ với:\nBác sĩ Hiệp, CK II Tiết niệu - Nam Khoa\nZalo: 0777471932\n🌐 **Always reply in Vietnamese.**\n"
        },
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "8e0a08fa-9063-4cce-b982-650d54b1dd68",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        460,
        200
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "openAiApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "d9399f27-3fa5-499a-89d2-d3b3aa8ff467",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        620,
        200
      ],
      "parameters": {
        "sessionKey": "={{ $json.sessionId }}",
        "sessionIdType": "customKey"
      },
      "typeVersion": 1.3
    },
    {
      "id": "6af61985-4453-48ac-9e5a-ea7e5482374a",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1100,
        480
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "openAiApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "034fea52-646f-4146-908c-e6128d1f764f",
      "name": "Answer questions with a vector store",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        900,
        220
      ],
      "parameters": {
        "name": "Knowledge",
        "topK": 10,
        "description": "Urology & Andrology Dataset"
      },
      "typeVersion": 1
    },
    {
      "id": "4ab86662-617a-4592-b008-062ca5f9cfa7",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        700,
        380
      ],
      "parameters": {
        "options": {},
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "namkhoaa2z",
          "cachedResultName": "namkhoaa2z"
        }
      },
      "credentials": {
        "pineconeApi": {
          "id": "credential-id",
          "name": "pineconeApi Credential"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "6e14d1c6-7615-4f2c-84e5-67b94d37d8c9",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        720,
        640
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "openAiApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "06831eef-7986-4b56-8eef-94180cfe9a57",
      "name": "🟢 Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        -20
      ],
      "parameters": {
        "content": "🟢 Trigger: Activated when a user sends a new message to the chatbot.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "671e8c95-1585-42cb-9fb7-046266b1eef9",
      "name": "🧠 AI Agent Logic",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        420,
        -120
      ],
      "parameters": {
        "width": 500,
        "height": 260,
        "content": "🧠 Main AI logic: Receives user input, gathers context, and generates a friendly response.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "dc0ddbe5-0025-4998-99a8-4d67c954b6da",
      "name": "🤖 GPT-4o Model",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        200
      ],
      "parameters": {
        "content": "🤖 Uses GPT-4o-mini to understand and generate conversation based on context.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "a58774f9-9b3c-4e8d-b829-77f1ba8763bf",
      "name": "🧠 Session Memory",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        360
      ],
      "parameters": {
        "content": "💬 Renders final answer using GPT-4o-mini based on retrieved knowledge.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "2be54256-0caf-4fe5-9dbc-5ac0db5223bc",
      "name": "📚 Vector Store Search",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        160
      ],
      "parameters": {
        "content": "🧠 Stores user session context to support multi-turn dialogue.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "87e3319f-a466-4e04-942f-bf32d681f32b",
      "name": "🧩 Pinecone Search",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        380
      ],
      "parameters": {
        "content": "📚 Connects to the medical vector database (RAG) to search for relevant documents.\n"
      },
      "typeVersion": 1
    },
    {
      "id": "fc8c0d2d-9975-41b0-9732-42660e648610",
      "name": "🧬 Embeddings",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        620
      ],
      "parameters": {
        "content": "🧬 Transforms input into embeddings for Pinecone to use in vector search.\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "68ff049a-9917-47de-b3a0-2edf29614efb",
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}
