workflows/templates/3998_Automate_Medical_Billing_with_Google_Sheets_and_Gmail.json
{
  "_templateId": 3998,
  "_templateName": "Automate Medical Billing with Google Sheets and Gmail",
  "_templateDescription": "Automate Medical Billing with Google Sheets and Gmail\n\nNote: This template is designed for self-hosted n8n instances. The workflow image above shows the complete automation flow.\n\nThis n8n workflow automates the patient billing process—from form submission to invoice generation, email delivery, and Google Sheets logging.\n\n🏥 Who is this for?\n\nThis workflow is ideal for:\n\nPrivate medical clinics\nHealth service providers\nMedical office administrators\nTelehealth services\nBilling departments\n\n💡 What problem does this workflow solve?\n\nMedical billing often involves repetitive data entry, invoice calculation, and communication. This workflow:\n\nEliminates manual invoice generation\nEnsures accurate and consistent pricing for treatments\nSends automated, personalized invoices to patients\nLogs all billing details in a Google Sheet for recordkeeping\nAlerts staff when patient data is missing\n\n⚙️ What this workflow does\n\nThis automation builds a streamlined billing system that:\n\nCaptures patient info via an embedded n8n form\nFormats visit dates for professional presentation\nCalculates invoice totals based on treatment selection\nSends email invoices to patients using Gmail\nLogs billing data into Google Sheets\nNotifies admin via Slack if submission is incomplete\n\n✅ Setup Instructions\n\n🔑 Prerequisites\n\nBefore starting, ensure you have:\n\nA self-hosted n8n instance\nA Google account with access to:\n\n  Gmail\n  Google Sheets\nA Slack Webhook URL (optional but included)\nA designated Google Sheet to store invoices\n\n📋 Step 1: Google Sheet Setup\n\nCreate a new Google Sheet and add the following columns in the first row (must match exactly):\n\nInvoice No | Patient Name | Email | Date | Total Cost | Line Items | Payment Status\n\n&gt; ✅ Customizable: You can add columns like “Insurance Provider” or “Payment Status” if needed—just update the mapping in the Google Sheets node.\n\n🗂️ Step 2: Configure Google Credentials in n8n\n\nIn n8n:\n\nGo to Settings → Credentials\nAdd:\n\n  Google Sheets OAuth2\n  Gmail OAuth2\nEnsure proper scopes are granted:\n\n  .../auth/spreadsheets\n  .../auth/gmail.send\n\n🧾 Step 3: Configure Treatment Pricing\n\nIn the Calculate prices code node:\n\nconst treatmentPrices = {\n  \"General Consultation\": 60,\n  \"Blood Test - Basic Panel\": 45,\n  \"Blood Test - Comprehensive\": 120,\n  \"X-Ray - Single\": 80,\n  \"Physical Therapy Session\": 75,\n  \"Vaccination - Standard\": 40,\n  \"Specialist Consultation\": 120,\n  \"Minor Procedure\": 150\n};\n\n&gt; ✏️ Customizable: Add, remove, or change treatment names and prices.\n\n🌐 Step 4: Embed the Patient Billing Form\n\nIn the On form submission node:\n\nThe form collects:\n\n  Patient Name\n  Email Address\n  Visit Date\n  Selected Treatments (multi-select dropdown)\n\n&gt; ✏️ Customizable: Modify the form fields to include phone number, insurance info, etc.\n\n📬 Step 5: Customize the Email Template\n\nOpen the Send Patient Invoice Email node:\n\nExample message:\n\nHi {{ $json.patientName }},\n\nThank you for visiting MediSure Clinic on {{ $json.formattedDate }}.\nHere is a summary of your treatments:\n{{ $json.lineItems }}\n\nTotal Due: ${{ $json.totalCost }}\n\nBest regards,  \nMediSure Billing Department\n\n&gt; ✏️ Customizable: Adjust the message, branding, and subject line to match your practice.\n\n🧠 Step 6: Handle Errors\n\nThe Error Check and Generate Error Message nodes ensure:\n\nNo invoice is sent without an email\nAdmins are alerted via Slack if critical info is missing\n\n&gt; ✏️ Customizable: Replace Slack with email, webhook, or CRM notification if preferred.\n\n🧾 Step 7: Log to Google Sheets\n\nThe Log Invoice to Googlesheets node appends each record:\n\nInvoice number\nPatient name\nEmail\nDate\nTotal cost\nLine items\n\n&gt; ✏️ Customizable: You can change the target spreadsheet or sheet name.\n\n🔄 Testing\n\nOnce configured:\n\nToggle the workflow Active\nSubmit a test form\nCheck:\n\n   Email receipt is accurate\n   Data is correctly appended in Google Sheets\n   No errors are logged\n\n✨ How to Customize This Workflow\n\n| Component               | How to Customize                               |\n| ----------------------- | ---------------------------------------------- |\n| Treatment Prices    | Edit Calculate prices node code              |\n| Form Fields         | Modify the On form submission node           |\n| Email Body          | Change message in Send Patient Invoice Email |\n| Slack Alerts        | Replace Slack node with email or CRM action    |\n| Google Sheet Fields | Add/remove columns and update mappings         |\n\n🧩 Integrate with Your Stack\n\nAdd downstream automations easily:\n\nPush to QuickBooks or Stripe for payment processing\nCreate a calendar invite for follow-ups\nSync with a CRM like HubSpot\n\n🛠️ Troubleshooting\n\n| Issue                    | Fix                               |\n| ------------------------ | --------------------------------- |\n| Email not sent           | Check Gmail credentials & quotas  |\n| Spreadsheet not updating | Confirm sheet ID and column names |\n| Pricing not accurate     | Review Calculate prices logic   |\n| Slack alert not sent     | Check webhook URL format          |\n\n🤝 Need Help?\n\nReview n8n documentation\nAsk questions in the n8n community forum\nContact the template creator: David Olusola\nSupport Email : Dimejicole21@gmail.com\n\n\n\n",
  "_templateCreatedAt": "2025-05-12T14:37:10.030Z",
  "_templateTotalViews": 534,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-29T05:06:16.642Z",
  "id": "pJLEzimgy33CTesQ",
  "meta": {
    "instanceId": "2000c64071c20843606b95c63795bb0797c41036047055a6586498e855b96efc",
    "templateCredsSetupCompleted": true
  },
  "name": "Medical Biling AUTOMATION TEMPLATE",
  "tags": [],
  "nodes": [
    {
      "id": "a35b7936-081d-40cd-ab1d-be7104135780",
      "name": "Data Structure1",
      "type": "n8n-nodes-base.set",
      "position": [
        -240,
        980
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "c7c3c834-7415-478a-8d14-9435249da169",
      "name": "Error Check1",
      "type": "n8n-nodes-base.if",
      "position": [
        400,
        980
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "3ab7cc86-44bb-457a-b55a-b2289fa1a436",
      "name": "Admin Notification1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        780,
        1020
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "a04df0cf-b88f-4548-a574-4f0b43d159dd",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -440,
        980
      ],
      "webhookId": "1fd452db-53ad-43a0-b3b0-5150ac15b5e2",
      "parameters": {},
      "typeVersion": 2.2
    },
    {
      "id": "0739a55b-cfdd-47b5-8168-5af16cd71465",
      "name": "Calculate prices",
      "type": "n8n-nodes-base.code",
      "position": [
        200,
        980
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "aa8322bd-f007-4ce5-8bc4-51c705cffe1e",
      "name": "Format Date",
      "type": "n8n-nodes-base.code",
      "position": [
        -40,
        980
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "43105af9-fb2f-483f-9c5c-1d6baa6688bc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        740
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "6ad456b7-69ef-419a-9e69-da5620c747f7",
      "name": "Generate Error Message1",
      "type": "n8n-nodes-base.set",
      "position": [
        580,
        1020
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "83cd63f1-91cb-4f7e-8950-8a9a07e8e582",
      "name": "Send Patient Invoice Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        560,
        840
      ],
      "webhookId": "4d3f2c71-62f6-439b-8999-935bb545bbba",
      "parameters": {},
      "typeVersion": 2.1
    },
    {
      "id": "e93ac2e2-113f-463d-a4f8-215cf6bf1d66",
      "name": "Log Invoice to Googlesheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        780,
        840
      ],
      "parameters": {},
      "typeVersion": 4.5
    },
    {
      "id": "6e3cb4a0-e9f4-4625-a87e-05009c16453f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        720
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a4080380-112f-49c8-8031-08535b92cb04",
  "connections": {
    "Format Date": {
      "main": [
        [
          {
            "node": "Calculate prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Check1": {
      "main": [
        [
          {
            "node": "Generate Error Message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Patient Invoice Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Structure1": {
      "main": [
        [
          {
            "node": "Format Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate prices": {
      "main": [
        [
          {
            "node": "Error Check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Data Structure1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Error Message1": {
      "main": [
        [
          {
            "node": "Admin Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Patient Invoice Email": {
      "main": [
        [
          {
            "node": "Log Invoice to Googlesheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
