workflows/templates/4092_Tesla_Quant_Trading_AI_Agent_using_Telegram_GPT_4_1_Main_InterFace.json
{
  "_templateId": 4092,
  "_templateName": "Tesla Quant Trading AI Agent using Telegram + GPT-4.1 (Main InterFace)",
  "_templateDescription": "📈 Get daily and on-demand Tesla (TSLA) trading signals via Telegram—powered by GPT-4.1 and real-time market data.\nThis is the central AI supervisor that orchestrates seven sub-agents for technical analysis, price pattern recognition, and news sentiment. Reports are delivered in structured Telegram-ready HTML, optimized for traders seeking fast, intelligent decision-making signals.\n\n⚠️ This master agent requires 7 connected sub-workflows to function. One of them, the News & Sentiment Agent, also requires a DeepSeek Chat API key for language processing.\n\n🔌 Required Sub-Workflows\n\nYou must download and publish the following workflows:\n\nTesla Financial Market Data Analyst Tool\nTesla News and Sentiment Analyst Tool (Requires DeepSeek Chat API Key)\nTesla 15min Indicators Tool\nTesla 1hour Indicators Tool\nTesla 1day Indicators Tool\nTesla 1hour & 1day Klines Tool\nTesla Quant Technical Indicators Webhooks Tool (Requires Alpha Vantage Premium API Key)\n\n📍 See all tools at:\n🔗 https://n8n.io/creators/don-the-gem-dealer/\n\n🔍 What This Agent Does\n\nListens to your trading query via Telegram\nCalls the Financial Analyst and News & Sentiment Analyst\nThese agents aggregate:\n\n   RSI, MACD, BBANDS, SMA, EMA, ADX\n   Candlestick pattern + volume divergence analysis\n   News summaries and sentiment scoring via DeepSeek Chat\nGPT-4.1 composes the final structured TSLA trade report with:\n\n   Spot and leverage setups\n   Signal rationale\n   Confidence score\n   Sentiment tag\n   News summary\n\n🧠 Output Example\n\nTSLA Trading Report (Daily Summary)\nSpot Trade\n• Action: Buy\n• Entry: 172.45\n• TP: 182.00\n• SL: 169.80\n• Signal: RSI bounce + Bullish Engulfing\n• Sentiment: Neutral\n\nLeveraged Position\n• Position: Long\n• Leverage: 3x\n• TP: 186\n• SL: 170\n• Confidence: High (83/100)\n\n📰 Top News\n• Tesla Model Y delivery surge – Electrek\n• Options market pricing in upside – Bloomberg\n• FSD delayed in Canada – TeslaNorth\n\n🛠️ Setup Instructions\n\n1. Import All 8 Workflows\n\nEnsure all sub-agents above are published in your n8n instance.\n\n2. Create Your Telegram Bot\n\nUse @BotFather to generate the token and connect to the trigger/send nodes.\n\n3. Connect OpenAI GPT-4.1\n\nAdd your OpenAI credentials for GPT-4.1 in the designated node.\n\n4. Add DeepSeek Chat API Key\n\nSign up at https://deepseek.com and insert your DeepSeek Chat credentials in the News Agent.\n\n5. Add Alpha Vantage Premium API Key\n\nSign up at https://www.alphavantage.co/premium/\nUse HTTP Header Auth for webhook-based indicator fetchers.\n\n6. Replace Telegram ID\n\nUpdate the placeholder &lt;&lt;replace your ID here&gt;&gt; with your actual Telegram numeric ID in the auth node.\n\n📌 Included Sticky Notes\n\n✅ Telegram Bot Setup\n✅ Agent Routing & Memory\n✅ Financial vs. Sentiment Trigger Flow\n✅ Report Formatting (HTML)\n✅ API Requirements (GPT-4.1, DeepSeek, Alpha Vantage)\n✅ Troubleshooting & Licensing\n\n🧾 Licensing & Attribution\n\n© 2025 Treasurium Capital Limited Company\nArchitecture, prompts, and trade report structure are IP-protected. No unauthorized rebranding permitted.\n\n🔗 For support: LinkedIn – Don Jayamaha\n\n🚀 Deploy the Tesla Quant Trading AI system with GPT-4.1, DeepSeek Chat, and Alpha Vantage Premium—right into Telegram.\nAll 8 workflows are required.\n\n🎥 Tesla Quant AI Agent – Live Demo\n\nExperience the power of the Tesla Quant Trading AI Agent in action.\n  \n\n",
  "_templateCreatedAt": "2025-05-16T08:44:07.297Z",
  "_templateTotalViews": 3989,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:43:16.210Z",
  "id": "YtPhfFCx9D9Eq9zi",
  "meta": {
    "instanceId": "a5283507e1917a33cc3ae615b2e7d5ad2c1e50955e6f831272ddd5ab816f3fb6",
    "templateCredsSetupCompleted": true
  },
  "name": "Tesla Quant Trading AI Agent n8n",
  "tags": [],
  "nodes": [
    {
      "id": "8677aed4-a1bf-4439-8b5e-57c283f81862",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -560,
        -100
      ],
      "webhookId": "721eba88-462f-40ab-8c53-c6c2f3897e11",
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "fddcfaab-f575-4e72-b3f1-e0965e3c71b5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        140,
        260
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "openAiApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "f6e5726a-1010-4a55-9d54-f6889eb780e1",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1380,
        -100
      ],
      "webhookId": "77b6658d-8dfb-415b-9e67-4f34ef086cdb",
      "parameters": {
        "text": "={{ $json.message }}",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "62f3f30c-47e4-4c86-828b-3ab4de28e6c3",
      "name": "User Authentication (Replace Telegram ID)",
      "type": "n8n-nodes-base.code",
      "position": [
        -300,
        -100
      ],
      "parameters": {
        "jsCode": "if ($input.first().json.message.from.id !== <<replace your ID here>>) { // Replace with your actual ID\n  return {unauthorized: true};\n} else {\n  // Return the original data when authorized\n  return $input.all();\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "5a79ae5f-583d-41a0-9055-914de6eaf341",
      "name": "Tesla Quant Trading AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        520,
        -100
      ],
      "parameters": {
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "You are the **Tesla Quant Trading AI Agent**, responsible for generating structured, professional swing-trading reports for **TSLA** based on both **real-time technical analysis** and **curated sentiment data**.\n\n---\n\n### 🔗 Connected Tools:\n\n1. **Tesla Financial Market Data Analyst Tool**  \n   - Aggregates multi-timeframe indicators + candlestick signals from:\n     • Tesla 15min Indicators Tool  \n     • Tesla 1h Indicators Tool  \n     • Tesla 1d Indicators Tool  \n     • Tesla Klines Tool (1h & 1d pattern/volume)  \n   - Uses Alpha Vantage indicators: **RSI, BBANDS, SMA, EMA, ADX, MACD**  \n   - Each tool returns the **20 most recent points**, cleaned and trimmed  \n   - Pattern logic: detects **Doji, Engulfing**, and **volume divergence**\n\n2. **Tesla News and Sentiment Analyst Tool**  \n   - Scrapes from trusted RSS sources: **Google News, Yahoo Finance, Electrek, CleanTechnica, TeslaNorth**  \n   - Returns:  \n     • **Sentiment score**: Bullish / Bearish / Neutral  \n     • **Summary**: 2–3 sentence narrative  \n     • **Top 3–5 Headlines** (with sources)\n\n---\n\n### 📊 Responsibilities:\n\n1. **Ingest structured inputs** from the tools listed above:\n   - Indicator values and candlestick/volume behavior  \n   - News sentiment summaries and headlines\n\n2. **Perform technical analysis** across timeframes:\n   - **Short-Term**: 15m + 1h  \n   - **Long-Term**: 1d + 1h  \n   - Assess trend, support/resistance, divergence, and reversal signals  \n   - Confirm with lagging indicators and macro sentiment alignment\n\n3. **Generate two trade strategy sections**:\n\n<b>Spot Recommendations</b>  \n• Action: Buy / Sell / Hold  \n• Entry Price  \n• Stop Loss  \n• Take Profit  \n• Rationale:  \n - <b>Primary Signals</b>: e.g. candle pattern, breakout  \n - <b>Lagging Indicators</b>: RSI, BBANDS, etc.  \n - <b>Sentiment & Macro Analysis</b>: use news summary + headlines\n\n<b>Leveraged Recommendations</b>  \n• Position: Long / Short  \n• Leverage: 2x / 3x / 5x  \n• Entry Price  \n• Stop Loss  \n• Take Profit  \n• Rationale:  \n - <b>Primary Price Action Signals</b>  \n - <b>Lagging Indicator Confirmation</b>  \n - <b>Sentiment & Macro Analysis</b>\n\n4. **Score your signal strength**  \n• Confidence score (0–100)  \n• Strength label: Low / Medium / High / Very High\n\n5. **Include sentiment and headlines** at the bottom of the report:  \n• A short <b>News Sentiment Summary</b>  \n• Top 3 Tesla-related headlines with bullet formatting\n\n---\n\n### 🧾 Output Format (Telegram HTML)\n\nStart your message with:\n<b>TSLA Analysis</b>\n\n\nUse:\n• `<b>` for bold headers  \n• `•` for bullet points  \n• Clean line breaks  \n\n---\n\n⚠️ DO NOT:\n• Fabricate or assume any data  \n• Repeat this prompt or system instructions  \n• Include raw JSON or raw API format in your output\n\nOnly use what is provided via structured input. Write like a seasoned quantitative analyst.\n"
        },
        "promptType": "define"
      },
      "typeVersion": 1.8
    },
    {
      "id": "966cf9b6-abd4-48a0-bd32-6c83985a33ac",
      "name": "Tesla Financial Market Data Analyst Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        700,
        260
      ],
      "parameters": {
        "name": "Tesla_Financial_Market_Data_Analyst",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WmWhVZ3XkJdjTmME",
          "cachedResultName": "Work Drive — Tesla Financial Market Data Analyst"
        },
        "workflowInputs": {
          "value": {
            "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
            "sessionId": "={{ $json.sessionId }}"
          },
          "schema": [
            {
              "id": "message",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "sessionId",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "dbf1bef5-044a-4594-af1b-1468d4cdc06a",
      "name": "Tesla News and Sentiment Analyst Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        980,
        260
      ],
      "parameters": {
        "name": "Tesla_News_and_Sentiment_Analyst",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "kOIhNsok4gtt6fD3",
          "cachedResultName": "Work Drive — Tesla News and Sentiment Analyst"
        },
        "workflowInputs": {
          "value": {
            "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
            "sessionId": "={{ $json.sessionId }}"
          },
          "schema": [
            {
              "id": "message",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "sessionId",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "2109ef95-4256-4713-aa9d-8a8ecd40eff3",
      "name": "Add SessionId",
      "type": "n8n-nodes-base.set",
      "position": [
        260,
        -100
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "c9d7a6f2-7e01-46fb-a4ee-f0c3b248bd6b",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "id": "d5929b35-1751-4a6a-bbee-d844cbb8e0aa",
              "name": "DateandTime",
              "type": "string",
              "value": "={{ $json.currentDate }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "0f45fae9-fef5-4595-97f0-04f974790cd3",
      "name": "Splits message is more than 4000 characters",
      "type": "n8n-nodes-base.code",
      "position": [
        1020,
        -100
      ],
      "parameters": {
        "jsCode": "// Input: assumes incoming message in `item.json.message`\nconst input = $json.output;\nconst chunkSize = 4000;\n\n// Function to split text\nfunction splitMessage(text, size) {\n  const result = [];\n  for (let i = 0; i < text.length; i += size) {\n    result.push(text.substring(i, i + size));\n  }\n  return result;\n}\n\n// Logic\nif (input.length <= chunkSize) {\n  return [{ json: { message: input } }];\n} else {\n  const chunks = splitMessage(input, chunkSize);\n  return chunks.map(chunk => ({ json: { message: chunk } }));\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "8e7dcfd4-7f2a-47b4-8e5a-1bc4d77fced7",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        -20,
        -100
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "f31dbe9c-25a2-4751-ba34-38ed0ae9e18c",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        420,
        260
      ],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "97dfa658-3a67-4ed7-9662-b62573e0958b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -340
      ],
      "parameters": {
        "color": 4,
        "height": 420,
        "content": "## Trigger Incoming Telegram Command\n\nThis node **listens for new Telegram messages** to initiate report generation."
      },
      "typeVersion": 1
    },
    {
      "id": "b7d99e5f-0f36-4963-aa2c-33db04689fc5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -380,
        -340
      ],
      "parameters": {
        "color": 2,
        "width": 260,
        "height": 420,
        "content": "## Validate User Access\n\nEnsures only **authorized Telegram user IDs** can trigger the agent."
      },
      "typeVersion": 1
    },
    {
      "id": "9a4d6ba0-2d75-4453-8b05-bc4dedf81be5",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -340
      ],
      "parameters": {
        "color": 5,
        "height": 420,
        "content": "## Capture Timestamp\n\nCaptures the **current system date and time** for session tracking and report stamping."
      },
      "typeVersion": 1
    },
    {
      "id": "157ba065-d228-41f0-a88f-ea8122fb5fa8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        200,
        -340
      ],
      "parameters": {
        "height": 420,
        "content": "## Generate Session Metadata\n\nAssigns **sessionId based on Telegram chat ID** and stores current **date/time** for context continuity."
      },
      "typeVersion": 1
    },
    {
      "id": "6fe0bc11-94da-4c82-bf28-5fe6429d6e86",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -340
      ],
      "parameters": {
        "color": 7,
        "width": 340,
        "height": 420,
        "content": "## Main AI Agent: Trading Report Generator\n\nUses **GPT model to combine technical and sentiment data** into a structured **TSLA swing-trading report**.\nCalls **Financial Market Analyst + Sentiment Analyst**.\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "7a1e3a33-713a-4a72-81c0-001e74af8f73",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        -340
      ],
      "parameters": {
        "color": 5,
        "width": 260,
        "height": 420,
        "content": "## Handle Telegram Message Limits\n\nChecks **output message length and splits into 4000-character** chunks if needed.\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "b5ac3bcb-baa5-4d39-9e44-6be888317089",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1300,
        -340
      ],
      "parameters": {
        "color": 4,
        "width": 260,
        "height": 420,
        "content": "## Send Final Report to Telegram\n\nSends **formatted HTML report (or split parts)** back to the **original Telegram user**."
      },
      "typeVersion": 1
    },
    {
      "id": "5df88223-3acc-4b27-b592-58d499a638dd",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        220
      ],
      "parameters": {
        "color": 2,
        "height": 400,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n## GPT Model for Reasoning\nUses **OpenAI GPT (e.g., GPT-4o)** to process signal analysis and produce **final report** text."
      },
      "typeVersion": 1
    },
    {
      "id": "c7bcc5bc-48b9-464b-9a6b-062535810543",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        220
      ],
      "parameters": {
        "color": 3,
        "height": 400,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Short-Term Memory Module\nMaintains **state during session**. Helps agent **track message history and previous context**.\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "b17ec86d-5d91-469f-bc9d-fb5e22ecbfaf",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        220
      ],
      "parameters": {
        "color": 6,
        "height": 400,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Fetch Technical Indicator Insights\nCalls all **15m, 1h, 1d, and Klines sub-agents** via **webhook** to retrieve structured **market analysis**.\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "1eda1d9b-2b50-4cd1-8b83-6a7d37517d31",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        220
      ],
      "parameters": {
        "color": 6,
        "height": 400,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Scrape Tesla News & Generate Sentiment\nPulls latest **Tesla-related headlines from trusted RSS feeds** and **returns structured sentiment** summary.\n\n"
      },
      "typeVersion": 1
    },
    {
      "id": "8e2ebe09-5488-4fb9-8175-b88ba68fcb9e",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1900,
        -1680
      ],
      "parameters": {
        "width": 1280,
        "height": 2300,
        "content": "\n# 🧠 Tesla Quant Trading AI Agent – Full System Documentation\n\nA professional-grade AI-driven stock analysis system designed to deliver structured Tesla (TSLA) swing-trading insights based on real-time technical indicators and sentiment signals.\n\n---\n\n## 🧩 Included Workflows\n\n> Download and install **all** of the following workflows for the system to function correctly.\n\n| Workflow Name                               | Function                                                                 |\n| ------------------------------------------- | ------------------------------------------------------------------------ |\n| ✅ Tesla 15min Indicators Tool               | Pulls Alpha Vantage data for short-term signals (15m: RSI, BBANDS, etc.) |\n| ✅ Tesla 1hour Indicators Tool               | Pulls Alpha Vantage data for medium-term signals (1h: RSI, BBANDS, etc.) |\n| ✅ Tesla 1day Indicators Tool                | Pulls Alpha Vantage data for long-term signals (1d: RSI, BBANDS, MACD)   |\n| ✅ Tesla 1hour & 1day Klines Tool            | Analyzes candlestick patterns and volume divergences (OHLCV)             |\n| ✅ Tesla Quant Technical Indicators Webhooks | Webhook handlers that power the above 4 indicator-fetching tools         |\n| ✅ Tesla Financial Market Data Analyst Tool  | Synthesizes multi-timeframe indicator + candle data                      |\n| ✅ Tesla News and Sentiment Analyst Tool     | Scrapes Tesla news RSS + assigns sentiment with headlines                |\n| ✅ Tesla Quant Trading AI Agent              | Final agent that generates Telegram-style trade reports                  |\n\n---\n\n## ⚙️ Installation Instructions\n\n### Step 1: Import Workflows\n\n1. Open your **n8n editor UI**.\n2. Import each workflow JSON file one by one.\n3. Make sure all workflows are **activated** or properly linked via `Execute Workflow` nodes.\n\n### Step 2: Set Up Credentials\n\n1. Go to **Credentials → HTTP Auth → Query Parameter Auth**.\n2. Create a credential named: `Alpha Vantage Premium`\n\n   * Add: `apikey=YOUR_API_KEY`\n3. Add your **OpenAI API** credentials (for GPT-4.1 or equivalent).\n\n### Step 3: Configure Webhooks\n\n1. Deploy the **Tesla Quant Technical Indicators Webhooks Tool**.\n2. Ensure that `/15minData`, `/1hourData`, `/1dayData`, and `/klinesData` routes are properly reachable.\n\n### Step 4: Set Up Execution\n\n1. Trigger the **Tesla Quant Trading AI Agent** manually or via a scheduler.\n2. The agent will:\n\n   * Call all technical + sentiment tools via workflow execution\n   * Format and analyze data\n   * Output full trading report in Telegram-HTML style\n\n---\n\n## 🖥️ System Overview\n\n**Data Flow:**\n\n```\n[Webhook HTTP Trigger] \n→ [Indicator Tool (15m, 1h, 1d)] \n→ [Candlestick Tool (1h, 1d)]\n→ [Financial Market Data Analyst] \n→ [Sentiment Analyst] \n→ [Final Report Generator]\n```\n\n**Output Example:**\n\n* Spot + Leverage trade entries\n* Confidence score (0–100)\n* Reasoning: price action, indicators, and sentiment\n* Summary headlines and sentiment context\n\n---\n\n## 📬 Output Format\n\n* Styled using Telegram HTML (`<b>`, `•`, newlines)\n* Structured trade report with:\n\n  * Action type\n  * Entry/exit prices\n  * Rationale in 3 parts\n  * News sentiment and 3 headlines\n\n---\n\n## 🚀 Support & Licensing\n\n🔗 **Don Jayamaha – LinkedIn**\n[http://linkedin.com/in/donjayamahajr](http://linkedin.com/in/donjayamahajr)\n\n© 2025 Treasurium Capital Limited Company. All rights reserved.\nThis AI workflow architecture, including logic, design, and prompt structures, is the intellectual property of **Treasurium Capital Limited Company**. Unauthorized reproduction, redistribution, or resale is prohibited under **U.S. copyright law**. Licensed use only.\n\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b77078ba-b904-4315-aa13-f80fded7f9a9",
  "connections": {
    "Telegram": {
      "main": [
        []
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Add SessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add SessionId": {
      "main": [
        [
          {
            "node": "Tesla Quant Trading AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Tesla Quant Trading AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "User Authentication (Replace Telegram ID)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tesla Quant Trading AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tesla Quant Trading AI Agent": {
      "main": [
        [
          {
            "node": "Splits message is more than 4000 characters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tesla News and Sentiment Analyst Tool": {
      "ai_tool": [
        [
          {
            "node": "Tesla Quant Trading AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tesla Financial Market Data Analyst Tool": {
      "ai_tool": [
        [
          {
            "node": "Tesla Quant Trading AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "User Authentication (Replace Telegram ID)": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splits message is more than 4000 characters": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
