workflows/templates/4098_Tesla_1day_Indicators_Tool_Macro_Level_Technical_AI.json
{
  "_templateId": 4098,
  "_templateName": "Tesla 1day Indicators Tool (Macro-Level Technical AI)",
  "_templateDescription": "📅 Analyze Tesla’s daily trading structure with AI using 6 Alpha Vantage indicators.\nThis tool evaluates long-term trend health, volatility patterns, and potential reversal signals at the 1-day timeframe. Designed for use within the Tesla Financial Market Data Analyst Tool, this agent helps swing and position traders anchor macro sentiment.\n\n ⚠️ Not standalone. Must be executed via Execute Workflow\n 🔌 Requires:\n\n Tesla Quant Technical Indicators Webhooks Tool\n Alpha Vantage Premium API Key\n OpenAI GPT-4.1 credentials\n\n🔍 What It Does\n\nThis tool queries a secured webhook (/1dayData) to retrieve real-time, trimmed JSON data for:\n\nRSI (Relative Strength Index)**\nBBANDS (Bollinger Bands)**\nSMA (Simple Moving Average)**\nEMA (Exponential Moving Average)**\nADX (Average Directional Index)**\nMACD (Moving Average Convergence Divergence)**\n\nThese values are then passed to a LangChain AI Agent powered by GPT-4.1, which returns:\n\nA 2–3 sentence market condition summary\nStructured indicator values\nTimeframe tag (\"1d\")\n\n📋 Sample Output\n\n{\n  \"summary\": \"TSLA shows consolidation on the daily chart. RSI is neutral, BBANDS are contracting, and MACD is flattening.\",\n  \"timeframe\": \"1d\",\n  \"indicators\": {\n    \"RSI\": 51.3,\n    \"BBANDS\": {\n      \"upper\": 192.80,\n      \"lower\": 168.20,\n      \"middle\": 180.50,\n      \"close\": 179.90\n    },\n    \"SMA\": 181.10,\n    \"EMA\": 179.75,\n    \"ADX\": 15.8,\n    \"MACD\": {\n      \"macd\": -0.25,\n      \"signal\": -0.20,\n      \"histogram\": -0.05\n    }\n  }\n}\n\n🧠 Agent Components\n\n| Component                     | Description                                        |\n| ----------------------------- | -------------------------------------------------- |\n| 1day Data (HTTP Node)       | Pulls latest data from secured /1dayData webhook |\n| OpenAI Chat Model           | GPT-4.1 powers the analysis logic                  |\n| Tesla 1day Indicators Agent | LangChain agent performing interpretation          |\n| Simple Memory               | Short-term session continuity                      |\n\n🛠️ Setup Instructions\n\nImport Workflow into n8n\n\n   Name: Tesla_1day_Indicators_Tool\n\nAdd Required Credentials\n\n   Alpha Vantage Premium (via HTTP Query Auth)\n   OpenAI GPT-4.1 (Chat Model)\n\nInstall Webhook Fetcher\n\n   Required: Tesla Quant Technical Indicators Webhooks Tool\n   Endpoint /1dayData must be active\n\nExecution Context\n   This tool is only triggered via:\n   👉 Tesla Financial Market Data Analyst Tool\n\n   Inputs expected:\n\n     message: optional context\n     sessionId: session memory linkage\n\n📌 Sticky Notes Overview\n\n📘 Tesla 1-Day Indicators Tool – Purpose and integration\n📡 Webhook Fetcher – Pulls daily Alpha Vantage data via HTTPS\n🧠 GPT-4.1 Model – Reasoning for trend classification\n🔗 Sub-Agent Trigger – Used only by Financial Market Analyst\n🧠 Memory Buffer – Ensures consistent session logic\n\n🔒 Licensing & Support\n\n© 2025 Treasurium Capital Limited Company\nThis workflow—including prompts, logic, and formatting—is protected IP.\n\n🔗 Don Jayamaha – LinkedIn\n🔗 Creator Profile\n\n🚀 Evaluate long-term Tesla price behavior with AI-enhanced technical analysis—critical for swing trading strategy.\nRequired by the Tesla Financial Market Data Analyst Tool.\n",
  "_templateCreatedAt": "2025-05-16T09:06:41.790Z",
  "_templateTotalViews": 423,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-29T05:06:08.582Z",
  "id": "Zqt7sbkAXvx0pir1",
  "meta": {
    "instanceId": "a5283507e1917a33cc3ae615b2e7d5ad2c1e50955e6f831272ddd5ab816f3fb6",
    "templateCredsSetupCompleted": true
  },
  "name": "Tesla 1day Indicators Tool n8n",
  "tags": [],
  "nodes": [
    {
      "id": "9eb2431e-0649-4cda-b3a7-8f9480538581",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        160,
        -200
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "00654438-d958-4503-b735-57c3c5d43ffe",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        680,
        100
      ],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "a2c45d6b-fc24-4701-a82c-aad504ed551a",
      "name": "Tesla 1day Indicators Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        580,
        -200
      ],
      "parameters": {
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are a **Tesla 1-Day Technical Indicators Analyst AI**.\n\nYour purpose is to evaluate long-term trading conditions for Tesla (TSLA) using daily interval technical indicators sourced from **Alpha Vantage**. These indicators help identify macro-level momentum, price extremes, and trend health for swing and position trading strategies.\n\n---\n\n### 🔧 You have access to the following tools:\n\n1. **RSI (Relative Strength Index)** – Detects long-term overbought or oversold conditions.\n2. **BBANDS (Bollinger Bands)** – Gauges price volatility and positioning relative to moving averages.\n3. **SMA (Simple Moving Average)** – Identifies prevailing long-term price trends.\n4. **EMA (Exponential Moving Average)** – Highlights recent directional shifts with faster reaction time.\n5. **ADX (Average Directional Index)** – Measures trend strength independent of direction.\n6. **MACD (Moving Average Convergence Divergence)** – Signals potential trend reversals and momentum shifts.\n\n---\n\n### 🛠 Data Workflow:\n\nAll indicator data is retrieved via HTTPS calls to a secured **webhook** endpoint:\n\n* The webhook then queries Alpha Vantage with a premium API key.\n* It returns the latest **20 values** for each indicator, properly trimmed and formatted as JSON.\n* These JSON results are delivered to you (the Analyst AI Agent) to perform structured evaluation.\n\nYou are supported by:\n\n* **OpenAI GPT-4.1** for LLM processing\n* A short-term **memory module** for contextual continuity\n* The **Tesla Financial Market Analyst Tool**, which uses your output for comprehensive multi-timeframe analysis\n\n---\n\n### 🧪 Your Tasks:\n\n1. **Parse** and interpret the most recent indicator values from the webhook response.\n2. **Assess** whether the market is trending, reversing, or consolidating at the daily timeframe.\n3. **Output** a structured response including:\n\n   * A concise summary of overall trend conditions\n   * Exact indicator values in JSON format\n\n---\n\n### 📤 Output Format:\n\n```json\n{\n  \"summary\": \"TSLA shows consolidation on the daily chart. RSI is neutral, Bollinger Bands are contracting, and MACD is flattening. Trend strength is weak per ADX.\",\n  \"timeframe\": \"1d\",\n  \"indicators\": {\n    \"RSI\": 51.3,\n    \"BBANDS\": {\n      \"upper\": 192.80,\n      \"lower\": 168.20,\n      \"middle\": 180.50,\n      \"close\": 179.90\n    },\n    \"SMA\": 181.10,\n    \"EMA\": 179.75,\n    \"ADX\": 15.8,\n    \"MACD\": {\n      \"macd\": -0.25,\n      \"signal\": -0.20,\n      \"histogram\": -0.05\n    }\n  }\n}\n```\n\n---\n\nOnly draw conclusions based on clear evidence from the indicators. Avoid vague language. Remain structured, concise, and aligned with professional financial analysis standards.\n"
        },
        "promptType": "define"
      },
      "typeVersion": 1.8
    },
    {
      "id": "a952286a-2848-49eb-93cc-6336bf4c2ea3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        340,
        120
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "openAiApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "04d50d38-9bbf-4676-a76a-f23fa65a317d",
      "name": "1day Data",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1040,
        100
      ],
      "parameters": {
        "url": "https://treasurium.app.n8n.cloud/webhook/1dayData",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "86bba663-c22a-4b41-ab2b-c12baac09eac",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        -440
      ],
      "parameters": {
        "color": 5,
        "width": 420,
        "height": 420,
        "content": "## Tesla 1-Day Technical Indicators AI\n\n• Processes the **webhook data** and **performs daily timeframe evaluation for TSLA**.\n\n• Outputs a **JSON summary** of **market condition, trend state, and all indicator values**.\n\n• This feeds into the broader **Tesla Financial Market Data Analyst**."
      },
      "typeVersion": 1
    },
    {
      "id": "cdc88028-e238-40ed-9cf6-1fb644322a8c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -400
      ],
      "parameters": {
        "color": 4,
        "width": 280,
        "height": 380,
        "content": "## Trigger from Parent Workflow \nThis node activates the workflow when called to execute Workflow action from the **Tesla Financial Market Analyst Tool**. Ensure proper inputs **message, sessionId** are passed."
      },
      "typeVersion": 1
    },
    {
      "id": "c40b515d-7888-4bb4-80df-f0b824bdf776",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        60
      ],
      "parameters": {
        "color": 2,
        "height": 380,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n## GPT Model for Reasoning \nUtilizes **OpenAI GPT-4.1** to interpret **technical indicators** and generate long-term trend analysis and structured **JSON output**."
      },
      "typeVersion": 1
    },
    {
      "id": "07a5c3c4-a9ee-4a19-a7e7-e1fa38ddeca1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        60
      ],
      "parameters": {
        "color": 3,
        "height": 380,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n## Short-Term Memory Module\nMaintains context across requests within the same session. Supports consistent logic between indicator evaluations for the **Tesla Financial Market Analyst Tool**."
      },
      "typeVersion": 1
    },
    {
      "id": "4bc1a27f-b082-4983-94cf-2863add312fc",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        60
      ],
      "parameters": {
        "color": 6,
        "height": 480,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n## 1-Day Indicator Data from Alpha Vantage \nMakes an HTTP call to a secured **webhook**, which fetches Tesla 1-day interval indicators **(RSI, BBANDS, SMA, EMA, ADX, MACD)** via **Alpha Vantage Premium API**.\nOnly the latest **20 values** are returned, cleaned and trimmed."
      },
      "typeVersion": 1
    },
    {
      "id": "431807cd-8af2-471a-9181-179c94c1c9d6",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1400,
        -1760
      ],
      "parameters": {
        "width": 1240,
        "height": 2300,
        "content": "\n## 📘 Tesla 1-Day Indicators Tool\n\n### 🔧 Purpose\n\nThis tool analyzes **daily timeframe technical indicators** for TSLA using Alpha Vantage. It evaluates long-term market conditions, trend momentum, and potential reversals to support **macro-level swing trading decisions**.\n\n---\n\n### 📂 Required Dependencies (to use this workflow):\n\nTo function correctly, this tool depends on:\n\n* ✅ **Tesla Financial Market Data Analyst Tool** (which triggers this workflow)\n* ✅ **Alpha Vantage Premium API key** (configured via HTTP Query Auth Credential)\n* ✅ **Tesla Quant Technical Indicators Webhook Tool** (handles HTTPS fetch and trims the latest 20 values)\n* ✅ **OpenAI API key** (for GPT-4.1 access)\n\n---\n\n### 🛠️ Step-by-Step Installation:\n\n1. **Import Workflow**\n\n   * Upload `Tesla_1day_Indicators_Tool.json` to your n8n instance.\n\n2. **Set Up API Credentials**\n\n   * In **Credentials**, create:\n\n     * **HTTP Query Auth** credential named `Alpha Vantage Premium`\n     * **OpenAI API Key** credential (for GPT-4.1)\n\n3. **Connect Workflow Trigger**\n\n   * This tool begins execution when called via:\n     👉 `Execute Workflow` from the **Tesla Financial Market Data Analyst Tool**\n\n4. **Configure Webhook Source**\n\n   * A webhook triggers an HTTP request that pulls Alpha Vantage indicator data:\n\n     * RSI, BBANDS, SMA, EMA, ADX, MACD\n   * Only the **latest 20 values** are returned and cleaned.\n\n5. **Key Nodes Explained**\n\n   | Node Name                     | Role                                                               |\n   | ----------------------------- | ------------------------------------------------------------------ |\n   | `1day Data`                   | Pulls technical indicator JSON via webhook                         |\n   | `OpenAI Chat Model`           | GPT-4.1 model used for AI-driven trend interpretation              |\n   | `Tesla 1day Indicators Agent` | LangChain agent parses indicators and outputs a structured summary |\n   | `Simple Memory`               | Maintains short-term session context                               |\n\n6. **Test Workflow Output**\n   A typical JSON output looks like:\n\n```json\n{\n  \"summary\": \"TSLA shows consolidation on the daily chart. RSI is neutral, BBANDS are contracting, MACD is flattening.\",\n  \"timeframe\": \"1d\",\n  \"indicators\": {\n    \"RSI\": 51.3,\n    \"BBANDS\": {\n      \"upper\": 192.80,\n      \"lower\": 168.20,\n      \"middle\": 180.50,\n      \"close\": 179.90\n    },\n    \"SMA\": 181.10,\n    \"EMA\": 179.75,\n    \"ADX\": 15.8,\n    \"MACD\": {\n      \"macd\": -0.25,\n      \"signal\": -0.20,\n      \"histogram\": -0.05\n    }\n  }\n}\n```\n\n---\n\n### 🧠 AI Agent Logic\n\n* Leverages GPT-4.1 via LangChain Agent\n* Analyzes:\n\n  * Trend strength (ADX)\n  * Momentum shifts (MACD)\n  * Price volatility (BBANDS)\n  * Overbought/Oversold signals (RSI)\n  * Long-term trends (SMA, EMA)\n* Feeds results to:\n  👉 `Tesla Financial Market Data Analyst Tool`\n\n---\n\n## 🚀 Support & Licensing\n\n🔗 **Don Jayamaha – LinkedIn**\n[http://linkedin.com/in/donjayamahajr](http://linkedin.com/in/donjayamahajr)\n\n© 2025 Treasurium Capital Limited Company. All rights reserved.\nThis AI workflow architecture, including logic, design, and prompt structures, is the intellectual property of Treasurium Capital Limited Company. Unauthorized reproduction, redistribution, or resale is prohibited under U.S. copyright law. Licensed use only.\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a225a383-1063-4b3d-843e-63162a17c154",
  "connections": {
    "1day Data": {
      "ai_tool": [
        [
          {
            "node": "Tesla 1day Indicators Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Tesla 1day Indicators Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Tesla 1day Indicators Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Tesla 1day Indicators Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
