workflows/templates/4213_Automatic_Media_Download_from_WhatsApp_Business_Messages_with_HTTP_Storage.json
{
  "_templateId": 4213,
  "_templateName": "Automatic Media Download from WhatsApp Business Messages with HTTP Storage",
  "_templateDescription": "This workflow listens for incoming WhatsApp messages that contain media (e.g., images) and automatically downloads the media file using WhatsApp's private media URL.\n\nThe trigger node activates when a WhatsApp message with media is received.\nThe media ID is extracted from the message payload.\nA private media URL is retrieved using the media ID.\nThe media file is downloaded using an authenticated HTTP request.\n\n\nIdeal for:\nArchiving WhatsApp media to external systems.\nTriggering further automations based on received media.\nIntegrating with cloud storage like Google Drive, Dropbox, or Amazon S3.\n\n\nSet up steps\nConnect your WhatsApp Business API account.\nAdd HTTP credentials for downloading media via private URL.\nSet up the webhook in your WhatsApp Business account.\nExtend the workflow as needed for your use case (e.g., file storage, alerts).",
  "_templateCreatedAt": "2025-05-19T05:57:16.870Z",
  "_templateTotalViews": 921,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:50:24.150Z",
  "meta": {
    "instanceId": "4e229722e6c43a4914d2d66178b48335adf795d73afbee5b0ea0c52938ef4d8e",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "a24e0949-dcf6-48d4-8b9e-ce201e8b87d8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2380,
        -400
      ],
      "parameters": {
        "width": 320,
        "height": 240,
        "content": "This note indicates that the workflow triggers when a new WhatsApp message with media is received."
      },
      "typeVersion": 1
    },
    {
      "id": "f513cc8b-89d3-4481-b7fa-ac9d33ba8562",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1980,
        -400
      ],
      "parameters": {
        "width": 320,
        "height": 240,
        "content": "This note explains that the media ID is used to retrieve a private URL for downloading the media."
      },
      "typeVersion": 1
    },
    {
      "id": "3bae6af6-8858-4da4-ab2c-846a2c3e0ffe",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        -400
      ],
      "parameters": {
        "width": 320,
        "height": 240,
        "content": "This note highlights that the media file is downloaded using the retrieved private URL."
      },
      "typeVersion": 1
    },
    {
      "id": "f694abd7-dacf-41a7-82aa-157bfcf54f83",
      "name": "Trigger WhatsApp Media",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -2280,
        -320
      ],
      "webhookId": "864469fd-2008-445c-83fe-852dac2b236a",
      "parameters": {
        "options": {},
        "updates": [
          "messages"
        ]
      },
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "credential-id",
          "name": "whatsAppTriggerApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "33e74a92-4475-470d-8003-7631ea0b706f",
      "name": "Fetch Media Download URL",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -1880,
        -320
      ],
      "webhookId": "b052dd6a-55b8-4195-a64e-c0088b7419cc",
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "credential-id",
          "name": "whatsAppApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "5e9b09e8-b9d2-4571-a897-d49d32a68c3c",
      "name": "Download Media File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1500,
        -320
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {}
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "credential-id",
          "name": "httpBearerAuth Credential"
        },
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 4.2
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger WhatsApp Media": {
      "main": [
        [
          {
            "node": "Fetch Media Download URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Media Download URL": {
      "main": [
        [
          {
            "node": "Download Media File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
