workflows/templates/4226_Automate_RSS_Content_to_Blog_Posts_with_GPT_4o_WordPress_LinkedIn_Publishing.json
{
  "_templateId": 4226,
  "_templateName": "Automate RSS Content to Blog Posts with GPT-4o, WordPress & LinkedIn Publishing",
  "_templateDescription": "Automated Blog Post Review and Multi-Platform Publishing Workflow with RSS Feeds\n\nDescription\nThis workflow automates the process of generating, reviewing, and publishing blog posts across multiple platforms, now enhanced with support for RSS Feeds as a content source.\nIt streamlines the management of blog posts by fetching content from RSS Feeds, formatting, storing, reviewing, templating, and publishing to platforms like LinkedIn and WordPress.\nThe workflow is split into three key flows:  \nInitial Flow**: Fetches content from RSS Feeds, prepares and stores blog post data, sends a review email with approval/rejection links. \nApproval Flow**: Handles review actions via a webhook to update the status in Google Sheets.  \nStatus Update Flow**: Monitors status changes and publishes approved posts.  \n\nTarget Audience \nContent creators, bloggers, and digital marketers. \nTeams managing multi-platform content publishing.  \nUsers familiar with n8n, Google Sheets, LinkedIn, and RSS Feeds.  \n\nProblem Solved\n\nManually managing blog posts, especially when sourcing content from RSS Feeds, can be time-consuming and error-prone \nThis workflow addresses:  \nContent Sourcing**: Fetches blog posts from RSS Feeds for automated processing  \nContent Formatting**: Automatically formats and stores blog posts. \nReview Process**: Simplifies approval with email notifications and webhook triggers.  \nMulti-Platform Publishing**: Publishes to LinkedIn, WordPress and optionally Medium) with delays to avoid rate limits  \nStatus Tracking**: Tracks approval and publishing status in Google Sheets. \n\nSetup Instructions\n\nPrerequisites \nn8n Instance**: Ensure you have an active n8n instance  \nRSS Feed URL**: Identify an RSS Feed URL (e.g., a blog’s feed like https://example.com/feed)  \nGoogle Sheets**: Create a spreadsheet with columns: Title, Blogpost, Publication Date, Keywords, Status, Published, Featured Image, articleUrl, Rendered Blog. \n  Sheet Name: Posts Initial  \n  Add a dropdown for Status: Pending, Approved, Rejected.  \nGmail Account**: For sending review and notification emails.  \nLinkedIn Account**: For publishing posts (OAuth credentials needed).  \nOptional**: WordPress.com or Medium account for additional publishing.  \n\nCustomization Guidance \nBelow is a detailed breakdown of each flow and node, including setup instructions.  \n\n🔹 Initial Flow: Fetch from RSS Feeds, Prepare, and Send for Review.\n\nPurpose: Fetches blog posts from an RSS Feed, formats them, extracts images, stores data, and sends a review email.  \n\nFetch from RSS Feed  \n   Type: RSS Feed  \n   Purpose: Retrieves blog posts from an RSS Feed  \n   Configuration:  \n     URL: https://example.com/feed (replace with your RSS Feed URL)  \n     Limit: 1 (or adjust based on your needs)  \n   Setup: Ensure the RSS Feed URL is valid and accessible; test the node to verify it fetches posts  \n\nSet Fields  \n   Type: Set  \n   Purpose: Maps RSS Feed data to blog post fields   \n   Setup: Adjust field mappings based on your RSS Feed’s structure  \n\nFormat Blog Post for Storage  \n   Type: Code  \n   Purpose: Cleans up the blog post content.  \nExtract Featured Image  \n   Type: Code  \n   Purpose: Extracts or generates a featured image URL.  \n   Setup: Ensure originalHtml contains image data; otherwise, it uses a placeholder.  \n\nStore Blog Posts Initial  \n   Type: Google Sheets  \n   Purpose: Stores initial blog post data  \n   Setup: Ensure Google Sheets credentials are set up and the spreadsheet has the required columns.  \n\nSet Fields for Email  \n   Type: Set  \n   Purpose: Prepares fields for the review email.  \n   Setup: Replace https://your-n8n-instance with your n8n instance URL.  \n\nPrepare Email HTML  \n   Type: Code  \n   Purpose: Generates HTML email content with conditional image display  \n   Setup: No additional configuration needed  \nNotify for Review (Gmail)  \n   Type: Gmail  \n   Purpose: Sends a review email with approval/rejection links  \n🔹 Approval Flow: Handle Review Actions\n\nPurpose: Updates the blog post status based on approval/rejection  \n\nWebhook Trigger  \n   Type: Webhook  \n   Purpose: Triggers on approval/rejection link clicks  \n   Configuration:  \n     HTTP Method: GET  \n     Path: approve-post  \n     Response Code: 200  \n     Response Data: {\"message\": \"Status updated\"}  \n   Setup: Ensure the webhook URL matches the one in Set Fields for Email  \n\nFind Row to Update  \n   Type: Google Sheets  \n   Purpose: Retrieves all rows to find the matching blog post  \nFilter Row by Title  \n   Type: Code  \n   Purpose: Filters the row matching the blog post title  \n \n   Setup: No additional configuration needed  \n\nUpdate Status on Approval  \n   Type: Google Sheets  \n   Purpose: Updates the status to Approved or Rejected \n\n🔹 Status Update Flow: Publish Approved Posts\n\nPurpose: Monitors status changes and publishes approved posts  \n\nGoogle Sheets Trigger (Fetch Row)  \n   Type: Google Sheets Trigger  \n   Purpose: Triggers when a row’s status is updated  \n   Configuration:  \n     Event: Update  \n     Sheet Name: Posts Initial  \n     Output Fields: title, status, published, featuredImage, articleUrl  \n   Setup: Ensure Google Sheets credentials are set up  \n\nRouter (Check Status)  \n   Type: Router  \n   Purpose: Routes based on status and published state  \n   Configuration:  \n     Route 1: Approved and Not Published  \n       Condition: status equals Approved AND published equals NO  \n     Route 2: Rejected  \n       Condition: status equals Rejected  \n     Route 3: Pending  \n       Condition: status equals Pending  \n   Setup: No additional configuration needed  \n\nApply Blog Template    \n\nStore Blog Posts Final \n   Type: Google Sheets  \n   Purpose: Stores the final HTML content  \n   Configuration:  \n     Operation: Update Row   \n   Setup: Ensure the Rendered Blog column exists  \n\nLoop Over Blog Posts   \n   Type: Split in Batches  \n   Purpose: Processes each blog post individually  \n   Configuration: Default settings  \n   Setup: No additional configuration needed  \n\nDelay Between Posts\n   Type: Wait  \n   Purpose: Adds a delay to avoid rate limits  \n   Configuration:  \n     Wait Type: Delay  \n     Amount: 1 second  \n   Setup: Adjust delay as needed for LinkedIn rate limits  \n\nPublish to LinkedIn \n   Type: LinkedIn  \n   Purpose: Publishes the blog post to LinkedIn  \n   Configuration:  \n     Operation: Share Post  \n     Author: urn:li:person:YOUR_PERSONAL_URN   \n   Setup: Set up LinkedIn OAuth credentials and replace YOUR_PERSONAL_URN with your LinkedIn URN  \n\nUpdate Published State  \n   Type: Google Sheets  \n   Purpose: Updates the published status  \n   Configuration:  \n     Operation: Update Row  \n \n   Setup: Ensure the Published column exists  \n\nNotify Team \n   Type: Gmail  \n   Purpose: Notifies the team of successful publishing  \n   Configuration:  \n  \n       The blog post \"{{ $json.title }}\" has been successfully published\n   \n   Setup: Set up Gmail credentials; replace [Link] with the LinkedIn URL if captured  \n\nNotify Rejection (Gmail) (Route 2)  \n    Type: Gmail  \n    Purpose: Notifies on rejection  \n   \n        The blog post \"{{ $json.title }}\" has been rejected\n        Suggestions: Rewrite with more engaging content, adjust keywords, or verify facts\n        Please update the status in Google Sheets if you wish to revise and resubmit\n       \n    Setup: Set up Gmail credentials  \n\nWait for Status Update (Route 3)  \n    Type: Wait  \n    Purpose: Delays for status recheck  \n    Configuration:  \n      Wait Type: Delay  \n      Duration: 24h  \n    Setup: Adjust delay as needed  \n\nConclusion\n\nThis workflow streamlines blog post management with RSS Feeds, making it ideal \nfor busy content creators and teams.\n Customize it by adding more platforms adjusting delays, or enhancing notifications.\n Share your feedback in the n8n community to help others benefit from this automation.\n\n",
  "_templateCreatedAt": "2025-05-19T15:22:59.133Z",
  "_templateTotalViews": 1377,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:48:56.095Z",
  "meta": {
    "instanceId": "3da9aa1165fccd6e57ad278dd59febaa1dfaafc31e0e52a95d11801200f09024",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "3911f23a-cdfc-498d-93a7-83dea9ff1f0e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -540,
        1160
      ],
      "parameters": {},
      "description": "Triggers the workflow daily at 7 AM to fetch new RSS content.",
      "typeVersion": 1.2
    },
    {
      "id": "a02d3578-d2e5-4c56-962a-2c4bd7827c47",
      "name": "Merge RSS Feeds",
      "type": "n8n-nodes-base.merge",
      "position": [
        -40,
        1160
      ],
      "parameters": {},
      "description": "Combines articles from multiple RSS feeds into a single stream.",
      "typeVersion": 3.1
    },
    {
      "id": "90ec495d-4016-4123-b250-7ee377709f5a",
      "name": "Date Filter",
      "type": "n8n-nodes-base.if",
      "position": [
        160,
        1160
      ],
      "parameters": {},
      "description": "Filters articles published in the last 24 hours.",
      "typeVersion": 2.2
    },
    {
      "id": "2254b24a-dc91-4175-be2b-c512c98514d9",
      "name": "Limit Articles",
      "type": "n8n-nodes-base.limit",
      "position": [
        360,
        1140
      ],
      "parameters": {},
      "description": "Limits to 5 articles to avoid overwhelming the workflow.",
      "typeVersion": 1
    },
    {
      "id": "d87263a2-f61a-41c4-88a0-70029d8f6240",
      "name": "Extract Content",
      "type": "n8n-nodes-base.function",
      "position": [
        520,
        1140
      ],
      "parameters": {},
      "description": "Extracts title, description, link, and publication date from RSS items.",
      "typeVersion": 1
    },
    {
      "id": "4f499250-4ed1-47b7-ba25-4b95c2b778e8",
      "name": "Fetch Full Article",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        680,
        1140
      ],
      "parameters": {},
      "description": "Fetches the full article content from the article URL.",
      "typeVersion": 4.2
    },
    {
      "id": "5567afb2-4a3a-4902-bd8a-3ca7cdac0fe2",
      "name": "Extract Article Body",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        840,
        1140
      ],
      "parameters": {},
      "description": "Extracts the main article content using a CSS selector.",
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "id": "f9ad375d-3e7a-4653-bc7f-c532c65cd5df",
      "name": "Convert to Markdown",
      "type": "n8n-nodes-base.function",
      "position": [
        1000,
        1140
      ],
      "parameters": {},
      "description": "Converts HTML article content to Markdown for AI processing.",
      "typeVersion": 1
    },
    {
      "id": "d2053eb0-e1a5-48d4-9337-d71d0c65deac",
      "name": "RSS TheVerge",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -280,
        1080
      ],
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "c631fb1a-97c8-47cc-a23e-0c5e34d2989a",
      "name": "RSS TechCrunch",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -300,
        1280
      ],
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "39be1df4-5e78-46c7-b513-99b478b4095d",
      "name": "Generate Blog Post",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        220,
        1440
      ],
      "parameters": {},
      "typeVersion": 1.9
    },
    {
      "id": "0259e27d-92b9-40a7-9ac5-30a0e1162599",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        180,
        1640
      ],
      "parameters": {},
      "typeVersion": 1.2
    },
    {
      "id": "a2f5aa3b-b79f-4383-bc96-9a1a5603db00",
      "name": "Set Blog Creation Date",
      "type": "n8n-nodes-base.code",
      "position": [
        520,
        1440
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "d38eb963-fd81-4aa1-b981-6ffb18d4597f",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        680,
        1440
      ],
      "parameters": {},
      "typeVersion": 3.4
    },
    {
      "id": "64b1a852-b8e6-4976-9353-c15ce46af8f5",
      "name": "Format Fields for Storage",
      "type": "n8n-nodes-base.code",
      "position": [
        840,
        1440
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "65e1577f-975e-48f6-97f4-413114e20d46",
      "name": "Notify for Review",
      "type": "n8n-nodes-base.gmail",
      "position": [
        380,
        1760
      ],
      "webhookId": "98bd7b8a-4bed-4930-bd85-1282657ddc90",
      "parameters": {},
      "typeVersion": 2.1
    },
    {
      "id": "72ab9f93-0221-471d-b14a-340cd4807ba6",
      "name": "Prepare Fields Foor Notification",
      "type": "n8n-nodes-base.set",
      "position": [
        180,
        1760
      ],
      "parameters": {},
      "typeVersion": 3.4
    },
    {
      "id": "39bd3581-8a38-4357-ad2b-ebdf3fd13bd1",
      "name": "Add Featured Image",
      "type": "n8n-nodes-base.code",
      "position": [
        1000,
        1440
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "6864a2e9-fb55-4294-a862-b1d7690644ce",
      "name": "Store Blog Posts Initial",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        0,
        1760
      ],
      "parameters": {},
      "typeVersion": 4.5
    },
    {
      "id": "da7b47dc-a5b2-4043-a2fe-9650b4a0386e",
      "name": "Generate SEO Keywords",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -80,
        1440
      ],
      "parameters": {},
      "typeVersion": 1.8
    },
    {
      "id": "498c1ad6-503f-4c76-b033-f3c9232dd7e7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -380,
        580
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "15aab31b-8eaf-4c7b-a239-c178f3f3ef79",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3040,
        580
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "e1654306-c4da-4b1f-9c3d-6f0273c49f73",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        580
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "298beebf-63bc-470e-8aaa-c342629cb761",
      "name": "Update Approve Status",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2000,
        680
      ],
      "parameters": {},
      "typeVersion": 4.5,
      "alwaysOutputData": true
    },
    {
      "id": "14bd1cd7-083e-4d4d-b0cd-5dbdefda51b4",
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1800,
        680
      ],
      "webhookId": "7f532453-1e01-4ff1-b497-a3ae89646555",
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "4f9137eb-6425-403f-b260-92498147794d",
      "name": "Apply Blog Template",
      "type": "n8n-nodes-base.code",
      "position": [
        1780,
        1240
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "9072a8b4-1261-4080-8e2a-d51445175292",
      "name": "Loop Over Blog Posts",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2140,
        1240
      ],
      "parameters": {},
      "typeVersion": 3
    },
    {
      "id": "deea3250-6a1c-49ea-8acf-3ca2b2910d07",
      "name": "Delay Between Posts",
      "type": "n8n-nodes-base.wait",
      "position": [
        2400,
        1260
      ],
      "webhookId": "9b25f8f1-398f-4509-9b4b-21dbbf3ae69f",
      "parameters": {},
      "typeVersion": 1.1,
      "alwaysOutputData": true
    },
    {
      "id": "41d04b54-e5fd-46f6-95df-766e2cf05486",
      "name": "Notify Rejection",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1780,
        1420
      ],
      "webhookId": "d5706bbb-0688-4677-aa55-9795e2a726a5",
      "parameters": {},
      "typeVersion": 2.1
    },
    {
      "id": "eeab5208-3c13-4299-92f6-f6b9871207ec",
      "name": "Wait for Status Update",
      "type": "n8n-nodes-base.wait",
      "position": [
        1780,
        1600
      ],
      "webhookId": "45b7af13-f8d5-4588-aa09-294a56ff784b",
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "4b7a842b-5d04-4804-882b-944e9e45eca0",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1400,
        1420
      ],
      "parameters": {},
      "typeVersion": 3.2
    },
    {
      "id": "c36de3dc-a262-4da6-af79-66882f2eb434",
      "name": "Fetch Row",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        1220,
        1420
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "b85ed2c2-f488-406a-9b46-dd77a810fad3",
      "name": "Store Blog Posts Final",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1980,
        1240
      ],
      "parameters": {},
      "typeVersion": 4.5,
      "alwaysOutputData": true
    },
    {
      "id": "32bcef49-aab7-4a5a-be48-ecb18bd5e0f6",
      "name": "Check if Already Published",
      "type": "n8n-nodes-base.if",
      "position": [
        1580,
        1260
      ],
      "parameters": {},
      "typeVersion": 2.2
    },
    {
      "id": "2e90d3e7-7ef1-4292-9ea9-e69a21bd4fa1",
      "name": "Update Publish Status",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2860,
        1000
      ],
      "parameters": {},
      "typeVersion": 4.5
    },
    {
      "id": "c998be4e-824d-4fb6-a6f5-40b0e9a82e6d",
      "name": "Post to Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        2680,
        1280
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "c1de08f6-3be7-4ba5-b615-8f6e1aad0f4a",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        2700,
        1520
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "9503b253-6524-405f-9a1e-09e229fb7403",
      "name": "NNotify Telegram on Completion",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2380,
        1100
      ],
      "webhookId": "59b99b7d-d113-40ac-a590-aee1f7633120",
      "parameters": {},
      "typeVersion": 1.2
    },
    {
      "id": "154afc0d-da0c-4f31-8de8-ec50aa6ce8a1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        880
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "5f36f9aa-a96a-47eb-a39d-e3236ed8e49e",
      "name": "Copy of the RenderedBlog",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2660,
        1000
      ],
      "webhookId": "a4bff1ec-dc60-4ef2-8dec-3f9a555cfea0",
      "parameters": {},
      "typeVersion": 2.1
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Row": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Format Fields for Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Filter": {
      "main": [
        [
          {
            "node": "Limit Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Check if Already Published",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Rejection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for Status Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS TheVerge": {
      "main": [
        [
          {
            "node": "Merge RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Articles": {
      "main": [
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS TechCrunch": {
      "main": [
        [
          {
            "node": "Merge RSS Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "Fetch Full Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge RSS Feeds": {
      "main": [
        [
          {
            "node": "Date Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approval Webhook": {
      "main": [
        [
          {
            "node": "Update Approve Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS TechCrunch",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS TheVerge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Featured Image": {
      "main": [
        [
          {
            "node": "Store Blog Posts Initial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Full Article": {
      "main": [
        [
          {
            "node": "Extract Article Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Blog Post": {
      "main": [
        [
          {
            "node": "Set Blog Creation Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Blog Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Apply Blog Template": {
      "main": [
        [
          {
            "node": "Store Blog Posts Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Markdown": {
      "main": [
        [
          {
            "node": "Generate SEO Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay Between Posts": {
      "main": [
        [
          {
            "node": "Store Blog Posts Final",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Wordpress",
            "type": "main",
            "index": 0
          },
          {
            "node": "Copy of the RenderedBlog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Body": {
      "main": [
        [
          {
            "node": "Convert to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Blog Posts": {
      "main": [
        [
          {
            "node": "NNotify Telegram on Completion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delay Between Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SEO Keywords": {
      "main": [
        [
          {
            "node": "Generate Blog Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Blog Creation Date": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Blog Posts Final": {
      "main": [
        [
          {
            "node": "Loop Over Blog Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Status Update": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy of the RenderedBlog": {
      "main": [
        [
          {
            "node": "Update Publish Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Blog Posts Initial": {
      "main": [
        [
          {
            "node": "Prepare Fields Foor Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Fields for Storage": {
      "main": [
        [
          {
            "node": "Add Featured Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Already Published": {
      "main": [
        [
          {
            "node": "Apply Blog Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fields Foor Notification": {
      "main": [
        [
          {
            "node": "Notify for Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
