workflows/templates/4322_Classify_Lead_Sentiment_with_Google_Gemini_and_Send_WhatsApp_Responses_via_Typeform_Supabase.json
{
  "_templateId": 4322,
  "_templateName": "Classify Lead Sentiment with Google Gemini and Send WhatsApp Responses via Typeform & Supabase",
  "_templateDescription": "\nAutomatically classify incoming leads based on the sentiment of their message using Google Gemini, store them in Supabase by category, and send tailored WhatsApp messages via the official WhatsApp Cloud API.\n\n✅ Use Case:\nThis workflow is ideal for sales, onboarding, and customer support teams who want to:\n\nUnderstand the tone and urgency of each lead\n\nPrioritize hot leads instantly\n\nSend smart, automatic WhatsApp replies based on user sentiment\n\n🧠 How it works:\nCapture lead via a Typeform webhook\n\nClean and structure the data (name, email, message, etc.)\n\nRun sentiment analysis using Google Gemini to classify the message as:\n\nPositive → Hot Lead\n\nNeutral → Warm Lead\n\nNegative → Cold Lead\n\nStore lead data in Supabase under the corresponding category\n\nMerge data to unify flow paths\n\nSend WhatsApp message using the official WhatsApp Cloud API, with a custom reply for each sentiment result\n\n🔧 Tools used:\nTypeform (incoming data)\n\nGoogle Gemini (AI-based sentiment classification)\n\nSupabase (database)\n\nWhatsApp Cloud API (response automation)\n\n🏷 Tags:\nAI, Sentiment Analysis, Lead Qualification, Supabase, WhatsApp, Gemini, Typeform, CRM, Automation, Customer Engagement\n\n",
  "_templateCreatedAt": "2025-05-22T14:21:49.503Z",
  "_templateTotalViews": 709,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:50:21.359Z",
  "meta": {
    "instanceId": "47132c409ea4cfc382a6c48656c8a35b5da4c1fa7ef892882b424c42ae8a05b2",
    "templateCredsSetupCompleted": true
  },
  "name": "Lead Sentiment Qualifier",
  "tags": [],
  "nodes": [
    {
      "id": "e74de2ca-d3e1-499b-893c-972bb6bd9ad0",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        760,
        580
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "01b4b86b-8798-405e-93c9-5881f3d27d20",
      "name": "Receive New Lead (Typeform)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        340,
        360
      ],
      "webhookId": "20426827-714d-4a48-ab87-4a3216665bde",
      "parameters": {
        "path": "lead-webhook",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2
    },
    {
      "id": "b4007cc1-6332-42d3-a7d1-12db9bc35fec",
      "name": "Prepare Lead Data",
      "type": "n8n-nodes-base.set",
      "position": [
        560,
        360
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3.4
    },
    {
      "id": "d274436b-f5f6-4c13-948d-f1e2f822e85c",
      "name": "Classify Sentiment (Gemini or other ai model)",
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "position": [
        780,
        360
      ],
      "parameters": {
        "options": {},
        "inputText": "={{$json[\"message\"] || $json[\"mensagem\"] || $json[\"resposta\"]}}\n"
      },
      "typeVersion": 1
    },
    {
      "id": "1322317f-fbc6-4a9d-a764-f6dc68b7a02b",
      "name": "Store Hot Lead",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1156,
        160
      ],
      "parameters": {},
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": ""
        }
      },
      "typeVersion": 1
    },
    {
      "id": "856a57e9-4d21-4a7c-9dd4-90d5df595468",
      "name": "Store Neutral Lead",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1156,
        360
      ],
      "parameters": {},
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": ""
        }
      },
      "typeVersion": 1
    },
    {
      "id": "1d3ab942-66f3-4aff-a46e-7cc040e7f6db",
      "name": "Store Cold Lead",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1156,
        560
      ],
      "parameters": {},
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": ""
        }
      },
      "typeVersion": 1
    },
    {
      "id": "20839991-6176-4485-98fe-1d188ac552f1",
      "name": "Combine Lead Data",
      "type": "n8n-nodes-base.merge",
      "position": [
        1376,
        360
      ],
      "parameters": {
        "numberInputs": 3
      },
      "typeVersion": 3.1
    },
    {
      "id": "fa4ac251-30a5-4ab4-8bd3-54036b810648",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1596,
        360
      ],
      "webhookId": "b18f6b54-22e1-4989-bbf8-301c1be7d566",
      "parameters": {
        "operation": "send",
        "additionalFields": {}
      },
      "typeVersion": 1
    },
    {
      "id": "1c49034d-c7fe-4f1f-acab-01a1efe0f474",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -220,
        140
      ],
      "parameters": {
        "width": 480,
        "height": 600,
        "content": "## Lead Sentiment Qualifier – Classify incoming leads using AI and reply via WhatsApp\n\n\nShort Description:\nAutomatically classify leads from a Typeform based on sentiment using Google Gemini. Store them in Supabase by category (hot, neutral, cold) and send personalized WhatsApp responses using the official WhatsApp Cloud API.\n\nFull Description:\nThis workflow helps you qualify leads instantly by analyzing the sentiment of their message.\n\nNew leads are captured through a Typeform webhook\n\nThe message is processed and analyzed using Google Gemini (sentiment classification: Positive, Neutral or Negative)\n\nDepending on the result, the lead is stored in Supabase under the appropriate label (hot, neutral, or cold)\n\nA personalized WhatsApp message is sent using the official WhatsApp Cloud API to confirm receipt and provide feedback\n\nIdeal for sales teams, onboarding funnels, and support flows that want to prioritize leads based on tone, urgency, or engagement level."
      },
      "typeVersion": 1
    },
    {
      "id": "e8d20736-9419-445e-ab25-dd63a7605cf2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        720
      ],
      "parameters": {
        "content": "## Prompt sugestion \nClassify the sentiment of the message below as Positive, Neutral or Negative:\n\n\"{{$json[\"message\"]}}\"\n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "connections": {
    "Store Hot Lead": {
      "main": [
        [
          {
            "node": "Combine Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Cold Lead": {
      "main": [
        [
          {
            "node": "Combine Lead Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Combine Lead Data": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Data": {
      "main": [
        [
          {
            "node": "Classify Sentiment (Gemini or other ai model)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Neutral Lead": {
      "main": [
        [
          {
            "node": "Combine Lead Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Sentiment (Gemini or other ai model)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Receive New Lead (Typeform)": {
      "main": [
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Sentiment (Gemini or other ai model)": {
      "main": [
        [
          {
            "node": "Store Hot Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store Neutral Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Store Cold Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
