workflows/templates/4416_HubSpot_Contact_Email_Validation_with_Hunter_io.json
{
  "_templateId": 4416,
  "_templateName": "HubSpot Contact Email Validation with Hunter.io",
  "_templateDescription": "Workflow: HubSpot Contact Email Validation with Hunter.io\n\nOverall Goal\n\nThis workflow retrieves contacts from HubSpot that have an email address but haven't yet had their email validated by Hunter. It then iterates through each of these contacts, uses Hunter.io to verify their email, updates the contact record in HubSpot with the validation status and date, and finally sends a summary email notification upon completion.\n\nHow it Works (Step-by-Step Breakdown)\n\nNode: \"When clicking ‘Test workflow’\" (Manual Trigger)\nType:** n8n-nodes-base.manualTrigger\nPurpose:** Start the workflow manually via the n8n interface.\nOutput:** Triggers workflow execution.\n\nNode: \"HubSpot\" (HubSpot)\nType:** n8n-nodes-base.hubspot\nPurpose:** Fetch contacts from HubSpot.\nConfiguration:**\n  Authentication: App Token\n  Operation: Search for contacts\n  Return All: True\n  Filter Groups:\n    Contact HAS_PROPERTY email\n    Contact NOT_HAS_PROPERTY hunter_email_validation_status\nOutput:** List of contact objects.\n\nNode: \"Loop Over Items\" (SplitInBatches)\nType:** n8n-nodes-base.splitInBatches\nPurpose:** Process each contact one-by-one.\nConfiguration:**\n  Options &gt; Reset: false\nOutput:**\n  Output 1 to \"Hunter\"\n  Output 2 to \"Send Email\"\n\nNode: \"Hunter\" (Inside the loop)\nType:** n8n-nodes-base.hunter\nPurpose:** Verify email with Hunter.io\nConfiguration:**\n  Operation: Email Verifier\n  Email: {{ $json.properties.email }}\n\nNode: \"Add Hunter Details (Contact)\" (HTTP Request - Inside the loop)\nType:** n8n-nodes-base.httpRequest\nPurpose:** Update HubSpot contact.\nConfiguration:**\n  Method: PATCH\n  URL: https://api.hubapi.com/crm/v3/objects/contacts/{{ $('Loop Over Items').item.json.id }}\n  Headers: Content-Type: application/json\n  Body (JSON):\n        {\n      \"properties\": {\n        \"hunter_email_validation_status\": \"{{ $json.status }}\",\n        \"hunter_verification_date\": \"{{ $now.format('yyyy-MM-dd') }}\"\n      }\n    }\nNode: \"Wait\" (Inside the loop)\nType:** n8n-nodes-base.wait\nPurpose:** Avoid API rate limits.\nConfiguration:** Wait for 1 second.\n\nNode: \"Replace Me\" (NoOp - Inside the loop)\nType:** n8n-nodes-base.noOp\nPurpose:** Junction node to complete the loop.\n\nNode: \"Send Email\" (After the loop completes)\nType:** n8n-nodes-base.emailSend\nPurpose:** Send summary notification.\nConfiguration:**\n  From Email: test@gmail.com\n  To Email: akhilgadiraju@gmail.com\n  Subject: \"Email Verification Completed for Your HubSpot Contacts\"\n  HTML: Formatted confirmation message\n\nSticky Notes\n\"HubSpot\": Create custom properties (hunter_email_validation_status, hunter_verification_date).\n\"Add Hunter Details\": Ensure field names match HubSpot properties.\n\"Wait\": Prevent API rate limits.\n\nHow to Customize It\n\nTrigger\nReplace Manual Trigger with Schedule Trigger (Cron) for automation.\nOptionally use HubSpot Trigger for new contact events.\n\nHubSpot Node\nCreate matching custom properties.\nAdjust filters and returned properties as needed.\n\nHunter Node\nMinimal customization needed.\n\nHTTP Request Node\nUpdate JSON property names if renaming in HubSpot.\nCustomize date format as needed.\n\nWait Node\nAdjust wait time to balance speed and API safety.\n\nEmail Node\nCustomize email addresses, subject, and body.\nAdd dynamic contact count with a Set or Function node.\n\nError Handling\nAdd Error Trigger nodes.\nUse If nodes inside loop to act on certain statuses.\n\nUse Cases\nClean your email list.\nEnrich CRM data.\nPrep verified lists for campaigns.\nAutomate contact hygiene on a schedule.\n\nRequired Credentials\n\nHubSpot App Token\nUsed by: HubSpot node and HTTP Request node\nCreate a Private App in HubSpot with required scopes.\n\nHunter API\nUsed by: Hunter node\n\nSMTP\nUsed by: Email Send node\nConfigure host, port, username, and password.\n\nMade with ❤️ using n8n by Akhil.",
  "_templateCreatedAt": "2025-05-27T04:57:19.995Z",
  "_templateTotalViews": 300,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-29T05:05:51.083Z",
  "meta": {
    "instanceId": "7d8066d2f56a07000fe7d753d3eeabf0ecdf68413466f30d10afe0906f058427",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "3dbe2e56-9d74-4dfd-849a-9eac65fec4bb",
      "name": "HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        240,
        60
      ],
      "parameters": {
        "operation": "search",
        "returnAll": true,
        "authentication": "appToken",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "operator": "HAS_PROPERTY",
                    "propertyName": "email|string"
                  },
                  {
                    "operator": "NOT_HAS_PROPERTY",
                    "propertyName": "hunter_email_validation_status|enumeration"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "credential-id",
          "name": "hubspotAppToken Credential"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "567de405-6968-465b-a9f1-87e8bd3b54b5",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        20,
        60
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "a8edfdfd-aa93-47a6-8f84-a44846781d35",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        460,
        60
      ],
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "typeVersion": 3
    },
    {
      "id": "4399eae5-3e3c-4080-96ef-c13bc388d836",
      "name": "Replace Me",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1340,
        35
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "45794b7b-f92b-43bc-879c-6d5bb16c2c3c",
      "name": "Hunter",
      "type": "n8n-nodes-base.hunter",
      "position": [
        680,
        -140
      ],
      "parameters": {
        "email": "={{ $json.properties.email }}",
        "operation": "emailVerifier"
      },
      "credentials": {
        "hunterApi": {
          "id": "credential-id",
          "name": "hunterApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "35c9bd9a-e683-437c-82c7-d70a4a80edb7",
      "name": "Add Hunter Details (Contact)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        -140
      ],
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $('Loop Over Items').item.json.id }}",
        "method": "PATCH",
        "options": {},
        "jsonBody": "={\n  \"properties\": {\n    \"hunter_email_validation_status\": \"{{ $json.status }}\",\n    \"hunter_verification_date\": \"{{ $now.format('yyyy-MM-dd') }}\"\n  }\n} ",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "nodeCredentialType": "hubspotAppToken"
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "credential-id",
          "name": "hubspotAppToken Credential"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "851a4869-0d1a-4b3c-8bb5-a8c1b2c34425",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        1120,
        -140
      ],
      "webhookId": "a073a564-adc5-479d-aa12-f71eccf909b9",
      "parameters": {
        "amount": 1
      },
      "typeVersion": 1.1
    },
    {
      "id": "462a0b4a-aa6f-423b-9a5d-56d1d71d917f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        820,
        -300
      ],
      "parameters": {
        "width": 260,
        "height": 140,
        "content": "## ⚠️ Customize Fields\nRename the field names to match your preference"
      },
      "typeVersion": 1
    },
    {
      "id": "659dfe01-b6aa-437e-bf72-367e5d34fe6a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        -300
      ],
      "parameters": {
        "color": 4,
        "height": 140,
        "content": "## 🕛 Wait \nThis node is responsible for halting the workflow for one second to avoid rate limit limitatins."
      },
      "typeVersion": 1
    },
    {
      "id": "bbaf2991-4c66-4f4d-bde8-26b24d2074db",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -80
      ],
      "parameters": {
        "width": 280,
        "height": 120,
        "content": "## ⚠️ Customize Fields\nyou can use any field name that suits your preference, make sure you add those properties in hubspot first."
      },
      "typeVersion": 1
    },
    {
      "id": "f1f1581c-b502-4181-a9e2-8d4a57d98b0e",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        680,
        60
      ],
      "webhookId": "601e6cb0-ea98-4d00-ad0d-82a84f8d117e",
      "parameters": {
        "html": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Verification Complete</title>\n  <style>\n    body {\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      background-color: #f9f9fb;\n      margin: 0;\n      padding: 0;\n      color: #333;\n    }\n    .container {\n      max-width: 600px;\n      margin: 40px auto;\n      background-color: #fff;\n      border-radius: 8px;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.05);\n      overflow: hidden;\n    }\n    .header {\n      background-color: #3f84e5;\n      color: #fff;\n      padding: 20px;\n      text-align: center;\n    }\n    .content {\n      padding: 30px;\n    }\n    .footer {\n      text-align: center;\n      font-size: 12px;\n      color: #aaa;\n      padding: 20px;\n    }\n    .btn {\n      display: inline-block;\n      background-color: #3f84e5;\n      color: white;\n      padding: 12px 20px;\n      text-decoration: none;\n      border-radius: 5px;\n      margin-top: 20px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>✅ Email Verification Complete</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hello,</p>\n      <p>We’ve finished verifying all the email addresses pulled from your HubSpot contact list.</p>\n\n      <p>All verified contacts are now ready for further processing or campaign activities.</p>\n    </div>\n    <div class=\"footer\">\n      &copy; {{ new Date().getFullYear() }} Your Company. All rights reserved.\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        },
        "subject": "Email Verification Completed for Your HubSpot Contacts",
        "toEmail": "user@example.com",
        "fromEmail": "user@example.com"
      },
      "credentials": {
        "smtp": {
          "id": "credential-id",
          "name": "smtp Credential"
        }
      },
      "typeVersion": 2.1
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter": {
      "main": [
        [
          {
            "node": "Add Hunter Details (Contact)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Hunter Details (Contact)": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
