workflows/templates/4418_Auto_Cleanup_of_Cloudflare_R2_Files_Older_Than_2_Weeks_Telegram_Notifications.json
{
  "_templateId": 4418,
  "_templateName": "Auto-Cleanup of Cloudflare R2 Files Older Than 2 Weeks (+ Telegram Notifications)",
  "_templateDescription": "This workflow automatically connects to a Cloudflare R2 bucket (via S3-compatible API), filters out files older than 14 days, deletes them, and then sends a Telegram notification for each deletion. It runs on a daily schedule.\n\n🕘 Schedule Trigger\nExecutes the workflow once a day at a specified hour (e.g., 9 AM).\n\n📦 S3 Node – List Files\nRetrieves all objects from a specific folder (prefix) in a Cloudflare R2 bucket using the S3 API.\n\n🔎 Code Node – Filter Files Older Than 2 Weeks\nFilters the retrieved files by comparing their LastModified timestamps to the current date. Files older than 14 days (2 weeks) are selected for deletion.\n\n🗑️ S3 Node – Delete File\nDeletes each filtered file from the R2 bucket.\n\n📨 Telegram Node – Notify Deletion\nSends a Telegram message with the name of the deleted file to a specified chat ID. The message includes:",
  "_templateCreatedAt": "2025-05-27T05:38:36.173Z",
  "_templateTotalViews": 199,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-29T05:05:50.744Z",
  "meta": {
    "instanceId": "651cb210bfbe30e7e5b06f0378c3cb8d15e18849a4b48e0d63ab0d98c4f6e232",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "1d6e7f05-a102-47aa-adf7-a5c99fd6de24",
      "name": "S3",
      "type": "n8n-nodes-base.s3",
      "position": [
        -140,
        -80
      ],
      "parameters": {
        "options": {
          "folderKey": "Folder/",
          "fetchOwner": false
        },
        "operation": "getAll",
        "returnAll": true,
        "bucketName": "bucketName"
      },
      "credentials": {
        "s3": {
          "id": "credential-id",
          "name": "s3 Credential"
        }
      },
      "notesInFlow": false,
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "id": "bbc59eb2-b927-48ae-9b05-9dde8f8bb076",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        140,
        -80
      ],
      "parameters": {
        "jsCode": "const TWO_WEEKS = 14 * 24 * 60 * 60 * 1000;\nconst now = Date.now();\nconst today = new Date().toISOString().split(\"T\")[0]; // YYYY-MM-DD\n\nconst items = $items(\"S3\", 0); // ดึงไฟล์ทั้งหมดจาก AWS S3 Node\n\nreturn items.filter(item => {\n   const lastModified = new Date(item.json.LastModified).getTime();\n  const age = now - lastModified;\n  return age > TWO_WEEKS;\n  // const fileDate = new Date(item.json.LastModified).toISOString().split(\"T\")[0];\n  // return fileDate === today;\n});\n\n"
      },
      "typeVersion": 2
    },
    {
      "id": "0612b8b7-23e1-4ccc-8563-3e2396f67c6d",
      "name": "S31",
      "type": "n8n-nodes-base.s3",
      "position": [
        420,
        -80
      ],
      "parameters": {
        "fileKey": "={{ $json.Key }}",
        "options": {},
        "operation": "delete",
        "bucketName": "bucketName"
      },
      "credentials": {
        "s3": {
          "id": "credential-id",
          "name": "s3 Credential"
        }
      },
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "id": "0864095d-e7eb-47d3-9b21-2103b6f64a01",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        680,
        -80
      ],
      "webhookId": "1062fade-271c-4f43-a88b-ae6b18bb0153",
      "parameters": {
        "text": "=✅ Remove R2 backup complete  \n👌*{{ $('Code').item.json.Key }}*",
        "chatId": "TELEGRAM_CHAT_ID",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "executeOnce": false,
      "typeVersion": 1.2
    },
    {
      "id": "808e756e-7a74-4b03-86ac-c915578a7c04",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -400,
        -80
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "86406c94-fa65-446c-aad9-47cd6073e61d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        -240
      ],
      "parameters": {
        "height": 340,
        "content": "## Schedul\nRun from setup schedule time"
      },
      "typeVersion": 1
    },
    {
      "id": "a8fc923d-623b-4d68-8896-d97411d8be10",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -200,
        -240
      ],
      "parameters": {
        "color": 5,
        "width": 220,
        "height": 340,
        "content": "## R2 Object (S3)\nGet file from Cloudflare R2 Object (S3)"
      },
      "typeVersion": 1
    },
    {
      "id": "3db54850-3f7c-4638-ae04-4110efeb69d0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        -240
      ],
      "parameters": {
        "color": 6,
        "width": 260,
        "height": 340,
        "content": "## Filter File\nFilter file for remove"
      },
      "typeVersion": 1
    },
    {
      "id": "8814b537-f0e0-4e18-a1b3-9a43beae7f72",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        -240
      ],
      "parameters": {
        "color": 5,
        "height": 340,
        "content": "## Delete File\nRemove file from cloud"
      },
      "typeVersion": 1
    },
    {
      "id": "1442dabd-cfb8-4c79-8ff3-c53d6f06009f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        -240
      ],
      "parameters": {
        "color": 5,
        "height": 340,
        "content": "## Telegram Notify\nNotify remove file success"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "S3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S31": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "S31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
