workflows/templates/4501_Build_Query_RAG_System_with_Google_Drive_OpenAI_GPT_4o_mini_and_Pinecone.json
{
  "_templateId": 4501,
  "_templateName": "Build & Query RAG System with Google Drive, OpenAI GPT-4o-mini, and Pinecone",
  "_templateDescription": "🔍 What This Workflow Does\n\nThis RAG Pipeline in n8n automates document ingestion from Google Drive, vectorizes it using OpenAI embeddings, stores it in Pinecone, and enables chat-based retrieval using LangChain agents.\n\nMain Functions:\n\n📂 Auto-detects new files uploaded to a specific Google Drive folder.\n🧠 Converts the file into embeddings using OpenAI.\n📦 Stores them in a Pinecone vector database.\n💬 Allows a user to query the knowledge base through a chat interface.\n🤖 Uses a GPT-4o-mini model with LangChain to generate intelligent responses using retrieved context.\n⚙️ Setup Instructions\n\nConnect Accounts\nEnsure these services are connected in n8n:\n\n✅ Google Drive (OAuth2)\n✅ OpenAI\n✅ Pinecone\nYou can do this in n8n &gt; Credentials &gt; New and use the matching names from the file:\n\nGoogle Drive: \"Google Drive account 2\"\nOpenAI: \"OpenAi success\"\nPinecone: \"PineconeApi account 2\"\nFolder Setup\nUpload your documents to this folder in Google Drive:\n\n📁 Power Folder\n\nThe workflow is triggered every minute when a new file is uploaded.\n\nWorkflow Overview\nA. File Ingestion Path\n\nGoogle Drive Trigger — detects new file.\nGoogle Drive (Download) — downloads the new file.\nRecursive Text Splitter — splits text into chunks.\nDefault Data Loader — loads content as LangChain documents.\nOpenAI Embeddings — converts text chunks into embeddings.\nPinecone Vector Store — stores them in \"ragfile\" index.\nB. Chat Retrieval Path\n\nWhen chat message received — \nAI Agent — LangChain agent managing tools.\nOpenAI Chat Model (GPT-4o-mini) — generates replies.\nPinecone Vector Store (retrieval) — retrieves matching content.\nEmbeddings OpenAI1 — helps match queries to document chunks.\n\n",
  "_templateCreatedAt": "2025-05-30T01:35:59.082Z",
  "_templateTotalViews": 3336,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-21T08:16:34.188Z",
  "id": "xOFhKr29kjrBDnlw",
  "meta": {
    "instanceId": "2000c64071c20843606b95c63795bb0797c41036047055a6586498e855b96efc",
    "templateCredsSetupCompleted": true
  },
  "name": "Instant RaG Builder",
  "tags": [],
  "nodes": [
    {
      "id": "71812204-ccca-4757-a52f-0cd30c7ef393",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -440,
        -80
      ],
      "parameters": {
        "event": "fileCreated",
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1uf6zZN51rgAuQgid4-Oi314f6mJIQdiB",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1uf6zZN51rgAuQgid4-Oi314f6mJIQdiB",
          "cachedResultName": "ETOO power"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "credential-id",
          "name": "googleDriveOAuth2Api Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "e4302b23-c964-421e-a8fd-3e84935a1fea",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -220,
        -80
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {},
        "operation": "download"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "credential-id",
          "name": "googleDriveOAuth2Api Credential"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "9990d9d8-3c56-49af-beb9-d9a335ed7874",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        40,
        -80
      ],
      "parameters": {
        "mode": "insert",
        "options": {},
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "ragfile",
          "cachedResultName": "ragfile"
        }
      },
      "credentials": {
        "pineconeApi": {
          "id": "credential-id",
          "name": "pineconeApi Credential"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "ee09de71-4146-4f51-a036-5eeb0d72044a",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -40,
        140
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "openAiApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "b1edcf2c-4b19-43dc-9985-dad03a0e6df2",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        180,
        140
      ],
      "parameters": {
        "options": {},
        "dataType": "binary"
      },
      "typeVersion": 1
    },
    {
      "id": "1db4c053-9953-4a63-91cc-676fc59d434d",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        200,
        260
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "80e69d74-18ca-4d47-8900-9fa070fd2b22",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -440,
        440
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 2
    },
    {
      "id": "9679f79a-cbee-4d6e-9633-76c96e5c7ffc",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -720,
        440
      ],
      "webhookId": "fa37c7db-d78c-4a86-9de3-7cb6805de74f",
      "parameters": {
        "options": {}
      },
      "typeVersion": 1.1
    },
    {
      "id": "3ea509ac-f5dd-410f-b310-587382770773",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -440,
        620
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "openAiApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "6bbee514-a4c6-4ea9-97fb-02d0343c93a9",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -140,
        600
      ],
      "parameters": {
        "mode": "retrieve-as-tool",
        "options": {},
        "toolName": "knowledge_base",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "ragfile",
          "cachedResultName": "ragfile"
        },
        "toolDescription": "call this tool to access the database"
      },
      "credentials": {
        "pineconeApi": {
          "id": "credential-id",
          "name": "pineconeApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "37fd9772-35c6-4310-b449-f1b07b729f6d",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        60,
        760
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "openAiApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "51c6804d-6b49-4a5f-a475-26abef7925b0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1220,
        80
      ],
      "parameters": {
        "width": 460,
        "height": 620,
        "content": "## Instant RaG Builder: Drive to Pinecone\n\n**Author** **David Olusola**\n\n**Set Up** :✅ Connect credentials:\n    Google Drive, OpenAI, Pinecone\n\n📁 Upload file to:\n    Google Drive folder (auto-watched)\n\n🔄 Workflow does the rest:\n    - Downloads file\n    - Splits text\n    - Creates embeddings\n    - Stores in Pinecone\n\n💬 Send a chat message to the Agent\n    → Query stored knowledge instantly!"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8ed5291-ab8f-428a-9728-8db5b3c04122",
  "connections": {
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  }
}
