workflows/templates/4575_Hostinger_Form_Lead_Capture_Qualification_with_OpenAI_Beehiiv_Google_Sheets.json
{
  "_templateId": 4575,
  "_templateName": "Hostinger Form Lead Capture & Qualification with OpenAI, Beehiiv & Google Sheets",
  "_templateDescription": "This n8n workflow provides a robust solution for Hostinger website owners looking to streamline their lead capture and qualification process. By integrating AI and popular marketing tools, it ensures efficient management of new leads.\n\nHow it works\n\nThis workflow automates the process of capturing leads from a Hostinger website form, qualifying them using an AI model, and syncing them with Beehiiv and Google Sheets.\n\nA new form submission on your Hostinger website triggers the workflow via Gmail.\nAn AI model (OpenAI) extracts and qualifies relevant data from the form response, transforming it into a structured JSON format.\nThe qualified lead is then added as a new subscriber to your Beehiiv newsletter.\nFinally, the lead information is appended to a Google Sheet for comprehensive tracking and record-keeping.\n\nSet up steps\n\nCreate an account on Hostinger and set up a form on your website.\nConfigure a Gmail trigger to capture form submissions from your Hostinger email sender.\nEnsure your email is mapped correctly for the Hostinger sender.\nSet up your OpenAI API key for the \"Extract & Qualify Message Model\" node.\nCreate an account on Beehiiv. Obtain your Beehiiv API key and create your credentials.\nSet up a Google Sheet and configure the \"insert in Sheets\" node with the correct mapping.\n\nApproximate setup time: 15-30 minutes\n\nWhy you need this?\n\nYou need this workflow if you're a Hostinger website owner who wants to:\n\nAutomate lead capture:** Say goodbye to manual lead processing and ensure no lead slips through the cracks.\nQualify leads intelligently:** Leverage AI to instantly extract and qualify crucial lead information, saving you valuable time and improving lead quality.\nGrow your audience efficiently:** Seamlessly add qualified leads to your Beehiiv newsletter, nurturing them from the moment they express interest.\nMaintain organized records:** Automatically centralize all your lead data in a Google Sheet for easy access, analysis, and follow-up.\nBoost productivity:** Free up your time from repetitive administrative tasks and focus on growing your business.\n\n👉 Need Help?\nFeel free to contact us at 1 Node.\nGet instant access to a library of free resources we created.",
  "_templateCreatedAt": "2025-06-02T08:19:46.665Z",
  "_templateTotalViews": 312,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-29T05:01:24.669Z",
  "id": "NYq3UCwuVeSy4t2X",
  "meta": {
    "instanceId": "9219ebc7795bea866f70aa3d977d54417fdf06c41944be95e20cfb60f992db19",
    "templateCredsSetupCompleted": true
  },
  "name": "Hostinger website form lead qualification",
  "tags": [
    {
      "id": "55FGhjeaCcjBUam6",
      "name": "1node",
      "createdAt": "2025-04-30T08:13:16.484Z",
      "updatedAt": "2025-04-30T08:13:16.484Z"
    },
    {
      "id": "33yuvdx4oQ05TZoD",
      "name": "newsletter",
      "createdAt": "2025-05-02T08:18:43.148Z",
      "updatedAt": "2025-05-02T08:18:43.148Z"
    }
  ],
  "nodes": [
    {
      "id": "79eb3b2e-7039-4462-b63a-941a8b7ed5c5",
      "name": "List Beehiiv publications",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -684,
        -40
      ],
      "parameters": {
        "url": "https://api.beehiiv.com/v2/publications",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "495b8118-f0dc-442e-8b52-48cd3b698753",
      "name": "Add Beehiiv subscriber",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -464,
        -40
      ],
      "parameters": {
        "url": "=https://api.beehiiv.com/v2/publications/{{ $json.data[0].id }}/subscriptions",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Extract & Qualify').item.json.message.content.email }}"
            }
          ]
        },
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "3ae5298e-c0bf-44ef-9f1b-d6f1b8964c73",
      "name": "Extract & Qualify",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -1060,
        -40
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=You are a lead qualification engine. You will receive the text of an email containing a form response.\n\nHere is the form response: \n{{ $json.text }} \n\nYour task is to evaluate the fields: \"email\", \"company name\", and \"website\" to determine if a lead is qualified, as well as extracting the rest of the variables in the form response to output a JSON with all the fields.\n\n\"isQualified\" → true or false\n\"reason\" → short explanation if unqualified, empty string if qualified\n\nRules:\n\nIf the email domain is from a free provider (e.g., gmail.com, yahoo.com, hotmail.com, outlook.com), set isQualified = false and set reason = \"Personal email used\".\n\nIf the website field is missing, invalid, or not a proper URL, set isQualified = false and set reason = \"Invalid or missing website\".\n\nIf both email and website are acceptable, set isQualified = true and set reason = \"\".\n\nResponse format: Only return JSON with all the variables. No explanations, no additional text."
            }
          ]
        },
        "jsonOutput": true
      },
      "credentials": {
        "openAiApi": {
          "id": "credential-id",
          "name": "openAiApi Credential"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "e35a283f-7ddd-4d20-b3cb-2a2d57cb1a36",
      "name": "New form trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -1280,
        -40
      ],
      "parameters": {
        "simple": false,
        "filters": {
          "sender": "user@example.com"
        },
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "credential-id",
          "name": "gmailOAuth2 Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "172514fb-f8b5-4bf9-940c-edf115f6448d",
      "name": "insert in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -244,
        -40
      ],
      "parameters": {
        "columns": {
          "value": {
            "Name": "={{ $('Extract & Qualify').item.json.message.content.name }}",
            "Role": "={{ $('Extract & Qualify').item.json.message.content.role }}",
            "Size": "={{ $('Extract & Qualify').item.json.message.content.companySize }}",
            "Email": "={{ $('Extract & Qualify').item.json.message.content.email }}",
            "Budget": "={{ $('Extract & Qualify').item.json.message.content.projectBudget }}",
            "Reason": "={{ $('Extract & Qualify').item.json.message.content.reason }}",
            "Company": "={{ $('Extract & Qualify').item.json.message.content.companyName }}",
            "Message": "={{ $('Extract & Qualify').item.json.message.content.howCanWeHelp }}",
            "Website": "={{ $('Extract & Qualify').item.json.message.content.companyWebsite }}",
            "Services": "={{ $('Extract & Qualify').item.json.message.content.servicesInterested }}",
            "Is Qualified": "={{ $('Extract & Qualify').item.json.message.content.isQualified }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Role",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Company",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Size",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Size",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Budget",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Services",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Services",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Is Qualified",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Is Qualified",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Reason",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        },
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XpNF2nQfYkSCOYQbG-KR0PT3iisVyjO50p-GwhO_IMo/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1XpNF2nQfYkSCOYQbG-KR0PT3iisVyjO50p-GwhO_IMo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XpNF2nQfYkSCOYQbG-KR0PT3iisVyjO50p-GwhO_IMo/edit?usp=drivesdk",
          "cachedResultName": "Website form responses"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "cbdae788-7246-4efa-adfe-1db0a395ce50",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1380,
        -260
      ],
      "parameters": {
        "width": 300,
        "height": 380,
        "content": "## Set up steps\n- Create an account on [Hostinger](https://hostinger.es?REFERRALCODE=6MKHELLOUQOS) \n- Set up a form in your website and send a test response\n- Check your email to map the hostinger sender "
      },
      "typeVersion": 1
    },
    {
      "id": "738d2276-6cc0-41c8-9eec-ca26aba6a164",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -754,
        -260
      ],
      "parameters": {
        "width": 460,
        "height": 380,
        "content": "## Newsletter sync \nEvery time a user fills your contact form, they will be added to your newsletter on [Beehiiv](https://www.beehiiv.com?via=1node-ai). Just make sure you have added this inside your terms and conditions.\n\nWe have tried other tools but this one remains the strongest, offering flexible features for free"
      },
      "typeVersion": 1
    },
    {
      "id": "e99246b5-38a2-4c3b-bfc1-dfacb6ad208f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1060,
        -260
      ],
      "parameters": {
        "color": 5,
        "width": 280,
        "content": "## Extract form response\nOne of Hostinger's weaknesses is not being able to store form data. This is where we message an OpenAI model to extract email data as JSON"
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "qFOYM3IA9QZ7fMym",
    "executionOrder": "v1"
  },
  "versionId": "8c6c1826-b6fd-46f7-88fd-0986d99fe7e1",
  "connections": {
    "New form trigger": {
      "main": [
        [
          {
            "node": "Extract & Qualify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert in Sheets": {
      "main": [
        []
      ]
    },
    "Extract & Qualify": {
      "main": [
        [
          {
            "node": "List Beehiiv publications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Beehiiv subscriber": {
      "main": [
        [
          {
            "node": "insert in Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Beehiiv publications": {
      "main": [
        [
          {
            "node": "Add Beehiiv subscriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
