workflows/templates/4599_Lookup_IP_Geolocation_Details_with_IP_API_com_via_Webhook.json
{
  "_templateId": 4599,
  "_templateName": "Lookup IP Geolocation Details with IP-API.com via Webhook",
  "_templateDescription": "This n8n template enables you to instantly retrieve detailed geolocation information for any given IP address by simply sending a webhook request. Leverage the power of IP-API.com to gain insights into user locations, personalize experiences, or enhance security protocols within your automated workflows.\n\n🔧 How it works\nReceive IP Webhook: This node acts as the entry point, listening for incoming POST requests. It expects a JSON body containing an ip property with the IP address you wish to look up.\nGet IP Geolocation: This node makes an HTTP GET request to the IP-API.com service, passing the IP address from your webhook. The API responds with a comprehensive JSON object detailing the IP's location (country, city, region), ISP, organization, and more.\nRespond with Geolocation Data: This node sends the full geolocation data received from IP-API.com back to the service that initiated the webhook.\n\n👤 Who is it for?\nThis workflow is ideal for:\n\nMarketing & Sales Teams: Personalize website content, offers, or ads based on a visitor's geographic location. Tailor email campaigns by region.\nCustomer Support: Quickly identify a customer's location to provide more localized or relevant assistance.\nSecurity & Fraud Detection: Analyze incoming connection IPs to identify suspicious activity, block known malicious regions, or flag potential fraud.\nAnalytics & Reporting: Augment your analytics data with geographical insights about your users or traffic.\nDevelopers & Integrators: Easily add IP lookup functionality to custom applications, internal tools, or monitoring systems.\nContent Delivery Networks (CDNs): Route users to the closest servers for faster content delivery (though advanced CDNs usually handle this automatically).\n\n📑 Data Structure\nWhen you trigger the webhook, send a POST request with a JSON body structured as follows:\n\n{\n  \"ip\": \"8.8.8.8\" // Replace with the IP address you want to look up\n}\n\nThe workflow will return a JSON response similar to this (data will vary based on IP):\n\n{\n  \"status\": \"success\",\n  \"country\": \"United States\",\n  \"countryCode\": \"US\",\n  \"region\": \"VA\",\n  \"regionName\": \"Virginia\",\n  \"city\": \"Ashburn\",\n  \"zip\": \"20149\",\n  \"lat\": 39.0437,\n  \"lon\": -77.4875,\n  \"timezone\": \"America/New_York\",\n  \"isp\": \"Google LLC\",\n  \"org\": \"Google Public DNS\",\n  \"as\": \"AS15169 Google LLC\",\n  \"query\": \"8.8.8.8\"\n}\n\n⚙️ Setup Instructions\nImport Workflow: In your n8n editor, click \"Import from JSON\" and paste the provided workflow JSON.\nConfigure Webhook Path:\n  Double-click the Receive IP Webhook node.\n  In the 'Path' field, set a unique and descriptive path (e.g., /ip-lookup).\nActivate Workflow: Save and activate the workflow.\n\n📝 Tips\nThis workflow, while simple, is a powerful building block. Here's how you can make it even more useful:\n\nConditional Logic: Add IF nodes after \"Get IP Geolocation\" to create conditional branches. For example:\n  If countryCode is 'CN' or 'RU', send an alert to your security team.\n  If city is 'New York', route the request to a specific sales representative.\nData Enrichment: Integrate this workflow into larger automation. For instance:\n  When a new sign-up occurs, pass their IP address to this workflow, then save the returned geolocation data (country, city, ISP) alongside their user profile in your CRM or database.\n  For e-commerce, use the location data to pre-fill shipping fields or suggest local currency/language.\nLogging & Analytics: Store the lookup results in a spreadsheet (Google Sheets), database (PostgreSQL, Airtable), or logging service. This can help you track where your users are coming from over time.\nRate Limiting: IP-API.com has rate limits for its free tier. If you anticipate high usage, consider adding a Delay node or implementing a caching mechanism with a Cache node to avoid hitting limits. For heavy use, you might need to upgrade to a paid plan.\nDynamic Response: Instead of returning the full JSON, you could use a Function node to extract only specific pieces of information (e.g., just the country and city) and return a more concise response.\nInput Validation: For robust production use, add a Function node after the webhook to validate that the incoming ip value is indeed a valid IP address. If it's not, you can return an error message to the caller.",
  "_templateCreatedAt": "2025-06-02T14:59:14.608Z",
  "_templateTotalViews": 563,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:50:14.163Z",
  "id": "9Ua1Wqenubbi6OkW",
  "meta": {
    "instanceId": "1777696fb9fddfee653e70940936c2b1e28ba1f1bde53b7182fbd6eb01988706"
  },
  "name": "IP Geolocation Lookup via Webhook",
  "tags": [],
  "nodes": [
    {
      "id": "03bd8d64-8336-4c15-8ed3-af3144ee1113",
      "name": "Note for Webhook Trigger",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        80
      ],
      "parameters": {
        "width": 280,
        "height": 280,
        "content": "This node listens for incoming POST requests. It expects a JSON body with an 'ip' property containing the IP address you want to look up (e.g., {\"ip\": \"8.8.8.8\"}). You can easily adjust the webhook path to suit your needs."
      },
      "typeVersion": 1
    },
    {
      "id": "7fefa097-190c-4b86-9fbc-d110e6d913b9",
      "name": "Note for IP Lookup",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        760,
        60
      ],
      "parameters": {
        "color": 2,
        "width": 260,
        "height": 300,
        "content": "This node makes an HTTP GET request to the IP-API.com service to get detailed geolocation information for the IP address provided by the webhook. The API returns data like country, city, region, ISP, and more."
      },
      "typeVersion": 1
    },
    {
      "id": "46964ab7-7845-4b39-92f9-9011a1484fa3",
      "name": "Note for Webhook Response",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1100,
        40
      ],
      "parameters": {
        "color": 3,
        "width": 280,
        "height": 340,
        "content": "This node sends the full geolocation data received from IP-API.com back to the original caller of the webhook. This data can be directly consumed or further processed (e.g., logged, filtered, used in conditional logic) before being returned."
      },
      "typeVersion": 1
    },
    {
      "id": "0b4b792d-30fa-4f55-b96c-b9b88da026f0",
      "name": "Get IP Geolocation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        840,
        220
      ],
      "parameters": {
        "url": "=http://ip-api.com/json/{{ $json.body.ip }}",
        "method": "=GET",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "a6c774ad-9aa6-4b0b-8644-5966d7242907",
      "name": "Receive IP Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        440,
        220
      ],
      "webhookId": "76cf0099-b4e9-4446-a355-9fa85b72365d-unique-id",
      "parameters": {
        "path": "ip-lookup",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "ee2b27c2-a96f-432f-b950-fff3a8dab462",
      "name": "Respond with Geolocation Data",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1200,
        220
      ],
      "parameters": {
        "options": {},
        "respondWith": "allIncomingItems"
      },
      "typeVersion": 1.2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97ad1608-6a06-4b47-9faa-ee5c120232fc",
  "connections": {
    "Get IP Geolocation": {
      "main": [
        [
          {
            "node": "Respond with Geolocation Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive IP Webhook": {
      "main": [
        [
          {
            "node": "Get IP Geolocation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
