workflows/templates/4618_Website_Lead_Capture_with_Apollo_io_Enrichment_HubSpot_Storage_Gmail_Notifications.json
{
  "_templateId": 4618,
  "_templateName": "Website Lead Capture with Apollo.io Enrichment, HubSpot Storage & Gmail Notifications",
  "_templateDescription": "What problem does this workflow solve?\nCapture leads from your website, enrich them via Apollo, store them in HubSpot, send a personalized thank-you email, and notify your team—all automatically.\n\nWhat does this workflow do?\nCapture leads from website forms automatically.\nSend a personalized thank-you email to each new lead.\nEnrich lead data using Apollo for deeper insights.\nCreate or update a contact/lead in HubSpot CRM.\nNotify the internal team via email about the new lead.\n\nSetup\n\nGmail Setup\nCreate Gmail Credentials by creating a project in Google Cloud Console.\n\nHubspot Setup\nCreate Hubspot Credentials with App Token.\n\nHow it Works:\nThis workflow automates your lead capture, enrichment, and follow-up process to ensure no opportunity is missed. Here's how it works:\n\n1. Website Form Submission\nA visitor submits a lead form on your website. Lead details like name, email, company, and message are captured instantly.\n\n2. Personalized Thank-You Email\nA customized thank-you email is automatically sent to the lead, building trust and confirming receipt of their inquiry.\n\n3. Apollo Lead Enrichment\nThe captured data is enriched using Apollo to fetch additional information like job title, LinkedIn profile, and other details. This helps you better understand and qualify your leads.\n\n4. Create Lead in HubSpot\nThe enriched lead information is pushed into HubSpot as a new contact or lead. Duplicate checks ensure that there are no repeat entries.\n\n5. Internal Notification\nAn email notification with enriched lead details is sent to your team. Your team can follow up immediately with a complete profile.\n\nWho can use it?\nThis workflow can be used by any website owner with a \"Get In Touch\" or \"Contact Us\" button.\n\n\n\n",
  "_templateCreatedAt": "2025-06-03T10:46:49.152Z",
  "_templateTotalViews": 984,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:47:21.642Z",
  "id": "HJ1BFDzLA4ywrHt5",
  "meta": {
    "instanceId": "fcb622cbd5234c565b9b78babeaf0ea2455df9d2aad0d1adff7c1ef99583e685",
    "templateCredsSetupCompleted": true
  },
  "name": "Website Inbound Lead Collection & CRM Integration with Enrichment",
  "nodes": [
    {
      "id": "3496a319-7020-4326-9696-1cc61c304fd5",
      "name": "Webhook - Collect Lead",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -440,
        100
      ],
      "webhookId": "lead-intake-id",
      "parameters": {
        "path": "lead-intake",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "typeVersion": 1
    },
    {
      "id": "2d67475d-c742-4e00-8a70-2047342f43fc",
      "name": "Gmail - Send Thank You",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -180,
        -80
      ],
      "webhookId": "c6ed3568-2220-4961-8911-59a199571df8",
      "parameters": {
        "sendTo": "={{ $('Webhook - Collect Lead').item.json.body.email }}",
        "message": "=Thank You for Reaching Out!\n\nDear {{ $json.body.first_name }}\n\nI hope this message finds you well. Thank you for reaching out to us at InfyOm Technologies. Your interest and support mean a lot to us.\n\nWe have received your request and our team will soon get back to you.\n\nThanks,\nInfyOm Sales Team",
        "options": {
          "appendAttribution": false
        },
        "subject": "Thanks for Getting in touch!",
        "emailType": "text"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "credential-id",
          "name": "gmailOAuth2 Credential"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "ea3642bb-fc87-4737-9feb-a0b4de50e44f",
      "name": "HubSpot - Create Contact",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        40,
        100
      ],
      "parameters": {
        "email": "={{ $('Webhook - Collect Lead').item.json.body.email }}",
        "options": {},
        "authentication": "appToken",
        "additionalFields": {
          "city": "={{ $json.contacts[0].city }}",
          "country": "={{ $json.contacts[0].country }}",
          "message": "=Person LinkedIn: {{ $json.contacts[0].linkedin_url }}\nCompany Phone: {{ $json.contacts[0].account.primary_phone.number }}\nCompany LinkedIn: {{ $json.contacts[0].account.linkedin_url }}\n\n",
          "jobTitle": "={{ $json.contacts[0].title }}",
          "firstName": "={{ $('Webhook - Collect Lead').item.json.body.first_name }}",
          "websiteUrl": "={{ $json.contacts[0].account.website_url }}",
          "companyName": "={{ $json.contacts[0].organization_name }}",
          "twitterUsername": "={{ $json.contacts[0].twitter_url }}"
        }
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "credential-id",
          "name": "hubspotAppToken Credential"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "260877fc-f0bf-4f09-a722-aafbdbacff61",
      "name": "Gmail - Notify Team",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -180,
        280
      ],
      "webhookId": "bb1666fd-e9d3-48e0-9224-cd038efb945f",
      "parameters": {
        "sendTo": "your_email_address",
        "message": "=A new form has been submitted on the website. \n\nName : {{ $('Webhook - Collect Lead').item.json.body.first_name }}\nEmail : {{ $json.body.email }}\n\n",
        "options": {
          "appendAttribution": false
        },
        "subject": "New Lead Notification",
        "emailType": "text"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "credential-id",
          "name": "gmailOAuth2 Credential"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "257d6356-5fca-4440-800f-33acc1c6fdd6",
      "name": "Enrich Data from Apollo",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -180,
        100
      ],
      "parameters": {
        "url": "https://api.apollo.io/api/v1/contacts/search",
        "method": "POST",
        "options": {},
        "sendQuery": true,
        "sendHeaders": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q_keywords",
              "value": "={{ $json.body.email }}"
            },
            {
              "name": "sort_ascending",
              "value": "false"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "your_apollo_key"
            }
          ]
        }
      },
      "typeVersion": 4.2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07e6a836-d60c-496d-9dca-90e198d2381e",
  "connections": {
    "Webhook - Collect Lead": {
      "main": [
        [
          {
            "node": "Gmail - Send Thank You",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Notify Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enrich Data from Apollo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Data from Apollo": {
      "main": [
        [
          {
            "node": "HubSpot - Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
