workflows/templates/4645_Create_AI_Powered_Website_Chatbot_with_Langflow_Backend_and_Custom_Branding.json
{
  "_templateId": 4645,
  "_templateName": "Create AI-Powered Website Chatbot with Langflow Backend and Custom Branding",
  "_templateDescription": "This workflow integrates a chatbot frontend with a backend powered by Langflow, a visual low-code AI development tool. The flow is triggered whenever a chat message is received via the n8n chatbot widget embedded on a website. It then sends the message to a Langflow flow for processing and returns the generated response to the user.\n\nHow It Works  \nChat Trigger: The workflow starts with a webhook trigger (When chat message received) that listens for incoming chat messages from the n8n Chat interface.  \nLangflow Integration: The chat input is sent to a Langflow instance via an HTTP request (Langflow node). The request includes the user's message and expects a response from the Langflow flow.  \nResponse Processing: The output from Langflow is extracted and formatted using the Edit Fields node, ensuring the chatbot displays the response correctly.  \nCustomization: Sticky notes provide instructions for embedding the n8n Chat widget on a website and customizing its appearance, including welcome messages, language settings, and branding.  \n\nSet Up Steps  \nConfigure Langflow Connection:  \n   Replace LANGFLOW_URL and FLOW_ID in the HTTP request node with your Langflow instance details.  \n   Ensure the API headers (e.g., Content-Type: application/json) and authentication (if required) are correctly set.  \n\nDeploy n8n Chat:  \n   Add the provided CDN script to your website, replacing YOUR_PRODUCTION_WEBHOOK_URL with the webhook URL generated by the When chat message received node.  \n   Customize the chatbot’s UI (e.g., title, placeholder text, initial messages) using the JavaScript snippet in the sticky notes.  \n\nActivate Workflow:  \n   Toggle the workflow to \"Active\" in n8n.  \n   Test the chatbot by sending a message and verifying the Langflow response is processed and displayed correctly.  \n\nAdvantages\n\n✅ Seamless Langflow Integration\nIt allows n8n to communicate directly with a Langflow flow via API, enabling AI responses using custom-designed Langflow logic.\n\n✅ No-Code Chatbot Deployment\nWith just a script snippet, the chatbot widget can be embedded into any website. Minimal coding is required to launch a fully functioning AI chatbot.\n\n✅ Customizable UI/UX\nThe included embed code offers full control over the chatbot's appearance, language, welcome message, input placeholder, and branding—ideal for white-label or customer-facing deployments.\n\n✅ Modular and Extensible\nBecause it's built in n8n, this chatbot can be easily extended with other services like CRMs, email alerts, or databases, without leaving the platform.\n\n✅ Real-Time AI Interactions\nThanks to Langflow's API and chat response support, users get immediate and dynamic AI-driven replies.\n\nNeed help customizing?  \nContact me for consulting and support or add me on Linkedin. \n",
  "_templateCreatedAt": "2025-06-04T10:02:44.761Z",
  "_templateTotalViews": 1926,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-21T08:18:22.378Z",
  "id": "jChHsZ0OR79bITzc",
  "meta": {
    "instanceId": "a4bfc93e975ca233ac45ed7c9227d84cf5a2329310525917adaf3312e10d5462",
    "templateCredsSetupCompleted": true
  },
  "name": "Import Langflow Flow in n8n Chatbot and Branded it",
  "tags": [],
  "nodes": [
    {
      "id": "5d3d611f-72e9-43b4-98ee-d4e10cd7591d",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -720,
        0
      ],
      "webhookId": "560cad1a-7d5c-43ae-818e-1ff432e4cae4",
      "parameters": {
        "mode": "webhook",
        "public": true,
        "options": {
          "allowedOrigins": "*"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "9bc309e9-0878-4140-8a2c-fadb51e3dd65",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -280,
        0
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "6a50a699-9598-452a-bc38-a87e2be9084c",
              "name": "output",
              "type": "string",
              "value": "={{ $json.outputs[0].outputs[0].results.message.data.text }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "fe301be1-4845-4e76-aee8-27c61bf894e1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        -340
      ],
      "parameters": {
        "color": 6,
        "width": 720,
        "height": 220,
        "content": "### Enable n8n CDN on your website\n<link href=\"https://cdn.jsdelivr.net/npm/@n8n/chat/dist/style.css\" rel=\"stylesheet\" />\n<script type=\"module\">\n\timport { createChat } from 'https://cdn.jsdelivr.net/npm/@n8n/chat/dist/chat.bundle.es.js';\n\n\tcreateChat({\n\t\twebhookUrl: 'YOUR_PRODUCTION_WEBHOOK_URL'\n\t});\n</script>"
      },
      "typeVersion": 1
    },
    {
      "id": "ca73efeb-bdbd-4824-9b3f-b6222d1db010",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        -960
      ],
      "parameters": {
        "color": 3,
        "width": 720,
        "height": 600,
        "content": "## Langflow\n\nLangflow is a low-code, visual development platform designed to help users build and deploy AI applications with minimal coding. It provides an intuitive drag-and-drop interface, allowing users to create complex AI workflows by connecting reusable components. Langflow supports integration with various APIs, language models, and databases, making it versatile for tasks such as chatbots, document Q&A systems, and content generation. Its Python-based architecture ensures compatibility with popular AI frameworks and tools, facilitating rapid prototyping and deployment of AI solutions.\n\n### Basic Langflow Flow:\n![image](https://n3wstorage.b-cdn.net/test/langflow_flow.png)"
      },
      "typeVersion": 1
    },
    {
      "id": "edd68237-94c1-4b21-ac10-fac5512dc7e0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -960
      ],
      "parameters": {
        "color": 6,
        "width": 800,
        "height": 840,
        "content": "### Customize n8n Chatbot\n\n```js\ncreateChat({\n\twebhookUrl: '',\n\twebhookConfig: {\n\t\tmethod: 'POST',\n\t\theaders: {}\n\t},\n\ttarget: '#n8n-chat',\n\tmode: 'window',\n\tchatInputKey: 'chatInput',\n\tchatSessionKey: 'sessionId',\n\tmetadata: {},\n\tshowWelcomeScreen: false,\n\tdefaultLanguage: 'en',\n\tinitialMessages: [\n\t\t'Hi there! 👋',\n\t\t'My name is Nathan. How can I assist you today?'\n\t],\n\ti18n: {\n\t\ten: {\n\t\t\ttitle: 'Hi there! 👋',\n\t\t\tsubtitle: \"Start a chat. We're here to help you 24/7.\",\n\t\t\tfooter: '',\n\t\t\tgetStarted: 'New Conversation',\n\t\t\tinputPlaceholder: 'Type your question..',\n\t\t},\n\t},\n});\n```"
      },
      "typeVersion": 1
    },
    {
      "id": "0fb9d211-07fd-4309-b91c-aa21e877a915",
      "name": "Langflow",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -500,
        0
      ],
      "parameters": {
        "url": "https://LANGFLOW_URL/api/v1/run/FLOW_ID?stream=false",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"input_value\": \"{{ $json.chatInput }}\",\n  \"output_type\": \"chat\",\n  \"input_type\": \"chat\"\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "705ecc2a-b0af-4165-8ef3-c693e82cd1ce",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -60
      ],
      "parameters": {
        "height": 220,
        "content": "Set LANGFLOW_URL and FLOW_ID"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6fe12868-d03f-4c86-a472-3b5ce254d4ef",
  "connections": {
    "Langflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Langflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
