workflows/templates/4682_Create_an_Image_Enhancement_API_Endpoint_with_Nero_AI_Business_API.json
{
  "_templateId": 4682,
  "_templateName": "Create an Image Enhancement API Endpoint with Nero AI Business API",
  "_templateDescription": "How it works\nThis template uses the n8n AI agent node as an orchestrating agent that decides which tool (knowledge graph) to use based on the user's prompt.\n\nHow to use\nCreate an account and apply for an API key on https://ai.nero.com/ai-api?utm_source=n8n-base-workflow.\n\nFill your key into the Create task and Query task status nodes.\nSelect an AI service and modify Create task node parameters, the API doc: https://ai.nero.com/ai-api/docs.\nExecute the workflow so that the webhook starts listening.\nMake a test request by postman or other tools, the test URL from the Webhook node.\n \nYou will receive the output in the webhook response.\n\nOur API doc\nPlease create an account to access our API docs.\nhttps://ai.nero.com/ai-api/docs.\n\nUse cases\nLarge Scale Printing\n\tUpscale images into ultra-sharp, billboard-ready masterpieces with 300+ DPI and billions of pixels.\n\n\nGame Assets Compression \n\tImprove your game performance with AI-Image Compression: Faster, Better & Lossless.\n\n\nE-commerce Image Editing \n\tRemove & replace your product image backgrounds, create virtual showrooms.\n\n\nPhoto Retouching \n\tRemove & reduce grains & noises from images.\n\n\nFace Animation \n\tTransform static images into dynamic facial expression videos or GIFs with our cutting-edge Face Animation API\n\n\nPhoto Restoration \n\tOur Al-driven Photo Restoration API offers advanced scratch removal, face enhancement, and image upscaling.\n\n\nColorize Photo \n\tTransform black & white images into vivid colors.\n\n\nAvatar Generator \n\tTurn your selfie into custom avatars with different styles and backgrounds\n\n\nWebsite Compression\n\tSpeed up your website, compress your images in bulk.\n\n",
  "_templateCreatedAt": "2025-06-05T08:24:05.737Z",
  "_templateTotalViews": 203,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-29T05:05:29.383Z",
  "meta": {
    "instanceId": "a6e279c50a7024b3eb450d8593ec3a4b5453fd5a8763f02c0bc267684a7d6963"
  },
  "nodes": [
    {
      "id": "971a6566-192d-4ad8-acc1-e9e2f629151f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -48,
        0
      ],
      "webhookId": "c9795945-7dbb-45cb-9082-d3629f15504a",
      "parameters": {
        "path": "c9795945-7dbb-45cb-9082-d3629f15504a",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "faef3c56-cfd9-407e-8118-8b41d8864c36",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1168,
        0
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1.3
    },
    {
      "id": "a30aaef1-8761-4b49-9b92-68922593feac",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        448,
        0
      ],
      "webhookId": "59a2e9e4-6c03-4672-815f-9c9093ce0828",
      "parameters": {
        "amount": 2
      },
      "typeVersion": 1.1
    },
    {
      "id": "63bb4342-5d24-43c3-b632-5946cdc4c64b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        880,
        0
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e2dbf1c1-d68c-4202-acf9-dab4624281f3",
              "operator": {
                "type": "number",
                "operation": "equals"
              },
              "leftValue": "={{ $json.code }}",
              "rightValue": 0
            },
            {
              "id": "bc499e4c-8eed-40d8-b09f-eb57df6d301f",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "done"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "9ef7adc4-43cc-4e28-ad21-04681e5d3587",
      "name": "Create task",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        224,
        0
      ],
      "parameters": {
        "url": "https://ai.nero.com/biz/api/task",
        "method": "POST",
        "options": {},
        "jsonBody": "{\n    \"type\": \"FaceDetection\",\n    \"body\": {\n        \"images\": [\n            \"https://image.url\"\n        ]\n    },\n    \"info\": {\n        \"trace_id\": \"n8n-base-workflow\"\n    }\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-neroai-api-key",
              "value": "your API key"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "17fd191a-de94-42ca-9bb3-e79aeca82f03",
      "name": "Query task status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        672,
        0
      ],
      "parameters": {
        "url": "https://ai.nero.com/biz/api/task",
        "options": {},
        "sendQuery": true,
        "sendHeaders": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "task_id",
              "value": "={{ $json.data.task_id }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "x-neroai-api-key",
              "value": "your API key"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "ddf31898-d972-41ca-a6bb-552fdb07997b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        -464
      ],
      "parameters": {
        "width": 620,
        "height": 140,
        "content": "## Create an AI task API endpoint\n\nIn this workflow we show how to create an AI task API endpoint with `Webhook` and `Respond to Webhook` nodes"
      },
      "typeVersion": 1
    },
    {
      "id": "08f7c363-1e06-4f4e-b1ee-60d6d43d6bf7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        -304
      ],
      "parameters": {
        "width": 620,
        "height": 240,
        "content": "### How to use it\n1. Apply for an API key from https://ai.nero.com/ai-api?utm_source=n8n-base-workflow\n2. Fill your key into the `Create task` and `Query task status` nodes\n3. Select an AI service and modify `Create task` node parameters, the API doc: https://ai.nero.com/ai-api/docs\n4. Execute the workflow so that the webhook starts listening\n5. Make a test request by postman or other tools, the test URL from the `Webhook` node\n\nYou will receive the output in the webhook response."
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Query task status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create task": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query task status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
