workflows/templates/4686_Automate_Customer_Feedback_Analysis_with_Forms_AI_Google_Sheets_and_WhatsApp.json
{
  "_templateId": 4686,
  "_templateName": "Automate Customer Feedback Analysis with Forms, AI, Google Sheets and WhatsApp",
  "_templateDescription": "Automate Customer Feedback Analysis with Google Sheets, WhatsApp, and Email\n\nIntroduction: Drowning in Data, Starving for Insight?\nImagine this: Your team launches a new feature. Feedback starts pouring in emails, support tickets, social media mentions, and survey responses. You know gold is buried in there, but manually reading, tagging, and summarising hundreds, maybe thousands, of comments? It takes days, maybe weeks. By the time you have a clear picture, the moment might have passed. Sounds exhausting, right?\n\nWhat if you could have an AI assistant tirelessly working 24/7, instantly analysing every piece of feedback the moment it arrives? This isn't science fiction anymore. AI-powered automation can transform this slow, manual chore into a real-time insight engine, giving you the pulse of your customer base almost instantly. Let's explore how.\n\nWhat's the Goal? Understanding the Workflow Objective\nThe core challenge is transforming raw, unstructured customer feedback into actionable intelligence quickly and efficiently.\n\nThe Problem:\nManual Overload: Sifting through vast amounts of feedback manually is incredibly time-consuming and prone to human error or bias.\nDelayed Insights: The lag between receiving feedback and understanding it means missed opportunities and slow responses to critical issues.\nInconsistent Analysis: Different team members might interpret or categorize feedback differently, leading to unreliable trend spotting.\n\nThe AI Solution:\nAutomated Data Collection: Connects directly to feedback sources (surveys, social media, review sites, helpdesks).\nAI-Powered Analysis: Uses Large Language Models (LLMs) like GPT-4 or Claude to analyze sentiment, extract key topics, and summarize comments.\nIntelligent Categorization: Automatically tags feedback based on predefined or dynamically identified themes (e.g., \"bug report,\" \"feature request,\" \"pricing issue\").\nReal-time Reporting: Pushes structured insights into dashboards, databases, or triggers notifications for immediate awareness.\n\nOutcome: You move from reactive problem-solving based on stale data to proactive, strategic decisions driven by a near real-time understanding of customer sentiment and needs.\n\nWhy Does It Matter? Achieving 100X Productivity and Efficiency\nLook, automating feedback isn't just about saving time; it's about scaling your ability to listen and respond smarter, not harder. When you leverage AI, the gains aren't incremental - they're exponential.\n\nHere’s why this is a game changer:\n\n Blazing Speed: Analyse feedback 100x Faster (or more!) than manual methods. Insights appear in minutes or hours, not days or weeks.\n Unhuman Scalability: Process virtually unlimited volumes of feedback without needing to scale your human team proportionally. AI doesn't get tired or bored.\n Consistent Accuracy: AI applies analysis rules consistently, reducing human bias and ensuring reliable categorisation and sentiment scoring over time.\n Proactive Trend Spotting: Identify emerging issues or popular requests much earlier by analysing aggregated data automatically. Spot patterns humans might miss.\n Free Up Your Team: Let your talented team focus on acting on insights – improving products, fixing issues, engaging customers – instead of drowning in data entry.\n\nHow It Works: AI Automation Step by Step\nGetting this set up is more straightforward than you might think, especially with tools like n8n acting as the central hub.\n\nAutomated Feedback Triggering\nCRM/Website Event Node\n Trigger feedback requests after:\n Purchases (eCommerce)\n Support ticket resolution\n Feature usage (SaaS)\n \nTime-Based Node\n Schedule recurring NPS surveys\n Customer health check-ups\n\nChat App Node (WhatsApp/Telegram/Messenger)\n Send conversational feedback prompts:\n \"How was your recent experience with [specific interaction]?\"\n\nMulti-Channel Feedback Collection\nEmail Node (SendGrid/Mailchimp)\n Send personalized feedback requests\n Embed 1-5 rating widgets\n\nSMS Node (Twilio)\n Short mobile surveys:\n \"Reply 1-5: How satisfied with your purchase?\"\n\nWebhook Node\n Capture in-app feedback\n Process chatbot responses\n\nSocial Media Node\n Monitor Twitter/X, Instagram mentions\n Analyze comments for unsolicited feedback\n\nAI-Powered Real-Time Analysis\nOpenAI/ChatGPT Node (Sentiment Analysis)\n Prompt: \"Analyze sentiment (positive/neutral/negative) and key themes from: [customer feedback]\"\n Output fields:\n Sentiment score (1-5)\n Urgency flag (high/medium/low)\n Key topics (billing, support, product, etc.)\n \nTranslation Node (Optional)\n Convert multilingual feedback into a consistent language\n\nInstant AI Response System\nConditional Node (Routing Logic)\n Positive feedback → Send thank-you + referral ask\n Neutral feedback → Follow-up question for details\n Negative feedback → Escalate to the human team\n\nAI Response Generator Node\n Prompt: \"Create a personalized response to [feedback type] about [topic] with sentiment [score]\"\n Adjust tone (professional/friendly/empathetic)\n\nEscalation Node\n Route critical issues to the support team with full context\n\nAutomated Insights & Alerts\nDashboard Node\n Real-time sentiment tracking\n Emerging issue detection\n\nAlert Node (Slack/Teams/Email)\n Notify teams of negative trends:\n \"3+ complaints about checkout flow in the past hour!\"\n\nReport Node\n Auto-generate weekly/monthly summaries:\n \"Top 5 customer pain points this week\"\n\nProduct Board Integration\n Auto-create feature requests\n Prioritize based on feedback volume\n\nTools of the Trade: AI & Automation Tech Stack\nYou don't need a massive, complex tech stack. Focus on a few core, powerful tools:\n n8n: The workflow automation platform. This is the 'glue' that connects everything and orchestrates the process without needing deep coding knowledge. Honestly, it's incredibly versatile.\n OpenAI (GPT-4/GPT-4o): State-of-the-art LLM for high-quality text analysis, summarization, and classification. Great for complex understanding.\n Anthropic (Claude 3 Sonnet/Opus): Another top-tier LLM, known for strong performance in analysis and handling large contexts. Often, a great alternative or complement to GPT models.\n Feedback Sources APIs: Connectors for where your feedback lives (e.g., Typeform, SurveyMonkey, Twitter API, Zendesk API, Google Play/App Store review APIs).\n Data Storage/Destination: Where the processed insights go (e.g., Google Sheets, Airtable, Notion, PostgreSQL database, BigQuery).\n (Optional) Visualization Tool: Tools like Metabase, Grafana, Looker Studio, or Power BI to create dashboards from your structured feedback data.\n\nWhat's the Cost? Estimated Budget\nLet's talk investment. You're mainly looking at:\n Setup Costs: Primarily your time (or a consultant's) to design and build the initial workflow in n8n. Depending on complexity, this could range from a few hours to a few days. No major software licenses are usually needed upfront if using self-hosted n8n or starting with free/low-tier cloud plans.\n AI API Calls: You pay per usage to OpenAI/Anthropic. Costs depend heavily on volume but can start from $20-$50/month for moderate usage and scale up. Newer models are getting more cost-effective.\n n8n Hosting: Free if self-hosted (requires a server), or tiered cloud pricing starting around $20/month.\n Feedback Source APIs: Some platforms might have API access costs or rate limits on free tiers.\n Total Estimated Monthly Cost: For many businesses, ongoing costs can range from $50 - $500+ per month, highly dependent on feedback volume and AI model choice.\n\nThe Return on Investment (ROI) is typically rapid. Consider the hours saved from manual analysis, the value of faster issue resolution, preventing churn, and the benefits of making product decisions based on real-time data. It often pays for itself very quickly.\n\nWho Benefits? Target Users and Industries\nThis automated feedback loop isn't niche; it's valuable across many sectors and roles:\n\nTop Industries:\n SaaS (Software as a Service): Understanding user friction, feature requests, bug reports.\n E-commerce & Retail: Analyzing product reviews, post-purchase surveys, and support chats.\n Hospitality & Travel: Processing guest reviews, survey feedback.\n Mobile Apps: Monitoring app store reviews, in-app feedback.\n Financial Services: Gauging customer satisfaction with services, identifying pain points.\n \nKey Roles:\n Product Managers: Prioritizing features, understanding user needs, tracking launch reception.\n Customer Experience (CX) / Success Managers: Monitoring customer health, identifying churn risks, and improving support processes.\n Marketing Teams: Understanding brand perception, campaign feedback, and voice of the customer.\n Support Leads: Identifying recurring issues, measuring support quality, spotting training needs.\nThis approach works for businesses of all sizes, from startups wanting to stay lean and agile to large enterprises needing to manage massive feedback volumes.\n\nHow to use workflow?\nImporting a workflow in n8n is a straightforward process that allows you to use pre-built or shared workflows to save time. Below is a step-by-step guide to import a workflow in n8n, based on the official documentation and community resources.\n\nSteps to Import a Workflow in n8n\n1. Obtain the Workflow JSON\nSource the Workflow:**\n\tWorkflows are typically shared as JSON files or code snippets. You might receive them from:\n\tThe n8n community (e.g., n8n.io workflows page).\n\tA colleague or tutorial (e.g., a .json file or copied JSON code).\n\tExported from another n8n instance (see export instructions below if needed).\nFormat:** Ensure you have the workflow in JSON format, either as a file (e.g., workflow.json) or as text copied to your clipboard.\n\n2. Access the n8n Workflow Editor\nLog in to n8n:**\n\tOpen your n8n instance (via n8n Cloud or your - self-hosted instance).\n\tNavigate to the Workflows tab in the n8n dashboard.\nOpen a New Workflow:**\n\tClick Add Workflow to create a blank workflow, or open an existing workflow if you want to merge the imported workflow.\n\n3. Import the Workflow\nOption 1: Import via JSON Code (Clipboard):\nIn the n8n editor, click the three dots (⋯) in the top-right corner to open the menu.\nSelect Import from Clipboard.\nPaste the JSON code of the workflow into the provided text box.\nClick Import to load the workflow into the editor.\n\nOption 2: Import via JSON File:\nIn the n8n editor, click the three dots (⋯) in the top-right corner.\nSelect Import from File.\nChoose the .json file from your computer.\nClick Open to import the workflow.\n\nNote: If the workflow includes nodes for apps requiring credentials (e.g., Google Sheets), you’ll need to configure those credentials separately after importing.\n",
  "_templateCreatedAt": "2025-06-05T11:01:31.970Z",
  "_templateTotalViews": 565,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:48:47.991Z",
  "id": "h47UJYYjZeKuBLTn",
  "meta": {
    "instanceId": "dd69efaf8212c74ad206700d104739d3329588a6f3f8381a46a481f34c9cc281",
    "templateCredsSetupCompleted": true
  },
  "name": "AI Automation in Feedback",
  "tags": [],
  "nodes": [
    {
      "id": "553d9f71-a750-4152-84bb-9d2956441aa8",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        260,
        220
      ],
      "webhookId": "998e3daa-1e42-4a50-913f-e0dfb10b66b7",
      "parameters": {
        "options": {
          "path": "feedback",
          "customCss": "",
          "appendAttribution": false
        },
        "formTitle": "Customer Feedback Questions for IT Services",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is your Name?",
              "requiredField": true
            },
            {
              "fieldType": "email",
              "fieldLabel": "Email ID",
              "requiredField": true
            },
            {
              "fieldLabel": "Contact Number",
              "placeholder": "(e.g, +1234567890)",
              "requiredField": true
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "How satisfied are you with the quality of our IT services or solutions?",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Very Dissatisfied"
                  },
                  {
                    "option": "Dissatisfied"
                  },
                  {
                    "option": "Neutral"
                  },
                  {
                    "option": "Satisfied"
                  },
                  {
                    "option": "Very Satisfied"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "Did our team understand your technical requirements clearly?",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "How would you rate our communication throughout the project/support process?",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Poor"
                  },
                  {
                    "option": "Fair"
                  },
                  {
                    "option": "Good"
                  },
                  {
                    "option": "Excellent"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "Was your project/service delivered on time and within the expected timeline?",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "Did our solution meet your business needs or solve your problem effectively?",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "How responsive was our support team when you needed assistance?",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Slow"
                  },
                  {
                    "option": "Average"
                  },
                  {
                    "option": "Fast"
                  },
                  {
                    "option": "Very Fast"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "How would you rate the technical expertise of our team?",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "textarea",
              "fieldLabel": "What could we do to improve your experience with our IT services?",
              "requiredField": true
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "Would you recommend our IT services to others?",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "=No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "textarea",
              "fieldLabel": "Any additional comments or suggestions?",
              "requiredField": true
            }
          ]
        }
      },
      "notesInFlow": false,
      "typeVersion": 2.2
    },
    {
      "id": "0f02714d-0da3-4f86-ba62-97ce92883201",
      "name": "If E-mail and Phone Number Both are given",
      "type": "n8n-nodes-base.if",
      "position": [
        520,
        440
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8cc5cb6d-8aee-4547-bb67-aa8465789473",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.Phone.toString() }}",
              "rightValue": ""
            },
            {
              "id": "2a0ba5ea-f76c-4cf2-9b77-6fc0e2d269da",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.Email }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "2890694e-c503-4eda-825b-b569e7f8831a",
      "name": "If only Phone Number is given",
      "type": "n8n-nodes-base.if",
      "position": [
        520,
        640
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "84c363c4-8ae2-4b56-b9f7-a83de196be4b",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.Phone.toString() }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "cf9d2612-b582-4352-809e-31a38f4126b5",
      "name": "Send Message on Whatsapp",
      "type": "n8n-nodes-base.whatsApp",
      "notes": "Set the WhatsApp template from the WhatsApp Business Account.",
      "position": [
        780,
        620
      ],
      "webhookId": "857eab1a-f5e2-4937-be2c-90b47bae3947",
      "parameters": {
        "template": "feedback_n8n|en_US",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Google Sheets Trigger').item.json.User }}"
                  }
                ]
              }
            }
          ]
        },
        "phoneNumberId": "550325331503475",
        "recipientPhoneNumber": "={{ $json.Phone.toString() }}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "credential-id",
          "name": "whatsAppApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "ce02dda2-111e-4bde-99a9-393547c40435",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "notes": "Set Google Credentials and then select Google Sheets.\nSelect the Sheet on which you want to set the trigger.\n\nIf any changes are made to the selected Sheet. Node will trigger.",
      "position": [
        200,
        520
      ],
      "parameters": {
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsTriggerOAuth2Api Credential"
        }
      },
      "notesInFlow": false,
      "typeVersion": 1
    },
    {
      "id": "153adc14-68c1-4b4d-bb93-8dc5204ec7e9",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Follow this steps:\n- Set Google Credentials and then select Google Sheets account.\n- Select \"Sheet Within Document\" option in Resource tab.\n- Select \"Append or Update Row\" in Operation tab.\n- In Document tab select your google sheets which you want to update.\n- In Sheets tab select sheet from your google sheets document.\n- In Mapping select \"Map Each Column Manually\"\n- Now from list of colums select colum which you want to match from selected sheet. The column to use when matching rows in Google Sheets to the input items of this node. Usually an ID.\n- Now you can see all colume in \"Values to Send\" section. Here you need to map (using drag and drop) the filed  with the form filed name. ",
      "position": [
        520,
        220
      ],
      "parameters": {
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "65b5cb47-12d0-42a5-bb95-c023710dd310",
      "name": "Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        780,
        420
      ],
      "webhookId": "4f5aacbc-7967-44c0-9e24-00472ec25b48",
      "parameters": {
        "text": "Please give us your valuable feedback at:\n<<< Your Form Production URL >>>",
        "options": {
          "appendAttribution": false
        },
        "subject": "Feedback",
        "toEmail": "={{ $json.Email }}",
        "fromEmail": "user@example.com",
        "emailFormat": "text"
      },
      "credentials": {
        "smtp": {
          "id": "credential-id",
          "name": "smtp Credential"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "457b43d6-fa50-4259-bf56-b637b1819445",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        140
      ],
      "parameters": {
        "width": 380,
        "height": 600,
        "content": "## Google Sheets Integration \n#### Create Google Cloud Credentials\nTo connect Google Sheets to n8n, you need to set up OAuth2 authentication through Google Cloud:\n\n**1. Create a Google Cloud Project:**\n - Go to the Google Cloud Console (https://console.cloud.google.com/).\n - Create a new project or select an existing one.\n - Enable the Google Sheets API under APIs & Services > Library.\n\n**2. Set Up OAuth Consent Screen:**\n - Navigate to APIs & Services > OAuth consent screen.\n - Select External user type and fill in required details (e.g., app name, support email).\n - Add the following scopes: .../auth/spreadsheets (for full access to Google Sheets).\n - Save and proceed.\n\n**3. Create OAuth2 Credentials:**\n - Go to APIs & Services > Credentials > Create Credentials > OAuth 2.0 Client IDs.\n - Choose Web application as the application type.\n - Add an Authorized redirect URI (you’ll get this from n8n in the next step).\n - Save to obtain your Client ID and Client Secret."
      },
      "typeVersion": 1
    },
    {
      "id": "cc0786b3-2340-4fa1-812b-49dc76a3ef0d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        20
      ],
      "parameters": {
        "width": 380,
        "height": 100,
        "content": "## Integration Notes\nKindly see the node **notes** in the **setting** tab for more information."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "481b316a-890a-4a24-812a-b402638ff547",
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If E-mail and Phone Number Both are given",
            "type": "main",
            "index": 0
          },
          {
            "node": "If only Phone Number is given",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message on Whatsapp": {
      "main": [
        []
      ]
    },
    "If only Phone Number is given": {
      "main": [
        [
          {
            "node": "Send Message on Whatsapp",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If E-mail and Phone Number Both are given": {
      "main": [
        [
          {
            "node": "Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}
