workflows/templates/4843_Automate_Glassdoor_Job_Search_with_Bright_Data_Scraping_Google_Sheets_Storage.json
{
  "_templateId": 4843,
  "_templateName": "Automate Glassdoor Job Search with Bright Data Scraping & Google Sheets Storage",
  "_templateDescription": "🔍 Glassdoor Job Finder: Bright Data Scraping + Keyword-Based Automation\n\nA comprehensive n8n automation that scrapes Glassdoor job listings using Bright Data's web scraping service based on user-defined keywords, location, and country parameters, then automatically stores the results in Google Sheets.\n\n📋 Overview\n\nThis workflow provides an automated job search solution that extracts job listings from Glassdoor using form-based inputs and stores organized results in Google Sheets. Perfect for recruiters, job seekers, market research, and competitive analysis.\n\nWorkflow Description: Automates Glassdoor job searches using Bright Data's web scraping capabilities. Users submit keywords, location, and country via form trigger. The workflow scrapes job listings, extracts company details, ratings, and locations, then automatically stores organized results in Google Sheets for easy analysis and tracking.\n\n✨ Key Features\n\n🎯 Form-Based Input: Simple web form for job type, location, and country\n🔍 Glassdoor Integration: Uses Bright Data's Glassdoor dataset for accurate job data\n📊 Smart Data Processing: Automatically extracts key job information\n📈 Google Sheets Storage: Organized data storage with automatic updates\n🔄 Status Monitoring: Built-in progress tracking and retry logic\n⚡ Fast & Reliable: Professional scraping with error handling\n🎯 Keyword Flexibility: Search any job type with location filters\n📝 Structured Output: Clean, organized job listing data\n\n🎯 What This Workflow Does\n\nInput\nJob Keywords:** Job title or role (e.g., \"Software Engineer\", \"Marketing Manager\")\nLocation:** City or region for job search\nCountry:** Target country for job listings\n\nProcessing\nForm Submission\nData Scraping via Bright Data\nStatus Monitoring\nData Extraction\nData Processing\nSheet Update\n\nOutput Data Points\n\n| Field | Description | Example |\n|-------|-------------|---------|\n| Job Title | Position title from listing | Senior Software Engineer |\n| Company Name | Employer name | Google Inc. |\n| Location | Job location | San Francisco, CA |\n| Rating | Company rating score | 4.5 |\n| Job Link | Direct URL to listing | https://glassdoor.com/job/... |\n\n🚀 Setup Instructions\n\nPrerequisites\nn8n instance (self-hosted or cloud)\nGoogle account with Sheets access\nBright Data account with Glassdoor scraping dataset access\n5–10 minutes for setup\n\nStep 1: Import the Workflow\nCopy the JSON workflow code from the provided file\nIn n8n: Workflows → + Add workflow → Import from JSON\nPaste JSON and click Import\n\nStep 2: Configure Bright Data\nSet up Bright Data credentials in n8n\nEnsure access to dataset: gd_lpfbbndm1xnopbrcr0\nUpdate API tokens in:\n   \"Scrape Job Data\" node\n   \"Check Delivery Status of Snap ID\" node\n   \"Getting Job Lists\" node\n\nStep 3: Configure Google Sheets Integration\nCreate a new Google Sheet (e.g., \"Glassdoor Job Tracker\")\nSet up Google Sheets OAuth2 credentials in n8n\nPrepare columns:\n   Column A: Job Title\n   Column B: Company Name\n   Column C: Location\n   Column D: Rating\n   Column E: Job Link\n\nStep 4: Update Workflow Settings\nUpdate \"Update Job List\" node with your Sheet ID and credentials\nTest the form trigger and webhook URL\n\nStep 5: Test & Activate\nSubmit test data (e.g., \"Software Engineer\" in \"New York\")\nActivate the workflow\nVerify Google Sheet updates and field extraction\n\n📖 Usage Guide\n\nSubmitting Job Searches\nNavigate to your workflow's webhook URL\nFill in:\n   Search Job Type\n   Location\n   Country\nSubmit the form\n\nReading the Results\nReal-time job listing data\nCompany ratings and reviews\nDirect job posting links\nLocation-specific results\nProcessing timestamps\n\n🔧 Customization Options\nMore Data Points:** Add job descriptions, salary, company size, etc.\nSearch Parameters:** Add filters for salary, experience, remote work\nData Processing:** Add validation, deduplication, formatting\n\n🚨 Troubleshooting\nBright Data connection failed:** Check API credentials and dataset access\nNo job data extracted:** Validate search terms and location format\nGoogle Sheets permission denied:** Re-authenticate and check sharing\nForm submission failed:** Check webhook URL and form config\nWorkflow execution failed:** Check logs, add retry logic\n\nAdvanced Troubleshooting\nCheck execution logs in n8n\nTest individual nodes\nVerify data formats\nMonitor rate limits\nAdd error handling\n\n📊 Use Cases & Examples\nRecruitment Pipeline:** Track job postings, build talent database\nMarket Research:** Analyze job trends, hiring patterns\nCareer Development:** Monitor opportunities, salary trends\nCompetitive Intelligence:** Track competitor hiring activity\n\n⚙️ Advanced Configuration\nBatch Processing:** Accept multiple keywords, loop logic, delays\nSearch History:** Track trends, compare results over time\nExternal Tools:** Integrate with CRM, Slack, databases, BI tools\n\n📈 Performance & Limits\nSingle search:** 2–5 minutes\nData accuracy:** 95%+\nSuccess rate:** 90%+\nConcurrent searches:** 1–3 (depends on plan)\nDaily capacity:** 50–200 searches\nMemory:** ~50MB per execution\nAPI calls:** 3 Bright Data + 1 Google Sheets per search\n\n🤝 Support & Community\nn8n Community Forum:** community.n8n.io\nDocumentation:** docs.n8n.io\nBright Data Support:** Via your dashboard\nGitHub Issues:** Report bugs and features\n\nContributing: Share improvements, report issues, create variations, document best practices.\n\nNeed Help? Check the full documentation or visit the n8n Community for support and workflow examples.\n",
  "_templateCreatedAt": "2025-06-10T07:48:33.357Z",
  "_templateTotalViews": 909,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-21T08:15:50.066Z",
  "id": "CKmCHe6ST5Fn0bDm",
  "meta": {
    "instanceId": "bc8ca75c203589705ae2e446cad7181d6f2a7cc1766f958ef9f34810e53b8cb2",
    "templateCredsSetupCompleted": true
  },
  "name": "Glassdoor Job Finder: Bright Data Scraping + Keyword-Based Automation",
  "tags": [],
  "nodes": [
    {
      "id": "ce3a7e97-41b6-49fc-ae23-cbf65044a974",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -800,
        0
      ],
      "webhookId": "9b16a680-d396-41ee-8304-44a430954ad7",
      "parameters": {
        "options": {},
        "formTitle": "Search Job Listings Using Keywords",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Location"
            },
            {
              "fieldLabel": "Search Job type"
            },
            {
              "fieldLabel": "country"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "10cbb574-3967-490a-9c57-c1140a04af00",
      "name": "Check Delivery Status of Snap ID",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -280,
        0
      ],
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/progress/{{ $json.snapshot_id }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TOKEN_HERE"
            }
          ]
        }
      },
      "typeVersion": 4.2,
      "alwaysOutputData": true
    },
    {
      "id": "c1090f01-84ab-4586-8c0e-4a2f3a5fc389",
      "name": "Check Final Status",
      "type": "n8n-nodes-base.if",
      "position": [
        220,
        0
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "35ed620d-b5d5-4e97-bcc5-52b283d85616",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "1cc8376f-393f-48cc-8bb3-93cfafa28d58",
      "name": "Wait 1 minute",
      "type": "n8n-nodes-base.wait",
      "position": [
        -20,
        0
      ],
      "webhookId": "10b45556-5e91-4387-abd0-f9078b220286",
      "parameters": {
        "unit": "minutes",
        "amount": 1
      },
      "typeVersion": 1.1
    },
    {
      "id": "c9157c5c-bcab-462c-9ace-6f5e456e186c",
      "name": "Scrap data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -580,
        0
      ],
      "parameters": {
        "url": "https://api.brightdata.com/datasets/v3/trigger",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"input\": [\n    {\n      \"keyword\": \"{{ $json['Search Job type'] }}\",\n      \"location\": \"{{ $json['Location'] }}\",\n      \"country\": \"{{ $json['country'] }}\"\n    }\n  ],\n  \"custom_output_fields\": [\n    \"url\",\n    \"company_name\",\n    \"company_rating\",\n    \"job_title\",\n    \"job_location\",\n    \"company_website\"\n  ]\n}",
        "sendBody": true,
        "sendQuery": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "queryParameters": {
          "parameters": [
            {
              "name": "dataset_id",
              "value": "gd_lpfbbndm1xnopbrcr0"
            },
            {
              "name": "include_errors",
              "value": "true"
            },
            {
              "name": "type",
              "value": "discover_new"
            },
            {
              "name": "discover_by",
              "value": "keyword"
            },
            {
              "name": "limit_per_input",
              "value": "5"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TOKEN_HERE"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "f1a0e9ed-ced0-4eb6-8eeb-6c7537c7822f",
      "name": "Getting Job Lists",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        480,
        -20
      ],
      "parameters": {
        "url": "=https://api.brightdata.com/datasets/v3/snapshot/{{ $json.snapshot_id }}",
        "options": {},
        "sendQuery": true,
        "sendHeaders": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_TOKEN_HERE"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "558543dc-af03-4033-990a-d850614150fe",
      "name": "Update List",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        820,
        -20
      ],
      "parameters": {
        "columns": {
          "value": {
            "Rating": "={{ $json.company_rating }}",
            "Job Link": "={{ $json.company_website }}",
            "Location": "={{ $json.job_location }}",
            "Job Title": "={{ $json.job_title }}",
            "Company Name": "={{ $json.company_name }}"
          },
          "schema": [
            {
              "id": "Job Title",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Job Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Company Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Location",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Rating",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary Estimate",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Salary Estimate",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Posted Date",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Job Posted Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Link",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Job Link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Job Link"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 193286695,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=193286695",
          "cachedResultName": "Glassdoor Scraper by keyword"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_GOOGLE_SHEET_ID",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk",
          "cachedResultName": "Data Scraper Yelp, Glassdoor,Tictok"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "2ad5e448-ae48-4ae8-a8e7-243101810613",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        -100
      ],
      "parameters": {
        "height": 260,
        "content": "Triggers the workflow when the user submits the job type, location, and country via form."
      },
      "typeVersion": 1
    },
    {
      "id": "02a1a60f-b11f-4981-81c3-c4e86f2e95d2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -620,
        -100
      ],
      "parameters": {
        "color": 2,
        "width": 260,
        "height": 260,
        "content": "Calls Bright Data API to initiate scraping Glassdoor job listings based on the form input (keyword, location, country)."
      },
      "typeVersion": 1
    },
    {
      "id": "32d05b44-e78e-4f09-9626-c25bbc1b8c6b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        -100
      ],
      "parameters": {
        "color": 3,
        "width": 220,
        "height": 260,
        "content": "Pauses the workflow for 1 minute before rechecking status (to allow data generation)."
      },
      "typeVersion": 1
    },
    {
      "id": "b7085f2b-c2ae-4f68-926d-ca6658ea9215",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        -100
      ],
      "parameters": {
        "color": 5,
        "width": 260,
        "height": 260,
        "content": "Checks the scraping task's status using Bright Data snapshot ID to monitor progress."
      },
      "typeVersion": 1
    },
    {
      "id": "eee21db7-8bad-4c59-9dcd-ab95eb5501c9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        420,
        -100
      ],
      "parameters": {
        "color": 7,
        "width": 280,
        "height": 280,
        "content": "Conditional node that checks if Bright Data has marked the scraping job as \"ready\". Loops back to check if not ready."
      },
      "typeVersion": 1
    },
    {
      "id": "9b59c3c5-8e07-4082-a8b9-6657055d4e5f",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -120
      ],
      "parameters": {
        "color": 4,
        "width": 280,
        "height": 340,
        "content": "Appends or updates job data (title, company, rating, location, link) in Google Sheets under the \"Glassdoor Scraper by keyword\" tab."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24dfda04-3ea1-45c2-bbf3-ef335974f595",
  "connections": {
    "Scrap data": {
      "main": [
        [
          {
            "node": "Check Delivery Status of Snap ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 minute": {
      "main": [
        [
          {
            "node": "Check Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting Job Lists": {
      "main": [
        [
          {
            "node": "Update List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Final Status": {
      "main": [
        [
          {
            "node": "Getting Job Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Delivery Status of Snap ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Scrap data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Delivery Status of Snap ID": {
      "main": [
        [
          {
            "node": "Wait 1 minute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
