workflows/templates/4911_Generate_Summaries_from_Uploaded_Files_using_OpenAI_Assistants_API.json
{
  "_templateId": 4911,
  "_templateName": "Generate Summaries from Uploaded Files using OpenAI Assistants API",
  "_templateDescription": "Generate Summaries from Uploaded Files using OpenAI Assistants API\n\n📑 Overview  \nUpload a document (PDF, DOCX, PPTX, TXT, CSV, JSON, or Markdown) and receive an AI-generated summary containing:\n\ntitle** – 5-10 words  \nsummary** – 1-2 sentences  \nbullets** – 3-5 key points  \ntags** – 3-6 short keywords  \n\nThe workflow:\n\nStores the file in OpenAI.  \nRuns an Assistant with File Search and Code Interpreter enabled.  \nPolls until the run finishes.  \nRetrieves the summary JSON.\n\n✅ Prerequisites  \n\nOpenAI Assistant\nCreate one at &lt;https://platform.openai.com/assistants&gt;\nEnable File Search and Code Interpreter\nNote: The assistant ID starts with asst_\n\nOpenAI API credential setup in n8n\nGo to Credentials → New → HTTP Header Auth\nHeader name: Authorization\nValue: Bearer YOUR-OPENAI-API-KEY (replace YOUR-OPENAI-API-KEY with your OpenAI API secret key for your assistant, starts with sk-)\nName it: openAIApiHeader\n\n🔧 Setup  \n\nImport the workflow JSON.  \nWhen n8n prompts for a credential, choose openAIApiHeader for every HTTP Request node.  \nOpen Run Assistant → Body and replace  \n\n      \"assistant_id\": \"REPLACE_WITH_YOUR_ASSISTANT_ID\"\n   \n   with your real ID (starts with asst_…). Save.\n\n🚀 How it works  \n\n| # | Node | Purpose |\n|---|------|---------|\n| 1 | On form submission | User uploads a file (File). |\n| 2 | Upload File | POST /v1/files (multipart) → returns file_id. |\n| 3 | Create Thread | Creates a thread and attaches the uploaded file. |\n| 4 | Run Assistant | Starts the run using your assistant_id. |\n| 5 | Poll Run Status → Wait 2 s → IF | Loops until status = completed. |\n| 6 | Fetch Summary | GET /v1/threads/{thread_id}/messages → summary JSON. |\n\n🖌️ Customisation ideas  \n\nEdit the user prompt in Create Thread to change summary length, tone, or language.  \nAdd an HTTP Response node after Fetch Summary to return plaintext to the uploader.  \nReplace the polling loop with OpenAI’s forthcoming wait-for-run endpoint when available.\n\nNo community nodes required. Works on any n8n Cloud plan (Starter, Pro, Enterprise) or self-hosted Community Edition.\n",
  "_templateCreatedAt": "2025-06-13T03:33:27.446Z",
  "_templateTotalViews": 262,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:44:32.810Z",
  "id": "fXtw0Iqzc5X1fyPf",
  "meta": {
    "instanceId": "ff48f7ccab544841a640404b50e0fa0da433887df04172f71a32d80a79b0fa7d",
    "templateCredsSetupCompleted": true
  },
  "name": "Generate Summaries From Uploaded Files",
  "tags": [],
  "nodes": [
    {
      "id": "e8d5aaf3-8ef3-4b66-8d61-1a8eedde36ca",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        140,
        100
      ],
      "webhookId": "2c3f820b-8b84-41d8-bc1a-1e33f9bb7bfd",
      "parameters": {
        "path": "2c3f820b-8b84-41d8-bc1a-1e33f9bb7bfd",
        "options": {},
        "formTitle": "Upload Form",
        "formFields": {
          "values": [
            {
              "fieldType": "file",
              "fieldLabel": "File",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "d7817690-47d2-491d-8819-373bb5402daf",
      "name": "Create Thread",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        540,
        100
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/threads",
        "options": {},
        "requestMethod": "POST",
        "authentication": "headerAuth",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Summarize the attached file.\",\n      \"attachments\": [\n        {\n          \"file_id\": \"{{$node['Upload File'].json['id']}}\",\n          \"tools\": [ { \"type\": \"file_search\" } ]\n        }\n      ]\n    }\n  ]\n}",
        "headerParametersJson": "{\n  \"OpenAI-Beta\": \"assistants=v2\"\n}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "5b93297d-c354-410a-a19e-5f7e3993ba32",
      "name": "Poll Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        140,
        320
      ],
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{$node[\"Create Thread\"].json[\"id\"]}}/runs/{{$node[\"Run Assistant\"].json[\"id\"]}}",
        "options": {},
        "authentication": "headerAuth",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "d6b28a0e-1468-4dbc-b193-7a7f5b6c7e99",
      "name": "Is Not Complete?",
      "type": "n8n-nodes-base.if",
      "position": [
        340,
        320
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Poll Run Status\"].json[\"status\"] }}",
              "value2": "completed",
              "operation": "notEqual"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "88db0070-35f4-4fd7-9e51-8a30bd18bc23",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "position": [
        540,
        300
      ],
      "webhookId": "b4801f60-2351-4ffb-9d70-da37524204fa",
      "parameters": {
        "unit": "seconds",
        "amount": 2
      },
      "typeVersion": 1
    },
    {
      "id": "9ea51b21-08e3-4a28-b8f5-fd85758e46f9",
      "name": "Fetch Summary",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        720,
        340
      ],
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{$node[\"Create Thread\"].json[\"id\"]}}/messages",
        "options": {},
        "authentication": "headerAuth",
        "jsonParameters": true,
        "headerParametersJson": "{\n  \"OpenAI-Beta\": \"assistants=v2\"\n}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "14fdac82-a66a-493e-a8ed-74bdda5ea316",
      "name": "Run Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        720,
        100
      ],
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{$node[\"Create Thread\"].json[\"id\"]}}/runs",
        "method": "POST",
        "options": {},
        "jsonBody": "{\n  \"assistant_id\": \"REPLACE_WITH_YOUR_ASSISTANT_ID\",\n  \"instructions\": \"You are an AI knowledge-base assistant.\\n\\nFor every file provided (PDF, DOCX, slides, or an audio/video transcript) return a single, valid JSON object with exactly these keys:\\n{\\n  \\\"title\\\": string,\\n  \\\"summary\\\": string,\\n  \\\"bullets\\\": string[],\\n  \\\"tags\\\": string[]\\n}\\n• Read or transcribe the entire file first.\\n• Do not add any extra keys, comments, or explanatory text.\\n• If the file is audio or video, transcribe it before summarizing.\\n• If the file type is unsupported (e.g., pure image), reply with:\\n  { \\\"error\\\": \\\"unsupported_file_type\\\" }\\n• Return **only** the JSON object—nothing else.\"\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "fabdc95f-4bfd-41c3-8f1b-3b74ee6513fd",
      "name": "Upload File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        340,
        100
      ],
      "parameters": {
        "url": "https://api.openai.com/v1/files",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "multipart-form-data",
        "sendHeaders": true,
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "File"
            },
            {
              "name": "purpose",
              "value": "assistants"
            }
          ]
        },
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-id",
          "name": "httpHeaderAuth Credential"
        }
      },
      "typeVersion": 4.2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9a89fc0-37bf-43ba-bae3-97b159f84a27",
  "connections": {
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Poll Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "Create Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Thread": {
      "main": [
        [
          {
            "node": "Run Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Assistant": {
      "main": [
        [
          {
            "node": "Poll Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Run Status": {
      "main": [
        [
          {
            "node": "Is Not Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Not Complete?": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
