workflows/templates/5292_Summarize_youtube_videos_from_transcript_for_social_media.json
{
  "_templateId": 5292,
  "_templateName": "Summarize youtube videos from transcript for social media",
  "_templateDescription": "🎥 YouTube Video Summarizer for Social Media\n\nTurn any YouTube video into a short, structured summary using AI — perfect for content creators, marketers, or social media managers.\n\n🔧 What We Built\n\nWe created a no-code automation in n8n that:\n\nAccepts a YouTube Video ID via a form\nFetches the video transcript using an external API\nSummarizes the transcript using AI (Google Gemini)\nAutomatically saves the summary to Google Docs for team use\n\n🧩 Flow Overview\n\n| Step | Description |\n|------|-------------|\n| ✅ Form Trigger | User submits a YouTube video ID using an n8n form |\n| 🔁 Set Node | Maps the YouTube video ID for use in the API request |\n| 🌐 HTTP Request (External API) | Calls the YouTube Transcriptor AI API via RapidAPI to fetch transcript |\n| 🧹 Formatter (Code Node) | Joins transcript lines into a readable text block |\n| 🧠 AI Agent + Google Gemini (via Langchain) | Summarizes the full transcript into bullet points and tone |\n| 🧽 Optimizer (Code Node) | Extracts just the summary from the AI response |\n| 📝 Google Docs Node | Appends the clean summary to a shared Google Doc |\n\n🌍 Real-World Problem Solved\n\n❌ The Challenge\n\nCreators and marketers waste hours watching full videos just to extract the key points.\nManual summarization is inconsistent, repetitive, and delays content planning.\n\n✅ Our Solution\n\n⏱️ Reduces time spent watching videos\n🧠 AI-powered summaries keep tone consistent and structured\n📄 Auto-sync with Google Docs makes summaries instantly available for teams\n\n🔥 Bonus: This uses the YouTube Transcriptor AI API, so no need to manually scrape captions or use browser extensions.\n\n🚀 Ideal Use Cases\n\nRepurpose YouTube content into Instagram Reels, LinkedIn posts, or blog content\nBuild a video summary library for your editorial team\nQuickly extract talking points from podcast episodes\n\n🛠️ Tech Stack\n\nn8n** – workflow automation engine  \nYouTube Transcriptor AI API** – via RapidAPI  \nGoogle Gemini (via Langchain)** – AI summarization  \nGoogle Docs** – stores the final summary  \nJavaScript nodes** – custom text parsing & formatting\n\n💡 Want to customize it? Add Slack, Airtable, Notion, or Tweet auto-posting to expand the flow.\n\nCreate your free n8n account and set up the workflow in just a few minutes using the link below:\n\n👉 Start Automating with n8n\n\nSave time, stay consistent, and grow your LinkedIn presence effortlessly!",
  "_templateCreatedAt": "2025-06-25T09:30:08.053Z",
  "_templateTotalViews": 586,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-21T08:17:18.040Z",
  "id": "jCs5Yhd71bxr5Ktc",
  "meta": {
    "instanceId": "60c025075753afcab9f803964b4caaca9402f435deb4efafbb8e3b93b54d8752",
    "templateCredsSetupCompleted": true
  },
  "name": "Summarize youtube videos from transcript for social media",
  "tags": [
    {
      "id": "QXtLNWbsCSABOTNm",
      "name": "Digital Marketing",
      "createdAt": "2025-05-29T11:14:57.099Z",
      "updatedAt": "2025-05-29T11:14:57.099Z"
    }
  ],
  "nodes": [
    {
      "id": "ae2d87c7-870b-4c62-9f25-6454772cb41d",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        0,
        0
      ],
      "webhookId": "10986afd-5943-4e72-9078-074e5191d7ac",
      "parameters": {
        "options": {},
        "formTitle": "summarize youtube videos from transcript for social media",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Yt Video Id",
              "placeholder": "abc123",
              "requiredField": true
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "bada944a-2453-451b-ade5-1ff2ff6c6377",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        880,
        0
      ],
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant that summarizes YouTube video transcripts.\n\nHere is the full transcript of a video:\nPlease provide a concise summary of the video in natural language, covering the main points, topics, and tone.\n\nFormat the output as:\n\n---\n🎬 **Summary**:\n- [Main idea 1]\n- [Main idea 2]\n- [Optional tone, style, or genre]\n---\n"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "15389a01-0f9f-43b2-821f-b0420e3095ac",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        940,
        220
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.0-flash"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "credential-id",
          "name": "googlePalmApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "fa5c983f-6a44-47fc-be1c-63ca9df9a94b",
      "name": "Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        1500,
        0
      ],
      "parameters": {
        "actionsUi": {
          "actionFields": [
            {
              "text": "={{ $json.summary }}",
              "action": "insert"
            }
          ]
        },
        "operation": "update",
        "documentURL": "",
        "authentication": "serviceAccount"
      },
      "credentials": {
        "googleApi": {
          "id": "credential-id",
          "name": "googleApi Credential"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "8786afdb-097c-4b54-9055-2ad41a988ef3",
      "name": "Mapper",
      "type": "n8n-nodes-base.set",
      "position": [
        220,
        0
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "a2486ac7-c29c-419e-9cfc-753701723510",
              "name": "ytVideoId",
              "type": "string",
              "value": "={{ $json[\"Yt Video Id\"] }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "778ade7e-951f-416c-b2d5-c91b0688ab8d",
      "name": "Youtube Transcriptor",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        440,
        0
      ],
      "parameters": {
        "url": "https://youtube-transcriptor-ai.p.rapidapi.com/yt/index.php",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "multipart-form-data",
        "sendHeaders": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "yt_video_id",
              "value": "={{ $json.ytVideoId }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host"
            },
            {
              "name": "x-rapidapi-key"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "00fc4b62-b1fc-44c5-b7ce-5b2950571b9c",
      "name": "Formator",
      "type": "n8n-nodes-base.code",
      "position": [
        660,
        0
      ],
      "parameters": {
        "jsCode": "const transcript = \n$input.first().json.tracks[0].transcript\nif (!Array.isArray(transcript) || transcript.length === 0) {\n  return [{\n    json: {\n      chatInput: \"Transcript not available or invalid video ID.\"\n    }\n  }];\n}\n\n// Join all transcript lines into a single string\nconst transcriptText = transcript.map(t => t.text).join(' ');\n\n// Return as chatInput\nreturn [{\n  json: {\n    chatInput: transcriptText\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "53c8c1d4-5250-4212-adde-bfd1a2a53b04",
      "name": "Optimizer",
      "type": "n8n-nodes-base.code",
      "position": [
        1240,
        0
      ],
      "parameters": {
        "jsCode": "const inputText = $input.first().json.output;\n\nfunction getFieldValue(text, field) {\n  // Updated to stop at \"---\" or end of string, instead of a non-whitespace line\n  const regex = new RegExp(`${field}:\\\\s*([\\\\s\\\\S]*?)(?=\\\\n---|$)`, 'i');\n  const match = text.match(regex);\n  return match ? match[1].trim() : '';\n}\n\nconst summary = getFieldValue(inputText, '🎬 \\\\*\\\\*Summary\\\\*\\\\*');\n\nreturn [{\n  json: {\n    summary\n  }\n}];\n"
      },
      "typeVersion": 2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb6a2956-019a-492a-881f-b5a179ac34d3",
  "connections": {
    "Mapper": {
      "main": [
        [
          {
            "node": "Youtube Transcriptor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Optimizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formator": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimizer": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Transcriptor": {
      "main": [
        [
          {
            "node": "Formator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}
