workflows/templates/5307_AI_Audio_Transcription_Google_Docs_Report_Generator_with_VLM_Run.json
{
  "_templateId": 5307,
  "_templateName": "AI Audio Transcription & Google Docs Report Generator with VLM Run",
  "_templateDescription": "Automatically transform audio files into professional transcription reports with AI-powered speech recognition, timestamp generation, and formatted Google Docs output.\n\nWhat this workflow does\nMonitors Gmail for incoming audio attachments\nDownloads and processes audio files using VLM Run AI transcription\nGenerates accurate transcriptions with precise timestamps and segmentation\nCreates professional reports in Google Docs with formatted output\nHandles asynchronous processing for long audio files without timeouts\n\nSetup\nPrerequisites: Gmail account, VLM Run API credentials, Google Docs access, n8n.\n\nInstall the verified VLM Run node by searching for VLM Run in the node list, then click Install. Once installed, you can start using it in your workflows.\n\nQuick Setup:\nConfigure Gmail OAuth2 for email monitoring\nAdd VLM Run API credentials for audio transcription\nSet up Google Docs OAuth2 for report generation\nCreate target Google Doc for transcription reports\nUpdate document URL in workflow nodes\nTest with sample audio file and activate\n\nPerfect for\nMeeting recordings and conference calls\nVoice memos and dictation workflows\nInterview transcriptions and journalism\nPodcast episode documentation\nAccessibility compliance and documentation\nLegal proceedings and court recordings\nEducational content and lecture notes\nCustomer service call analysis\n\nKey Benefits\nHuman-level accuracy** - Advanced AI speech recognition with automatic punctuation\nTimestamp precision** - Segmented transcriptions with exact time markers\nMulti-format support** - Handles MP3, WAV, M4A, AAC, OGG, FLAC files\nAsynchronous processing** - No timeouts for long audio files\nProfessional formatting** - Beautifully structured Google Docs reports\nAutomatic workflow** - Zero manual intervention required\nSaves hours per recording** - Transforms manual transcription into instant results\nSearchable documentation** - Google Docs integration enables easy content discovery\n\nHow to customize\nExtend by adding:\nSpeaker identification and diarization\nIntegration with project management tools (Notion, Asana, Trello)\nAutomatic summary generation from transcripts\nTranslation to multiple languages\nSlack notifications for completed transcriptions\nIntegration with CRM systems for call logging\nAudio quality enhancement preprocessing\nCustom formatting templates for different use cases\nAutomatic keyword extraction and tagging\nIntegration with calendar systems for meeting context\n\nThis workflow revolutionizes audio documentation by combining cutting-edge AI transcription with professional report generation, making spoken content instantly accessible, searchable, and shareable across your organization.",
  "_templateCreatedAt": "2025-06-25T15:53:16.242Z",
  "_templateTotalViews": 517,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-29T05:01:07.242Z",
  "meta": {
    "instanceId": "0a7ae129a7d703150135f6cc24d0469f20ffd22b5ed59c23ee3e0608264e6d98",
    "templateId": "3905",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "2175eca1-4842-4601-b0ac-84264cdc48ca",
      "name": "🎙️ Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -260,
        720
      ],
      "parameters": {
        "color": 7,
        "width": 460,
        "height": 720,
        "content": "## 🎙️ AI Audio Transcription with VLM Run\n\n**Overview:**\nAutomatically transcribes audio files from Gmail and generates formatted transcription reports in Google Docs.\n\n**Workflow:**\n1. 📧 Monitor Gmail for audio attachments\n2. 🎵 Extract and process audio files\n3. 🤖 Transcribe using VLM Run AI\n4. 🔗 Receive results via webhook\n5. 📄 Generate formatted Google Doc\n\n\n**Perfect for:**\n- Meeting recordings\n- Voice memos\n- Interview transcriptions\n- Podcast notes\n- Audio journalism\n- Accessibility documentation\n\n\n**Requirements:**\n- VLM Run API access\n- Gmail OAuth2\n- Google Docs OAuth2\n- Webhook endpoint"
      },
      "typeVersion": 1
    },
    {
      "id": "3d1b367c-226c-4d9c-bc9e-0643ff3896bc",
      "name": "📧 Email Monitoring",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        720
      ],
      "parameters": {
        "color": 7,
        "width": 360,
        "height": 720,
        "content": "## 📧 Gmail Audio Detection\n\n**Monitors incoming emails and automatically downloads audio attachments.**\n\n**Process:**\n1. Polls Gmail every minute\n2. Detects new emails with attachments\n3. Downloads audio files automatically\n4. Triggers transcription workflow\n\n\n**Supported Formats:**\n- MP3, WAV, M4A\n- AAC, OGG, FLAC\n- Various bitrates\n- Mobile recordings\n\n\n**Configuration:**\n- Enable attachment downloads\n- Automatic file extraction"
      },
      "typeVersion": 1
    },
    {
      "id": "4c2744d9-c35d-4629-ac54-b3f299cf16e3",
      "name": "🤖 AI Transcription",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        720
      ],
      "parameters": {
        "color": 2,
        "width": 360,
        "height": 720,
        "content": "## 🤖 Audio AI Processing\n\n**VLM Run transcribes audio with high accuracy**\n\n**Features:**\n- Advanced speech recognition\n- Automatic punctuation\n- Timestamp generation\n\n\n**Output:**\n- Complete transcription\n- Time-segmented text\n- Metadata extraction\n- Duration information\n\n\n**Benefits:**\n- Human-level accuracy\n- Fast processing\n- Consistent formatting\n- Professional quality"
      },
      "typeVersion": 1
    },
    {
      "id": "52c19808-27ae-4ccd-af4d-a977bd44f18a",
      "name": "🔗 Async Processing",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        720
      ],
      "parameters": {
        "color": 5,
        "width": 320,
        "height": 720,
        "content": "## 🔗 Webhook Processing Flow\n\n**How asynchronous transcription works:**\n\n**Step 1:** Audio sent to VLM Run with callback URL\n**Step 2:** Transcription starts in background\n**Step 3:** Webhook receives completion\n**Step 4:** Results formatted for Google Docs\n\n\n**Why Async?**\n- Handles long audio files\n- Prevents workflow timeouts\n- Better resource management\n- Reliable processing\n\n\n**Callback Data:**\n- Complete transcript\n- Segment timestamps\n- Processing metadata\n- Error handling"
      },
      "typeVersion": 1
    },
    {
      "id": "7046634c-3534-4f62-9df9-7ece42a4b969",
      "name": "📄 Document Generation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        720
      ],
      "parameters": {
        "color": 7,
        "width": 320,
        "height": 720,
        "content": "## 📄 Professional Reports\n\n**Creates beautifully formatted Google Docs with transcription results.**\n\n**Report includes:**\n- Date and timestamp\n- Total audio duration\n- Segmented transcription\n- Time markers for each segment\n- Professional formatting\n\n\n**Output Location:**\n- Specified Google Doc\n- Appends new transcriptions\n- Maintains formatting"
      },
      "typeVersion": 1
    },
    {
      "id": "31d1f0c3-73e7-4e1a-bc08-72c5694e7153",
      "name": "Monitor Email Attachments",
      "type": "n8n-nodes-base.gmailTrigger",
      "notes": "Continuously monitors Gmail for new emails with audio attachments. Automatically downloads all attachments and triggers the transcription workflow.",
      "position": [
        320,
        1260
      ],
      "parameters": {
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        },
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "credential-id",
          "name": "gmailOAuth2 Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "d2c14402-db05-4bf4-a8a5-402587d69ee8",
      "name": "VLM Run Audio Transcriber",
      "type": "@vlm-run/n8n-nodes-vlmrun.vlmRun",
      "notes": "Processes audio files using VLM AI to generate accurate transcriptions with timestamps. Runs asynchronously for large audio files.",
      "position": [
        720,
        1260
      ],
      "parameters": {
        "file": "attachment_0",
        "domain": "audio.transcription",
        "operation": "audio",
        "callbackUrl": "https://playground.vlm.run/webhook/audio-transcription",
        "processAsynchronously": true
      },
      "credentials": {
        "vlmRunApi": {
          "id": "credential-id",
          "name": "vlmRunApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "98e98532-dc44-4b15-a75d-24b3d7823c84",
      "name": "Receive Transcription Results",
      "type": "n8n-nodes-base.webhook",
      "notes": "Receives the completed transcription from VLM AI when asynchronous processing is finished. Contains full transcript with timestamps.",
      "position": [
        1080,
        1260
      ],
      "webhookId": "d599acd8-1891-4d07-b2f9-092cb6381b41",
      "parameters": {
        "path": "audio-transcription",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2
    },
    {
      "id": "c9468f04-42da-4725-a462-97cdcf6c40ac",
      "name": "Generate Transcription Report",
      "type": "n8n-nodes-base.googleDocs",
      "notes": "Creates a professionally formatted Google Doc with the transcription results, including timestamps and metadata.",
      "position": [
        1420,
        1260
      ],
      "parameters": {
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "text": "=📄 Audio Transcription Report\n\n🗓️ Date: {{ new Date($json.body.completed_at).toLocaleString('en-US', { dateStyle: 'medium', timeStyle: 'short' }) }}  \n⏱️ Total Duration: {{ $json.body.response.metadata.duration }} seconds  \n{{ \n$json.body.response.segments.map((segment, index) => \n  `\\n` +\n  `🔹 Segment ${index + 1}\\n` +\n  `⏰ Time: ${segment.start_time.toFixed(2)}s → ${segment.end_time.toFixed(2)}s\\n` +\n  `📝 Transcript: \"${segment.content.trim()}\"\\n`\n).join('\\n')\n}}\n",
              "action": "insert"
            }
          ]
        },
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1QFHvOgEYKMLVpIRv6Mc7lXfDXhtoozgEK7O-wuNLzl0/edit?tab=t.0",
        "authentication": "oAuth2"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "credential-id",
          "name": "googleDocsOAuth2Api Credential"
        }
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Monitor Email Attachments": {
      "main": [
        [
          {
            "node": "VLM Run Audio Transcriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Transcription Results": {
      "main": [
        [
          {
            "node": "Generate Transcription Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
