workflows/templates/5510_Monitor_Dynamic_Website_Changes_with_Firecrawl_Sheets_Gmail_Alerts.json
{
  "_templateId": 5510,
  "_templateName": "Monitor Dynamic Website Changes with Firecrawl, Sheets & Gmail Alerts",
  "_templateDescription": "🕸️ Dynamic Website Change Monitor with Smart Email Alerts\n\nNever miss important website updates again! This workflow automatically tracks changes on dynamic websites (think React apps, JavaScript-heavy sites) and sends you instant email notifications when something changes. Perfect for keeping tabs on competitors, monitoring product updates, or staying on top of important announcements.\n\n✨ What makes this special?\n\n🚀 Handles Dynamic Websites: Uses Firecrawl API to scrape JavaScript-rendered content that basic scrapers can't touch\n📧 Smart Email Alerts: Only sends notifications when content actually changes (no spam!)\n📊 Historical Tracking: Keeps a complete log of all changes in Google Sheets\n🛡️ Bulletproof: Continues working even if one part fails\n⚡ Ready to Deploy: Webhook-triggered, perfect for cron jobs or external schedulers\n\n🎯 Perfect for monitoring:\nCompetitor pricing pages\nJob board postings\nProduct availability updates  \nNews sites for breaking stories\nAPI documentation changes\nTerms of service updates\n\n🛠️ What you'll need to get started:\n\nAPI Accounts & Keys:\nFirecrawl Account 🔥\n   Sign up at firecrawl.dev\n   Grab your API key from the dashboard\n   Create a \"Bearer Auth\" credential in n8n\n\nGoogle Cloud Setup ☁️\n   Enable Google Sheets API\n   Enable Gmail API  \n   Set up OAuth2 credentials\n   Add both as credentials in n8n\n\nGoogle Sheets Document 📋\n   Create a new spreadsheet\n   Add two tabs: \"Log\" and \"comparison\"\n   Follow the structure outlined in the workflow notes\n\n🚀 How it works:\n\nWebhook receives trigger → Starts the monitoring process\nFirecrawl scrapes website → Gets fresh content (even JavaScript-rendered!)\nSmart comparison → Checks against previously stored content\nChange detected? → If yes, send email + log everything\nUpdate storage → Prepares for next monitoring cycle\n\n⚙️ Setup Steps:\n\nImport this workflow into your n8n instance\nConfigure credentials for Firecrawl, Google Sheets, and Gmail\nUpdate the target URL in the Firecrawl node\nSet your email address in the Gmail node\nCreate your Google Sheets with the required structure\nTest it manually first, then activate!\n\n🎨 Customize it your way:\n\nTarget any website** by updating the URL\nChange email templates** to match your style\nAdjust monitoring frequency** with external cron jobs\nSwitch between markdown/HTML** extraction formats\nFine-tune change detection** sensitivity\n\n🔧 Troubleshooting:\n\nFirecrawl errors?** Check your API key and rate limits\nGoogle Sheets issues?** Verify OAuth permissions and sheet structure  \nEmail not sending?** Check Gmail API quotas and spam folders\nWebhook problems?** Make sure the workflow is activated\n\nReady to never miss another website change? Let's get this automation running! 🎉",
  "_templateCreatedAt": "2025-07-01T08:14:05.491Z",
  "_templateTotalViews": 164,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:43:10.286Z",
  "id": "psYzSydCkrbiJU2j",
  "meta": {
    "instanceId": "5116f2f7706b559eceadfeb527d2f261505621d6d31889c13b53a0633d9b86eb"
  },
  "name": "n8n_Challenge_Haeng_Franz_Rott",
  "tags": [],
  "nodes": [
    {
      "id": "042eb5f7-dbf1-47c5-a03f-f4e965a48d62",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "notes": "Trigger node – waits for an HTTP request on /webhook/n8n-challenge and starts the workflow. The final response is supplied by the Respond* nodes.",
      "position": [
        -1820,
        -140
      ],
      "webhookId": "a2d68f11-97d1-4dbd-85e1-3a38b81b29bb",
      "parameters": {
        "path": "example_path",
        "options": {},
        "responseMode": "responseNode"
      },
      "typeVersion": 1
    },
    {
      "id": "71f3e740-7974-4302-94c8-161daa6c71c7",
      "name": "Firecrawl HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "Calls Firecrawl API to scrape the target web page in Markdown and HTML. Uses Bearer-token authentication configured in credentials.",
      "onError": "continueErrorOutput",
      "position": [
        -1600,
        -140
      ],
      "parameters": {
        "url": "<insert_url>",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"url\": \"https://we-hang.com/pages/n8n-automation-expert-challenge\",\n  \"formats\": [\n    \"markdown\",\n    \"html\"\n  ]\n} ",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth"
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "credential-id",
          "name": "httpBearerAuth Credential"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "e8e42131-3da1-46ea-814a-247082658576",
      "name": "Get Timestamp",
      "type": "n8n-nodes-base.code",
      "notes": "JavaScript Code node – attaches a millisecond timestamp to the scraped content (legacy high-port flag kept untouched for compatibility).",
      "onError": "continueErrorOutput",
      "position": [
        -1380,
        -140
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  if (item.json.data.port > 5000) {\n    item.json.data[\"high-port\"] = true;\n  }\n  return item.json;\n});\n\nconst timestamp = new Date().getTime();\n\nreturn { updatedItems, timestamp };\n"
      },
      "typeVersion": 2
    },
    {
      "id": "7262962a-e5c8-4e87-9b17-80b43557782a",
      "name": "Update Current Content",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Writes the freshly scraped content into row 2 of the *comparison* sheet (columns current_timestamp & current_content).",
      "onError": "continueErrorOutput",
      "position": [
        -1160,
        -140
      ],
      "parameters": {
        "columns": {
          "value": {
            "row_number": "2",
            "current_content": "={{ $json.updatedItems[0].data.markdown }}",
            "current_timestamp": "={{ $json.timestamp }}"
          },
          "schema": [
            {
              "id": "last_timestamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "last_timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_content",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "last_content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "current_timestamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "current_timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "current_content",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "current_content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 725909638,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g/edit#gid=725909638",
          "cachedResultName": "comparison"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g/edit?usp=drivesdk",
          "cachedResultName": "Häng_Log"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "d26b1096-0288-4ca7-8a0c-388996226728",
      "name": "Read Current and Latest Content",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Loads the same row 2, giving us both last_content and current_content for comparison.",
      "onError": "continueErrorOutput",
      "position": [
        -940,
        -140
      ],
      "parameters": {
        "options": {
          "returnAllMatches": "returnFirstMatch"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 725909638,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g/edit#gid=725909638",
          "cachedResultName": "comparison"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g/edit?usp=drivesdk",
          "cachedResultName": "Häng_Log"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4,
      "alwaysOutputData": true
    },
    {
      "id": "52c5313a-1ebb-4875-8c8b-61b407bc6cab",
      "name": "Is Equal?",
      "type": "n8n-nodes-base.if",
      "notes": "IF node – checks whether the scraped content changed. True branch → unchanged, False branch → changed.",
      "onError": "continueErrorOutput",
      "position": [
        -720,
        -140
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.last_content }}",
              "value2": "={{ $json.current_content }}"
            }
          ]
        },
        "combineOperation": "any"
      },
      "executeOnce": true,
      "typeVersion": 1
    },
    {
      "id": "cd72f620-e31f-4c0d-8835-59ed187a1ccd",
      "name": "Respond Unchanged",
      "type": "n8n-nodes-base.respondToWebhook",
      "notes": "Returns a 200 OK response to the original webhook caller when no change was detected.",
      "position": [
        -500,
        -240
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "3ac13426-967f-46a8-af12-a5cac4bd4b20",
      "name": "Read Latest and Latest Content",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Reads the current sheet row again on the ‘changed’ path so subsequent code nodes have the freshest values.",
      "onError": "continueErrorOutput",
      "position": [
        -500,
        -40
      ],
      "parameters": {
        "options": {
          "returnAllMatches": "returnFirstMatch"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 725909638,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g/edit#gid=725909638",
          "cachedResultName": "comparison"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g/edit?usp=drivesdk",
          "cachedResultName": "Häng_Log"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4,
      "alwaysOutputData": true
    },
    {
      "id": "6ca28b23-f8da-4dd1-af41-ca42f76b69f7",
      "name": "Extract Differences",
      "type": "n8n-nodes-base.code",
      "notes": "Splits last & current content into arrays, determines new vs missing segments, attaches another timestamp.",
      "onError": "continueErrorOutput",
      "position": [
        -280,
        -240
      ],
      "parameters": {
        "jsCode": "const items = $input.all().map((item) => item.json);\n\nconst result = items.map((item) => {\n  const lastContent = item.last_content.split(\",\");\n  const currentContent = item.current_content.split(\",\");\n  const newContent = currentContent.filter((i) => !lastContent.includes(i));\n  const missingContent = lastContent.filter((i) => !currentContent.includes(i));\n  return {\n    ...item,\n    newContent,\n    missingContent,\n    timestamp: new Date().getTime(),\n  };\n});\n\nreturn result;\n"
      },
      "typeVersion": 2
    },
    {
      "id": "ec0188a2-f4c0-4f8d-b155-fe5eb67faf8f",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "notes": "Sends a plain-text email detailing what changed (first diff only) to n8nchallenge@we-hang.com.",
      "onError": "continueErrorOutput",
      "position": [
        -60,
        -240
      ],
      "webhookId": "c591ca46-7626-4de5-968c-9bfce7d97b38",
      "parameters": {
        "sendTo": "=example@gmail.com",
        "message": "=Guten Tag, \n\nEs gab eine Änderung an der beobachteten Website:\n\nUm \"{{ $json.timestamp }}\" wurde \"{{ $json.missingContent[0] }}\" durch \"{{ $json.newContent[0] }}\" ersetzt.\n\nViele Grüße ",
        "options": {},
        "subject": "Relevante Inhaltsänderung auf Website",
        "emailType": "text"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "credential-id",
          "name": "gmailOAuth2 Credential"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "1b85582b-48e1-4f70-8df2-fa5dbd505ddd",
      "name": "Append Log Row",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Adds a new row to *Log* sheet with timestamp & full current content – creates a historical audit trail.",
      "onError": "continueErrorOutput",
      "position": [
        -60,
        -40
      ],
      "parameters": {
        "columns": {
          "value": {
            "content": "={{ $json.current_content }}",
            "timestamp": "={{ $json.current_timestamp }}"
          },
          "schema": [
            {
              "id": "timestamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g/edit#gid=0",
          "cachedResultName": "Log"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g/edit?usp=drivesdk",
          "cachedResultName": "Häng_Log"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "a57f34af-ddca-4973-8c52-7947006cc5fa",
      "name": "Update Latest Content",
      "type": "n8n-nodes-base.googleSheets",
      "notes": "Moves current values into the *last_* columns (row 2) so the next run will compare against them.",
      "onError": "continueErrorOutput",
      "position": [
        -60,
        160
      ],
      "parameters": {
        "columns": {
          "value": {
            "row_number": "2",
            "last_content": "={{ $json.current_content }}",
            "last_timestamp": "={{ $json.current_timestamp }}"
          },
          "schema": [
            {
              "id": "last_timestamp",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "last_timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last_content",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "last_content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "current_timestamp",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "current_timestamp",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "current_content",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "current_content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 725909638,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g/edit#gid=725909638",
          "cachedResultName": "comparison"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JashxHNjWMu0IGg7ck6pDxtH6Eo-jVvIIMAWWRspc8g/edit?usp=drivesdk",
          "cachedResultName": "Häng_Log"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "69c262ab-fcc5-480f-acff-01c982b68673",
      "name": "Respond Changed",
      "type": "n8n-nodes-base.respondToWebhook",
      "notes": "Returns a success response to the original HTTP call confirming that a change was processed.",
      "position": [
        160,
        60
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "ccbaaf84-52cf-40dd-9147-e09e5c91e71e",
      "name": "📋 SETUP OVERVIEW",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2140,
        -840
      ],
      "parameters": {
        "width": 400,
        "height": 460,
        "content": "🎯 WORKFLOW PURPOSE:\nThis workflow monitors a webpage for content changes and sends email notifications when changes are detected.\n\n📊 KEY COMPONENTS:\n• Firecrawl API for web scraping\n• Google Sheets for data storage & comparison\n• Gmail for notifications\n• Webhook trigger for external activation\n\n🔄 WORKFLOW FLOW:\nWebhook → Scrape → Compare → Email (if changed) → Log → Respond"
      },
      "typeVersion": 1
    },
    {
      "id": "1adc1940-ff74-4454-b841-6e9379c76d9e",
      "name": "🔐 CREDENTIALS SETUP",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1700,
        -840
      ],
      "parameters": {
        "width": 400,
        "height": 460,
        "content": "⚙️ REQUIRED CREDENTIALS:\n\n1️⃣ FIRECRAWL API:\n• Sign up at https://firecrawl.dev\n• Get API key from dashboard\n• Create 'Bearer YOUR_TOKEN_HERE' credential in n8n\n• Name: 'Bearer YOUR_TOKEN_HERE account'\n\n2️⃣ GOOGLE SHEETS:\n• Enable Google Sheets API in Google Cloud Console\n• Create OAuth2 credentials\n• Add credential in n8n as 'Google Sheets account'\n\n3️⃣ GMAIL:\n• Enable Gmail API in Google Cloud Console\n• Create OAuth2 credentials\n• Add credential in n8n as 'Gmail account'"
      },
      "typeVersion": 1
    },
    {
      "id": "38fc9213-614c-467e-af3f-18fe8c62a99e",
      "name": "📊 GOOGLE SHEETS SETUP",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1320,
        100
      ],
      "parameters": {
        "width": 400,
        "height": 300,
        "content": "📋 SPREADSHEET STRUCTURE:\n\n🗂️ Create a Google Sheet with 2 tabs:\n\n1️⃣ 'Log' sheet (gid=0):\n• Column A: timestamp\n• Column B: content\n\n2️⃣ 'comparison' sheet (gid=725909638):\n• Column A: last_timestamp\n• Column B: last_content  \n• Column C: current_timestamp\n• Column D: current_content\n• Column E: row_number\n• Row 2: Set 'row_number' to '2'\n\n📝 Copy the spreadsheet ID from the URL and update all Google Sheets nodes with your ID."
      },
      "typeVersion": 1
    },
    {
      "id": "d9a32777-2a21-46ba-a179-534f27616b28",
      "name": "⚙️ CONFIGURATION",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1240,
        -840
      ],
      "parameters": {
        "width": 400,
        "height": 460,
        "content": "🔧 CUSTOMIZATION SETTINGS:\n\n🌐 TARGET WEBSITE:\n• Update Firecrawl node 'url' parameter\n\n📧 EMAIL SETTINGS:\n• Update Gmail node 'sendTo' field\n• Customize subject and message template\n\n🪝 WEBHOOK PATH:\n• Can be customized in Webhook node\n\n📄 SCRAPING FORMAT:\n• Currently set to markdown + html\n• Modify in Firecrawl node if needed"
      },
      "typeVersion": 1
    },
    {
      "id": "6b09600c-1a63-4b96-bf3a-eaeb6dfd02f0",
      "name": "🧪 TESTING & ACTIVATION",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        -840
      ],
      "parameters": {
        "width": 400,
        "height": 460,
        "content": "✅ TESTING STEPS:\n\n1️⃣ MANUAL TEST:\n• Click 'Execute Workflow' button\n• Check if all nodes execute successfully\n• Verify Google Sheets get populated\n• Check if email is sent (if content differs)\n\n2️⃣ WEBHOOK TEST:\n• Activate workflow (toggle switch)\n• Copy webhook URL from Webhook node\n• Test with curl or Postman:\n  curl -X POST [your-webhook-url]\n\n3️⃣ TROUBLESHOOTING:\n• Check node execution logs for errors\n• Verify all credentials are properly configured\n• Ensure Google Sheets permissions are correct"
      },
      "typeVersion": 1
    },
    {
      "id": "a43347e4-f5b3-4122-b3b8-45ff925a3402",
      "name": "🤖 AUTOMATION SETUP",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -780,
        -840
      ],
      "parameters": {
        "width": 400,
        "height": 460,
        "content": "⏰ SCHEDULING OPTIONS:\n\n🔄 CRON JOB (Recommended):\n• Set up external cron job to call webhook\n• Example: */30 * * * * (every 30 minutes)\n• Command: curl -X POST [webhook-url]\n\n⚡ N8N CRON TRIGGER:\n• Replace Webhook with Cron Trigger node\n• Set desired interval\n• Remove Respond nodes (not needed)\n\n🌐 EXTERNAL MONITORING:\n• Use services like UptimeRobot\n• Configure to call webhook at intervals\n• Provides additional monitoring layer"
      },
      "typeVersion": 1
    },
    {
      "id": "8184238c-654e-4b3e-b5f9-e9e8f423fe0f",
      "name": "🔧 MAINTENANCE & MONITORING",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        -840
      ],
      "parameters": {
        "width": 400,
        "height": 460,
        "content": "📈 MONITORING:\n\n📊 EXECUTION HISTORY:\n• Check n8n execution log regularly\n• Monitor for failed executions\n• Set up n8n error notifications\n\n📋 LOG REVIEW:\n• Check Google Sheets 'Log' tab\n• Verify timestamps are updating\n• Monitor content changes over time\n\n🚨 ERROR HANDLING:\n• All nodes have 'Continue on Error' enabled\n• Failed nodes won't stop the workflow\n• Check individual node outputs for issues"
      },
      "typeVersion": 1
    },
    {
      "id": "4b6fd3db-6276-4885-b704-d5709a9ad630",
      "name": "🔒 SECURITY & BEST PRACTICES",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        -840
      ],
      "parameters": {
        "width": 400,
        "height": 460,
        "content": "🛡️ SECURITY CONSIDERATIONS:\n\n🔐 API KEYS:\n• Store all credentials securely in n8n\n• Never hardcode API keys in workflow\n• Regularly rotate API keys\n\n📧 EMAIL SECURITY:\n• Use dedicated email for notifications\n• Consider email filtering rules\n• Monitor for spam/bounce issues\n\n🌐 WEBHOOK SECURITY:\n• Consider adding authentication\n• Use HTTPS endpoints only\n• Monitor webhook access logs\n\n💾 DATA PRIVACY:\n• Regularly clean old log entries\n• Be mindful of scraped content sensitivity"
      },
      "typeVersion": 1
    },
    {
      "id": "10a36c1e-34ef-46dd-83a7-0cd4c6034a6c",
      "name": "🔍 COMMON ISSUES & SOLUTIONS",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        -840
      ],
      "parameters": {
        "width": 400,
        "height": 460,
        "content": "⚠️ COMMON PROBLEMS:\n\n🚫 FIRECRAWL ERRORS:\n• Check API key validity\n• Verify target URL is accessible\n• Check rate limits on Firecrawl account\n\n📊 GOOGLE SHEETS ISSUES:\n• Verify sheet ID and tab names\n• Check OAuth permissions\n• Ensure sheets have correct structure\n\n📧 EMAIL PROBLEMS:\n• Check Gmail API quotas\n• Verify recipient email address\n• Check spam folders\n\n🪝 WEBHOOK ISSUES:\n• Ensure workflow is activated\n• Check webhook URL format\n• Verify n8n instance is accessible"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "732c1f33-081b-46d4-8fa3-1b497856198b",
  "connections": {
    "Gmail": {
      "main": [
        [
          {
            "node": "Respond Changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Firecrawl HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Equal?": {
      "main": [
        [
          {
            "node": "Respond Unchanged",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Latest and Latest Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Timestamp": {
      "main": [
        [
          {
            "node": "Update Current Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Log Row": {
      "main": [
        [
          {
            "node": "Respond Changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Differences": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Latest Content": {
      "main": [
        [
          {
            "node": "Respond Changed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl HTTP Request": {
      "main": [
        [
          {
            "node": "Get Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Current Content": {
      "main": [
        [
          {
            "node": "Read Current and Latest Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Latest and Latest Content": {
      "main": [
        [
          {
            "node": "Extract Differences",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append Log Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Latest Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Current and Latest Content": {
      "main": [
        [
          {
            "node": "Is Equal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
