workflows/templates/5634_Track_Top_Meme_Coin_Prices_with_Telegram_Bot_and_CoinGecko_API.json
{
  "_templateId": 5634,
  "_templateName": "Track Top Meme Coin Prices with Telegram Bot and CoinGecko API",
  "_templateDescription": "Platform: n8n (Telegram Bot Integration)\nPurpose: Let users fetch top meme coin prices in real-time using a simple /memecoin Telegram command \n How It Works (Logic Breakdown)\nThis flow listens for a Telegram command and fetches data from the CoinGecko API to respond with live memecoin prices.\n\n🔹 1. Telegram Trigger Node\nListens for incoming Telegram messages from users.\n\nActivated when a message is sent in a Telegram chat connected to the bot.\n\nPasses the raw message (e.g., /memecoin) to the next node.\n\n🔹 2. IF Node – Check if Message is /memecoin\nCondition: {{$json\"message\"}} === \"/memecoin\"\n\nIf true ➝ continue to fetch data from CoinGecko.\n\nIf false ➝ nothing happens.\n\n🔹 3. HTTP Request – Fetch Meme Coins from CoinGecko\nAPI: https://api.coingecko.com/api/v3/coins/markets?...category=meme-token\n\nFetches top 5 meme tokens by market cap.\n\nData includes:\n\nName\n\nSymbol\n\nCurrent price (USD)\n\nCoin ID (for URL linking)\n\n🔹 4. Function Node – Format the Message\nParses the JSON response from CoinGecko.\n\nBuilds a clean message like:\n\nruby\nCopy\nEdit\n🚀 Dogecoin (DOGE)\n💰 Price: $0.123\n🔗 More: https://www.coingecko.com/en/coins/dogecoin\nLoops through top 5 meme coins and adds line breaks.\n\n🔹 5. Telegram Send Node – Reply to User\nSends the formatted message to the original chat.\n\nUses chat_id from the trigger to ensure correct user receives it.\n\n🖼 Sample User Flow\n👤 User types /memecoin in Telegram bot\n\n🤖 Bot fetches meme coin prices\n\n📬 Bot replies with live prices + links",
  "_templateCreatedAt": "2025-07-03T15:53:34.293Z",
  "_templateTotalViews": 157,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:43:28.333Z",
  "id": "XDaL4KxmDH5086wS",
  "meta": {
    "instanceId": "08c80bbdbc0862fc897775651ca4e74f266eecab5ad1391c64483290c5555090",
    "templateCredsSetupCompleted": true
  },
  "name": "Memecoin navigator",
  "tags": [],
  "nodes": [
    {
      "id": "dff9220b-de43-48a4-9a5c-16c63d4abb7b",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        220,
        40
      ],
      "webhookId": "6ee64662-8c2a-4588-b691-7a2250a7b04c",
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "243cc624-5aec-4759-85c6-3fdd85b18c03",
      "name": "If /memecoin",
      "type": "n8n-nodes-base.if",
      "position": [
        440,
        40
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"message\"][\"text\"]}}",
              "value2": "/memecoin"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "d107339d-d7fc-4258-85ad-099f50090848",
      "name": "Fetch Meme Coins",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        660,
        40
      ],
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=5&page=1&sparkline=false&category=meme-token",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "32b5faa8-e15f-4a9f-a1aa-68f73f452e81",
      "name": "Format Message",
      "type": "n8n-nodes-base.function",
      "onError": "continueRegularOutput",
      "position": [
        880,
        40
      ],
      "parameters": {
        "functionCode": "const chatId = $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"];\nconst coins = items[0].json; // the array of meme coins\n\nlet messageText = coins.map(coin => {\n  const name = coin.name || \"Unknown\";\n  const symbol = coin.symbol ? coin.symbol.toUpperCase() : \"N/A\";\n  const price = coin.current_price !== undefined ? `$${coin.current_price}` : \"Not available\";\n  const id = coin.id || \"unknown\";\n\n  return `🚀 *${name}* (${symbol})\\n💰 Price: ${price}\\n🔗 More: https://www.coingecko.com/en/coins/${id}`;\n}).join(\"\\n\\n\"); // separates each coin block\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: messageText\n  }\n}];\n"
      },
      "executeOnce": false,
      "notesInFlow": false,
      "typeVersion": 1,
      "alwaysOutputData": false
    },
    {
      "id": "f2b74ea5-0092-43af-9b11-fb0d15a7a067",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1100,
        40
      ],
      "webhookId": "8eb5109d-7976-411a-ad48-7fcf334ef2b7",
      "parameters": {
        "text": "={{$json[\"text\"]}}",
        "chatId": "={{$json[\"chat_id\"]}}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bea41962-3d87-4290-aefb-d16db2694a3f",
  "connections": {
    "If /memecoin": {
      "main": [
        [
          {
            "node": "Fetch Meme Coins",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Meme Coins": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If /memecoin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
