workflows/templates/5867_Convert_CAD_BIM_Revit_IFC_AutoCAD_in_DataBase_DataFrame.json
{
  "_templateId": 5867,
  "_templateName": "Convert CAD & BIM (Revit, IFC, AutoCAD) in DataBase (DataFrame)",
  "_templateDescription": "A minimal workflow to convert a Revit/IFC/DWG project into analysis-ready XLSX (and optional DAE) with a single run. Set two variables, execute, and the converter does the rest.\n\nWhat it does\nInputs:** path_to_converter and path_project_file (RVT/IFC/DWG).\nRuns:** RvtExporter.exe \"&lt;converter&gt;\" \"&lt;project_file&gt;\".\nOutputs:* writes &lt;ProjectName&gt;_rvt.xlsx (and _rvt.dae if enabled by your converter).\n\nPrerequisites\nWindows** host (local executable + filesystem).\nDDC Revit toolkit installed: C:\\\\DDC_Converter_Revit\\\\datadrivenlibs\\\\RvtExporter.exe.\nA local project file you can read.\n\nHow to use\nImport this JSON into n8n.\nOpen “Set path to file and converter” and set:\n   path_to_converter: C:\\\\DDC_Converter_Revit\\\\datadrivenlibs\\\\RvtExporter.exe\n   path_project_file: e.g., C:\\\\Sample_Projects\\\\your_project.rvt\nRun Manual Trigger → the command node executes the converter.\n\nNotes & tips\nEnsure the path points to the executable inside datadrivenlibs.\nUse ASCII-safe paths; ensure write permissions next to the project file.\nThis is intentionally simple: chain it with your own Parse/Transform/Load steps as needed.\n\nCategories\nData Extraction · Files & Storage · ETL · CAD/BIM\n\nTags\ncad-bim, revit, ifc, dwg, converter, xlsx, dae\n\nAuthor\n DataDrivenConstruction.io \n info@datadrivenconstruction.io\n\nConsulting and Training\nWe work with leading construction, engineering, consulting agencies and technology firms around the world to help them implement open data principles, automate CAD/BIM processing and build robust ETL pipelines.\n\nIf you would like to test this solution with your own data, or are interested in adapting the workflow to real project tasks, feel free to contact us.\n\n\nDocs & Issues:  \n  Full Readme on GitHub",
  "_templateCreatedAt": "2025-07-11T05:50:35.160Z",
  "_templateTotalViews": 66,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-29T05:04:43.080Z",
  "id": "OxEUTQHRy461kBxF",
  "meta": {
    "instanceId": "faa70e11b7175129a74fd834d3451fdc1862589b16d68ded03f91ca7b1ecca12"
  },
  "name": "n8n_1_Revit_IFC_DWG_Conversation_simple",
  "tags": [],
  "nodes": [
    {
      "id": "06a9a9db-ced5-423b-a3a1-9f7494aea317",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        224
      ],
      "parameters": {
        "color": 7,
        "width": 560,
        "height": 300,
        "content": "## ⚠️ Troubleshooting\nIf you encounter errors during conversion, be sure to reference the executable inside the **`datadrivenlibs`** folder. Use this path:\n\n```text\n\"DDC_Exporter_XXXXXXX\\datadrivenlibs\\XxxExporter.exe\"\n```\ninstead of:\n```text\n\"DDC_Exporter_XXXXXXX\\XxxExporter.exe\"\n```"
      },
      "typeVersion": 1
    },
    {
      "id": "5d337502-da31-4e35-9481-afaae2602ff8",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -400
      ],
      "parameters": {
        "width": 340,
        "height": 132,
        "content": "⭐ **If you find our tools helpful**, please **consider starring** our repository on [GitHub](https://github.com/datadrivenconstruction/cad2data-Revit-IFC-DWG-DGN-pipeline-with-conversion-validation-qto). \n\nYour support helps us improve and continue developing open solutions for the community!\n"
      },
      "typeVersion": 1
    },
    {
      "id": "9f2d392f-3e33-472f-9db3-3375606ff62d",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        480,
        -16
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "9fc834a6-6d60-430e-99be-eb93e5d4939d",
      "name": "Set path to file and converter",
      "type": "n8n-nodes-base.set",
      "position": [
        688,
        -16
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "9cbd4ec9-df24-41e8-b47a-720a4cdb733b",
              "name": "path_to_converter",
              "type": "string",
              "value": "C:\\Users\\Artem Boiko\\Desktop\\n8n\\cad2data-Revit-IFC-DWG-DGN-pipeline-with-conversion-validation-qto-main\\cad2data-Revit-IFC-DWG-DGN-pipeline-with-conversion-validation-qto-main\\DDC_Converter_Revit\\datadrivenlibs\\RvtExporter.exe"
            },
            {
              "id": "aa834467-80fb-476a-bac1-6728478834f0",
              "name": "path_project_file",
              "type": "string",
              "value": "C:\\Users\\Artem Boiko\\Desktop\\n8n\\cad2data-Revit-IFC-DWG-DGN-pipeline-with-conversion-validation-qto-main\\cad2data-Revit-IFC-DWG-DGN-pipeline-with-conversion-validation-qto-main\\Sample_Projects\\2023 racbasicsampleproject.rvt"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "8d1c478a-0231-47f9-bf4a-593f21b13dcf",
      "name": "Converting the project into a structured form",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        880,
        -16
      ],
      "parameters": {
        "command": "=\"{{$json[\"path_to_converter\"]}}\" \"{{$json[\"path_project_file\"]}}\"",
        "executeOnce": "="
      },
      "typeVersion": 1
    },
    {
      "id": "3ce0d757-7611-4708-a402-ff97f283361c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -208
      ],
      "parameters": {
        "color": 4,
        "width": 192,
        "height": 384,
        "content": "## ⬇️ Only modify the variables here  \n— everything else works automatically"
      },
      "typeVersion": 1
    },
    {
      "id": "1f42b881-3c0f-42bb-b25e-e7e7512b3f1c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -256
      ],
      "parameters": {
        "color": 7,
        "width": 688,
        "height": 464,
        "content": "Simple n8n workflow"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc4f6db7-3d9d-4529-8f69-060b87acc545",
  "connections": {
    "Set path to file and converter": {
      "main": [
        [
          {
            "node": "Converting the project into a structured form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set path to file and converter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
