workflows/templates/7217_Auto_Comment_on_Reddit_Posts_with_AI_Brand_Mentions_Baserow_Tracking.json
{
  "_templateId": 7217,
  "_templateName": "Auto-Comment on Reddit Posts with AI Brand Mentions & Baserow Tracking",
  "_templateDescription": "This workflow finds fresh Reddit posts that match your keywords, decides if they’re actually relevant to your brand, writes a short human-style reply using AI, posts it, and logs everything to Baserow.\n\n💡Perfect for\n\nLead gen without spam: drop helpful replies where your audience hangs out.\n\nGet discovered by AI surfaces (AI Overviews / SGE, AISEO/GSEO) via high-quality brand mentions.\n\nCustomer support in the wild: answer troubleshooting threads fast.\n\nCommunity presence: steady, non-salesy contributions in niche subreddits.\n\n🧠 What it does\n\nSearches Reddit for your keyword query on a schedule (e.g., every 30 min)\n\nChecks Baserow first so you don’t reply twice to the same post\n\nUses an AI prompt tuned for short, no-fluff, subreddit-friendly comments\n\nSoftly mentions your brand only when it’s clearly relevant\n\nPosts the comment via Reddit’s API\n\nSaves post_id, comment_id, reply, permalink, status to Baserow\n\nProcesses posts one-by-one with an optional short wait to be nice to Reddit\n\n⚡ Requirements\n\nReddit developer API\n\nBaserow account, table, and API token\n\nAI provider API (OpenAI / Anthropic / Gemini)\n\n⚙️ Setup Instructions\n\nCreate Baserow table\n   Fields (user-field names exactly):\n   post_id (unique), permalink, subreddit, title, created_utc, reply (long text), replied (boolean), created_on (datetime).\n\nAdd credentials in n8n\n\nReddit OAuth2* (scopes: read, submit, identity) and set a proper *User-Agent** string (Reddit requires it).\nLLM**: Google Gemini and/or Anthropic (both can be added; one can be fallback in the AI Agent).\nBaserow**: API token.\n\nSet the Schedule Trigger (Cron)\n   Start hourly (or every 2–3h). Pacing is mainly enforced by the Wait nodes.\n\nUpdate “Check duplicate row” (HTTP Request)\n\nURL**:\n  https://api.baserow.io/api/database/rows/table/{TABLE_ID}/?user_field_names=true&filter__post_id__equal={{$json.post_id}}\nHeader**: Authorization: Token YOUR_BASEROW_TOKEN\n  (Use your own Baserow domain if self-hosted.)\n\nConfigure “Filter Replied Posts”\n   Ensure it skips items where your Baserow record shows replied === true (so you don’t comment twice).\n\nConfigure “Fetch Posts from Reddit”\n   Set your keyword/search query (and time/sort). Keep User-Agent header present.\n\n\nConfigure “Write Reddit Comment (AI)”\n\nUpdate your brand name** (and optional link).\nEdit the prompt/tone** to your voice; ensure it outputs a short reply field (≤80 words, helpful, non-salesy).\n\nConfigure “Post Reddit Comment” (HTTP Request)\n\nEndpoint: POST https://oauth.reddit.com/api/comment\nBody: thing_id: \"t3_{{$json.post_id}}\", text: \"{{$json.reply}}\"\nUses your Reddit OAuth credential and User-Agent header. \nUpdate user_agent value in header by your username n8n:reddit-autoreply:1.0 (by /u/{reddit-username})\n\nStore Comment Data on Baserow (HTTP Request)\n\nPOST https://api.baserow.io/api/database/rows/table/{TABLE_ID}/?user_field_names=true\nHeader: Authorization: Token YOUR_BASEROW_TOKEN\nMap: post_id, permalink, subreddit, title, created_utc, reply, replied, created_on={{$now}}.\n\nKeep default pacing\n    Leave Wait 5m (cool-off) and Wait 6h (global pace) → \\~4 comments/day. Reduce waits gradually as account health allows.\n\nTest & enable\n    Run once manually, verify a Baserow row and one test comment, then enable the schedule.\n\n🤝 Need a hand?\n\nI’m happy to help you get this running smoothly—or tailor it to your brand.\n\nReach out to me via email: imarunavadas@gmail.com",
  "_templateCreatedAt": "2025-08-10T12:57:41.947Z",
  "_templateTotalViews": 693,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-29T05:00:50.927Z",
  "id": "tMStkA8LDIhkaCcF",
  "meta": {
    "instanceId": "f72cde31dbc45f25c4862cabd0d3f8e8f469ec75575f9316329a5ee265ad866e",
    "templateCredsSetupCompleted": true
  },
  "name": "Multi-agent Intelligent Reddit Automation by Arunava",
  "tags": [
    {
      "id": "DDbFuPgB9dn2WGr3",
      "name": "Reddit",
      "createdAt": "2025-08-10T11:38:34.764Z",
      "updatedAt": "2025-08-10T11:38:34.764Z"
    },
    {
      "id": "g7moK2McYEReOutq",
      "name": "GEO",
      "createdAt": "2025-08-16T09:26:24.096Z",
      "updatedAt": "2025-08-16T09:26:24.096Z"
    }
  ],
  "nodes": [
    {
      "id": "0a3f4382-7dae-4199-87ad-a0048c8359c6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -16,
        16
      ],
      "parameters": {},
      "typeVersion": 1.2
    },
    {
      "id": "042435f1-9561-4b6b-85cc-032ca94324f0",
      "name": "Search for a post",
      "type": "n8n-nodes-base.reddit",
      "position": [
        240,
        16
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "5576d6c4-eac2-4655-b2cb-264305a798ad",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "onError": "continueRegularOutput",
      "position": [
        1808,
        16
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "8fef64ee-96ca-4a30-8342-66f9a9f9d929",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1792,
        256
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "8a0c0fc0-cfd7-47a3-8c54-31411e77c68b",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2112,
        256
      ],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "0d6b0645-34c0-44b0-b056-e7708c35952b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        512,
        16
      ],
      "parameters": {},
      "typeVersion": 3
    },
    {
      "id": "5a3c7d24-b2ca-49a7-bbeb-0211078b2832",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        256,
        304
      ],
      "parameters": {},
      "typeVersion": 2.2
    },
    {
      "id": "9c557675-1d51-429d-abe1-671e10f8b7c3",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        544,
        304
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "b2d82149-f64e-4d1d-9d64-a7130058f2d0",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        544,
        528
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1c24e125-87d3-4cac-a20b-287359e26986",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        848,
        544
      ],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "37c357e1-0e13-4537-b28c-6b655f797f9a",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1072,
        304
      ],
      "parameters": {},
      "typeVersion": 4.2
    },
    {
      "id": "222787a5-bc2d-44ba-824c-66dabfdadd6b",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        1520,
        16
      ],
      "webhookId": "2c3ccf1f-2972-4bb8-9655-a7827deabdd8",
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "7db2aef6-1152-469a-bc32-5d915c73822f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -80
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "8c4ae7d0-1ee0-4a22-85b0-d36dcdb9530f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        -80
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "9a715e10-04bf-4575-8ddc-80eaa3e301a8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        -80
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "facd9195-a1aa-4618-a33e-efaf2be0cf52",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -80
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "418a4931-dbf9-4c4d-8fa9-6255d240f743",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        -80
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "75be2c15-0fea-481d-8e63-7c870f22650f",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        -80
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "5ceb4549-6687-43ac-b4f3-36221a84dddb",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        208
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "b5feaa38-8db8-4297-9340-2dc1d2447b16",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        208
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "10426aa7-cb96-4091-8240-714bbbec6990",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        208
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "7d5cc545-e944-486b-b6d2-cf5121c45843",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        208
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "3a227d99-013d-4983-9e8d-f5f1b3094891",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        208
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "f961314a-20b5-45b8-acdc-31a5e0fe4440",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        1952,
        256
      ],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "3804348d-1ad6-4473-80ed-9d19004d48d8",
      "name": "Anthropic Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        704,
        528
      ],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "de39d181-bf03-4f05-b467-1d055a734ed0",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        -80
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "43739193-e6be-490c-b075-efdbf1c9139c",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        480
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "9f862eb0-bdea-4dee-b568-7a7d412734aa",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        496
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "da15d5d6-6c3b-4162-b157-9242b3c3f609",
      "name": "Check Baserow for duplicate post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        784,
        16
      ],
      "parameters": {},
      "typeVersion": 4.2
    },
    {
      "id": "4db24f06-eb53-480c-b667-b69180bb2dae",
      "name": "Filter",
      "type": "n8n-nodes-base.code",
      "position": [
        992,
        16
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "0ff2aebf-76e8-487c-b20a-35dfa8a942f0",
      "name": "Filter Replied Posts",
      "type": "n8n-nodes-base.if",
      "position": [
        1248,
        16
      ],
      "parameters": {},
      "typeVersion": 2.2
    },
    {
      "id": "57565fe1-9804-4537-9396-9728494a9da6",
      "name": "Structure Output",
      "type": "n8n-nodes-base.set",
      "position": [
        -16,
        304
      ],
      "parameters": {},
      "typeVersion": 3.4
    },
    {
      "id": "d43bae19-6d8e-4c2f-b352-24d865173cfb",
      "name": "Add Post Details on Baserow",
      "type": "n8n-nodes-base.baserow",
      "position": [
        1072,
        592
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "fbab05be-4b65-402f-9c3d-a8191d51cac6",
      "name": "Wait to avoid hitting api limit",
      "type": "n8n-nodes-base.wait",
      "position": [
        1344,
        576
      ],
      "webhookId": "4e0901fb-62cf-423d-a0ed-2c8fd4608776",
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "10fa6043-7b34-4f3f-8bd1-e0d15814e3bd",
      "name": "Map Output in Structure",
      "type": "n8n-nodes-base.set",
      "position": [
        1344,
        304
      ],
      "parameters": {},
      "typeVersion": 3.4
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9e8f083-638d-4c92-a575-c096c842b0c5",
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Filter Replied Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Structure Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Map Output in Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check Baserow for duplicate post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search for a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Output": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for a post": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Filter Replied Posts": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Map Output in Structure": {
      "main": [
        [
          {
            "node": "Add Post Details on Baserow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add Post Details on Baserow": {
      "main": [
        [
          {
            "node": "Wait to avoid hitting api limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait to avoid hitting api limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Baserow for duplicate post": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
