workflows/templates/7815_Weather_Forecast_Email_Receive_Automated_Weather_Forecasts_Daily.json
{
  "_templateId": 7815,
  "_templateName": "Weather Forecast Email - Receive Automated Weather Forecasts Daily",
  "_templateDescription": "Video Introduction\n\nWant to automate your inbox or need a custom workflow? 📞 Book a Call | 💬 DM me on Linkedin\n\nWorkflow Overview\n\nThis workflow automatically delivers a daily weather forecast to your email inbox every morning at 7:00 AM. It demonstrates practical API-to-API integration by connecting the Meteosource weather API directly to Gmail using n8n's HTTP Request node, without requiring a pre-built Meteosource integration.\n\nWhy This Workflow is Valuable\n\nInstead of manually checking weather forecasts each morning, this automation fetches current and next-day weather summaries from Meteosource and delivers them directly to your inbox. It's a perfect example of how direct API integration unlocks tools that don't have dedicated n8n nodes, giving you access to the full functionality of any service with an API.\n\nKey Features\n\nScheduled daily execution at 7:00 AM (customizable)\nFetches weather data using the Meteosource API with secure Query Auth credentials\nSends formatted email with today's weather in the subject and tomorrow's forecast in the body\nEasy location and recipient customization through a Config node\n\nSetup Requirements\n\nMeteosource API Account: Sign up for a free account at Meteosource to get your API key (includes 400 free calls per day, more than enough for daily forecasts).\n\nCredentials needed:\nMeteosource credentials**: Create an HTTP Query Auth credential in n8n with the parameter name key and your Meteosource API key as the value\nGmail OAuth2**: Connect your Gmail account to n8n for sending emails\n\nConfiguration\n\nOpen the Config node to personalize:\nplace_id**: Change from \"london\" to your desired location (use Meteosource place ID format)\nsend_to_email**: Update with your preferred recipient email address\n\nThis workflow demonstrates the power of the HTTP Request node for connecting any API to your automation workflows.",
  "_templateCreatedAt": "2025-08-25T10:32:43.035Z",
  "_templateTotalViews": 218,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-29T05:04:21.837Z",
  "meta": {
    "instanceId": "c8c9ba5d3eb26ae47a06d24ff164a01c0d73ed4753a74903c2bb609d434a0f6b",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "fb92c5b8-f965-483b-84ca-c286969b3ccd",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        672,
        544
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "d8171a8a-a78e-486e-aed5-02bf72137c3e",
              "name": "place_id",
              "type": "string",
              "value": "london"
            },
            {
              "id": "ffdd0b58-8f4c-43b7-9f9e-efbbfbd537c3",
              "name": "send_to_email",
              "type": "string",
              "value": "user@example.com"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "ccb217ac-a6dc-4a3e-ab5c-f75a1efde030",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        448,
        544
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "5050181f-b7ce-47dc-a782-fe8c1c638861",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        896,
        544
      ],
      "parameters": {
        "url": "https://www.meteosource.com/api/v1/free/point?&sections=all&timezone=UTC&language=en&units=metric",
        "options": {},
        "sendQuery": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "queryParameters": {
          "parameters": [
            {
              "name": "place_id",
              "value": "={{ $json.place_id }}"
            }
          ]
        }
      },
      "credentials": {
        "httpQueryAuth": {
          "id": "credential-id",
          "name": "httpQueryAuth Credential"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "5289038a-6007-4241-a4f2-11ee0f921d0f",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1120,
        544
      ],
      "webhookId": "f8f87fd7-7f32-43a2-b7f2-3c55864d0bae",
      "parameters": {
        "sendTo": "={{ $('Config').item.json.send_to_email }}",
        "message": "=Tomorrow:  {{ $json.daily.data[1].summary }}\n\nPowered by Meteosource",
        "options": {
          "appendAttribution": false
        },
        "subject": "=Weather today:  {{ $json.daily.data[0].summary }}",
        "emailType": "text"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "credential-id",
          "name": "gmailOAuth2 Credential"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "contact-note-1759910018487",
      "name": "Creator Contact Info",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -252,
        -176
      ],
      "parameters": {
        "color": 5,
        "width": 600,
        "height": 440,
        "content": "# Contact Us:\n## Milan @ SmoothWork - [Book a Free Consulting Call](https://smoothwork.ai/book-a-call/)\n![Milan](https://gravatar.com/avatar/95700d17ba300a9f14c1b8cacf933df7720027b3adda9cbe6183d89142925422?r=pg&d=retro&size=100)\n\n\n### We help businesses eliminate busywork by building compact business tools tailored to your process.\n### Contact us for customizing this, or building similar automations.\n\n📧 hello@smoothwork.ai\n▶️ [Check us on YouTube](https://www.youtube.com/@vasarmilan)\n📞 [Book a Free Consulting Call](https://smoothwork.ai/book-a-call/)\n💼 [Add me on Linkedin](https://www.linkedin.com/in/mil%C3%A1n-v%C3%A1s%C3%A1rhelyi-3a9985123/)\n"
      },
      "typeVersion": 1
    },
    {
      "id": "doc-note-1759910018487",
      "name": "Workflow Description",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -252,
        264
      ],
      "parameters": {
        "width": 600,
        "height": 1000,
        "content": "## Workflow Overview\n\nThis workflow automatically sends you a daily weather forecast email every morning. It fetches current and next-day weather summaries from Meteosource and delivers them directly to your inbox at 7:00 AM, helping you start your day prepared.\n\n### First Setup\n\n1. **Meteosource API Account**: Sign up for a free account at [Meteosource](https://www.meteosource.com/) to get your API key (400 free calls per day)\n2. **Credentials needed**:\n   - **Meteosource credentials**: Create an HTTP Query Auth credential in n8n with the parameter name `key` and your Meteosource API key as the value\n   - **Gmail OAuth2**: Connect your Gmail account to n8n for sending emails\n\n### Configuration\n\nOpen the **Config - place_id and recipient** node to personalize:\n- **place_id**: Change from \"london\" to your desired location (use Meteosource place ID format)\n- **send_to_email**: Update with your preferred recipient email address\n\n### How It Works\n\nThe workflow runs daily at 7:00 AM, retrieves weather data from Meteosource for your configured location, and sends an email with today's weather in the subject line and tomorrow's forecast in the body."
      },
      "typeVersion": 1
    },
    {
      "id": "video-note-1759912267935",
      "name": "Video Walkthrough",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        358,
        -176
      ],
      "parameters": {
        "width": 420,
        "height": 340,
        "content": "# Video Walkthrough\n[![image.png](https://vasarmilan-public.s3.us-east-1.amazonaws.com/blog_thumbnails/thumbnail_recux4gNImLpzqvyd.jpg)](https://youtu.be/mMEX4Zsz4XY)"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
