workflows/templates/9367_Generate_Comprehensive_Abstract_Summaries_from_Jotform_Data_with_Gemini_AI.json
{
  "_templateId": 9367,
  "_templateName": "Generate Comprehensive & Abstract Summaries from Jotform Data with Gemini AI",
  "_templateDescription": "Who this is for\n\nThis workflow is designed for researchers, marketing teams, customer success managers, and survey analysts who want to automatically generate AI-powered summaries of form responses collected via Jotform  — turning raw feedback into actionable insights.\n\nIt is ideal for:\n\nTeams conducting market research or post-event surveys.\nCustomer experience teams that collect feedback via forms and need instant, digestible summaries.\nProduct managers seeking concise overviews of user comments and suggestions.\nAnalysts who want to compare comprehensive vs. abstract summaries for richer intelligence.\n\nWhat problem this workflow solves\n\nAnalyzing open-ended Jotform responses manually can be slow, repetitive, and error-prone.\nThis workflow automates the process by generating two AI summaries for every response:\n\nComprehensive Summary — captures all factual details from the response.\nAbstract Summary — rephrases and synthesizes insights at a higher, conceptual level.\n\nWith this workflow:\n\nEach response is summarized instantly using Google Gemini AI.\nBoth comprehensive and abstract summaries are automatically generated and stored.\nData is persisted in Google Sheets, DataTable, and Google Docs for further use.\n\nWhat this workflow does\n\nThis n8n workflow transforms Jotform submissions into structured summaries using Google Gemini.\n\nStep-by-Step Breakdown\n\nWebhook Trigger (Jotform Integration)\n\n   Listens for new Jotform submissions using the Webhook node.\n   Receives full form data via the Webhook response.\n  \nSet the Input Fields\n\n   Extracts and assigns key fields like:\n\n     FormTitle\n     SubmissionID\n     Body (the formatted form data)\n   Prepares structured JSON to feed into the AI summarization stage.\n\nComprehensive & Abstract Summarizer\n\n   Powered by Google Gemini Chat Model (models/gemini-2.0-flash-exp).\n   Custom prompt:\n\n          You are an expert comprehensive summarizer. Build a detailed and abstract summary of the following {{ $json.body.pretty }}.\n        Produces two distinct summaries:\n\n     comprehensive_summary\n     abstract_summary\n\nStructured Output Parser\n\n   Ensures Gemini output matches a defined JSON schema:\n\n          {\n       \"comprehensive_summary\": \"\",\n       \"abstract_summary\": \"\"\n     }\n        Guarantees reliable downstream integration with Sheets and Docs.\n\nPersist on DataTable\n\n   Saves both summaries into an n8n DataTable for historical tracking or visualization.\n   Useful for teams running internal analytics within n8n Cloud or self-hosted environments.\n\nAppend or Update Row in Google Sheets\n\n   Writes both summaries into a connected Google Sheet.\n   Columns:\n\n     comprehensive_summary\n     abstract_summary\n\nCreate Google Document\n\n   Automatically generates a Google Docs file titled:\n\n          {FormTitle}-{SubmissionID}\n        Acts as a per-submission record with a placeholder ready for AI summary insertion.\n\nUpdate Google Document\n\n   Inserts both summaries directly into the newly created Google Doc:\n\n          Comprehensive Summary:\n     [Full detailed summary]\n\n     Abstract Summary:\n     [Conceptual summary]\n        Each doc becomes a polished, shareable insight artifact.\n\nConcepts Used in the Workflow\n\nComprehensive Summarization\n\nComprehensive summarization captures every important detail in a factual, exhaustive way — ideal when accuracy and completeness matter.\n\nGoal:\n\nProvide a detailed understanding of user responses without losing nuance.\n\nBest For:\n\nResearch surveys\nCustomer service logs\nSupport ticket summaries\nFeedback traceability\n\nAbstract Summarization\n\nAbstract summarization rephrases and synthesizes ideas, offering high-level insights rather than copying text.\n\nGoal:\n\nCapture the essence and implications of feedback — ideal for storytelling and executive reviews.\n\nBest For:\n\nExecutive summaries\nMarketing insights\nCustomer trend analysis\nBlog-style recaps\n\nSetup Instructions\n\nPre-requisite \n\nIf you are new to Jotform, Please do signup using Jotform Signup\n\nFor the purpose of demonstation, we are considering the Jotforms Prebuilt Form as a example.\n\nFollow these steps to deploy and customize the workflow:\n\nStep 0: Local n8n\nThis step is required for the locally hosted n8n only. Please make sure to setup and install ngrok and follow the steps to configure and run ngrok on your local with the n8n port. This is how you can run.\nngrok http 5678\nCopy the base URL ex: https://2c6ab9f2c746.ngrok-free.app/ as it will be utilized as part of the webhook configuration for the Jotform.\n\nStep 1: Configure Jotform Webhook\n\nCopy the webhook URL generated by n8n’s Jotform Trigger node.\nIn your Jotform dashboard, go to:  \n  Settings → Integrations → Webhooks → Add Webhook \nIf you are executing this workflow on a self hosted n8n instance, please follow the steps for setting up ngrok and format the Webhook URL so that the Jotform can make a Webhook POST over the public URL.\n\nCopy the Webhook URL generated by n8n. \nYou can copy the URL by double clicking on the Jotform Trigger node. Make sure to replace the base url with the above Step 0, if you are running the workflow from your local machine.\n\nStep 2: Connect Google Gemini\n\nNavigate to n8n → Credentials → Google Gemini (PaLM API).\nAdd API credentials and select the model:\n  models/gemini-2.0-flash-exp\nTest the connection before proceeding.\n\nStep 3: Configure the Structured Output Parser\n\nOpen the Structured Output Parser node.\nEnsure the schema includes:\n\n    {\n    \"comprehensive_summary\": \"\",\n    \"abstract_summary\": \"\"\n  }\n  Modify or expand schema fields if additional summaries (e.g., “sentiment_summary”) are needed.\n\nStep 4: Connect Google Sheets\n\nLink your Google Sheets OAuth2 credentials.\nSpecify:\n\n  Document ID (Google Sheet URL)\n  Sheet Name (e.g., “Sheet1”)\nMap columns to:\n\n  comprehensive_summary\n  abstract_summary\n\nStep 5: Enable DataTable Storage (Optional)\n\nUse the DataTable node to maintain a permanent database within n8n Cloud.\nConfigure the schema fields for:\n\n  comprehensive_summary\n  abstract_summary\n\nStep 6: Generate and Update Google Docs\n\nLink your Google Docs account under n8n credentials.\nThe workflow auto-creates and updates a doc per submission, embedding both summaries for easy sharing.\n\nHow to Customize\n\nAdd Sentiment Analysis**\n\nAfter generating the summary, insert another Google Gemini node to classify the tone of each response — for example, Positive, Neutral, or Negative.\n\nThis helps you track user sentiment trends over time.\n\nSend Alerts for Urgent Feedback**\n\nUse an IF node to check if the abstract summary contains words such as “urgent,” “issue,” or “negative.”\n\nIf triggered, automatically send an alert through Slack, Gmail, or Discord, so the team can respond immediately.\n\nEnable Multi-Language Support**\n\nInsert a Language Detection node before the Gemini summarizer.\n\nOnce the language is detected, modify the summarizer prompt dynamically to summarize in that same language — ensuring localized insights.\n\nAdd Topic Extraction**\n\nInclude an additional Gemini text extraction node that identifies major topics or recurring themes from each response before summarization.\n\nThis creates structured insights ready for analytics or tagging.\n\nIntegrate with CRM or Ticketing Systems**\n\nConnect your workflow to HubSpot, Salesforce, or Zendesk to automatically create new records or tickets based on the feedback type or sentiment.\nThis closes the loop between survey collection and actionable response.\n\nSummary\n\nThis workflow automates survey intelligence generation from Jotform submissions — powered by Google Gemini AI — delivering dual-layer summarization outputs directly into Google Sheets, DataTables, and Google Docs.\n\nBenefits:\n\nInstant comprehensive and abstract summaries per submission.\nReady-to-use outputs for reports, dashboards, and client deliverables.\n\n",
  "_templateCreatedAt": "2025-10-08T02:17:35.293Z",
  "_templateTotalViews": 2,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:48:01.011Z",
  "id": "aII3GCSHJ15ErlYd",
  "meta": {
    "instanceId": "885b4fb4a6a9c2cb5621429a7b972df0d05bb724c20ac7dac7171b62f1c7ef40",
    "templateCredsSetupCompleted": true
  },
  "name": "Jotform Summarizer with Comprehensive and Abstract Insights using Gemini AI",
  "tags": [
    {
      "id": "Kujft2FOjmOVQAmJ",
      "name": "Engineering",
      "createdAt": "2025-04-09T01:31:00.558Z",
      "updatedAt": "2025-04-09T01:31:00.558Z"
    },
    {
      "id": "ZOwtAMLepQaGW76t",
      "name": "Building Blocks",
      "createdAt": "2025-04-13T15:23:40.462Z",
      "updatedAt": "2025-04-13T15:23:40.462Z"
    },
    {
      "id": "ddPkw7Hg5dZhQu2w",
      "name": "AI",
      "createdAt": "2025-04-13T05:38:08.053Z",
      "updatedAt": "2025-04-13T05:38:08.053Z"
    }
  ],
  "nodes": [
    {
      "id": "8b330c71-c374-45f1-b209-f222cde01637",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -464,
        -112
      ],
      "webhookId": "f3c34cda-d603-4923-883b-500576200322",
      "parameters": {
        "path": "f3c34cda-d603-4923-883b-5+1234567890",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2.1
    },
    {
      "id": "1ce7b1ab-bffa-4321-84f6-b86994f86388",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -16,
        96
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.0-flash-exp"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "credential-id",
          "name": "googlePalmApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "618b2a63-96f6-48fd-93c2-0ab011ce6c72",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        192,
        96
      ],
      "parameters": {
        "jsonSchemaExample": "{\n\t\"comprehensive_summary\": \"\",\n    \"abstract_summary\": \"\"\n}"
      },
      "typeVersion": 1.3
    },
    {
      "id": "fe8330f1-da12-4d2d-9dd2-3471e3184baf",
      "name": "Persist On DataTable",
      "type": "n8n-nodes-base.dataTable",
      "position": [
        512,
        -240
      ],
      "parameters": {
        "columns": {
          "value": {
            "abstract_summary": "={{ $json.output.abstract_summary }}",
            "comprehensive_summary": "={{ $json.output.comprehensive_summary }}"
          },
          "schema": [
            {
              "id": "comprehensive_summary",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "comprehensive_summary",
              "defaultMatch": false
            },
            {
              "id": "abstract_summary",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "abstract_summary",
              "defaultMatch": false
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "summary"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "BS6vlRklZeHuVf1A",
          "cachedResultUrl": "/projects/OFZrD6piltNz73Y6/datatables/BS6vlRklZeHuVf1A",
          "cachedResultName": "JotformRegistration"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "56bf001b-cbe4-48d6-afc8-ee6cfa6a5976",
      "name": "Append or update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        512,
        0
      ],
      "parameters": {
        "columns": {
          "value": {
            "abstract_summary": "={{ $json.output.abstract_summary }}",
            "comprehensive_summary": "={{ $json.output.comprehensive_summary }}"
          },
          "schema": [
            {
              "id": "comprehensive_summary",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "comprehensive_summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "abstract_summary",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "abstract_summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "comprehensive_summary"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "appendOrUpdate",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JOEbaPC2T06_O6Jb_UMbS7oG3z5RncY7Wk1gNAcpicg/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1JOEbaPC2T06_O6Jb_UMbS7oG3z5RncY7Wk1gNAcpicg",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JOEbaPC2T06_O6Jb_UMbS7oG3z5RncY7Wk1gNAcpicg/edit?usp=drivesdk",
          "cachedResultName": "Jotoform Registration"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "credential-id",
          "name": "googleSheetsOAuth2Api Credential"
        }
      },
      "typeVersion": 4.7
    },
    {
      "id": "1c5ef158-8280-4cbf-95f8-2a0993cf53e2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -544
      ],
      "parameters": {
        "color": 7,
        "width": 352,
        "height": 272,
        "content": "![Logo](https://www.jotform.com/resources/assets/logo-nb/min/jotform-logo-white-400x200.png)\n\nUses Google Gemini AI for the Comprehensive and Abstract Summarization of Jotform content"
      },
      "typeVersion": 1
    },
    {
      "id": "bc44ee25-7f8d-4955-aa7e-967394d81f3a",
      "name": "Comprehensive & Abstract Summarizer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        16,
        -112
      ],
      "parameters": {
        "text": "=Build a comprehensive summary of the following {{ $json.body.pretty }}",
        "batching": {},
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert comprehensive summarizer"
            }
          ]
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 1.7
    },
    {
      "id": "4e9bf3c9-acbc-4bce-af59-3cfb3b43b0ef",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -816
      ],
      "parameters": {
        "width": 400,
        "height": 544,
        "content": "## Comprehensive Summarization \n\nComprehensive Summarization focuses on covering all key points from the source text in a factual, detail-preserving way — without introducing new information.\nIt is closer to extractive summarization, but with a structured, complete overview.\n\n🎯 Goal\n\nTo provide an accurate and complete understanding of all user feedback details, ensuring nothing important is omitted.\n\n🧩 Ideal For\n\n- Customer service reports\n\n- Research surveys\n\n- Support ticket summaries\n\n- Business feedback logs\n\n- When traceability and completeness are important"
      },
      "typeVersion": 1
    },
    {
      "id": "f4b292b0-a173-44a2-9c42-f2a326f78903",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -816
      ],
      "parameters": {
        "width": 400,
        "height": 544,
        "content": "## Abstract Summarization \n\nAbstract summarization is conceptual and generative — the model rephrases, synthesizes, and interprets content to express underlying meaning rather than repeating the source.\n\n🎯 Goal\n\nTo provide insightful, human-like overviews that capture themes, tone, and implications, even introducing short interpretive statements.\n\n🧩 Ideal For\n\n- Executive summaries\n\n- Blog post generation\n\n- Customer insight synthesis\n\n- Marketing content summaries\n\n- When brevity and storytelling matter"
      },
      "typeVersion": 1
    },
    {
      "id": "4c410111-74dc-4d89-9bf7-df06dc364c1f",
      "name": "Create a document",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        512,
        256
      ],
      "parameters": {
        "title": "={{ $('Set the Input Fields').item.json.FormTitle }}-{{ $('Set the Input Fields').item.json.SubmissionID }}",
        "folderId": "default"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "credential-id",
          "name": "googleDocsOAuth2Api Credential"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "6b7ace69-f792-4040-87d6-6e857febd487",
      "name": "Set the Input Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -224,
        -112
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "a3ce16f0-0a3c-4f77-b747-bd475def3862",
              "name": "FormTitle",
              "type": "string",
              "value": "={{ $json.body.formTitle }}"
            },
            {
              "id": "b65e18e1-3aaa-4c4e-a7c4-c011078af035",
              "name": "SubmissionID",
              "type": "string",
              "value": "={{ $json.body.submissionID }}"
            },
            {
              "id": "ea353a9b-54e3-4f23-bc62-a30388acf5c6",
              "name": "body",
              "type": "object",
              "value": "={{ $json.body.toJsonString() }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "2270d28e-443a-480d-b44a-1683ed6d029d",
      "name": "Update a document",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        720,
        256
      ],
      "parameters": {
        "actionsUi": {
          "actionFields": [
            {
              "text": "=Comprehensive Summary - \n\n{{ $('Comprehensive & Abstract Summarizer').item.json.output.comprehensive_summary }}\n\nAbstract Summary - \n\n{{ $('Comprehensive & Abstract Summarizer').item.json.output.abstract_summary }}",
              "action": "insert"
            }
          ]
        },
        "operation": "update",
        "documentURL": "={{ $json.id }}"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "credential-id",
          "name": "googleDocsOAuth2Api Credential"
        }
      },
      "typeVersion": 2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "78e39833-6dee-4e69-9b48-f8b1fa198c19",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set the Input Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set the Input Fields": {
      "main": [
        [
          {
            "node": "Comprehensive & Abstract Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Comprehensive & Abstract Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Comprehensive & Abstract Summarizer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Comprehensive & Abstract Summarizer": {
      "main": [
        [
          {
            "node": "Persist On DataTable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
