workflows/templates/9385_Automate_LinkedIn_Engagement_with_GPT_4o_Sentiment_Analysis_Smart_Comments.json
{
  "_templateId": 9385,
  "_templateName": "Automate LinkedIn Engagement with GPT-4o Sentiment Analysis & Smart Comments",
  "_templateDescription": "LinkedIn Auto-Engagement AI Agent\n\nAutomatically find, analyze, and engage with relevant LinkedIn posts using AI-powered sentiment analysis and comment generation\n\n📋 Template Overview\n\nThis workflow automates LinkedIn engagement by searching for relevant posts, analyzing their sentiment, generating contextual comments using AI, and posting them automatically. Perfect for DevOps professionals, cloud architects, and automation enthusiasts who want to maintain an active LinkedIn presence without spending hours manually commenting.\n\n🎯 What This Workflow Does\n\nSearches LinkedIn for posts from the last 24 hours based on your chosen keywords (Kubernetes, Azure, AWS, AI, Automation, SaaS, n8n)\nFilters quality content - Only engages with posts over 350 characters that are original (not reposts)\nAnalyzes sentiment using AI to categorize posts into 7 types:\n   Informational/Educational Content\n   Happy Announcement\n   Sad/Negative Feelings\n   Hiring Posts\n   Not English Language\n   Neutral\n   None of the Above\nGenerates contextual comments using AI that are witty, professional, and add genuine value\nPosts comments and adds reactions to the LinkedIn posts\nLogs everything to Google Sheets for tracking and analysis\nSends Telegram notifications when the workflow completes\n\n🔧 Prerequisites\n\nBefore you can use this workflow, you'll need:\n\nRequired Accounts & Credentials\n\nn8n Account (Cloud or Self-hosted)\nUnipile Account - For LinkedIn API access\n   Sign up at: https://unipile.com\n   Get your API key\n   Connect your LinkedIn account to Unipile\nOpenRouter Account - For AI capabilities\n   Sign up at: https://openrouter.ai\n   Get your API key\n   Recommended model: openai/gpt-4o-mini (cost-effective)\nGoogle Account - For Google Sheets logging\nTelegram Account - For notifications (optional but recommended)\n\nTechnical Requirements\n\nBasic understanding of n8n workflows\nAbility to create and manage Google Sheets\nAbility to create a Telegram bot (5 minutes, step-by-step below)\n\n📦 Setup Instructions\n\nStep 1: Import the Workflow\n\nCopy the workflow JSON\nIn n8n, click + Add workflow\nClick the three dots (...) in the top right\nSelect Import from File or Import from URL\nPaste the JSON\n\nStep 2: Set Up Google Sheets\n\nCreate a new Google Sheet with these exact column headers in Row 1:\n\n   | Post URL | Post Content | Name of Author | Author's Profile Headline | Profile URL of Author | ID | Sentiment of Post | Comment Generated by AI | Error |\n   |----------|--------------|----------------|---------------------------|----------------------|-------|-------------------|------------------------|--------|\n\nName the sheet tab: \"Open - New n Random Niche Posts Comment\"\nShare the sheet with your Google account connected to n8n\nCopy the Sheet ID from the URL (between /d/ and /edit)\n\nStep 3: Configure Google Sheets Nodes\n\nUpdate the Sheet ID in these 4 nodes:\nAppend row in sheet2\nUpdate row in sheet9\nUpdate row in sheet10\nUpdate row in sheet11\n\nFor each node:\nClick the node\nFind the Document field\nEither select your sheet from the dropdown OR paste your Sheet ID\nClick the Refresh icon to load columns\nSave\n\nStep 4: Set Up Unipile (LinkedIn API)\n\nSign up at Unipile: https://unipile.com\nConnect your LinkedIn account in the Unipile dashboard\nGet your Account ID and API Key\nUpdate these nodes with your credentials:\n   LinkedIn Search\n   Get Post from LinkedIn2\n   Comment On Post2\n   Leave Reaction on Post2\n\nFor each node:\nFind the X-API-KEY header parameter\nPaste your Unipile API key\nFind the account_id parameter\nPaste your Unipile account ID\n\nStep 5: Set Up OpenRouter (AI)\n\nSign up at OpenRouter: https://openrouter.ai\nGet your API key from the dashboard\nAdd credits to your account ($5-10 is plenty to start)\nConfigure these nodes:\n   OpenRouter Chat Model6\n   OpenRouter Chat Model7\n   OpenRouter Chat Model8\n\nFor each node:\nClick the node\nClick Credentials dropdown\nSelect Create New\nPaste your OpenRouter API key\nSave\n\nStep 6: Set Up Telegram Notifications (Optional)\n\nCreate a Telegram Bot:\n   Open Telegram and search for @BotFather\n   Send /newbot\n   Choose a name (e.g., \"LinkedIn Bot\")\n   Choose a username (must end in 'bot')\n   Save the API Token BotFather gives you\n\nGet Your Chat ID:\n   Start a chat with your bot\n   Send any message\n   Visit: https://api.telegram.org/botYOUR_TOKEN/getUpdates\n   Find your Chat ID in the JSON response\n\nConfigure the Telegram Node:\n   Open Send a text message2 node\n   Add your Bot Token in credentials\n   Replace the chatId with your Chat ID\n\nStep 7: Customize Keywords (Optional)\n\nWant to search for different topics? Update the LinkedIn Search URL:\n\nCurrent keywords: Kubernetes, Azure, n8n, AWS, AI, Automation, SaaS\n\nTo change:\nOpen LinkedIn Search node\nFind the url parameter under Body Parameters\nModify the keywords= section\n\nExample for DevOps tools:\nkeywords=%22Terraform%22%20OR%20%22Docker%22%20OR%20%22Kubernetes%22%20OR%20%22Jenkins%22\n\nStep 8: Test the Workflow\n\nClick Execute Workflow (or use Manual Trigger)\nWatch each node execute\nCheck for any errors (red nodes)\nVerify data appears in your Google Sheet\nCheck your Telegram for the completion message\n\n🎨 Customization Options\n\nModify AI Comment Style\n\nEdit the AI Agent2 node prompt to change comment style:\n\nYou're an expert on [YOUR EXPERTISE].\n\nLook at this post and drop in a thoughtful comment - {{ $json['Post Content'] }}\n\nGuidelines:\nWrite like a [YOUR STYLE]\n[YOUR RULES]\nMaximum 2 sentences\n\nOnly export the response and nothing else.\n\nChange Sentiment Categories\n\nEdit the Sentiment Analysis2 node to add/remove categories based on your needs.\n\nAdjust Filtering Criteria\n\nModify the If2 node to change:\nMinimum character count (currently 350)\nPost type filters\nDate range filters\n\nSchedule Automation\n\nAdd a Schedule Trigger node to run automatically:\nRecommended: 2-3 times per day (morning, afternoon, evening)\nAvoid running too frequently to prevent spam detection\n\n📊 Workflow Nodes Explained\n\nCore Processing Flow\n\nLinkedIn Search - Fetches posts from LinkedIn via Unipile API\nCode4 - Parses the API response into individual posts\nCode5 - Filters posts to last 24 hours only\nBasic LLM Chain2 - Counts characters in each post\nIf2 - Filters posts (350+ chars, original content only)\nAppend row in sheet2 - Logs qualifying posts to Google Sheets\nLoop Over Items4 - Processes each post one by one\n\nAnalysis & Generation\n\nSentiment Analysis2 - AI categorizes post sentiment\nAI Agent2 - Generates contextual comment\nGet Post from LinkedIn2 - Fetches fresh post data\nComment On Post2 - Posts the AI-generated comment\nLeave Reaction on Post2 - Adds a like to the post\n\nLogging & Notifications\n\nUpdate row in sheet9/10/11 - Updates Google Sheet with results\nWait nodes - Adds delays to avoid rate limiting\nSend a text message2 - Telegram notification on completion\n\n⚙️ Advanced Features\n\nRate Limiting\n\nThe workflow includes 1-minute wait times between actions to avoid LinkedIn's spam detection. You can adjust these in the Wait nodes.\n\nError Handling\n\nFailed comments are logged in the \"Error\" column\nRetry logic built into update nodes (5 retries, 5-second intervals)\nErrors don't stop the workflow from processing other posts\n\nMulti-Niche Support\n\nTo engage with multiple niches:\nDuplicate the LinkedIn Search node\nChange keywords in each duplicate\nAdd a Merge node to combine results\nConnect to the rest of the workflow\n\n🚀 Usage Tips\n\nBest Practices\n\nStart slow**: Run manually 2-3 times to ensure everything works\nMonitor results**: Check your Google Sheet daily\nRefine prompts**: Adjust AI prompts based on comment quality\nVary timing**: Schedule runs at different times of day\nStay authentic**: Review and approve comments if needed\n\nWhat to Avoid\n\n❌ Running too frequently (max 3-4 times per day)\n❌ Using generic keywords that return spam\n❌ Commenting on your own posts\n❌ Using the same comment style repeatedly\n❌ Engaging with low-quality content\n\nLinkedIn Best Practices\n\nFocus on adding genuine value\nEngage with diverse content (not just one niche)\nAvoid hashtags in comments\nKeep comments concise (2 sentences max)\nBuild relationships, not just visibility\n\n📈 Performance & Costs\n\nExpected Results\n\nPosts found**: 20-100 per run (depending on keywords)\nPosts filtered**: 10-30 qualifying posts\nComments posted**: 5-15 per run (after sentiment filtering)\nTime saved**: 1-2 hours of manual engagement per day\n\nAPI Costs (Approximate)\n\nUnipile**: ~$29/month for LinkedIn API access\nOpenRouter**: Free\nn8n**: Free (self-hosted)Subscript\nGoogle Sheets**: Free\nTelegram**: Free\n\nTotal estimated cost: $30-50/month for full automation\n\n🐛 Troubleshooting\n\nCommon Issues\n\nIssue: \"Column names were updated\" error\nSolution**: Refresh columns in Google Sheets nodes\n\nIssue: LinkedIn API returns 403 error\nSolution**: Check Unipile account status and API limits\n\nIssue: AI comments are generic or low quality\nSolution**: Refine the AI Agent2 prompt with more specific guidelines\n\nIssue: No posts found\nSolution**: Check keyword relevance and time range settings\n\nIssue: Workflow hangs on Loop Over Items\nSolution**: Check wait times and ensure all nodes are properly connected\n\nGetting Help\n\nJoin the n8n community: https://community.n8n.io\nCheck n8n docs: https://docs.n8n.io\nUnipile documentation: https://docs.unipile.com\n\n🔐 Security & Privacy\n\nData Protection\n\nAll LinkedIn credentials are handled by Unipile (OAuth)\nAPI keys are stored securely in n8n credentials\nGoogle Sheets data is private to your account\nNo third-party data sharing\n\nCompliance\n\nRespects LinkedIn's rate limits\nFollows LinkedIn's Terms of Service\nOnly engages with public posts\nNo scraping of private data\n\nEthical Use\n\nThis workflow is designed for:\n✅ Authentic professional networking\n✅ Adding value to discussions\n✅ Saving time on routine engagement\n\nPlease avoid:\n❌ Spamming or aggressive self-promotion\n❌ Misleading or deceptive comments\n❌ Violating LinkedIn's community guidelines\n\n📝 Changelog & Updates\n\nVersion 1.0 (Current)\nInitial release\nCore functionality: search, filter, analyze, comment\nGoogle Sheets logging\nTelegram notifications\nMulti-keyword support\n\nPlanned Features\nMulti-account support\nAdvanced scheduling options\nComment approval workflow\nAnalytics dashboard\nA/B testing for comment styles\n\n👨‍💻 About the Creator\n\nThis workflow was created to solve the challenge of maintaining consistent LinkedIn engagement while focusing on actual work. After spending too many hours manually commenting, I built this automation to handle the repetitive parts while keeping comments authentic and valuable.\n\n📄 License\n\nThis workflow template is free to use and modify for personal and commercial purposes. Attribution is appreciated but not required.\n\n🤝 Contributing\n\nFound a bug? Have an improvement idea? \n\nFeel free to:\nShare your modifications\nReport issues in the n8n community\nSuggest new features\nCreate your own variations\n\n🙏 Acknowledgments\n\nBuilt with:\nn8n - The workflow automation platform\nUnipile - LinkedIn API integration\nOpenRouter - AI model access\nGoogle Sheets - Data logging\nTelegram - Notifications\n\nReady to automate your LinkedIn engagement? Import this workflow and start building your professional network on autopilot!\n\nLast updated: October 2025",
  "_templateCreatedAt": "2025-10-08T17:45:45.746Z",
  "_templateTotalViews": 16,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-29T05:03:51.358Z",
  "meta": {
    "instanceId": "b19515d8afcc53b0c899513f2e263a12d4ac99320444d18c1164916f8989370e"
  },
  "name": "My workflow 3",
  "tags": [],
  "nodes": [
    {
      "id": "2d0c37d7-9ff9-40d8-8832-7e9f2a25c22d",
      "name": "Search LinkedIn Posts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1760,
        768
      ],
      "parameters": {},
      "typeVersion": 4.2
    },
    {
      "id": "96b093e1-5fa4-47b1-895f-010c658c48cb",
      "name": "Extract Posts from Results",
      "type": "n8n-nodes-base.code",
      "position": [
        -1536,
        768
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "95326395-fc44-47ea-9151-b97492b45fd0",
      "name": "Filter Recent Posts",
      "type": "n8n-nodes-base.code",
      "position": [
        -1312,
        768
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "39709765-f45c-423a-88e7-ecb3529d69de",
      "name": "Count Post Characters",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -1088,
        768
      ],
      "parameters": {},
      "typeVersion": 1.7
    },
    {
      "id": "711399e1-52da-49bc-831c-12c15b1474f3",
      "name": "Filter Long Non-Reposts",
      "type": "n8n-nodes-base.if",
      "onError": "continueRegularOutput",
      "position": [
        -736,
        768
      ],
      "parameters": {},
      "typeVersion": 2.2
    },
    {
      "id": "afc48d7d-7f45-468c-b6ef-faa157606a29",
      "name": "Character Count LLM Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        -1088,
        992
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "882170d3-3e8d-47c1-b43a-bad23e6b16b7",
      "name": "Parse Character Count",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -960,
        992
      ],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "0b736782-69c0-4c51-a91e-51f49783ad0e",
      "name": "Generate AI Comment",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        288,
        128
      ],
      "parameters": {},
      "typeVersion": 2
    },
    {
      "id": "d49f3040-d935-4458-80b8-6abc26514563",
      "name": "Analyze Post Sentiment",
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "position": [
        -64,
        384
      ],
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "3c7c8092-0e3f-4263-9860-f015aaeb8cb3",
      "name": "Add Reaction to Post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1088,
        144
      ],
      "parameters": {},
      "typeVersion": 4.2
    },
    {
      "id": "23b512ed-af04-476a-b7e0-23cd50e71aa4",
      "name": "Process Posts in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -288,
        768
      ],
      "parameters": {},
      "typeVersion": 3
    },
    {
      "id": "40e67382-64cf-499d-b455-7109d3a22be6",
      "name": "Log Post to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -512,
        768
      ],
      "parameters": {},
      "typeVersion": 4.6
    },
    {
      "id": "e381835c-93b4-49e0-860a-49aaba957b92",
      "name": "Update Sentiment Results",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        352,
        528
      ],
      "parameters": {},
      "typeVersion": 4.6
    },
    {
      "id": "2fb561cb-4ef8-4266-90a6-e0bef3d6c48e",
      "name": "Update Comment Results",
      "type": "n8n-nodes-base.googleSheets",
      "maxTries": 5,
      "position": [
        1536,
        544
      ],
      "parameters": {},
      "retryOnFail": true,
      "typeVersion": 4.6,
      "waitBetweenTries": 5000
    },
    {
      "id": "84e8d4fa-c515-4a41-b649-4653977ce6ea",
      "name": "Post AI Comment",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueErrorOutput",
      "position": [
        864,
        240
      ],
      "parameters": {},
      "typeVersion": 4.2
    },
    {
      "id": "189456c9-bcc3-4d9e-bae3-931ec6b58c41",
      "name": "Log Error Results",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1312,
        384
      ],
      "parameters": {},
      "retryOnFail": true,
      "typeVersion": 4.6,
      "waitBetweenTries": 5000
    },
    {
      "id": "047f30a4-cbdf-4d4a-9b81-c45571364484",
      "name": "Wait Before Next Action",
      "type": "n8n-nodes-base.wait",
      "position": [
        1312,
        144
      ],
      "webhookId": "e35b6390-3de9-4a75-9209-9e6b6188365a",
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "c3abad94-6389-4187-abae-7178d4755905",
      "name": "Wait Before Error Logging",
      "type": "n8n-nodes-base.wait",
      "position": [
        1088,
        384
      ],
      "webhookId": "5891c2bb-cf6a-4a92-8a64-11e9e99ba176",
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "ea2746ee-4450-454c-9e5e-dfb12712f7ff",
      "name": "Sentiment Analysis LLM Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        16,
        768
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "ba645178-08fb-4216-8dac-984127585c9e",
      "name": "Comment Generation LLM Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        368,
        352
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "9c5389d1-25f1-49db-a137-9a1536091674",
      "name": "Send Completion Notification",
      "type": "n8n-nodes-base.telegram",
      "disabled": true,
      "position": [
        0,
        0
      ],
      "webhookId": "aff44fd7-074d-42ce-b9cb-29e5b99091ec",
      "parameters": {},
      "executeOnce": true,
      "typeVersion": 1.2
    },
    {
      "id": "79e71bce-1d35-478d-afad-61c8fdbcd576",
      "name": "Get Post Details",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        240
      ],
      "parameters": {},
      "typeVersion": 4.2
    },
    {
      "id": "c6f59c47-cf16-4846-add7-ac62944f7afa",
      "name": "Manual Workflow Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1984,
        768
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "4b896861-622f-4261-8ebe-67ea3b2c90ed",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1888,
        288
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "ee726a9c-dbda-4e8d-9ed1-d6bb93a9cc58",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1216,
        288
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "3c50e4b7-d5ac-4abb-b542-29f3e268493a",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        176
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "3fb952e2-efd5-481f-8d59-36d56459a890",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        -176
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "e70d679a-1032-4c2c-bc0a-ddfa7d19a023",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        -144
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    },
    {
      "id": "9068e6c2-b37f-4443-98d9-4ad7110b89aa",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        -160
      ],
      "parameters": {
        "content": ""
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "connections": {
    "Post AI Comment": {
      "main": [
        [
          {
            "node": "Add Reaction to Post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Error Logging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Post Details": {
      "main": [
        [
          {
            "node": "Post AI Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error Results": {
      "main": [
        [
          {
            "node": "Process Posts in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Post to Sheet": {
      "main": [
        [
          {
            "node": "Process Posts in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Recent Posts": {
      "main": [
        [
          {
            "node": "Count Post Characters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Comment": {
      "main": [
        [
          {
            "node": "Get Post Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Reaction to Post": {
      "main": [
        [
          {
            "node": "Wait Before Next Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Post Characters": {
      "main": [
        [
          {
            "node": "Filter Long Non-Reposts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Character Count": {
      "ai_outputParser": [
        [
          {
            "node": "Count Post Characters",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Search LinkedIn Posts": {
      "main": [
        [
          {
            "node": "Extract Posts from Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Post Sentiment": {
      "main": [
        [
          {
            "node": "Generate AI Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sentiment Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sentiment Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sentiment Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sentiment Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sentiment Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sentiment Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Comment Results": {
      "main": [
        [
          {
            "node": "Process Posts in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Long Non-Reposts": {
      "main": [
        [
          {
            "node": "Log Post to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Workflow Trigger": {
      "main": [
        [
          {
            "node": "Search LinkedIn Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Next Action": {
      "main": [
        [
          {
            "node": "Update Comment Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Posts in Batches": {
      "main": [
        [
          {
            "node": "Send Completion Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Post Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sentiment Results": {
      "main": [
        [
          {
            "node": "Process Posts in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Count LLM Model": {
      "ai_languageModel": [
        [
          {
            "node": "Count Post Characters",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Error Logging": {
      "main": [
        [
          {
            "node": "Log Error Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Posts from Results": {
      "main": [
        [
          {
            "node": "Filter Recent Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Generation LLM Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate AI Comment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis LLM Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Post Sentiment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}
