workflows/templates/9611_AI_Powered_NDA_Review_Instant_Alert_System_Jotform_Gemini_Telegram.json
{
  "_templateId": 9611,
  "_templateName": "AI-Powered NDA Review & Instant Alert System - Jotform, Gemini, Telegram",
  "_templateDescription": "This workflow automates the process of analyzing a contract submitted via a web form. It extracts the text from an uploaded PDF, uses AI to identify potential red flags, and sends a summary report to a Telegram chat.\n\nPrerequisites\n\nBefore you can use this workflow, you'll need a few things set up.\n\n1. JotForm Form\nYou need to create a form in JotForm with at least two specific fields:\nEmail Address**: A standard field to collect the user's email.\nFile Upload**: This field will be used to upload the contract or NDA. Make sure to configure it to allow .pdf files.\n\n2. API Keys and IDs\nJotForm API Key**: You can generate this from your JotForm account settings under the \"API\" section.\nGemini API Key**: You'll need an API key from Google AI Studio to use the Gemini model.\nTelegram Bot Token**: Create a new bot by talking to the @BotFather on Telegram. It will give you a unique token.\nTelegram Chat ID**: This is the ID of the user, group, or channel you want the bot to send messages to. You can get this by using a bot like @userinfobot.\n\nNode-by-Node Explanation\n\nHere is a breakdown of what each node in the workflow does, in the order they execute.\n\n1. JotForm Trigger\nWhat it does**: This node kicks off the entire workflow. It actively listens for new submissions on the specific JotForm you select.\nHow it works**: When someone fills out your form and hits \"Submit,\" JotForm sends the submission data (including the email and a link to the uploaded file) to this node.\n\n2. Grab Attachment Details (HTTP Request)\nWhat it does**: The initial data from JotForm doesn't contain a direct download link for the file. This node takes the submissionID from the trigger and makes a request to the JotForm API to get the full details of that submission.\nHow it works**: It constructs a URL using the submissionID and your JotForm API key to fetch the submission data, which includes the proper download URL for the uploaded contract.\n\n3. Grab the Attached Contract (HTTP Request)\nWhat it does**: Now that it has the direct download link, this node fetches the actual PDF file.\nHow it works**: It uses the file URL obtained from the previous node to download the contract. The node is set to expect a \"file\" as the response, so it saves the PDF data in binary format for the next step.\n\n4. Extract Text from PDF File\nWhat it does**: This node takes the binary PDF data from the previous step and extracts all the readable text from it.\nHow it works**: It processes the PDF and outputs plain text, stripping away any formatting or images. This raw text is now ready to be analyzed by the AI.\n\n5. AI Agent (with Google Gemini Chat Model)\nWhat it does**: This is the core analysis engine of the workflow. It takes the extracted text from the PDF and uses a powerful prompt to analyze it. The \"Google Gemini Chat Model\" node is connected as its \"brain.\"\nHow it works**:\n    It sends the contract text to the Gemini model.\n    The prompt instructs Gemini to act as an expert contract analyst.\n    It specifically asks the AI to identify major red flags and hidden/unfair clauses.\n    It also tells the AI to format the output as a clean report using Telegram's MarkdownV2 style and to keep the response under 1500 characters.\n\n6. Send a text message (Telegram)\nWhat it does**: This is the final step. It takes the formatted analysis report generated by the AI Agent and sends it to your specified Telegram chat.\nHow it works**: It connects to your Telegram bot using your Bot Token and sends the AI's output ($json.output) to the Chat ID you've provided. Because the AI was instructed to format the text in MarkdownV2, the message will appear well-structured in Telegram with bolding and bullet points.",
  "_templateCreatedAt": "2025-10-14T10:06:35.784Z",
  "_templateTotalViews": 1,
  "_templateCategory": [],
  "_fetchedAt": "2026-03-22T04:46:42.325Z",
  "meta": {
    "instanceId": "93f396852104089b8670e7494b0f3668b420464668ae4a8c1d6b4b5799f8e3ef"
  },
  "nodes": [
    {
      "id": "5260b56b-4cf1-4b6e-a510-a171f7fe6eb0",
      "name": "JotForm Trigger",
      "type": "n8n-nodes-base.jotFormTrigger",
      "position": [
        0,
        288
      ],
      "webhookId": "6969e56a-be6e-4345-81e2-1be1a6d330bb",
      "parameters": {
        "form": "252861492721056",
        "onlyAnswers": false
      },
      "credentials": {
        "jotFormApi": {
          "id": "credential-id",
          "name": "jotFormApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "ba08e42e-b16c-428f-bb7b-3b24c5323331",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1024,
        288
      ],
      "parameters": {
        "text": "=You are an expert contract analyst. Review the project contract below and protect the client’s interests. Output must be under 1000 chars and Telegram-compatible (no markdown links or code blocks).\n\nContract:{{ $json.text }}\n\nAnalyze and respond in this exact format:\nCONTRACT ANALYSIS REPORT\n🚩 MAJOR RED FLAGS:• Quote risky lines and briefly say why they’re unfair (e.g., payment delays, one-sided termination).\n🔍 HIDDEN & UNFAIR CLAUSES:• Mention vague terms or auto-renewal traps. Explain how they harm the client and what to question the other party about.\n✅ SUMMARY & RECOMMENDATION:• Give a short risk rating (Low / Medium / High) and 1-line advice (e.g., “Needs negotiation before signing”).\nKeep tone formal, concise, and Telegram-safe (no markdown tables, long code, or bullets over 5).",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 2.2
    },
    {
      "id": "64dcd5ca-0e47-4c7b-817c-04705f8d64c2",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1024,
        464
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "googlePalmApi": {
          "id": "credential-id",
          "name": "googlePalmApi Credential"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "b9fc554f-a00c-4955-98aa-272881c4f43c",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1424,
        288
      ],
      "webhookId": "f1ca9668-dbc3-4ff9-91b6-e8023e052549",
      "parameters": {
        "text": "={{ $json.output }}",
        "chatId": "enter-your-chat-id",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "credential-id",
          "name": "telegramApi Credential"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "b7f4495d-6080-479d-8969-e86c86a8ffc3",
      "name": "Grab Attachment Details",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        272,
        288
      ],
      "parameters": {
        "url": "=https://api.jotform.com/submission/{{ $json.submissionID }}?apiKey=enter-your-jotfrom-api",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "9eed2517-78c3-4992-bc11-b1bb31379576",
      "name": "Grab the attached Contract",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        512,
        288
      ],
      "parameters": {
        "url": "={{ $json.content.answers['4'].answer[0] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "APIKEY",
              "value": "enter-your-jotfrom-api"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "feaf55e1-536c-4164-8ddb-648914438b94",
      "name": "Extract Text from PDF File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        736,
        288
      ],
      "parameters": {
        "options": {},
        "operation": "pdf"
      },
      "typeVersion": 1
    },
    {
      "id": "ee21fb55-64a2-446d-b3a2-1ff6927b23b4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        112
      ],
      "parameters": {
        "width": 288,
        "height": 320,
        "content": "### Jotform Trigger\n- Triggers when user submitted our preferred jotform\n- When triggered it will get the form data like user submitted details, form submission id, time etc"
      },
      "typeVersion": 1
    },
    {
      "id": "7fd85bf0-d8b8-45a6-bb28-cf59daf4c700",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        112
      ],
      "parameters": {
        "width": 224,
        "height": 320,
        "content": "### HTTP NODE\n- We use the http node and make an custom jotform api request to get the form submitted documents link"
      },
      "typeVersion": 1
    },
    {
      "id": "57af5b74-ac54-4443-b847-e7db8e6be2e0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        112
      ],
      "parameters": {
        "width": 224,
        "height": 320,
        "content": "### HTTP NODE 1\n- Download the attached document as binary but the response is in file"
      },
      "typeVersion": 1
    },
    {
      "id": "d7aae65a-68de-43d5-b235-ac4a0712a8cf",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        112
      ],
      "parameters": {
        "width": 224,
        "height": 320,
        "content": "### Extract From PDF Node\n- Simply extracts the text content from the pdf that we downloaded in previous HTTP node"
      },
      "typeVersion": 1
    },
    {
      "id": "8a15f8f4-e3f2-4597-bac6-9a773803f1f0",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1344,
        112
      ],
      "parameters": {
        "width": 224,
        "height": 320,
        "content": "### Telegram Send message Node\n- Sends a message which consists of the previous contract analysis provided by AI to our preffered chat or channel"
      },
      "typeVersion": 1
    },
    {
      "id": "d23c1ad5-fe0f-410e-85a8-521ffcdb6e09",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        112
      ],
      "parameters": {
        "width": 400,
        "height": 320,
        "content": "### AI Agent Node\n- AI analyses the complete contract text and then gives output the hidden clauses and red flags within the contract automatically"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JotForm Trigger": {
      "main": [
        [
          {
            "node": "Grab Attachment Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab Attachment Details": {
      "main": [
        [
          {
            "node": "Grab the attached Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Grab the attached Contract": {
      "main": [
        [
          {
            "node": "Extract Text from PDF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
